[Desktop Entry]
Type=Service
ServiceTypes=PimCommonStorageService/Plugin
X-KDE-Library=pimcommon_boxplugin
Name=box
Name[ca]=box
Name[ca@valencia]=box
Name[de]=box
Name[en_GB]=box
Name[es]=box
Name[fi]=box
Name[gl]=box
Name[it]=box
Name[nl]=box
Name[pl]=pudełko
Name[pt]=Box
Name[pt_BR]=box
Name[sk]=box
Name[sl]=box
Name[sr]=Бокс
Name[sr@ijekavian]=Бокс
Name[sr@ijekavianlatin]=Box
Name[sr@latin]=Box
Name[sv]=låda
Name[uk]=box
Name[x-test]=xxboxxx
