[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMobileTools/Engine
X-KDE-Derived=KPluginInfo
Comment=KMobileTools Engine
Comment[de]=KMobileTools-Modul

[PropertyDef::Description]
Type=QString

