[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KMobileTools/Engine
X-KDE-Derived=KPluginInfo
Comment=KMobileTools Engine
Comment[el]=Μηχανή KMobileTools
Comment[es]=Motor KMobileTools
Comment[ga]=Inneall KMobileTools
Comment[ja]=KMobileTools エンジン
Comment[pa]=ਕੇ-ਮੋਬਾਇਲ ਟੂਲ ਇੰਜਣ
Comment[pt]=Motor do KMobileTools
Comment[pt_BR]=Motor do KMobileTools
Comment[sv]=Gränssnitt för Kmobiletools
Comment[zh_TW]=KMobileTools 引擎

[PropertyDef::Description]
Type=QString

