[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMobileTools/CoreService
X-KDE-Derived=KPluginInfo
Comment=KMobileTools CoreService
Comment[ca]=Nucli del servei del KMobileTools
Comment[da]=KMobileTools kernetjeneste
Comment[de]=Basisdienst für KMobileTools
Comment[el]=Υπηρεσία πυρήνα KMobileTools
Comment[es]=Servicio básico de KMobileTools
Comment[fr]=Service de base KMobileTools
Comment[ga]=CroíSheirbhís KMmobileTools
Comment[gl]=CoreService de KMobileTools
Comment[it]=Servizio principale KMobileTools
Comment[ja]=KMobileTools コアサービス
Comment[km]=សេវា​សំខាន់​របស់ KMobileTools
Comment[ko]=KMobileTools 코어 서비스
Comment[lv]=KMobileTools PamatServiss
Comment[nb]=KMobileTools kjernetjeneste
Comment[nds]=KMobileTools-Karndeenst
Comment[nl]=KMobileTools hoofdservice
Comment[pa]=ਕੇ-ਮੋਬਾਇਲ-ਟੂਲ ਕੋਰ-ਸਰਵਿਸ
Comment[pt]=Serviço Básico do KMobileTools
Comment[pt_BR]=Serviço Base do KMobileTools
Comment[sv]=Kärntjänst för Kmobiletools
Comment[x-test]=xxKMobileTools CoreServicexx
Comment[zh_CN]=KMobileTools 核心服务
Comment[zh_TW]=KMobileTools 核心服務

[PropertyDef::Description]
Type=QString

