[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KMobileTools/EngineXP
X-KDE-Derived=KPluginInfo
Comment=KMobileTools EngineXP
Comment[ca]=Motor XP del KMobileTools
Comment[da]=KMobileTools-motor-XP
Comment[de]=KMobileTools-Modul XP
Comment[el]=EngineXP του KMobileTools
Comment[es]=Motor XP de KMobileTools
Comment[fr]=Moteur « XP » KMobileTools
Comment[ga]=InneallXP KMmobileTools
Comment[gl]=EngineXP de KMobileTools
Comment[it]=Motore XP per KMobileTools
Comment[lv]=KMobileTools dzinējsXP
Comment[nb]=KMobileTools motorXP
Comment[nds]=KMobileTools-KarnXP
Comment[pa]=ਕੇ-ਮੋਬਾਇਲ ਟੂਲ ਇੰਜਣXP
Comment[pt]=Motor XP do KMobileTools
Comment[pt_BR]=Mecanismo XP do KMobileTools
Comment[sv]=XP-gränssnitt för Kmobiletools
Comment[x-test]=xxKMobileTools EngineXPxx
Comment[zh_CN]=KMobileTools 引擎 XP
Comment[zh_TW]=KMobileTools 引擎 XP

[PropertyDef::Description]
Type=QString

