[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KMobileTools/EngineXP
X-KDE-Derived=KPluginInfo
Comment=KMobileTools EngineXP
Comment[el]=EngineXP του KMobileTools
Comment[ga]=InneallXP KMmobileTools
Comment[it]=Motore XP per KMobileTools
Comment[pt]=Motor XP do KMobileTools
Comment[pt_BR]=Motor XP do KMobileTools
Comment[sv]=XP-gränssnitt för Kmobiletools
Comment[x-test]=xxKMobileTools EngineXPxx
Comment[zh_CN]=KMobileTools 引擎XP
Comment[zh_TW]=KMobileTools 引擎 XP

[PropertyDef::Description]
Type=QString

