[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KMobileTools/Engine
X-KDE-Derived=KPluginInfo
Comment=KMobileTools Engine

[PropertyDef::X-KMobileTools-LongDesc]
Type=QString

