<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="BackupMailApplication" version="5">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_open_recent"/>
    <Separator/>
    <Action name="backup"/>
    <Action name="restore"/>
    <Separator/>
    <Action name="save_log"/>
    <Separator/>
    <Action name="show_structure_info"/>
    <Separator/>
    <Action name="file_quit"/>
  </Menu>
</MenuBar>
</kpartgui>

