<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="BackupMailApplication" version="6">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_open_recent"/>
    <Separator/>
    <Action name="backup"/>
    <Action name="restore"/>
    <Separator/>
    <Action name="save_log"/>
    <Separator/>
    <Action name="show_structure_info"/>
    <Separator/>
    <Action name="file_quit"/>
  </Menu>
  <Menu noMerge="1" name="tools">
   <text>&amp;Tools</text>
   <Action name="show_archive_info"/>
  </Menu>
</MenuBar>
</kpartgui>

