[Desktop Entry]
Type=Service
Comment=This conduit syncs the Memo Pad application with KNotes.
Comment[af]=Hierdie pad synkroniseer die Memo Pad program met KNotes.
Comment[bg]=Синхронизация на бележки на KDE с мобилни устройства
Comment[bs]=Ovaj conduit sinhronizuje Memo Pad aplikaciju sa KNotes.
Comment[ca]=Aquest conducte sincronitza l'aplicació Memo Pad amb Knotes.
Comment[cs]=Toto propojení synchronizuje vašeho Pilota s poznámkami v KNotes.
Comment[cy]=Mae'r cwndid yma yn cydamseru y cymhwysiad Memo Pad efo KNodiadau.
Comment[da]=Denne kanal synkroniserer dit memopad-program med KNotes.
Comment[de]=Abgleich des Memo Pad mit KNotes
Comment[el]=Αυτός ο σύνδεσμος συγχρονίζει την εφαρμογή Memo Pad με το KNotes.
Comment[eo]=Tiu kanalo sinkronigas la MemoPad-aplikaĵon kun KNotoj.
Comment[es]=Este conducto sincroniza la aplicación de Notas con KNotes.
Comment[et]=See kanal sünkroniseerib Memo Pad rakenduse ja KNotesi.
Comment[eu]=Kanal honek Memo Pad aplikazioa KNotes-ekin sinkronizatzen du.
Comment[fa]=این لوله، کاربرد Memo Pad را با KNotes همگام می‌سازد.
Comment[fi]=Tämä yhdyskäytävä synkronoi Memo Pad -ohelman KNotesin kanssa.
Comment[fr]=Ce canal synchronise l'application « Memo Pad » avec KNotes.
Comment[fy]=Dit conduit syngronisearret de Memo Pad mei KNotes.
Comment[gl]=Este conducto sincroniza a aplicación Memo Pad con KNotes.
Comment[hi]=यह कन्ड्यूइट मेमो पेड अनुप्रयोगों को के-नोट्स के साथ सिंक करता है
Comment[hu]=Ezzel a csatolóval a Memo Pad program és a KNotes között lehet szinkronizálást végezni.
Comment[is]=Þessi rás samstillir lófatölvuna þína við KNotes.
Comment[it]=Questo condotto sincronizza l'applicazione Memo Pad con KNotes.
Comment[ja]=このコンジットはメモ帳アプリケーションを KNotes と同期させます。
Comment[ka]=ეს არხი ახდენს Memo Pad პროგრამის სინქრონიზაციას  KNotes-თან.
Comment[kk]=Memo Pad қолданбаны KNotes жазбаларымен қадамдастыру арнасы.
Comment[km]=បំពង់​នេះ​អាច​ឲ្យ​កម្មវិធី Memo Pad ធ្វើ​សមកាលកម្ម​ជាមួយ​នឹង KNotes ។
Comment[lt]=Šis kanalas sinchronizuoja Memo Pad programą su KNotes.
Comment[mk]=Овој канал ја синхронизира апликацијата Memo Pad со КБелешки.
Comment[ms]=Saluran ini mensegerakkan aplikasi Memo Pad dengan KNotes.
Comment[nb]=Denne kanalen synkroniserer notatblokk-programmet med KNotes.
Comment[nds]=Synkroniseert dat Palm-Programm "Memo Pad" mit KNotes.
Comment[ne]=यो कन्ड्युटले मेमो प्याड अनुप्रयोग केडीई टिप्पणीमा सिन्क गर्दछ ।
Comment[nl]=Dit conduit synchroniseert de Memo Pad met KNotes.
Comment[nn]=Denne koplinga synkroniserer «Memo Pad»-applikasjonen med KNotes.
Comment[pl]=Ten łącznik synchronizuje program Memo Pad palmtopa z KNotes (notatkami).
Comment[pt]=Esta conduta sincroniza os memorandos com o KNotes.
Comment[pt_BR]=Este conduíte sincroniza a aplicação Memo Pad com o KNotes.
Comment[ro]=Această conductă sincronizează aplicaţia Memo Pad cu KNotes.
Comment[ru]=Канал синхронизации заметок КПК и KDE.
Comment[sk]=Táto spojka synchronizuje aplikáciu Memo Pad s KNotes
Comment[sl]=Ta veznik usklajuje program Memo Pad s KNotice.
Comment[sr]=Овај провод синхронизује Memo Pad програме са KNotes-ом.
Comment[sr@Latn]=Ovaj provod sinhronizuje Memo Pad programe sa KNotes-om.
Comment[sv]=Den här kanalen synkroniserar programmet Memo Pad med Knotes.
Comment[ta]=இந்த காப்புக் குழாய் குறிப்பாணை அட்டை பயன்பாடு கேகுறிப்புகளுடன் ஒத்திசைக்கிறது
Comment[tg]=Канали синхронизатсияи қайдоти Pilot ва KDE.
Comment[tr]=Bu kanal KNotes ile el bilgisayarınızı senkronize etmenize olanak sağlar
Comment[uk]=Цей акведук синхронізує Memo Pad з тижневиком KNotes.
Comment[zh_CN]=此管道将会将您的备忘程序与 KNotes 同步。
Comment[zh_TW]=此軟體將 KNote 與 Memo Pad 應用程式同步。
Name=KNotes / Memos
Name[be]=K Нататкі
Name[bg]=KNotes/Memos
Name[cs]=KNotes / Poznámky
Name[cy]=KNodiadau/Memos
Name[da]=KNotes / Memoer
Name[el]=KNotes / Υπομνήματα
Name[eo]=KNotoj
Name[et]=KNotes / memod
Name[eu]=KNotes / Oharrak
Name[fr]=KNotes / Mémos
Name[fy]=KNotes / memo's
Name[ga]=KNotes / Meamraim
Name[hi]=के-नोट्स / मेमो
Name[hu]=KNotes / memók
Name[is]=KNotes / minnisblöð
Name[it]=KNotes / Memo
Name[ka]=KNotes / ჩანიშვნები
Name[kk]=KNotes / Жазбалар
Name[km]=KNotes / អនុស្សរណៈ
Name[lt]=KNotes / Memo
Name[mk]=КБелешки / Меморандуми
Name[ms]=KNotes / Memo
Name[nds]=KNotes / Notizen
Name[ne]=केडीई टिप्पणी / मेमो
Name[nl]=KNotes / memo's
Name[nn]=KNotes / Memoar
Name[pl]=KNotes / Notatki
Name[pt]=Notas / Memorandos
Name[pt_BR]=KNotes / Memorandos
Name[ru]=KNotes / Заметки
Name[sk]=Poznámky / Memo
Name[sl]=KNotice / Opomniki
Name[sv]=Knotes/Memo Pad
Name[ta]=கேகுறிப்புகள்/குறிப்பாணைகள்
Name[tg]=KNotes / Қайдот
Name[tr]=KNotlar / Hatırlatmalar
Name[zh_CN]=KNotes / 备忘
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_knotes
