[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=JPilot Plugin Proxy Conduit
Name[ca]=Conducte de servidor intermedi del connector JPilot
Name[cs]=Propojení s moduly aplikace JPilot
Name[cy]=Cwndid Dirprwyol ar gyfer Ategion JPilot
Name[da]=JPilot-plugin proxy-conduit
Name[de]=JPilot-Plugin-Zwischenspeicherung
Name[el]=Σύνδεσμος JPilot Plugin Proxy
Name[eo]=JPilota prokurilo kanalo kromaĵo
Name[es]=Conducto proxy de plugin JPilot
Name[et]=JPiloti plugina proxy kanal
Name[fi]=JPilot proxykäytävä
Name[fr]=Modules du canal JPilot
Name[he]=ממשק מתווך תוסף JPilot
Name[hi]=जे-पायलट प्लगइन प्रॉक्सी कन्ड्यूइट
Name[hr]=JPilot dodatak za proxy vezu
Name[hu]=Proxy-csatoló a JPilot bvítőmodulhoz
Name[it]=Plugin Conduit JPilot Proxy
Name[ja]=JPilot プラグインプロキシコンジット
Name[lt]=JPilot priedo Proxy kanalas
Name[nb]=JPilot programtillegg-mellomtjener kanal
Name[nn]=JPilot-kopling for programtilleggtenar
Name[nso]=Conduit ya Moemalegato wa Plugin ya JPilot
Name[pl]=Łącznik do wtyczki pośrednicząca JPilota
Name[pt]=Conduta de 'Plugins' do JPilot
Name[pt_BR]=Conduíte de Plugin JPilot
Name[ru]=Канал прокси для JPilot
Name[sk]=Proxy spojka pre modul JPilot
Name[sl]=Vstavek za posredniški veznik za JPilot
Name[sr]=Прокси провод за додатке JPilot-а
Name[sv]=Proxykanal för Jpilot-insticksprogram
Name[ta]=JPilot சோருகல் பதிவான் கான்டிட்
Name[tr]=JPilot Eklentisi Vekil Sunucu Kanalı
Name[uk]=Проксі-акведук втулку JPilot
Name[xx]=xxJPilot Plugin Proxy Conduitxx
Name[zh_CN]=JPilot 插件代理管道
Name[zh_TW]=JPilot 外掛代理 Conduit
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_JPilotProxy
