<!DOCTYPE kpartgui>
<gui name="akregator2_sharemicroblog_plugin" library="akregator2_sharemicroblog_plugin" version="1">
  <MenuBar>
    <Menu name="article"><text>&amp;Article</text>
      <Action name="article_share"/>
    </Menu>
  </MenuBar>
  <Menu name="article_popup">
    <Action name="article_share_popup"/>
  </Menu>
</gui>
