[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KitchenSync/Konnector,KResources/Plugin
X-KDE-Library=libqtopiakonnector

Name=Qtopia Konnector
Name[cs]=Qtopia konektor
Name[cy]=Kysylltydd Qtopia
Name[de]=Qtopia-Konnector
Name[es]=Konnector para Qtopia
Name[fi]=Qtopia-Konnector
Name[hi]=क्यूटोपिया कनेक्टर
Name[hu]=Qtopia-konnektor
Name[nso]=Mokgomaganyi wa Qtopia
Name[pl]=Łącznik Qtopia
Name[pt]=Konnector para o Qtopia
Name[ro]=Konnector Qtopia
Name[ru]=Коннектор к Qtopia
Name[sl]=Konektor Qtopia
Name[ta]=Qடோப்பியா இணைப்பான்
Name[tg]=Коннектор ба Qtopia
Name[tr]=Qtopia Konnector Bileşeni
Name[xx]=xxQtopia Konnectorxx
Group= PDA
Vendor = Holger 'zecke' Freyther
Id=Qtopia1.5

X-KDE-ResourceFamily=konnector
X-KDE-ResourceType=qtopia
