[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KAddressBook/XXPort
Comment=KAddressBook Import/Export Plugin
Comment[be]=Дапаўненьне K Адраснай кнігі "Імпарт/Экспарт"
Comment[bg]=Приставка за импорт/експорт на данни от адресника
Comment[br]=Lugent enporzh/ezporzh evit KAddressBook
Comment[bs]=KAddressBook dodatak za uvoz/izvoz
Comment[ca]=Endollable d'importació/exportació per a la llibreta d'adreces
Comment[cs]=Modul knihy adres pro import/export
Comment[cy]=Ategyn Mewnforio/Allforio KLlyfrCyfeiriadau
Comment[da]=KAddressBook Import/Eksport-plugin
Comment[de]=Import/Export-Plugin für Adressbuch
Comment[el]=Πρόσθετο εισαγωγής/εξαγωγής του KAddressBook
Comment[es]=Plugin para importar/exportar en KAddressBook
Comment[et]=KDE aadressiraamatu import/eksportplugin
Comment[fi]=KAddressbook tuonti/vienti-liitännäinen
Comment[fr]=Module d'import / export pour KAddressBook
Comment[hi]=के-एड्रेस-बुक आयात/निर्यात प्लगइन
Comment[hu]=KAddressBook importálási/exportálási bővítőmodul
Comment[is]=Íforrit til að færa inn í/út úr KAddressbook
Comment[it]=Plugin importa/esporta di KAddressbook
Comment[ja]=KAddressbook インポート/エクスポートプラグイン
Comment[ms]=Plug masuk Import Eksport KAddressBook
Comment[nb]=KAddressbook-programtillegg for import/eksport
Comment[nn]=Programtillegg for importering/ekportering i KDE-adresseboka
Comment[pl]=Wtyczka importu/eksportu dla KAddressBook
Comment[pt]='Plugin' de Importação/Exportação do KAddressbook
Comment[pt_BR]=Plug-in de Importação/Exportação do KAddressBook
Comment[ro]=Modul de import/export pentru KAddressBook
Comment[ru]=Экспорт и импорт адресной книги
Comment[sk]=KAddressBook import/export plugin
Comment[sl]=Vstavek za uvoz in izvoz iz Adresarja
Comment[sr]=Прикључак KAddressBook-а за увоз/извоз 
Comment[sr@Latn]=Dodatak KAddressBook-a za uvoz/izvoz 
Comment[sv]=Kadressbok-insticksprogram för import/export
Comment[ta]=கேமுகவரிப்புத்தகம் ஏற்றுமதி/இறக்குமதி சொருகுப்பொருள்
Comment[tg]=Содирот ва воридоти китоби адрес
Comment[tr]=KAdresDefteri Al/Gönder Eklentisi
Comment[uk]=Втулок імпорту/експорту адресної книги KAddressBook
Comment[uz]=Манзиллар дафтари учун импорт/экспорт плагини
Comment[xx]=xxKAddressBook Import/Export Pluginxx
Comment[zh_CN]=KAddressBook 导入/导出插件

[PropertyDef::X-KDE-KAddressBook-XXPortPluginVersion]
Type=int

