[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KAddressBook/ContactEditorWidget
Comment=KAddressBook Contact Editor Widget Plugin
Comment[bg]=Приставка за редактиране на контактите от адресника
Comment[bs]=KAddressBook dodatak za prozor za izmjenu kontakta
Comment[ca]=Endollable de l'estri editor de contactes de la llibreta d'adreces
Comment[da]=KAddressBook plugin til kontakteditorkontrol
Comment[de]=Addressbuch Kontakteditor-Widget Plugin
Comment[es]=Accesorio de elemento de editor de contactos para KAddressBook
Comment[et]=KDE aadressiraamatu kontaktide redigeerimise plugin
Comment[fr]=Module d'édition de contacts de KAddressBook
Comment[hu]=KAddressBook névjegyszerkesztő bővítőmodul
Comment[it]=Plugin editor dei contatti di KAddressbook
Comment[ja]=KAddressbook コンタクト エディタ ウィジェット プラグイン
Comment[nb]=KAddressbook programtillegg for kontakt redigeringselement
Comment[nl]=KAddressBook Contacteditor-plugin
Comment[nn]=Programtillegg for kontaktredigering i KDE-adresseboka
Comment[pl]=Wtyczka okna edycji wizytówki dla KAddressBook
Comment[pt]='Plugin' de Edição de 'Widgets' de Contacto do KAddressbook
Comment[pt_BR]=Plug-in do Editor de Contatos do KAddressBook
Comment[ru]=Редактор контакта адресной книги KDE
Comment[sk]=KAddressBook modul pre editor kontaktov
Comment[sl]=Vstavek gradnika urejevalnika stikov za Adresar
Comment[sr]=KAddressBook прикључак контроле едитора контаката
Comment[sr@Latn]=KAddressBook priključak kontrole editora kontakata
Comment[sv]=Kadressbok-insticksprogram för kontakteditor
Comment[ta]=கேமுகவரிபுத்தகம் தொடர்பு தொகுப்பான் சாளர சொருகுப்பொருள்
Comment[tg]=Муҳаррири алоқоти китоби адресии KDE
Comment[tr]=Adres Defteri Kişi Düzenleyici Parçacık Eklentisi
Comment[uk]=Втулок редагування контактів адресної книги
Comment[xx]=xxKAddressBook Contact Editor Widget Pluginxx
Comment[zh_CN]=KAddressBook 联系人编辑部件插件

[PropertyDef::X-KDE-KAddressBook-CEWPluginVersion]
Type=int
