[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KAddressBook/Extension
Comment=KAddressBook Extension Plugin
Comment[be]=Дапаўненьне K Адраснай кнігі "Пашырэньне"
Comment[bg]=Приставка-разширение за адресника
Comment[ca]=Connector Llibreta d'adreces per a Extension
Comment[cs]=Rozšiřující modul pro Knihu adres
Comment[da]=KAddressBook udvidelsesplugin
Comment[de]=Erweiterungs-Plugin für Adressbuch
Comment[el]=Πρόσθετο επέκτασης του KAddressBook
Comment[es]=Plugin de extensión de KAddressBook
Comment[et]=KDE aadressiraamatu laiendi plugin
Comment[fr]=Module d'extension pour KAddressBook
Comment[hu]=KAddressBook kiegészítő modul
Comment[it]=Plugin estensione di KAddressbook
Comment[ms]=Plug masuk Sambungan KAddressBook
Comment[nl]=KAddressBook Extensie Plugin
Comment[nn]=Programtillegg for utviding av KDE-adresseboka
Comment[pt]='Plugin' de Extensão do KAddressbook
Comment[pt_BR]=Plug-in de Extensão do KAddressBook
Comment[ru]=Модуль расширений адресной книги KDE
Comment[sk]=KAddressBook plugin rozšírení
Comment[sr]=Додатак KAddressBook-а за проширења
Comment[sv]=Kadressbok-utökningsinsticksprogram
Comment[tr]=KAdresDefteri Uzantı Eklentisi
Comment[uk]=Втулок розширення адресної книги KAddressBook
Comment[xx]=xxKAddressBook Extension Pluginxx
Comment[zh_CN]=KAddressBook 扩展插件
