[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KAddressBook/XXPort
Comment=KAddressBook Import/Export Plugin
Comment[af]=KAddressBook Invoer/Uitvoer inprop module
Comment[bg]=Приставка за импортиране/експортиране на данни от адресника
Comment[br]=Lugent enporzh/ezporzh evit KAddressBook
Comment[ca]=Connector d'importació/exportació per a la llibreta d'adreces
Comment[cs]=Modul knihy adres pro import/export
Comment[cy]=Ategyn Mewnforio/Allforio KLlyfrCyfeiriadau
Comment[da]=KAddressBook Import/Eksport-plugin
Comment[de]=Import-/Export-Modul für Adressbuch
Comment[el]=Πρόσθετο εισαγωγής/εξαγωγής του KAddressBook
Comment[eo]=KAddressBook Import-/Eksport-Kromaĵo
Comment[es]=Complemento de importación/exportación de KAddressBook
Comment[et]=KDE aadressiraamatu import/eksportplugin
Comment[eu]=KAddressBook-en inportazio/esportazio plugin-a
Comment[fa]=وصلۀ صادرات/واردات KAddressBook
Comment[fi]=KAddressbookin tuonti/vienti-liitännäinen
Comment[fr]=Module d'import / export pour KAddressBook
Comment[fy]=KAddressBook Ymport/Eksport Plugin
Comment[ga]=Breiseán Iompórtála/Easpórtála KAddressBook
Comment[gl]=Extensión de Importación/Exportación para KAddressBook
Comment[he]=תוסף ייבוא/יצוא עבור פנקס הכתובות
Comment[hu]=KAddressBook importálási/exportálási bővítőmodul
Comment[is]=KAddressbook flytja inn/út íforrit
Comment[it]=Plugin importa/esporta di KAddressbook
Comment[ja]=KAddressbook インポート/エクスポートプラグイン
Comment[ka]=წიგნაკის იმპორტ/ექსპორტის მოდული
Comment[kk]=KAddressBook импорт/экспорт модулі
Comment[ko]=KAddressBook 가져오기/내보내기 플러그인
Comment[lt]=KAddressBook importo/eksporto priedas
Comment[mk]=Приклучок за внесување/изнесување во КАдресар
Comment[ms]=Plug masuk Import Eksport KAddressBook
Comment[nb]=KAddressbook-programtillegg for import/eksport
Comment[nds]=Import-/Exportmoduul för KAdressbook
Comment[ne]=केडीई ठेगाना पुस्तिका आयात/निर्यात प्लगइन
Comment[pl]=Wtyczka importu/eksportu dla KAddressBook
Comment[pt]='Plugin' de Importação/Exportação do KAddressbook
Comment[pt_BR]=Plug-in de Importação/Exportação do KAddressBook
Comment[ro]=Modul de import/export pentru KAddressBook
Comment[ru]=Экспорт и импорт адресной книги
Comment[sk]=KAddressBook import/export plugin
Comment[sl]=Vstavek za uvoz in izvoz iz Adresarja
Comment[sr]=Прикључак KAddressBook-а за увоз/извоз 
Comment[sr@latin]=Priključak KAddressBook-a za uvoz/izvoz 
Comment[sv]=Kadressbok-insticksprogram för import/export
Comment[ta]=கேமுகவரிப்புத்தகம் ஏற்றுமதி/இறக்குமதி சொருகுப்பொருள்
Comment[tg]=Содирот ва воридоти китоби адрес
Comment[tr]=KAdresDefteri Al/Gönder Eklentisi
Comment[uk]=Втулок імпорту/експорту адресної книги KAddressBook
Comment[uz]=Манзиллар дафтари учун импорт/экспорт плагини
Comment[x-test]=xxKAddressBook Import/Export Pluginxx
Comment[zh_CN]=KAddressBook 导入/导出插件
Comment[zh_TW]=KAddressBook 匯入/匯出外掛程式

[PropertyDef::X-KDE-KAddressBook-XXPortPluginVersion]
Type=int

