[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KAddressBook/XXPort
Comment=KAddressBook Import/Export Plugin
Comment[de]=Import/Export-Modul für Adressbuch

[PropertyDef::X-KDE-KAddressBook-XXPortPluginVersion]
Type=int

