[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KAddressBook/Extension
Comment=KAddressBook Extension Plugin
Comment[de]=Erweiterungsmodul für Adressbuch

[PropertyDef::X-KDE-KAddressBook-ExtensionPluginVersion]
Type=int
