[Desktop Entry]
Type=Service
ServiceTypes=MessageViewerHeaderStyle/Plugin
X-KDE-Library=messageviewer_grantleeheaderstyleplugin
Name=Grantlee Header Style
Name[ca]=Estil de capçalera «Grantlee»
Name[ca@valencia]=Estil de capçalera «Grantlee»
Name[en_GB]=Grantlee Header Style
Name[es]=Estilo de encabezado Grantlee
Name[fi]=Grantlee-otsaketyyli
Name[gl]=Estilo de cabeceira de Grantlee
Name[it]=Stile con intestazioni di Grantlee
Name[nl]=Stijl met Grantlee headers
Name[pl]=Nagłówki Grantlee
Name[pt]=Estilo de Cabeçalho do Grantlee
Name[pt_BR]=Estilo de cabeçalho Grantlee
Name[sk]=Grantlee štýl hlavičiek
Name[sl]=Slog z glavami grantlee
Name[sr]=Грантлијев стил заглавља
Name[sr@ijekavian]=Грантлијев стил заглавља
Name[sr@ijekavianlatin]=Grantleejev stil zaglavlja
Name[sr@latin]=Grantleejev stil zaglavlja
Name[sv]=Grantlee rubrikstil
Name[tr]=Büyük Başlık Biçemi
Name[uk]=Стиль заголовків Grantlee
Name[x-test]=xxGrantlee Header Stylexx
X-KDE-MessageViewer-Header-Order=100
