[Misc]
Encoding=UTF-8
Name=Application Octetstream
Name[da]=Program oktetstrøm
Name[es]=Aplicación en flujo de octetos
Name[nl]=Applicatie octetstroom
Name[sl]=Programski Octetstream
Name[sv]=Program-oktettström
Name[ta]=பயன்பாட்டு எண்மம்
Name[xx]=xxApplication Octetstreamxx
Comment=A bodypart formatter plugin for text/vcard
Comment[da]=Et bodypart formateringsplugin for text/vcard
Comment[es]=Un accesorio de formato para el cuerpo de text/vcard
Comment[et]=Põhiosa vormindamisplugin (MIME tüübile text/vcard)
Comment[nl]=Een opmaakplugin voor text/vcard
Comment[sl]=Oblikovalni vstavek za text/vcard
Comment[sv]=Ett insticksprogram för brevtextformatering av text/vcard
Comment[ta]=உரை அல்லது விஅட்டைக்கான அங்க அமைப்பு சொருகி
Comment[xx]=xxA bodypart formatter plugin for text/vcardxx

[Plugin]
Type=text/x-vcard
X-KDE-Library=libkmail_bodypartformatter_text_vcard
