[Misc]
Name=Application Octetstream
Comment=A bodypart formatter plugin for text/vcard
Comment[de]=Ein Textinhalt-Formatierer für text/vcard

[Plugin]
Type=text/directory
X-KDE-Library=kmail_bodypartformatter_text_vcard
