[000]
Flags=0,0,0,0,1,1,0,0
Header=Subject
Name=
Translate_Name=true
[001]
Flags=0,1,0,0,0,0,0,0
Header=From
Name=From
Translate_Name=true
[002]
Flags=0,1,0,0,0,0,0,0
Header=Reply-To
Name=Reply-To
Translate_Name=true
[003]
Flags=0,1,0,0,0,0,0,0
Header=Date
Name=Date
Translate_Name=true
[004]
Flags=0,1,0,0,0,0,0,0
Header=To
Name=To
Translate_Name=true
[005]
Flags=0,1,0,0,0,0,0,0
Header=Newsgroups
Name=Groups
Translate_Name=true
[006]
Flags=0,1,0,0,0,0,0,0
Header=Followup-To
Name=Followup-To
Translate_Name=true
