[Desktop Entry]
Encoding=UTF-8
Icon=server_big
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=knode
X-KDE-FactoryName=knode_config_accounts
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode

Name=Accounts
Name[be]=Рахункі
Name[da]=Konti
Name[es]=Cuentas
Name[et]=Kontod
Name[sl]=Računi
Name[sv]=Konton
Name[ta]=கணக்குகள்
Comment=Setup for Newsgroup and Mail Servers
Comment[da]=Opsætning af nyhedsgruppe og e-postservere
Comment[es]=Configuración de los servidores de grupos de noticias y de correo
Comment[et]=Uudiste- ja meiliserverite seadistus
Comment[nl]=Instellingen voor nieuws- en mailservers
Comment[sl]=Nastavitve za novične in poštne strežnike
Comment[sv]=Inställningar för diskussionsgrupp och postservrar
Comment[ta]=செய்திக்குழு மற்றும் மின்னஞ்சல் சேவைகளுக்கான அமைப்பு
