[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=knode
X-KDE-FactoryName=knode_config_identity
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode

Name=Identity
Name[x-test]=xxIdentityxx
Comment=Personal Information
Comment[x-test]=xxPersonal Informationxx
