[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=knode
X-KDE-FactoryName=knode_config_identity
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode

Name=Identity
Name[be]=Увасабленьне
Name[ca]=Identitat
Name[da]=Identitet
Name[es]=Identidad
Name[et]=Identiteet
Name[it]=Identità
Name[nl]=Identiteit
Name[pt]=Identidade
Name[pt_BR]=Identidade
Name[sl]=Identiteta
Name[sv]=Identitet
Name[ta]=அடையாளம்
Name[xx]=xxIdentityxx
Name[zh_CN]=身份
Comment=Personal Information
Comment[be]=Пэрсанальная інфармацыя
Comment[da]=Personlig information
Comment[es]=Información personal
Comment[et]=Personaalne info
Comment[it]=Informazioni personali
Comment[nl]=Persoonlijke informatie
Comment[pt]=Informação Pessoal
Comment[pt_BR]=Informação Pessoal
Comment[sl]=Osebne informacije
Comment[sv]=Personlig information
Comment[ta]=தன்விவர தகவல்
Comment[xx]=xxPersonal Informationxx
Comment[zh_CN]=个人信息
