[Desktop Entry]
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knode
X-KDE-FactoryName=knode_config_appearance
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode

Name=Appearance
Name[de]=Erscheinungsbild
Comment=Customize Visual Appearance
Comment[de]=Erscheinungsbild anpassen
