[Desktop Entry]
Type=Application
Exec=knode -caption "%c" %i %m
Icon=knode
Terminal=0
MapNotify=true
Name=KNode
Name[eo]=Diskutrondoj
Name[fr]=Forums de discussion
Name[is]=Usenet hnútur
Name[ja]=ネットニュース
Name[mk]=КNode
Name[pt_BR]=Leitor de news
Name[ru]=Кnode
Comment=News Reader
Comment[ca]=Lector de grups de notícies
Comment[cs]=Klient pro čtení diskusních skupin
Comment[da]=Nyhedslæser
Comment[de]=Programm zum Lesen und Schreiben von Usenet-News
Comment[el]=Ανάγνωση newsgroups
Comment[eo]=Legilo por diskutrondoj
Comment[es]=Lector de Noticias
Comment[et]=Uudisegruppide lugeja
Comment[fi]=Uutisryhmien lukuohjelma
Comment[fr]=Lecteur de forums (newsgroups)
Comment[gl]=Lector de Noticias
Comment[he]=תושדח ארוק
Comment[hr]=Program za čitanje USENet grupa
Comment[hu]=Hírolvasó
Comment[is]=knode:  Tól til að lesa Usenet ráðstefnur
Comment[it]=Lettore newsgroup
Comment[ja]=ニュースリーダー
Comment[mk]=Програм за читање дискусиони групи
Comment[nl]=Nieuwslezer
Comment[no]=Diskusjonsgruppe-leser
Comment[no_NY]=Diskusjonsgruppelesar
Comment[pl]=Program do obsługi grup dyskusyjnych
Comment[pt]=Leitor de Notícias
Comment[pt_BR]=Leitor de Notícias
Comment[ro]=Program de citit ştiri USENET
Comment[ru]=Программа для чтения новостей
Comment[sk]=Klient pre NEWS
Comment[sl]=Bralnik novic
Comment[sv]=Diskussionsgruppsläsare
Comment[ta]=¦ºö¾¢ Å¡º¢ôÀÅ÷
Comment[tr]=Haber Okuyucu
Comment[uk]=Програма для перегляду новин
