[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=knode
X-KDE-FactoryName=knode_config_identity
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode

Name=Identity
Name[be]=Увасабленьне
Name[bg]=Самоличност
Name[ca]=Identitat
Name[da]=Identitet
Name[de]=Identität
Name[es]=Identidad
Name[et]=Identiteet
Name[fr]=Identité
Name[gl]=Identidade
Name[he]=זהות
Name[hu]=Azonosító
Name[is]=Auðkenni
Name[it]=Identità
Name[nb]=Identitet
Name[nl]=Identiteit
Name[nn]=Identitet
Name[pl]=Tożsamość
Name[pt]=Identidade
Name[pt_BR]=Identidade
Name[ru]=Профиль
Name[sk]=Identita
Name[sl]=Identiteta
Name[sr]=Идентитет
Name[sr@Latn]=Идентитет
Name[sv]=Identitet
Name[ta]=அடையாளம்
Name[tg]=Профил
Name[uz]=Шахсият
Name[zh_CN]=身份
Comment=Personal Information
Comment[be]=Пэрсанальная інфармацыя
Comment[bg]=Управление на личната информация
Comment[ca]=Informació personal
Comment[cs]=Osobní informace
Comment[da]=Personlig information
Comment[de]=Persönliche Angaben
Comment[es]=Información personal
Comment[et]=Personaalne info
Comment[fr]=Informations personnelles
Comment[gl]=Información Persoal
Comment[he]=מידע איש
Comment[hu]=Személyi adatok
Comment[is]=Persónuupplýsingar
Comment[it]=Informazioni personali
Comment[nl]=Persoonlijke informatie
Comment[nn]=Personleg informasjon
Comment[pl]=Informacje osobiste
Comment[pt]=Informação Pessoal
Comment[pt_BR]=Informações Pessoais
Comment[ru]=Персональная информация
Comment[sk]=Osobné informácie
Comment[sl]=Osebne informacije
Comment[sr]=Лична информација
Comment[sr@Latn]=Лична информација
Comment[sv]=Personlig information
Comment[ta]=சொந்த தகவல்
Comment[tg]=Маълумоти шахсӣ
Comment[zh_CN]=个人信息
