[Desktop Entry]
Icon=edit-clear
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knode
X-KDE-FactoryName=knode_config_cleanup
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode
X-KDE-Weight=700

Name=Cleanup
Name[af]=Cleanup
Name[ar]=تنظيف
Name[bg]=Изчистване
Name[bs]=Očisti
Name[ca]=Neteja
Name[ca@valencia]=Neteja
Name[cs]=Vyčištění
Name[da]=Oprydning
Name[de]=Aufräumen
Name[el]=Καθαρισμός
Name[en_GB]=Cleanup
Name[eo]=Purigo
Name[es]=Limpieza
Name[et]=Puhastamine
Name[eu]=Garbiketa
Name[fa]=پاک‌سازی
Name[fi]=Siivoaminen
Name[fr]=Nettoyage
Name[fy]=Opskjinning
Name[ga]=Glan
Name[gl]=Limpeza
Name[he]=ניקיון
Name[hu]=Tisztítás
Name[ia]=Mundification
Name[is]=Hreinsun
Name[it]=Pulizia
Name[ja]=整理
Name[ka]=გაწმენდა
Name[kk]=Тазалау
Name[km]=សម្អាត
Name[ko]=Cleanup
Name[lt]=Išvalymas
Name[lv]=Attīrīt
Name[mai]=साफ करू
Name[mk]=Расчистување
Name[mr]=साफ करा
Name[ms]=Pembersihan
Name[nb]=Rydd opp
Name[nds]=Oprümen
Name[ne]=हटाउनुहोस्
Name[nl]=Opschoning
Name[nn]=Opprydding
Name[oc]=Netejar
Name[pa]=ਸਫ਼ਾਈ
Name[pl]=Porządkowanie
Name[pt]=Limpeza
Name[pt_BR]=Limpeza
Name[ro]=Curățare
Name[ru]=Очистка диска
Name[se]=Čorge
Name[sk]=Vyčistenie
Name[sl]=Čiščenje
Name[sr]=Чишћење
Name[sr@ijekavian]=Чишћење
Name[sr@ijekavianlatin]=Čišćenje
Name[sr@latin]=Čišćenje
Name[sv]=Upprensning
Name[ta]=சுத்தம் செய்
Name[tg]=Тозакунии диск
Name[tr]=Temizle
Name[ug]=تازىلا
Name[uk]=Очищення диска
Name[wa]=Rinetiaedje
Name[x-test]=xxCleanupxx
Name[zh_CN]=清理
Name[zh_TW]=清除
Comment=Preserving Disk Space
Comment[af]=Bespaar Skyf Spasie
Comment[ar]=إبقاء مساحة القرص
Comment[bg]=Освобождаване на свободно място на диска
Comment[bs]=Konzervacija prostara diska
Comment[ca]=Preservar l'espai a disc
Comment[ca@valencia]=Preservar l'espai a disc
Comment[cs]=Zachování místa na disku
Comment[da]=Bevarer diskplads
Comment[de]=Platz auf dem Datenträger bewahren
Comment[el]=Διατήρηση χώρου στο δίσκο
Comment[en_GB]=Preserving Disk Space
Comment[eo]=Ŝpari diskspacon
Comment[es]=Preservar el espacio en disco
Comment[et]=Kettaruumi eest hoolitsemine
Comment[eu]=Diskaren espazioa mantendu
Comment[fa]=حفظ فضای دیسک
Comment[fi]=Kiintolevytilan säästäminen
Comment[fr]=Préservation de l'espace disque
Comment[fy]=Besparring fan skiifromte
Comment[ga]=Spás Diosca á Chaomhnú
Comment[gl]=Conservación do espazo do disco
Comment[he]=שמירת מקום בכונן
Comment[hu]=A lemezterület megőrzése
Comment[ia]=Preserva spatio del disco
Comment[is]=Varðveita diskpláss
Comment[it]=Risparmia lo spazio su disco
Comment[ja]=ディスク領域を維持
Comment[ka]=სივრცის შენახვა დისკზე
Comment[kk]=Дискідегі орынды үнемдеу
Comment[km]=បង្ការ​ទំហំ​ថាស
Comment[ko]=디스크 공간 절약
Comment[lt]=Disko erdvės išsaugojimas
Comment[lv]=Ietaupa viedu uz diska
Comment[mk]=Зачувување простор на дискот
Comment[mr]=डिस्कवरील जागा वाचवत आहे
Comment[ms]=Memelihara Ruang Cakera
Comment[nb]=Bevarer disk plass
Comment[nds]=Platz op de Fastplaat wohren
Comment[ne]=डिस्क खाली स्थान संरक्षण गर्दैछ
Comment[nl]=Besparing van schrijfruimte
Comment[nn]=Frigjer diskplass
Comment[pa]=ਡਿਸਕ ਥਾਂ ਬਚਾਓ
Comment[pl]=Kontrolowanie użytej przestrzeni dyskowej
Comment[pt]=Preservar o Espaço em Disco
Comment[pt_BR]=Preservando o espaço em disco
Comment[ro]=Conservare spațiu pe disc
Comment[ru]=Освобождение места на диске
Comment[sk]=Úspora miesta na disku
Comment[sl]=Ohranjanje prostora na disku
Comment[sr]=Ослобађање простора на диску
Comment[sr@ijekavian]=Ослобађање простора на диску
Comment[sr@ijekavianlatin]=Oslobađanje prostora na disku
Comment[sr@latin]=Oslobađanje prostora na disku
Comment[sv]=Bevara diskutrymme
Comment[ta]=தட்டின் இடத்தை சேமித்தல்
Comment[tg]=Нигоҳ доштани ҷое дар диск
Comment[th]=การสงวนพื้นที่ดิสก์
Comment[tr]=Saklama için Disk Alanı
Comment[uk]=Збереження місця на диску
Comment[wa]=Wårder l' plaece sol plake
Comment[x-test]=xxPreserving Disk Spacexx
Comment[zh_CN]=释放磁盘空间
Comment[zh_TW]=保留磁碟空間
