[Desktop Entry]
Icon=mail_get
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=knode
X-KDE-FactoryName=knode_config_read_news
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode

Name=Reading News
Name[af]=Lees Nuus
Name[ar]=قراءة الأخبار
Name[be]=Чытанне навін
Name[bg]=Четене на новини
Name[bs]=Čitanje Useneta
Name[ca]=Lectura de notícies
Name[cs]=Čtení novinek
Name[da]=Læser nyheder
Name[de]=Artikel lesen
Name[el]=Ανάγνωση νέων
Name[es]=Leer noticias
Name[et]=Uudiste lugemine
Name[eu]=Berrien irakurketa
Name[fa]=خواندن اخبار
Name[fi]=Uutisryhmien lukeminen
Name[fr]=Lecture de nouvelles
Name[fy]=Nijs lêze
Name[gl]=Ler Noticias
Name[he]=קריאת חדשות
Name[hu]=Hírek olvasása
Name[is]=Lestur frétta
Name[it]=Lettura News
Name[ja]=ニュースを読む
Name[ka]=სიახლეების კითხვა
Name[kk]=Жаңалықтарды оқу
Name[km]=អាន​ព័ត៌មាន
Name[lt]=Naujienų skaitymas
Name[mk]=Читање вести
Name[ms]=Membaca Berita
Name[nb]=Lese Njus
Name[nds]=Narichten lesen
Name[ne]=समाचार वाचन गर्दैछ
Name[nl]=Nieuws lezen
Name[nn]=Les innlegg
Name[pl]=Odczytywanie wiadomości
Name[pt]=Leitura de Notícias
Name[pt_BR]=Lendo Notícias
Name[ru]=Чтение новостей
Name[sk]=Čítanie diskusných skupín
Name[sl]=Branje novic
Name[sr]=Читање новости
Name[sr@Latn]=Čitanje novosti
Name[sv]=Läsa inlägg
Name[ta]=செய்திகளைப் படித்தல்
Name[tg]=Хондани ахборот
Name[tr]=Haber Okuma
Name[uk]=Читання новин
Name[uz]=Yangiliklarni oʻqish
Name[uz@cyrillic]=Янгиликларни ўқиш
Name[zh_CN]=阅读新闻
Name[zh_TW]=閱讀新聞

