[Desktop Entry]
Encoding=UTF-8
Icon=password
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=knode
X-KDE-FactoryName=knode_config_privacy
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode

Name=Signing/Verifying
Name[x-test]=xxSigning/Verifyingxx
Comment=Protect your privacy by signing and verifying postings
Comment[x-test]=xxProtect your privacy by signing and verifying postingsxx
