[Desktop Entry]
Icon=mail-forward
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knode
X-KDE-FactoryName=knode_config_post_news
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode

Name=Posting News
Name[de]=Artikelversand

