[Desktop Entry]
Icon=mail-forward
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knode
X-KDE-FactoryName=knode_config_post_news
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=knode
X-KDE-ParentComponents=knode,kontact_knodeplugin
X-KDE-CfgDlgHierarchy=KNode
X-KDE-Weight=500

Name=Posting News
Name[af]=Pos Nuus
Name[ar]=نشر الأخبار
Name[bg]=Изпращане
Name[bs]=Dostavljanje novosti
Name[ca]=Enviament de notícies
Name[ca@valencia]=Enviament de notícies
Name[cs]=Odesílání novinek
Name[da]=Afsendelse af nyheder
Name[de]=Artikelversand
Name[el]=Αποστολή νέων
Name[en_GB]=Posting News
Name[es]=Enviar noticias
Name[et]=Uudiste postitamine
Name[eu]=Berrien argitaratzea
Name[fa]=ارسال سریع اخبار
Name[fi]=Viestien lähettäminen
Name[fr]=Postage sur les groupes de discussion
Name[fy]=Nijs poste
Name[ga]=Nuacht a Phostáil
Name[gl]=Publicación de noticias
Name[he]=שליחת חדשות
Name[hu]=Hírek írása
Name[ia]=Posta novas
Name[is]=Senda fréttir
Name[it]=Invio news
Name[ja]=ニュースを投稿
Name[ka]=სიახლეების განთავსება
Name[kk]=Жариялау
Name[km]=ប្រកាស​ព័ត៌មាន​
Name[ko]=뉴스 올리기
Name[lt]=Naujienų skelbimas
Name[lv]=Ziņu iesūtīšana
Name[mk]=Испраќање вести
Name[mr]=बातम्या पोष्ट करत आहे
Name[ms]=Menampal Berita
Name[nb]=Legge inn Njus
Name[nds]=Narichten sennen
Name[ne]=समाचार पोष्ट गर्दैछ
Name[nl]=Nieuws posten
Name[nn]=Skriv innlegg
Name[pa]=ਪੇਸ਼ ਕੀਤੀਆਂ ਖ਼ਬਰਾਂ
Name[pl]=Publikowanie wiadomości
Name[pt]=Enviar Notícias
Name[pt_BR]=Enviando notícias
Name[ro]=Publicare știri
Name[ru]=Размещение статей
Name[sk]=Posielanie príspevkov
Name[sl]=Pošiljanje novic
Name[sr]=Постављање вести
Name[sr@ijekavian]=Постављање вести
Name[sr@ijekavianlatin]=Postavljanje vesti
Name[sr@latin]=Postavljanje vesti
Name[sv]=Skicka inlägg
Name[ta]=செய்திகளை அனுப்புதல் 
Name[tg]=Ҷойгиркунии мақола
Name[th]=การเขียนข่าว
Name[tr]=Gönderilen Haberler
Name[uk]=Розміщення новин
Name[wa]=Poster des noveles
Name[x-test]=xxPosting Newsxx
Name[zh_CN]=投递新闻
Name[zh_TW]=發表文章

