[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KitchenSync/Konnector
X-KDE-Library=libphonekonnector

Name=Opie Konnector
Name[cs]=Opie konektor
Name[cy]=Kysylltydd Opie
Name[de]=Opie-Konnector
Name[eo]=Opie konektilo
Name[es]=Konnector Opie
Name[hi]=ओपीआईई बैकअप
Name[hu]=Opie konnektor
Name[lv]=Opie Konnektors
Name[nb]=Opie tilknytning
Name[nl]=Opie-Konnector
Name[nso]=Mokgomaganyi wa Opie
Name[pl]=Łącznik Opie
Name[pt]=Konnector para o Opie
Name[sl]=Konnector Opie
Name[ta]=opie இணைப்பான்
Name[xx]=xxOpie Konnectorxx
Group=Cell Phone 
Vendor=Daniel Molkentin
Id=Phone
