[Desktop Entry]
Type=Service
Name=MAL (AvantGo) Conduit
Name[af]=MAL (AvantGo) pad
Name[ca]=Conducte MAL (AvantGo)
Name[cs]=Propojení s AvantGo
Name[cy]=Cwndid MAL (AvantGo)
Name[de]=MAL- (AvantGo) Abgleich (Conduit)
Name[el]=Σύνδεσμος MAL (AvantGo)
Name[eo]=MAL (AvantGo) Kanalo
Name[es]=Conducto MAL (AvantGo)
Name[et]=MAL (AvantGo) kanal
Name[eu]=MAL (AvantGo) kanala
Name[fa]=لولۀ MAL (AvantGo)
Name[fi]=MAL (AvantGo)- yhdyskäytävä
Name[fr]=Canal MAL (AvantGo)
Name[ga]=Seoladán MAL (AvantGo)
Name[gl]=Conduto MAL (AvantGo)
Name[he]=ממשק AvantGo) MAL)
Name[hu]=MAL- (AvantGo) csatoló
Name[is]=MAL (AvantGo)-rás
Name[it]=Conduit MAL (AvantGo)
Name[ja]=MAL (AvantGo) コンジット
Name[ka]=არხი MAL (AvantGo)
Name[km]=បំពង់ MAL (AvantGo)
Name[lt]=MAL (AvantGo) kanalas
Name[lv]=MAL (AvantGo) ķēde
Name[ms]=Saluran MAL (AvantGo) 
Name[nb]=MAL (AvantGo) kanal
Name[nds]=MAL(AvantGo)-Synkroniseren
Name[ne]=MAL (AvantGo) कन्ड्युट
Name[nn]=MAL-kopling (AvantGo)
Name[pl]=Łącznik do MAL (AvantGo)
Name[pt]=Conduta MAL (AvantGo)
Name[pt_BR]=Conduta MAL (AvantGo)
Name[ro]=Conductă MAL (AvantGo)
Name[ru]=Канал MAL (AvantGo)
Name[sk]=Spojka MAL (AvantGo)
Name[sl]=Veznik MAL (AvantGo)
Name[sv]=MAL (AvantGo)-kanal
Name[ta]=MAL (AvantGo) காப்புக் குழாய்
Name[tg]=Канали MAL (AvantGo)
Name[tr]=MAL (AvantGo) Kanalı
Name[uk]=Акведук MAL (AvantGo)
Name[x-test]=xxMAL (AvantGo) Conduitxx
Name[zh_CN]=MAL (AvantGo) 管道
Name[zh_TW]=MAL（AvantGo）導管
Comment=Synchronize AvantGo (or generally a MAL server's content) to the handheld. This allows you to view web-pages offline on the handheld, like your cinema or TV schedule, or any other web page.
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_mal
