[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MAL (AvantGo) Conduit
Name[ca]=Conducte MAL (AvantGo)
Name[cs]=Propojení s AvantGo
Name[cy]=Cwndid MAL (AvantGo)
Name[de]=MAL- (AvantGo) Abgleich (Conduit)
Name[el]=Σύνδεσμος MAL (AvantGo)
Name[eo]=MAL (AvantGo) Kanalo
Name[es]=Conducto MAL (AvantGo)
Name[et]=MAL (AvantGo) kanal
Name[fi]=MAL (AvantGo) yhdyskäytävä
Name[fr]=MAL (AvantGo) Canal
Name[he]=ממשק AvantGo) MAL)
Name[hi]=एमएएल (AvantGo) कन्ड्यूइट
Name[hu]=MAL- (AvantGo) csatoló
Name[is]=MAL (AvantGo)-rás
Name[it]=Conduit MAL (AvantGo)
Name[ja]=MAL (AvantGo) コンジット
Name[lt]=MAL (AvantGo) kanalas
Name[nb]=MAL (AvantGo) kanal
Name[nn]=MAL-kopling (AvantGo)
Name[nso]=Conduit ya MAL (AvantGo)
Name[pl]=Łącznik do MAL (AvantGo)
Name[pt]=Conduta MAL (AvantGo)
Name[pt_BR]=Conduto MAL (AvantGo)
Name[ro]=Conductă MAL (AvantGo)
Name[ru]=Канал MAL (AvantGo)
Name[sk]=Spojka MAL (AvantGo)
Name[sl]=Veznik MAL (AvantGo)
Name[sr]=MAL (AvantGo) провод
Name[sr@Latn]=MAL (AvantGo) provod
Name[sv]=MAL (AvantGo)-kanal
Name[ta]=MAL (AvantGo) காப்புக் குழாய்
Name[tg]=Канали MAL (AvantGo)
Name[tr]=MAL (AvantGo) Kanalı
Name[uk]=Акведук MAL (AvantGo)
Name[xx]=xxMAL (AvantGo) Conduitxx
Name[zh_CN]=MAL (AvantGo) 管道
Comment=Syncronize AvantGo (or generally a MAL server's content) to the handheld. This allows you to view web-pages offline on the handheld, like your cinema or TV schedule, or any other web page.
Comment[bg]=Синхронизиране на AvantGo към мобилно устройство. Тази приставка Ви позволява да разглеждате уеб страници без връзка с Мрежата.
Comment[da]=Synkronisér AvantGo (eller mere alment indholdet på en MAL-server) med den håndholdte. Det lader dig kigge på nedsider offline på den håndholdte, såsom biografer eller tv-programmer, eller en hvilken som helst anden netside.
Comment[en_GB]=Syncronise AvantGo (or generally a MAL server's content) to the handheld. This allows you to view web-pages offline on the handheld, like your cinema or TV schedule, or any other web page.
Comment[es]=Sincroniza AvantGo (o más genéricamente, el contenido de un servidor MAL) con la agenda electrónica. Le permite ver páginas web en la agenda electrónica sin estar conectado, como la programación de televisión o la cartelera de cine, o cualquier otra página web.
Comment[et]=See kanal sünkroniseerib AvantGo (või üldisemalt MAL serveri sisu) pihuarvutiga. See võimaldab vaadata veebilehekülgi pihuseadmelt ilma võrguühendusega, näiteks uurida kino- või telekava või mis tahes muud huvipakkuvat veebilehekülge.
Comment[fr]=Synchronise AvantGo (ou plus généralement tout serveur MAL) avec votre Palm. Ceci vous permet de consulter des pages Web hors ligne sur votre Palm, comme des programmes TV, Cinéma ou n'importe quelle page Web.
Comment[it]=Sincronizza AvantGo (o il contenuto di un generico server MAL) con il palmare. In questo modo potrai visualizzare le pagine web offline sul palmare come per esempio la programmazione di un cinema o una TV o qualsiasi altra pagina web.
Comment[nl]=Avantgo met de handheld synchroniseren (of eigenlijk met de inhoud van een MAL-server). Dit maakt het mogelijk om een webpagina offline op uw handheld te bekijken. Dit is handig voor allerlei zaken als bijvoorbeeld de TV-gids.
Comment[pt]=Sincroniza o AvantGo (ou, genericamente, o conteúdo de um servidor de MAL) para o dispositivo móvel. Isto permite-lhe ver as páginas Web no dispositivo móvel sem estar ligado, como o seu horário de cinema ou TV ou ainda qualquer outra página Web.
Comment[pt_BR]=Sincroniza AvantGo (ou geralmente o conteúodo de um servidor MAL) com o handheld. Isto permite que você visualize páginas web offline no handheld, por exemplo a grade do cinema ou TV, ou qualquer outra página.
Comment[ru]=Синхронизация AvantGo (содержимого серверов MAL) с КПК. Это позволит вам просматривать веб-страницы без подключения к Интернет.
Comment[sr]=Синхронизује AvantGo (или уопштено садржај MAL сервера) са ручним рачунаром. Ово вам омогућава да на ручном рачунару прегледате веб стране ван везе, као биоскопски или ТВ програм, или било коју другу веб страну.
Comment[sr@Latn]=Синхронизује AvantGo (или уопштено садржај MAL сервера) са ручним рачунаром. Ово вам омогућава да на ручном рачунару прегледате веб стране ван везе, као биоскопски или ТВ програм, или било коју другу веб страну.
Comment[sv]=Synkronisera AvantGo (eller mer allmänt innehållet på en MAL-server) med handdatorn. Det låter dig titta på webbsidor i nerkopplat läge på handdatorn, som bio eller tv-program, eller vilken annan webbsida som helst.
Comment[tr]=AvantGo içeriğini (ya da genel olarak MAL sunucuları içeriğini) el bilgisayarı ile birleştirir. Bu, web sayfalarını el bilgisayarınızda çevirim dışı olarak görüntülemenizi sağlar.
Comment[uk]=Синхронізація AvantGo (або вміст серверів MAL) на кишеньковий пристрій . Це дозволяє переглядати веб-сторінки на кишеньковому пристрої без з'єднання з Інтернетом.
Comment[xx]=xxSyncronize AvantGo (or generally a MAL server's content) to the handheld. This allows you to view web-pages offline on the handheld, like your cinema or TV schedule, or any other web page.xx
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_mal
