[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MAL (AvantGo) Conduit
Name[x-test]=xxMAL (AvantGo) Conduitxx
Comment=Syncronize AvantGo (or generally a MAL server's content) to the handheld. This allows you to view web-pages offline on the handheld, like your cinema or TV schedule, or any other web page.
Comment[x-test]=xxSyncronize AvantGo (or generally a MAL server's content) to the handheld. This allows you to view web-pages offline on the handheld, like your cinema or TV schedule, or any other web page.xx
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_mal
