[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Electronic Business Card Files
Name[x-test]=xxElectronic Business Card Filesxx
ServiceTypes=ThumbCreator
MimeTypes=text/directory;text/x-vcard,text/x-ldif
X-KDE-Library=ldifvcardthumbnail
CacheThumbnail=false
