[Desktop Entry]
Type=Service
ServiceTypes=PimCommonStorageService/Plugin
X-KDE-Library=pimcommon_webdavplugin
Name=Webdav
Name[ca]=Webdav
Name[ca@valencia]=Webdav
Name[de]=Webdav
Name[en_GB]=Webdav
Name[es]=Webdav
Name[fi]=Webdav
Name[gl]=Webdav
Name[it]=Webdav
Name[nl]=Webdav
Name[pl]=Webdav
Name[pt]=WebDAV
Name[pt_BR]=Webdav
Name[sk]=Webdav
Name[sl]=Webdav
Name[sr]=вебДАВ
Name[sr@ijekavian]=вебДАВ
Name[sr@ijekavianlatin]=WebDAV
Name[sr@latin]=WebDAV
Name[sv]=WebDAV
Name[uk]=Webdav
Name[x-test]=xxWebdavxx
