[Desktop Entry]
X-DocPath=kjots/index.html
Name=KJots
Name[af]=Kjots
Name[hr]=Bilješke
Name[sv]=Kjots
Name[ta]= KJots
Name[x-test]=xxKJotsxx
Name[xh]=Amaxabiso amancinane e K
GenericName=Note Taker
GenericName[af]=Nota Afnemer
GenericName[ar]=برنامج لأخذ الملاحظات
GenericName[ca]=Anotador
GenericName[cs]=Poznámkový blok
GenericName[cy]=Cofnodydd
GenericName[da]=Notetager
GenericName[de]=Elektronischer Notizblock
GenericName[el]=Καταγραφέας σημειώσεων
GenericName[eo]=Notolibro
GenericName[es]=Para tomar notas
GenericName[et]=Märkmete tegemine
GenericName[eu]=Ohar Hartzailea
GenericName[fa]=یادداشت بردار
GenericName[fi]=Muistilappuohjelma
GenericName[fr]=Prise de notes
GenericName[ga]=Eagarthóir Nótaí
GenericName[gl]=Toma notas
GenericName[he]=כותב הערות
GenericName[hr]=Program za pisanje bilježaka
GenericName[hu]=Jegyzetlapok
GenericName[is]=Minnispunktar
GenericName[it]=Blocco per appunti
GenericName[ja]=メモを取る
GenericName[kk]=Шағын дәптер
GenericName[km]=ឧបករណ៍​កត់​ចំណាំ
GenericName[ko]=메모 관리 도구
GenericName[lt]=Pastabų gavėjas
GenericName[lv]=Piezīmju ņēmējs
GenericName[mk]=Прибележувач
GenericName[ms]=Pengambil Nota
GenericName[nb]=Notislapp-verktøy
GenericName[nds]=Notizen maken
GenericName[ne]=टिपोट टेकर
GenericName[nl]=Notitieboekje
GenericName[nn]=Notatprogram
GenericName[pa]=ਨੋਟ ਲਵੋ
GenericName[pl]=Notatnik
GenericName[pt]=Bloco de Notas
GenericName[pt_BR]=Tomador de Notas
GenericName[ro]=Notiţe
GenericName[ru]=Записная книжка
GenericName[sk]=Ukladanie poznámok
GenericName[sl]=Majhna beležnica
GenericName[sr]=Прибележивач
GenericName[sr@latin]=Pribeleživač
GenericName[sv]=Elektroniska anteckningar
GenericName[ta]= குறிப்பு எடுப்பான்
GenericName[tg]=Китобчаи Навиштаҷот
GenericName[tr]=Not alıcı
GenericName[uk]=Записна книжка
GenericName[vi]=Chương Trình Ghi Chú
GenericName[wa]=Usteye po prinde des notes
GenericName[x-test]=xxNote Takerxx
GenericName[xh]=Umthathi Womakuqwalaselwe
GenericName[zh_CN]=笔记记录
GenericName[zh_TW]=筆記簡記
Icon=kjots
Exec=kjots -caption "%c"
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
