[Desktop Entry]
X-DocPath=kjots/index.html
Name=KJots
Name[ar]=ملاحظات KJots
Name[bg]=KJots
Name[bs]=KJots
Name[ca]=KJots
Name[ca@valencia]=KJots
Name[cs]=KJots
Name[da]=KJots
Name[de]=KJots
Name[el]=KJots
Name[en_GB]=KJots
Name[es]=KJots
Name[et]=KJots
Name[fi]=KJots
Name[fr]=KJots
Name[ga]=KJots
Name[gl]=KJots
Name[hu]=KJots
Name[ia]=KJots
Name[it]=KJots
Name[ja]=KJots
Name[kk]=KJots
Name[km]=KJots
Name[ko]=KJots
Name[lt]=KJots
Name[lv]=KJots
Name[mr]=के-जोट्स
Name[nb]=KJots
Name[nds]=KJots
Name[nl]=KJots
Name[nn]=KJots
Name[pa]=ਕੇ-ਜੋਟਸ
Name[pl]=KJots
Name[pt]=KJots
Name[pt_BR]=KJots
Name[ro]=KJots
Name[ru]=KJots
Name[sk]=KJots
Name[sl]=KJots
Name[sr]=К‑џотс
Name[sr@ijekavian]=К‑џотс
Name[sr@ijekavianlatin]=KJots
Name[sr@latin]=KJots
Name[sv]=Kjots
Name[tr]=KJots
Name[ug]=KJots
Name[uk]=KJots
Name[wa]=KJots
Name[x-test]=xxKJotsxx
Name[zh_CN]=KJots
Name[zh_TW]=KJots
GenericName=Note Taker
GenericName[ar]=آخذ الملاحظات
GenericName[bs]=Pisanje poruka
GenericName[ca]=Bloc de notes
GenericName[ca@valencia]=Bloc de notes
GenericName[cs]=Nástroj pro poznámky
GenericName[da]=Notetager
GenericName[de]=Elektronischer Notizblock
GenericName[el]=Σημειώσεις
GenericName[en_GB]=Note Taker
GenericName[es]=Apuntador de notas
GenericName[et]=Märkmete rakendus
GenericName[fi]=Muistiinpano-ohjelma
GenericName[fr]=Prise de note
GenericName[ga]=Eagarthóir Nótaí
GenericName[gl]=Caderno de notas
GenericName[hu]=Feljegyzéskezelő
GenericName[ia]=Prenditor de Nota
GenericName[it]=Blocco appunti
GenericName[ja]=メモ帳
GenericName[kk]=Шағын дәптер
GenericName[km]=កម្មវិធី​ទទួល​ចំណាំ
GenericName[ko]=메모장
GenericName[lt]=Konspektavimo įrankis
GenericName[lv]=Piezīmju blociņš
GenericName[mr]=नोंद लिहिणारा
GenericName[nb]=Notisblokk
GenericName[nds]=Notizenprogramm
GenericName[nl]=Notitieboekje
GenericName[nn]=Notatprogram
GenericName[pa]=ਨੋਟ ਟੇਕਰ
GenericName[pl]=Notes
GenericName[pt]=Bloco de Notas
GenericName[pt_BR]=Tomador de notas
GenericName[ro]=Carnețel de note
GenericName[ru]=Блокнот
GenericName[sk]=Ukladanie poznámok
GenericName[sl]=Beležnica
GenericName[sr]=Бележник
GenericName[sr@ijekavian]=Биљежник
GenericName[sr@ijekavianlatin]=Bilježnik
GenericName[sr@latin]=Beležnik
GenericName[sv]=Anteckningsblock
GenericName[tr]=Not Alıcı
GenericName[ug]=خاتىرە قالدۇرغۇچ
GenericName[uk]=Записна книжка
GenericName[wa]=Usteye po prinde des notes
GenericName[x-test]=xxNote Takerxx
GenericName[zh_CN]=个人笔记
GenericName[zh_TW]=便條取用器
Icon=kjots
Exec=kjots -caption %c
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
