[Desktop Entry]
X-DocPath=kjots/index.html
Name=KJots
GenericName=Note Taker
GenericName[pt]=Bloco de Notas
GenericName[pt_BR]=Tomador de Notas
GenericName[uk]=Записна книжка
GenericName[zh_TW]=便條取用器
Icon=kjots
Exec=kjots -caption "%c"
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
