[Desktop Entry]
Type=Service
Name=OrganizerPart
Name[be]=Частка "Арганізатар"
Name[ca]=Part de Organizer
Name[cs]=Komponenta organizéru
Name[de]=KOrganizer-Komponente
Name[en_GB]=OrganiserPart
Name[eo]=Organizilo-parto
Name[et]=Organizeri komponent
Name[fr]=Composant d'organiseur
Name[he]=רכיב אירגונית
Name[hi]=ऑर्गेनाइज़र-पार्ट
Name[hr]=Organizer komponenta
Name[it]=Parte Organizer
Name[ja]=Organizeパート
Name[nb]=Tidsplanleggerdel
Name[nl]=Organizer-part
Name[nn]=Tidsplanleggjardel
Name[nso]=Seripa sa Mmeakanyi
Name[pl]=Komponent Organizatora
Name[pt]=Componente Organizer
Name[pt_BR]=Componente do KOrganizer
Name[ro]=Componentă organizator
Name[ru]=Компонент органайзера
Name[sr]=Део Organizer
Name[sv]=Organizerdel
Name[ta]=அமைப்பாளர் பகுதி
Name[uk]=Складова Organizer
Name[ven]=Tshipida tsha mudzudzanyi
Name[xh]=IndawanaYomququzeleli
Name[xx]=xxOrganizerPartxx
Name[zu]=Ingxenye Yokuhlela
Icon=korganizer
ServiceTypes=KitchenSync/Manipulator
X-KDE-Library=liborganizerpart
