<!DOCTYPE kpartgui>
<kpartgui name="multisynk" version="1">
  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Merge/>
      <Action name="quit"/>
    </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar"><text>Main</text>
    <Action name="new"/>
    <Action name="edit"/>
    <Action name="delete"/>
    <Separator/>
    <Action name="log"/>
    <Separator/>
    <Action name="sync"/>
  </ToolBar>
</kpartgui>
