[Desktop Entry]
Encoding=UTF-8
Name=MultiSynK
Name[sv]=Multisynk
GenericName=Synchronization
GenericName[bg]=Синхронизация
GenericName[ca]=Sincronització
GenericName[cs]=Synchronizace
GenericName[cy]=Cydamseriad
GenericName[da]=Synkronisering
GenericName[de]=Abgleich
GenericName[el]=Συγχρονισμός
GenericName[es]=Sincronización
GenericName[et]=Sünkroniseerimine
GenericName[eu]=Sinkronizazioa
GenericName[fi]=Synkronointi
GenericName[fr]=Synchronisation
GenericName[ga]=Sioncrónú
GenericName[he]=סינכרון
GenericName[hu]=Szinkronizáció
GenericName[is]=Samstilling
GenericName[it]=Sincronizzazione
GenericName[lt]=Sinchronizacija
GenericName[nb]=Synkronisering
GenericName[nds]=Synkroniseren
GenericName[nl]=Synchronisatie
GenericName[nn]=Synkronisering
GenericName[pl]=Synchronizacja
GenericName[pt]=Sincronização
GenericName[pt_BR]=Gerenciador de Sincronização
GenericName[ru]=Синхронизация
GenericName[sl]=Usklajevanje
GenericName[sr]=Синхронизација
GenericName[sr@Latn]=Sinhronizacija
GenericName[sv]=Synkronisering
GenericName[ta]=கூட்டிணைப்பு
GenericName[tr]=Senkronizasyon
GenericName[uk]=Синхронізація
GenericName[zh_CN]=同步
Exec=multisynk
Icon=multisynk
Type=Application
DocPath=multisynk/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=multisynk
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libmultisynkpart
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
