[Desktop Entry]
Name=Import Wizard
Name[de]=Import-Assistent 
Name[es]=Asistente de importación
Name[ia]=Assistente de Importar
Name[nb]=Importveiviser
Name[nl]=Assistent voor importeren
Name[pl]=Asystent importu
Name[pt]=Assistente de Importação
Name[pt_BR]=Assistente de importação
Name[sv]=Importguide
Name[uk]=Майстер імпортування
Name[x-test]=xxImport Wizardxx
Name[zh_TW]=匯入精靈
Exec=importwizard
Type=Application
NoDisplay=true
Icon=kontact-import-wizard
Comment=Launch the import wizard to migrate data from mailer as thunderbird/evolution etc.
Comment[es]=Lanza el asistente de importación para migrar datos desde un gestor de correo como thunderbird/evolution, etc.
Comment[ia]=Lancea le assistente de importation pro migrar datos ex clientes de posta como thunderbird/evolution etc.
Comment[nb]=Start importveiviseren for å hente inn data fra e-postprogrammer slik som thunderbird/evolution osv.
Comment[nl]=Start de assistent voor importeren om gegevens van een mailer als thunderbird/evolution etc. te migreren.
Comment[pl]=Uruchom asystenta importu, aby przenieść dane z takich programów pocztowych jak thunderbird, evolution itp.
Comment[pt]=Invoca o assistente de importação para migrar os dados dos sistemas de e-mail, como o Thunderbird/Evolution etc.
Comment[pt_BR]=Carrega o assistente de importação para migrar os dados dos sistemas de e-mail, tais como o Thunderbird/Evolution, etc.
Comment[sv]=Starta importguiden för att överföra data från e-postprogram som thunderbird, evolution, etc.
Comment[uk]=Запустити майстер імпортування даних з поштових програм, зокрема thunderbird, evolution тощо
Comment[x-test]=xxLaunch the import wizard to migrate data from mailer as thunderbird/evolution etc.xx
Comment[zh_TW]=啟動匯入精靈，將其他程式如 thunderbird 或 evolution 的資料搬過來。
Terminal=false
