[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Kontact Touch Calendar
Name[da]=Kontact Touch Kalender
Name[es]=Calendario Kontact táctil
Name[et]=Kontact Touchi kalender
Name[ia]=Calendario de Touch de Kontact
Name[it]=Kontact Touch Calendar
Name[kk]=Kontact Touch күнтізбесі
Name[nds]=Kalenner för Anröögschirm-Kontact
Name[nl]=Aanraakagenda van Kontact
Name[pt]=Calendário do Kontact Touch
Name[pt_BR]=Calendário do Kontact Touch
Name[sv]=Kontact Touch kalender
Name[uk]=Календар Kontact Touch
Name[x-test]=xxKontact Touch Calendarxx
Name[zh_TW]=Kontact Touch 行事曆
Exec=korganizer-mobile

Icon=korganizer-mobile
Type=Application
MimeType=text/calendar;
X-KDE-ServiceTypes=DBUS/Organizer
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.korganizer
Keywords=mobile
Keywords[ca]=mòbil
Keywords[ca@valencia]=mòbil
Keywords[da]=mobil
Keywords[de]=Mobil
Keywords[el]=κινητό
Keywords[en_GB]=mobile
Keywords[es]=móvil
Keywords[et]=mobiil
Keywords[fr]=mobile
Keywords[gl]=móbil
Keywords[ia]=mobile
Keywords[it]=mobile
Keywords[ja]=モバイル
Keywords[kk]=mobile
Keywords[km]=ចល័ត
Keywords[lt]=mobilus
Keywords[nb]=mobil
Keywords[nds]=mobil
Keywords[nl]=mobiel
Keywords[pa]=ਮੋਬਾਇਲ
Keywords[pt]=móvel
Keywords[pt_BR]=móvel
Keywords[sv]=mobil
Keywords[tr]=mobil
Keywords[uk]=мобільний
Keywords[x-test]=xxmobilexx
Keywords[zh_TW]=行動版
