[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;
Exec=kleopatra
Icon=kleopatra
Name=Kleopatra
Name[af]=Kleopatra
Name[ar]=كليوبترا
Name[be]=Kleopatra
Name[bg]=Kleopatra
Name[br]=Kleopatra
Name[bs]=Kleopatra
Name[ca]=Kleopatra
Name[ca@valencia]=Kleopatra
Name[cs]=Kleopatra
Name[cy]=Kleopatra
Name[da]=Kleopatra
Name[de]=Kleopatra
Name[el]=Kleopatra
Name[en_GB]=Kleopatra
Name[eo]=Kleopatra
Name[es]=Kleopatra
Name[et]=Kleopatra
Name[eu]=Kleopatra
Name[fi]=Kleopatra
Name[fr]=Kleopatra
Name[fy]=Kleopatra
Name[ga]=Kleopatra
Name[gl]=Kleopatra
Name[he]=Kleopatra
Name[hu]=Kleopatra
Name[ia]=Kleopatra
Name[is]=Kleópatra
Name[it]=Kleopatra
Name[ja]=Kleopatra
Name[ka]=Kleopatra
Name[kk]=Kleopatra
Name[km]=Kleopatra
Name[ko]=Kleopatra
Name[lt]=Kleopatra
Name[lv]=Kleopatra
Name[mk]=Клеопатра
Name[mr]=क्लिओपात्रा
Name[ms]=Kleopatra
Name[nb]=Kleopatra
Name[nds]=Kleopatra
Name[ne]=क्लेओपेट्रा
Name[nl]=Kleopatra
Name[nn]=Kleopatra
Name[oc]=Kleopatra
Name[pa]=ਕਲੀਉਪਾਟਰਾ
Name[pl]=Kleopatra
Name[pt]=Kleopatra
Name[pt_BR]=Kleopatra
Name[ro]=Kleopatra
Name[ru]=Kleopatra
Name[se]=Kleopatra
Name[sk]=Kleopatra
Name[sl]=Kleopatra
Name[sr]=Клеопатра
Name[sr@ijekavian]=Клеопатра
Name[sr@ijekavianlatin]=Kleopatra
Name[sr@latin]=Kleopatra
Name[sv]=Kleopatra
Name[ta]=க்ளியோபட்ரா
Name[tg]=Kleopatra
Name[tr]=Kleopatra
Name[ug]=Kleopatra
Name[uk]=Kleopatra
Name[uz]=Kleopatra
Name[uz@cyrillic]=Kleopatra
Name[wa]=Kleopatra
Name[x-test]=xxKleopatraxx
Name[zh_CN]=Kleopatra
Name[zh_TW]=Kleopatra
GenericName=Certificate Manager and Unified Crypto GUI
GenericName[bs]=Upravitelj certifikata i grafičko okruženje za Unified Crypto
GenericName[ca]=Gestor de certificats i IGU criptogràfica unificada
GenericName[ca@valencia]=Gestor de certificats i IGU criptogràfica unificada
GenericName[cs]=Správce certifikátů a rozhraní pro šifrování
GenericName[da]=Certifikathåndtering og forenet krypterings-GUI
GenericName[de]=Zertifikatsverwaltung und Kryptografie-Oberfläche
GenericName[el]=Περιβάλλον διαχείρισης πιστοποιητικών και ενοποιημένης κρυπτογράφησης
GenericName[en_GB]=Certificate Manager and Unified Crypto GUI
GenericName[es]=Gestor de certificados e interfaz gráfica de usuario unificada de cifrado
GenericName[et]=Sertifikaadihaldur ja ühendatud krüptimise graafiline kasutajaliides
GenericName[fi]=Varmenteiden hallinta ja yhtenäinen salauskäyttöliittymä
GenericName[fr]=Interface de gestion des certificats et cryptographie unifiée
GenericName[gl]=Xestor de certificados e interface gráfica unificada de criptografí­a
GenericName[hu]=Tanúsítványkezelő és egységes kriptográfiai kezelőfelület
GenericName[ia]=Gerente de certificatos e interfacie unificate de Crypto
GenericName[it]=Gestore di certificati e interfaccia grafica unificata di crittografia
GenericName[ja]=証明書マネージャと、統合された暗号 GUI
GenericName[kk]=Куәлік менеджері мен шифрлау интерфейсі
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​វិញ្ញាបនបត្រ និង​ Unified Crypto GUI
GenericName[ko]=인증서 관리자와 통합된 암호화 GUI
GenericName[lt]=Liudijimų tvarkytuvė ir jungtinė kriptografijos grafinė sąsaja
GenericName[lv]=Sertifikātu pārvaldnieks un vienota kriptofgrāfijas saskarne
GenericName[mr]=प्रमाणपत्र व्यवस्थापक व एकत्रित क्रिप्टो GUI
GenericName[nb]=Sertifikatbehandler og forent krypto-GUI
GenericName[nds]=Zertifikatenpleger un eenheitlich Verslötel-Böversiet
GenericName[nl]=Certificaatbeheer en GUI voor Unified Crypto
GenericName[nn]=Sertifikathandsamar og sameina krypteringsgrensesnitt
GenericName[pa]=ਸਰਟੀਫਿਕੇਟ ਮੈਨੇਜਰ ਅਤੇ ਇੱਕ ਕ੍ਰਿਪਟੂ GUI
GenericName[pl]=Zarządzanie certyfikatami i zunifikowane GUI kryptograficzne
GenericName[pt]=Gestor de Certificados e GUI Unificada de Criptografia
GenericName[pt_BR]=Gerenciador de certificados e interface gráfica de criptografia unificada
GenericName[ro]=Gestionar de certificate și interfață de criptare unificată
GenericName[ru]=Управление сертификатами
GenericName[sk]=Správca certifikátov a unifikované šifrovacie grafické rozhranie
GenericName[sl]=Upravljalnik potrdil in enoten šifrirni vmesnik
GenericName[sr]=Менаџер сертификата и обједињено сучеље за шифровање
GenericName[sr@ijekavian]=Менаџер сертификата и обједињено сучеље за шифровање
GenericName[sr@ijekavianlatin]=Menadžer sertifikata i objedinjeno sučelje za šifrovanje
GenericName[sr@latin]=Menadžer sertifikata i objedinjeno sučelje za šifrovanje
GenericName[sv]=Certifikathantering och gemensamt grafiskt användargränssnitt för kryptering
GenericName[tr]=Sertifika Yöneticisi ve Birleşik Şifreleme Arayüzü
GenericName[ug]=گۇۋاھنامە باشقۇرغۇ ۋەبىرلىككە كەلگەن شىفىرلاش گرافىكىلىق ئارايۈزى 
GenericName[uk]=Засіб для керування сертифікатами і уніфікований графічний інтерфейс шифрування
GenericName[wa]=GUI manaedjeu d' acertineures eyet d' ecriptaedje unifyî
GenericName[x-test]=xxCertificate Manager and Unified Crypto GUIxx
GenericName[zh_CN]=证书管理器和统一的密钥操作界面
GenericName[zh_TW]=憑證管理與統一加密介面
Terminal=false
X-KDE-StartupNotify=true
X-DocPath=kleopatra/index.html
