[Desktop Entry]
Type=Service
Encoding=UTF-8
X-KDE-ServiceTypes=inode/directory,KonqPopupMenu/Plugin
Actions=kleosignencryptfolder;kleoencryptfolder;
Name=Kleopatra Sign/Encrypt Folders
Name[ca]=Signatura/Xifrat de carpetes del Kleopatra
Name[da]=Kleopatra signér/kryptér mapper
Name[de]=Kleopatra - Ordner Signieren/Verschlüsseln
Name[el]=Υπογραφή/κρυπτογράφηση φακέλων μέσω Kleopatra
Name[et]=Kleopatra kataloogide allkirjastamine/krüptimine
Name[fr]=Kleopatra signature et chiffrement de dossiers
Name[gl]=Asinar/Cifrar Cartafoles con Kleopatra
Name[it]=Kleopatra firma/codifica cartelle
Name[ja]=Kleopatra フォルダに署名/暗号化
Name[km]=Kleopatra ចុះហត្ថលេខា/អ៊ីនគ្រិប​ថត
Name[nds]=Kleopatra-Ornerverslöteln/-ünnerschrieven
Name[nn]=Kleopatra signer/krypter mapper
Name[pl]=Podpisywanie/szyfrowanie katalogów w Kleopatrze
Name[pt]=Assinatura/Encriptação de Pastas do Kleopatra
Name[pt_BR]=Assinatura/Criptografia de pastas do Kleopatra
Name[sv]=Signera och kryptera kataloger med Kleopatra
Name[tr]=Kleopatra Dizinleri İmzala/Şifrele
Name[uk]=Підписування/Шифрування тек у Kleopatra
Name[zh_CN]=Kleopatra 签名/加密文件夹
Name[zh_TW]=Kleopatra 簽署/加密資料夾

[Desktop Action kleosignencryptfolder]
Name=Archive, Sign & Encrypt Folder
Name[ca]=Arxivat, signatura i xifrat de carpeta
Name[da]=Arkivér, signér og kryptér mappe
Name[de]=Ordner packen, signieren & verschlüsseln
Name[el]=Αρχειοθέτηση, υπογραφή & κρυπτογράφηση φακέλου
Name[et]=Kataloogi arhiveerimine, allkirjastamine ja krüptimine
Name[fr]=Archiver, signer et chiffrer le dossier
Name[gl]=Arquivar, Asinar e Cifrar Cartafol
Name[it]=Archivia, firma e codifica cartella
Name[ja]=フォルダをアーカイブして署名、暗号化
Name[km]=ប័ណ្ណសារ ចុះហត្ថលេខា និង​អ៊ីនគ្រិប​ថត
Name[nds]=Orner archiveren, verslöteln un ünnerschrieven
Name[nn]=Arkiver, signer og krypter mappe
Name[pl]=Archiwizuj, podpisz i zaszyfruj katalog
Name[pt]=Arquivar, Assinar e Encriptar a Pasta
Name[pt_BR]=Arquivar, assinar e criptografa a pasta
Name[sv]=Arkivera, signera och kryptera katalog
Name[tr]=Dizini Arşivle, İmzala & Şifrele
Name[uk]=Архівувати, підписати і зашифрувати теку
Name[zh_CN]=归档、签名并加密文件夹
Name[zh_TW]=歸檔，簽署與加密資料夾
Icon=kleopatra
Exec=kleopatra --sign-encrypt %F

[Desktop Action kleoencryptfolder]
Name=Archive & Encrypt Folder
Name[ca]=Arxivat i xifrat de carpeta
Name[da]=Arkivér og kryptér mappe
Name[de]=Ordner packen und verschlüsseln
Name[el]=Αρχειοθέτηση & κρυπτογράφηση φακέλου
Name[et]=Kataloogi arhiveerimine ja krüptimine
Name[fr]=Archiver et chiffrer le dossier
Name[gl]=Arquivar e Cifrar Cartafol
Name[it]=Archivia e codifica cartella
Name[ja]=フォルダをアーカイブして暗号化
Name[km]=ប័ណ្ណសារ និង​អ៊ីនគ្រិប​ថត
Name[nds]=Orner archiveren un verslöteln
Name[nn]=Arkiver og krypter mappe
Name[pl]=Zarchiwizuj i zaszyfruj katalog
Name[pt]=Arquivar e Cifrar a Pasta
Name[pt_BR]=Arquivar e criptografar a pasta
Name[sv]=Arkivera och kryptera katalog
Name[tr]=Dizini Arşivle & Şifrele
Name[uk]=Зробити архів теки і зашифрувати
Name[zh_CN]=归档并加密文件夹
Name[zh_TW]=歸檔並加密資料夾
Icon=kleopatra
Exec=kleopatra --encrypt %F
