<!DOCTYPE kpartgui >
<kpartgui name="kleopatra" version="406" >
<MenuBar>
	<Menu name="file">
		<text>&amp;File</text>
		<Action name="file_new_certificate"/>
		<Separator/>
		<Action name="file_import_certificates"/>		        
		<Action name="file_import_crls"/>
		<Action name="file_export_certificates"/>
		<Action name="file_export_secret_keys"/>
		<Action name="quit" />
	</Menu>
	<Menu name="view">
		<text>&amp;View</text>
		<Action name="view_redisplay"/>
                <Separator/>
		<Action name="view_stop_operations"/>
                <Action name="view_certificate_details"/>
	</Menu>
	<Menu name="certMenu">
		<text>&amp;Certificates</text>
		<Action name="certificates_validate"/>
        </Menu>
        <Menu name="window">
                <text>&amp;Window</text>
                <Action name="window_rename_tab"/>
                <Separator/>
                <Action name="window_new_tab"/>
                <Action name="window_duplicate_tab"/>
                <Action name="window_close_tab"/>
                <Separator/>
                <Action name="window_move_tab_left"/>
                <Action name="window_move_tab_right"/>
        </Menu>
	<Menu name="settings">
		<text>&amp;Settings</text>
		<Action name="check_configuration" append="save_merge"/>		
	</Menu>
        
	<Menu name="help"/>
</MenuBar>

<ToolBar position="Top" iconText="IconOnly" noMerge="1" name="searchToolBar" >
	<text>Search Toolbar</text>
	<Action name="key_search_bar" />
</ToolBar>

</kpartgui>
