[Desktop Entry]
Type=Service
Encoding=UTF-8
# all files inherit from application/octet-stream
MimeType=application/octet-stream;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Name=Kleopatra Sign/Encrypt Files
Actions=kleoencryptsignfiles;kleoencryptfiles;kleosignfilesopenpgp;kleosignfilescms;

[Desktop Action kleoencryptsignfiles]
Name=Encrypt & Sign File
Icon=kleopatra
Exec=kleopatra --sign-encrypt %F

[Desktop Action kleoencryptfiles]
Name=Encrypt File
Icon=kleopatra
Exec=kleopatra --encrypt %F

[Desktop Action kleosignfilesopenpgp]
Name=OpenPGP-Sign File
Icon=kleopatra
Exec=kleopatra --openpgp --sign %F

[Desktop Action kleosignfilescms]
Name=S/MIME-Sign File
Icon=kleopatra
Exec=kleopatra --cms --sign %F

