[Desktop Entry]
Type=Service
Encoding=UTF-8
# all files inherit from application/octet-stream
MimeType=application/octet-stream;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Name=Kleopatra Sign/Encrypt Files
Name[ca]=Signatura/Xifrat de fitxers del Kleopatra
Name[da]=Kleopatra signér/kryptér filer
Name[de]=Kleopatra - Signieren/Verschlüsseln von Dateien
Name[el]=Υπογραφή/κρυπτογράφηση αρχείων μέσω Kleopatra
Name[et]=Kleopatra failide allkirjastamine/krüptimine
Name[fr]=Kleopatra signature et chiffrement de fichiers
Name[gl]=Asinar/Cifrar Ficheiros con Kleopatra
Name[it]=Kleopatra firma/codifica file
Name[ja]=Kleopatra ファイルに署名/暗号化
Name[km]=Kleopatra ចុះហត្ថលេខា/អ៊ីនគ្រិប​ឯកសារ
Name[nds]=Kleopatra-Dateiverslöteln/-ünnerschrieven
Name[pl]=Podpisz/zaszyfruj pliki w Kleopatrze
Name[pt]=Assinatura/Encriptação de Ficheiros do Kleopatra
Name[pt_BR]=Assinatura/Criptografia de arquivos do Kleopatra
Name[sv]=Signera och kryptera filer med Kleopatra
Name[tr]=Kleopatra Dosyaları İmzala/Şifrele
Name[uk]=Підписування/Шифрування файлів у Kleopatra
Name[zh_CN]=Kleopatra 签名/加密文件
Name[zh_TW]=Kleopatra 簽署/加密檔案
Actions=kleoencryptsignfiles;kleoencryptfiles;kleosignfilesopenpgp;kleosignfilescms;

[Desktop Action kleoencryptsignfiles]
Name=Encrypt & Sign File
Name[ca]=Signatura i xifrat de fitxer
Name[da]=Kryptér og signér fil
Name[de]=Datei verschlüsseln & signieren
Name[el]=Κρυπτογράφηση & υπογραφή αρχείου
Name[et]=Faili krüptimine ja allkirjastamine
Name[fr]=Chiffrer et signer le fichier
Name[gl]=Cifrar e Asinar Ficheiro
Name[it]=Codifica e firma file
Name[ja]=ファイルに署名/暗号化
Name[km]=អ៊ីនគ្រិប និង​ចុះហត្ថលេខា​ឯកសារ
Name[nds]=Datei verslöteln un ünnerschrieven
Name[pl]=Szyfruj i podpisz plik
Name[pt]=Encriptar & Assinar o Ficheiro
Name[pt_BR]=Criptografar e assinar o arquivo
Name[sv]=Kryptera och signera fil
Name[th]=เข้ารหัสและเซ็นกำกับแฟ้ม
Name[tr]=Dosyayı Şifrele & İmzala
Name[uk]=Зашифрувати і підписати файл
Name[zh_CN]=加密并签名文件
Name[zh_TW]=加密與簽署檔案
Icon=kleopatra
Exec=kleopatra --sign-encrypt %F

[Desktop Action kleoencryptfiles]
Name=Encrypt File
Name[ca]=Xifrat de fitxer
Name[da]=Kryptér fil
Name[de]=Datei verschlüsseln
Name[el]=Κρυπτογράφηση αρχείου
Name[et]=Faili krüptimine
Name[fr]=Chiffrer le fichier
Name[gl]=Cifrar Ficheiro
Name[it]=Codifica file
Name[ja]=ファイルを暗号化
Name[km]=អ៊ីនគ្រិប​ឯកសារ
Name[nds]=Datei verslöteln
Name[pl]=Szyfruj plik
Name[pt]=Cifrar o Ficheiro
Name[pt_BR]=Criptografar o arquivo
Name[sv]=Kryptera fil
Name[th]=เข้ารหัสแฟ้ม
Name[tr]=Dosyayı Şifrele
Name[uk]=Зашифрувати файл
Name[zh_CN]=加密文件
Name[zh_TW]=加密檔案
Icon=kleopatra
Exec=kleopatra --encrypt %F

[Desktop Action kleosignfilesopenpgp]
Name=OpenPGP-Sign File
Name[ca]=Signatura OpenPGP de fitxer
Name[da]=OpenPGP-signér fil
Name[de]=Datei mit OpenPGP signieren
Name[el]=Υπογραφή OpenPGP αρχείου
Name[et]=Faili OpenPGP-allkirjastamine
Name[fr]=Signer le fichier avec OpenPGP
Name[gl]=Asinar Ficheiro con OpenPGP
Name[it]=Firma file con OpenPGP
Name[ja]=OpenPGP でファイルに署名
Name[km]=OpenPGP-ចុះហត្ថលេខា​ឯកសារ
Name[nds]=OpenPGP-Dateiünnerschrift
Name[pl]=Podpisz plik za pomocą OpenPGP
Name[pt]=Assinar o Ficheiro com o OpenPGP
Name[pt_BR]=Assinar o arquivo com o OpenPGP
Name[sv]=Signera fil med OpenPGP
Name[tr]=Dosyayı OpenPGP-İmzala
Name[uk]=Підписати файл з OpenPGP
Name[zh_CN]=OpenPGP 签名文件
Name[zh_TW]=OpenPGP─簽署檔案
Icon=kleopatra
Exec=kleopatra --openpgp --sign %F

[Desktop Action kleosignfilescms]
Name=S/MIME-Sign File
Name[ca]=Signatura S/MIME de fitxer
Name[da]=S/MIME-signér fil
Name[de]=Datei mit S/MIME signieren
Name[el]=Υπογραφή S/MIME αρχείου
Name[et]=Faili S/MIME-allkirjastamine
Name[fr]=Signer le fichier avec S/MIME
Name[gl]=Asinar Ficheiro con S/MIME
Name[it]=Firma file con S/MIME
Name[ja]=S/MIME でファイルに署名
Name[km]=S/MIME-ចុះហត្ថលេខា​​ឯកសារ
Name[nds]=S/MIME-Dateiünnerschrift
Name[pl]=Podpisz plik za pomocą S/MIME
Name[pt]=Assinar o Ficheiro com o S/MIME
Name[pt_BR]=Assinar o arquivo com S/MIME
Name[sv]=Signera fil med S/MIME
Name[tr]=Dosyayı S/MIME-İmzala
Name[uk]=Підписати файл з S/MIME
Name[zh_CN]=S/MIME 签名文件
Name[zh_TW]=S/MIME─簽署檔案
Icon=kleopatra
Exec=kleopatra --cms --sign %F

