<style type="text/css">

body {
  background:url('{% media_finder "qt/images/background.png" %}');
}

div.top {
  height:20px;
  background-image:url('{% media_finder "qt/images/top.png" %}');
  background-repeat: repeat-x;
  margin:2px 0 0 0;
}

img.corner_left {
  float:left;
  margin-left:-3px;
}

img.corner_right {
  float:right;
}

div.side_left {
  background-image:url('{% media_finder "qt/images/side_left.png" %}');
  background-repeat:repeat-y;
  background-color: #48A81D;
  margin-left:-3px;

}

div.side_right {
  background-image:url('{% media_finder "qt/images/side_right.png" %}');
  background-position:right;
  background-repeat:repeat-y;
}

img.logo {
  float:left;
  margin:4% 0 0 0px;
}

h1 {
  font-size:1.2em;
  margin:0 5px 0 12%;
  padding:5px 0 0 0;
  color:#FFF;
}

p.date {
  text-align:right;
  font-size:11px;
  padding:10px 10px 0 0;
}

table.header {
  width: 98%;
  background-color:#FFF;
  background-repeat: repeat-y;
  border-bottom: solid #176700 1px ! important;
  border-left: solid #176700 1px ! important;
  border-right: solid #176700 1px ! important;
  border-top: solid #000 1px ! important;
  margin:0px 0px 0 3px;
}

th.header, td.data {
  font-size: 10px;
}

th.header {
  text-align:left;
  color:#186900;
}

a {
  color: #2C6413 ! important;
  text-decoration: none ! important;
}

</style>

<div id="top" class="top">
  <img src="{% media_finder "qt/images/top_left.png" %}" class="corner_left" />
  <img src="{% media_finder "qt/images/qt_logo.png" %}" class="logo">
  <img src="{% media_finder "qt/images/top_right.png" %}" class="corner_right" />
</div>

<div class="side_left">
<div class="side_right">

{% if subject %}
    <div dir="{{ subjectDir }}"><h1>{{ subject|safe }}</h1></div>
{% else %}
    No Subject
{% endif %}

<p class="date">Date: {{ date_long|safe }} </p>

<table class="header">

    <tr>
    <th class="header">From: </th>
    <td class="data">{{ from_FullAddress|safe }}

    {% if resentFrom %}
      &nbsp; Resent-From: {{ resentFrom|safe }}
    {% endif %}

    {% if vCardName %}
      &nbsp;&nbsp;<a href="{{ vCardName|safe }}">[vCard]</a>
    {% endif %}

    {% if organization %}
      &nbsp;&nbsp;("{{ organization|safe }}")
    {% endif %}

    </td>
    </tr>

    <tr>
    <th class="header">To: </th>
    <td class="data">{{ to_FullAddress_ShowLink|safe }}</td>
    </tr>

{% if cc_FullAddress_ShowLink %}
    <tr>
    <th class="header">CC: </th>
    <td class="data">{{ cc_FullAddress_ShowLink|safe }}</td>
    </tr>
{% endif %}

{% if bcc_FullAddress %}
    <tr>
    <th class="header">BCC: </th>
    <td class="data">{{ bcc_FullAddress|safe }}</td>
    </tr>
{% endif %}

    <tr>
    <td colspan="2"><div id="attachmentInjectionPoint"></div></td>
    </tr>

    </table>

</div>
</div>