[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Email Info
Name[be]=Інфармацыя аб паведамленьні электроннай пошты
Name[bg]=Информация за е-поща
Name[ca]=Informació de correu-e
Name[cs]=Informace o emailu
Name[cy]=Gwybodaeth Ebost
Name[da]=Email-info
Name[de]=E-Mail-Info
Name[el]=Πληροφορίες Email
Name[es]=Info de correo electrónico
Name[et]=Meili info
Name[fi]=Sähköpostitiedot
Name[fr]=Informations sur le courrier électronique
Name[he]=מידע על דוא"ל
Name[hi]=ई-मेल जानकारी
Name[hr]=Email Informacije
Name[hu]=E-mail-jellemzők
Name[is]=Email upplýsingar
Name[it]=Informazioni di posta elettronica
Name[ja]=Eメール 情報
Name[ms]=Info Emel
Name[nb]=E-post-info
Name[nl]=E-mail-informatie
Name[nn]=Epost-info
Name[pa]=ਈ-ਪੱਤਰ ਜਾਣਕਾਰੀ
Name[pl]=Informacja o e-mailu
Name[pt]=Informação do E-Mail
Name[pt_BR]=Informações sobre E-mail
Name[ro]=Informaţii e-mail
Name[ru]=Сведения об электронной почте
Name[se]=E-boastadieđut
Name[sk]=Informácie o emaily
Name[sl]=Informacije o e-pošti
Name[sr]=Е-поштанске информације
Name[sr@Latn]=E-poštanske informacije
Name[sv]=E-postinformation
Name[ta]=மின்னஞ்சல் தகவல்
Name[tg]=Иттилоот дар бораи почтаи электронӣ
Name[tr]=E-Posta Bilgisi
Name[uk]=Інформація про повідомлення ел. пошти
Name[xx]=xxEmail Infoxx
Name[zh_CN]=电子邮件信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_rfc822
MimeType=message/rfc822
PreferredGroups=Technical
PreferredItems=From,To,Subject,Date,Content-Type
