[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_cryptosettings
Name=Crypto Preferences
Name[da]=Krypto-indstillinger
Name[es]=Preferencias de cifrado
Name[et]=Krüptoseadistused
Name[nl]=Versleutelingsinstellingen
Name[sl]=Lastnosti šifriranja
Name[sv]=Krypteringsinställningar
Name[ta]= மறைக்குறிக்கு சலுகைகள்
Type=Service
ServiceTypes=KAddressBook/ContactEditorWidget
