[Desktop Entry]
Type=Service
Name=Instant Messaging
Name[bg]=Мигновени съобщения
Name[bs]=Instant poruke
Name[ca]=Missatgeria instantània
Name[es]=Mensajería instantánea
Name[et]=Kiirsuhtlus
Name[fr]=Messagerie instantanée
Name[gl]=Mensaxería Instantánea
Name[he]=מסרים מיידיים
Name[hu]=Azonnali üzenetküldés (IM)
Name[it]=Messaggistica istantanea
Name[nb]=Lynmelding
Name[nn]=Lynmelding
Name[pl]=Komunikacja internetowa
Name[pt]=Mensagens Instantâneas
Name[pt_BR]=Mensagem Instantâneo
Name[ru]=Службы обмена сообщениями
Name[sk]=Rozhovor
Name[sl]=Takojšno sporočanje
Name[sr]=Тренутне поруке
Name[sr@Latn]=Тренутне поруке
Name[sv]=Direktmeddelanden
Name[ta]=உடனடி செய்தி பரிமாற்றம்
Name[tg]=Хизматгоҳи мубодилаи иттилоот
Name[tr]=Hızlı Mesajlaşma
Name[uk]=Миттєвий зв'язок
Name[xx]=xxInstant Messagingxx
Name[zh_CN]=即时消息
Comment=Instant Messaging Address Editor
Comment[bg]=Редактор на адреси за мигновените съобщения
Comment[bs]=Editor adresa za instant poruke
Comment[ca]=Editor d'adreces de missatgeria instantània
Comment[da]=Instant Messaging adresseeditor
Comment[de]= Editor für Instant Messaging Addressen
Comment[es]=Editor de direcciones de mensajería instantánea
Comment[et]=Kiirsuhtluse aadresside redaktor
Comment[fr]=Éditeur d'adresses de messagerie instantanée
Comment[gl]=Editor de Enderezos de Mensaxería Instantánea
Comment[he]=עורך כתובות מסרים מידיים
Comment[hu]=IM-címszerkesztő
Comment[it]=Editor degli indirizzi per messaggi istantanei
Comment[ja]=インスタント メッセージ アドレス 編集
Comment[nb]=Lynmelding adresse redigerer
Comment[nl]=Instant Messaging Adresbewerker
Comment[pl]=Edytor adresów komunikatorów internetowych
Comment[pt]=Editor de Endereços do Mensageiro Instantâneo
Comment[pt_BR]=Editor de Endereços do Mensageiro Instantâneo
Comment[ru]=Редактор контактов служб обмена сообщениями
Comment[sk]=Editor adries pre Instant Messaging
Comment[sl]=Urejevalnik naslovov takojšnega sporočanja
Comment[sr]=Едитор адреса тренутних порука
Comment[sr@Latn]=Едитор адреса тренутних порука
Comment[sv]=Adresseditor för direktmeddelanden
Comment[ta]= உடனடி செய்தி பரிமாற்றத்தின் முகவரி தொகுப்பான்
Comment[tg]=Муҳаррири алоқоти хизматгоҳҳои мубодилаи иттилоот
Comment[tr]=Hızlı Mesajlama Adres Düzenleyici
Comment[uk]=Редактор адрес миттєвого зв'язку
Comment[xx]=xxInstant Messaging Address Editorxx
Comment[zh_CN]=即时消息地址编辑器
ServiceTypes=KAddressBook/ContactEditorWidget
X-KDE-Library=libkaddrbk_instantmessaging
X-KDE-KAddressBook-CEWPluginVersion=1
