[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KABC/IMProtocol
X-KDE-KAddressBook-CEWVersion=1
Name=KAddressbook Instant Messaging Protocol
Name[bg]=Протокол за МС за адресника
Name[bs]=KAddressbook protokol za instant poruke
Name[ca]=Protocol de missatgeria instantània KAddressbook
Name[cs]=KAddressbook instant messaging protokol
Name[da]=KAddressbook kvikbesked-protokol
Name[de]=Addressbuch Instant Messaging Protokoll
Name[el]=Πρωτόκολλο Στιγμιαίου Μηνύματος του KAddressbook
Name[es]=Protocolo de mensajería instantánea de KAddressbook
Name[et]=KDE aadressiraamatu kiirsuhtlusprotokoll
Name[eu]=KAddressbook berehalako mezularitza protokoloa
Name[fi]=KAddresbookin pikaviestintäprotokolla
Name[fr]=Protocole de messagerie instantanée pour KAddressbook
Name[gl]=Protocolo de Mensaxería Instantánea de KAddressbook
Name[he]=פרוטוקול מסרים מידיים של KAddressbook
Name[hu]=KAddressbook azonnali üzenetküldési protokoll
Name[is]=KAddressbook skilaboðaforritið
Name[it]=KAddressbook protocollo messaggistica istantanea
Name[ja]=KAddressbook インスタント メッセージ プロトコル
Name[km]=ពិធីការ​ផ្ញើសារ​បន្ទាន់​របស់ KAddressbook
Name[lt]=KAddressbook momentinių žinučių protokolas
Name[nb]=KAdressbook lynmeldingsprotokoll
Name[nds]=KAddressbook-Kortnarichten-Protokoll
Name[nl]=KAddressbook Instant Messaging-protocol
Name[nn]=Lynmeldingsprotokoll for KDE-adresseboka
Name[pl]=Protokół komunikacji internetowej KAddressbook
Name[pt]=Protocolo de Mensagens Instantâneas do KAdressbook
Name[pt_BR]=Protocolo de Mensagens Instantâneas do KAddressbook
Name[ru]=Протокол обмена сообщениями адресной книги KDE
Name[se]=Šleađgadieđáhusprotokolla KDE-čujuhusgirjji várás
Name[sk]=Protokol pre KDE Adresár Instant Messaging
Name[sl]=Protokol takojšnega sporočanja za Adresar
Name[sr]=KAddressbook протокол тренутних адреса
Name[sr@Latn]=KAddressbook protokol trenutnih adresa
Name[sv]=Direktmeddelandeprotokoll för adressboken
Name[ta]=கேஅட்ரஸ்புக் உடனடி செய்தி பரிமாற்றம்
Name[tg]=Протоколи мубодилаи иттилооти китоби адресии KDE
Name[tr]=KAddressbook Hızlı Mesajlaşma Protokolü
Name[uk]=Протокол миттєвого зв'язку KAddressbook
Name[zh_CN]=KAddressbook 即时消息协议
[PropertyDef::X-KDE-InstantMessagingKABCField]
Type=QString

