[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KABC/IMProtocol
Name=KAddressbook Instant Messaging Protocol
Name[bg]=Протокол за МС за адресника
Name[da]=KAddressbook kvikbesked-protokol
Name[es]=Protocolo de mensajería instantánea de KAddressbook
Name[et]=KDE aadressiraamatu kiirsuhtlusprotokoll
Name[he]=פרוטוקול מסרים מידיים של KAddressbook
Name[hu]=KAddressbook azonnali üzenetküldési protokoll
Name[it]=KAddressbook protocollo messaggistica istantanea
Name[nl]=KAddressbook Instant Messaging-protocol
Name[pt]=Protocolo de Mensagens Instantêneas do KAdressbook
Name[pt_BR]=Protocolo de Mensagens Instantâneas do KAddressbook
Name[ru]=Протокол обмена сообщениями адресной книги KDE
Name[sl]=Protokol takojšnega sporočanja za Adresar
Name[sv]=Direktmeddelandeprotokoll för adressboken
Name[ta]=கேஅட்ரஸ்புக் உடனடி செய்தி பரிமாற்றம்
Name[xx]=xxKAddressbook Instant Messaging Protocolxx
Name[zh_CN]=KAddressbook 即时消息协议
[PropertyDef::X-KDE-InstantMessagingKABCField]
Type=QString

