[Desktop Entry]
Encoding=UTF-8
Name=KAddressBookLDAPBackend
Name[af]=k-adresboek-ldap-agterkant
Name[az]=K Ünvan Dəftəri
Name[da]=KAddresseBogLDAPBagende
Name[de]=KAdressbuch-LDAP-Datei
Name[eo]=Adresaro-LDAP-modulo
Name[es]=Terminal LDAP de KAddressBook
Name[fr]=Module LDAP du carnet d'adresses
Name[it]=Modulo LDAP della rubrica degli indirizzi di KDE
Name[ja]=アドレス帳 LDAP バックエンド
Name[nb]=KAdressebok LDAP Backend
Name[nl]=KAddressenBoekLDAPBackend
Name[pl]=Interfejs książki adresowej poprzez LDAP
Name[pt]=LivroDeEndereçosBackendLDAP
Name[pt_BR]=Livro de Endereços com Interface LDAP
Name[ro]=Suport carte de adrese LDAP
Name[sv]=KadressbokLDAPbaksida
Name[tr]=K Adres Defteri
Name[ven]=DiresiyabuguyaKLDAPBackend
Name[vi]=KAđressBookLDAPBackend
Name[xh]=Isiphelo se LDAP yencwadi yedilesi ye K
Name[xx]=xx
Name[zu]=KIncwadi Yamakheli yeLDAP Yasemuva Ekugcineni
X-KDE-Library=libkabbackend_ldap

