<!DOCTYPE kpartgui ><kpartgui name="karm" version="3" >
<MenuBar>
	<Menu name="file" >
		<text>&amp;File</text>
		<Action name="reset_session_time" />
		<Action name="reset_all_times" />
	</Menu>
	<Menu name="clock" >
		<text>&amp;Clock</text>
		<Action name="start" />
		<Action name="stop" />
		<Action name="stopAll" />
	</Menu>
	<Menu name="task" >
		<text>&amp;Task</text>
		<Action name="new_task" />
		<Action name="new_sub_task" />
		<Action name="delete_task" />
		<Action name="edit_task" />
		<Separator />
		<Action name="import_korg_events" />
		<Action name="import_korg_todos" />
	</Menu>
</MenuBar>
<ToolBar alreadyVisited="1" position="Top" iconText="IconOnly" noMerge="1" name="mainToolBar" >
	<text>Main Toolbar</text>
	<Action name="start" />
	<Action name="stop" />
	<Action name="new_task" />
	<Action name="new_sub_task" />
	<Action name="delete_task" />
	<Action name="edit_task" />
</ToolBar>
<Menu name="task_popup">
	<Action name="start" />
	<Action name="stop" />
	<Action name="stopAll" />
	<Separator />
	<Action name="new_task" />
	<Action name="new_sub_task" />
	<Action name="delete_task" />
	<Action name="edit_task" />
</Menu>
</kpartgui>
