[Desktop Entry]
Name=KTnef
Name[x-test]=xxKTnefxx
GenericName=TNEF File Viewer
GenericName[x-test]=xxTNEF File Viewerxx
Exec=ktnef -caption "%c"
Icon=ktnef
Type=Application
DocPath=ktnef/index.html
Comment=A viewer/extractor for TNEF files
Comment[x-test]=xxA viewer/extractor for TNEF filesxx
Terminal=false
MimeType=application/ms-tnef;
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
