[Desktop Entry]
Name=TNEF File Viewer
Name[bg]=Преглед на файлове TNEF
Name[bs]=Preglednik TNEF datoteka
Name[ca]=Visor fitxer TNEF
Name[cs]=Prohlížeč TNEF souborů
Name[cy]=Syllwr Ffeil TNEF
Name[da]=TNEF Fil-fremviser
Name[de]=TNEF-Dateibetrachter
Name[el]=Προβολέας αρχείων TNEF
Name[es]=Vista de árbol TNEF
Name[et]=TNEF failide näitaja
Name[fi]=TNEF-tiedostonäyttäjä
Name[fr]=Afficheur de fichiers TNEF
Name[he]=מציג קבצי TNEF
Name[hi]=टीएनईएफ फ़ाइल प्रदर्शक
Name[hr]=Preglednik TNEF datoteka
Name[hu]=TNEF-fájlnézegető
Name[is]=TNEF Skráarsýnir
Name[it]=Visualizzatore file TNEF
Name[ja]=TNEF ファイルビュー
Name[nb]=TNEF-filvisning
Name[nn]=TNEF filvisar
Name[pl]=Przeglądarka plików TNEF
Name[pt]=Visualizador de Ficheiros TNEF
Name[pt_BR]=Visualizador de Arquivos TNEF
Name[ro]=Vizualizor TNEF 
Name[ru]=Просмотр файлов TNEF
Name[sk]=Prehliadač súborov TNEF
Name[sl]=Pregledovalnik datotek TNEF
Name[sr]=Приказивач TNEF фајлова
Name[sr@Latn]=Prikazivač TNEF fajlova
Name[sv]=TNEF-filvisning
Name[ta]=TNEF  கோப்பை காட்சியகம்
Name[tg]=Намоиши файлҳои TNEF
Name[tr]=TNEF Dosya Gösterici
Name[uk]=Переглядач файлів TNEF
Name[zh_CN]=TNEF 文件查看器
Exec=ktnef %i %m -caption "%c"
Icon=ktnef
Type=Application
DocPath=ktnef/index.html
Comment=A viewer/extractor for TNEF files
Comment[bg]=Програма за преглед и извличане на файлове TNEF
Comment[bs]=Preglednik/ekstraktor za TNEF datoteke
Comment[ca]=Un visor/extractor per a fitxers TNEF
Comment[cs]=Prohlížeč TNEF souborů
Comment[cy]=Gwelydd/echdynnydd i ffeiliau TNEF
Comment[da]=En fremviser/udtrækker for TNEF-filer
Comment[de]=Betrachten und Extrahieren von TNEF-Dateien
Comment[el]=Ένας προβολέας/εξαγωγέας για αρχεία TNEF
Comment[es]=A visor/extractor para archivos TNEF
Comment[et]=TNEF failide näitaja/ekstraktija
Comment[fi]=Näyttäjä/purkaja TNEF-tiedostoille
Comment[fr]=Pour afficher / extraire des fichiers TNEF
Comment[hi]=टीएनईएफ फ़ाइलों के लिए एक प्रदर्शक/एक्सट्रेक्टर
Comment[hr]=Prikazivač/izdvajač za TNEF datoteke
Comment[hu]=Nézegetőprogram TNEF-fájlokhoz
Comment[is]=Sýnir/lesari fyrir TNEF skrár
Comment[it]=Un visualizzatore/estrattore di file TNEF
Comment[ja]=TNEF ファイル用のビューア/extractor
Comment[nb]=En utpakker/fremviser for TNEF-filer
Comment[nl]=Een weergaveprogramma/uitpakker voor TNEF-bestanden
Comment[nn]=Ein framvisar/utpakkar for TNEF-filer
Comment[pl]=Przeglądarka/program wyciągający zawartość plików TNEF
Comment[pt]=Um visualizador/extractor de ficheiros TNEF
Comment[pt_BR]=Um visualizador/extrator para arquivos TNEF
Comment[ro]=Un vizualizor/extractor pentru fişiere TNEF
Comment[ru]=Просмотр и распаковка файлов TNEF
Comment[sk]=Prehliadač/extraktor pre TNEF súbory
Comment[sl]=Pregledovalnik/izvlečevalnik za datoteke TNEF
Comment[sr]=Приказивач/издвајач за TNEF фајлове
Comment[sr@Latn]=Prikazivač/izdvajač za TNEF fajlove
Comment[sv]=Visning och uppackning av TNEF-filer
Comment[ta]=TNEF கோப்புகளுக்கான காட்சியகம்/பிரித்தெடுப்பாளர்
Comment[tg]=Намоиш ва боз кардани файлҳои TNEF
Comment[tr]=TNEF dosyaları için gösterici/çıkarıcı
Comment[uk]=Переглядач/розпаковувач файлів TNEF
Comment[zh_CN]=TNEF 文件的查看/提取器
Terminal=0
MimeType=application/ms-tnef;
Categories=Qt;KDE;Utility;X-KDE-More
