[Desktop Entry]
Name=mailreader
Name[ca]=mailreader
Name[ca@valencia]=mailreader
Name[da]=mailreader
Name[de]=E-Mail-Programm
Name[el]=Αναγνώστης αλληλογραφίας
Name[en_GB]=mailreader
Name[es]=lector de correo
Name[et]=Kirjade lugeja
Name[fr]=Lecteur de courriel
Name[gl]=lector de noticias
Name[it]=mailreader
Name[ja]=メールリーダー
Name[lv]=pasta lasītājs
Name[nb]=e-postleser
Name[nds]=Nettpostkieker
Name[nl]=e-maillezer
Name[pa]=mailreader
Name[pl]=mailreader
Name[pt]=mailreader
Name[pt_BR]=mailreader
Name[sl]=mailreader
Name[sv]=e-postläsare
Name[tr]=e-posta okuyucu
Name[uk]=mailreader
Name[x-test]=xxmailreaderxx
Name[zh_CN]=邮件阅读器
Name[zh_TW]=郵件閱讀器
Exec=mailreader %i -caption "%c"
Icon=mailreader
Type=Application
X-DocPath=mailreader/index.html
GenericName=A KDE4 Application
GenericName[ca]=Una aplicació KDE4
GenericName[ca@valencia]=Una aplicació KDE4
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή του KDE
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fr]=Une application KDE4
GenericName[gl]=Unha aplicación de KDE4
GenericName[it]=Un'applicazione KDE4
GenericName[ja]=KDE4 アプリケーション
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En Programm för KDE 4
GenericName[nl]=Een KDE4-programma
GenericName[pa]=ਇੱਕ KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[sl]=KDE-jev program
GenericName[sv]=Ett KDE 4-program
GenericName[tr]=Bir KDE 4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=一个 KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
