[Desktop Entry]
Name=mailreader
Name[sv]=E-postläsare
Exec=mailreader %i -caption "%c"
Icon=mailreader
Type=Application
X-DocPath=mailreader/index.html
GenericName=A KDE4 Application
GenericName[km]=កម្មវិធី​របស់ KDE4
GenericName[sv]=Ett KDE4-program
GenericName[uk]=Програма для KDE4
Terminal=false
