[Desktop Entry]
Name=mailreader
Name[bs]=mailreader
Name[ca]=mailreader
Name[ca@valencia]=mailreader
Name[da]=mailreader
Name[de]=E-Mail-Programm
Name[el]=Αναγνώστης αλληλογραφίας
Name[en_GB]=mailreader
Name[es]=lector de correo
Name[et]=Kirjade lugeja
Name[fi]=mailreader
Name[fr]=Lecteur de courriel
Name[gl]=Lector de noticias
Name[hu]=levélolvasó
Name[ia]=lector de posta
Name[it]=mailreader
Name[ja]=メールリーダー
Name[kk]=mailreader
Name[km]=កម្មវិធីអាន​សំបុត្រ
Name[ko]=메일 리더
Name[lt]=pašto skaityklė
Name[lv]=pasta lasītājs
Name[mr]=मेलवाचक
Name[nb]=e-postleser
Name[nds]=Nettpostkieker
Name[nl]=e-maillezer
Name[nn]=e-postlesar
Name[pa]=mailreader
Name[pl]=czytnikpoczty
Name[pt]=mailreader
Name[pt_BR]=mailreader
Name[ro]=cititor de poștă
Name[ru]=mailreader
Name[sk]=mailreader
Name[sl]=mailreader
Name[sr]=Читач поште
Name[sr@ijekavian]=Читач поште
Name[sr@ijekavianlatin]=Čitač pošte
Name[sr@latin]=Čitač pošte
Name[sv]=e-postläsare
Name[tr]=e-posta okuyucu
Name[ug]=mailreader
Name[uk]=mailreader
Name[wa]=lijheu d' emiles
Name[x-test]=xxmailreaderxx
Name[zh_CN]=邮件阅读器
Name[zh_TW]=郵件閱讀器
Exec=mailreader
Icon=mailreader
Type=Application
X-DocPath=mailreader/index.html
GenericName=A simple Akonadi-based Mail Application
GenericName[ca]=Una senzilla aplicació de correu basada en Akonadi
GenericName[de]=Ein einfaches E-Mail-Programm aus der Grundlage von Akonadi
GenericName[en_GB]=A simple Akonadi-based Mail Application
GenericName[es]=Una aplicación de correo sencilla basada en Akonadi
GenericName[fi]=Yksinkertainen Akonadi-pohjainen sähköpostisovellus
GenericName[it]=Un semplice programma di posta elettronica basato su Akonadi
GenericName[nl]=Een eenvoudige op Akonadi gebaseerde e-mailtoepassing
GenericName[pl]=Prosty program pocztowy oparty na Akonadi
GenericName[pt]=Uma aplicação de e-mail simples e baseada no Akonadi
GenericName[pt_BR]=Uma aplicativo de e-mail simples e baseado no Akonadi
GenericName[sk]=Jednoduchá poštová aplikácia založená na Akonadi
GenericName[sr]=Једноставан поштански програм на основу Аконадија
GenericName[sr@ijekavian]=Једноставан поштански програм на основу Аконадија
GenericName[sr@ijekavianlatin]=Jednostavan poštanski program na osnovu Akonadija
GenericName[sr@latin]=Jednostavan poštanski program na osnovu Akonadija
GenericName[tr]=Basit bir Akonadi tabanlı Posta Uygulaması
GenericName[uk]=Проста програма для роботи з електронною поштою на основі Akonadi
GenericName[x-test]=xxA simple Akonadi-based Mail Applicationxx
GenericName[zh_TW]=簡單的基於 Akonadi 的郵件處理程式
Terminal=false
X-DBUS-ServiceName=org.kde.mailreader
