[Desktop Entry]
Name=KSerialDeviceEmulator
Name[de]=KDE-Emulation für serielle Geräte
Name[ne]=केडीई क्रमिक यन्त्र इमुलेटर
Name[pl]=EmulatorPortuSzeregowego
Name[sv]=Kserialdeviceemulator
Name[x-test]=xxKSerialDeviceEmulatorxx
Exec=kserialdeviceemulator
Icon=kserialdeviceemulator
Type=Application
Comment=A simple KDE Application
Comment[be]=Простая праграма KDE
Comment[ca]=Una aplicació senzilla del KDE
Comment[da]=Et simpelt KDE-program
Comment[de]=Eine KDE-Anwendung
Comment[el]=Μια απλή εφαρμογή του KDE
Comment[es]=Una aplicación sencilla de KDE
Comment[et]=Lihtne KDE rakendus
Comment[fi]=Yksinkertainen KDE-sovellus
Comment[fr]=Une simple application KDE
Comment[ga]=Feidhmchlár simplí KDE
Comment[it]=Una semplice applicazione KDE
Comment[ja]=シンプルな KDE アプリケーション
Comment[km]=កម្មវិធី​របស់ KDE ធម្មតា
Comment[ko]=간단한 KDE 프로그램
Comment[lt]=Paprasta KDE programa
Comment[lv]=Vienkārša KDE programma
Comment[nb]=Et enkelt KDE-program
Comment[nds]=En eenfach KDE-Programm
Comment[ne]=साधारण केडीई अनुप्रयोग
Comment[nl]=Een eenvoudig KDE-programma
Comment[nn]=Eit enkelt KDE-program
Comment[pa]=ਇੱਕ ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Prosty program KDE
Comment[pt]=Uma aplicação simples do KDE
Comment[pt_BR]=Um aplicativo simples do KDE
Comment[sl]=Preprost KDE-jevski program
Comment[sv]=Ett enkelt KDE-program
Comment[tr]=Basit Bir KDE Uygulaması
Comment[uk]=Проста програма для KDE
Comment[x-test]=xxA simple KDE Applicationxx
Comment[zh_CN]=一个简单的 KDE 程序
Comment[zh_TW]=簡單的 KDE 應用程式
