[Desktop Entry]
Encoding=UTF-8
Icon=dlgedit
Type=Service
ServiceTypes=KCModule
DocPath=kaddressbook/preferences.html

X-KDE-ModuleType=Library
X-KDE-Library=kabcustomfields
X-KDE-FactoryName=kabcustomfields
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAB

Name=Custom Pages
Name[bg]=Потребителски полета
Name[br]=Pajennoù dre ziouer
Name[bs]=Vlastite stranice
Name[ca]=Pàgines a mida
Name[cs]=Vlastní stránky
Name[da]=Brugervalgte sider
Name[de]=Benutzerdefinierte Seiten
Name[el]=Προσαρμοσμένες σελίδες
Name[es]=Páginas personalizadas
Name[et]=Omaloodud leheküljed
Name[fr]=Pages personnalisées
Name[gl]=Páxinas Personalizadas
Name[he]=דפים מותאמים אישית
Name[hu]=Egyéni lapok
Name[is]=Sérsniðnar síður
Name[it]=Pagine personalizzate
Name[ja]=カスタム ページ
Name[nb]=Tilpassede sider
Name[nl]=Aangepaste pagina's
Name[nn]=Tilpassa sider
Name[pl]=Własne strony
Name[pt]=Páginas Personalizadas
Name[pt_BR]=Páginas personalizadas
Name[ru]=Пользовательские вкладки
Name[se]=Iežat siiddut
Name[sk]=Vlastné stránky
Name[sl]=Prilagojene strani
Name[sr]=Посебне странице
Name[sr@Latn]=Посебне странице
Name[sv]=Egna sidor
Name[ta]=தனிபயன் பக்கங்கள்
Name[tg]=Варақаҳои замимавии истифодашаванда
Name[tr]=Özel Sayfa
Name[uk]=Нетипові сторінки
Name[xx]=xxCustom Pagesxx
Name[zh_CN]=定制页
Comment=Configure the Custom Pages
Comment[bg]=Настройки на потребителските полета
Comment[br]=Kefluniañ ar pajennoù diouzhoc'h
Comment[bs]=Podesite vlastite stranice
Comment[ca]=Configura les pàgines a mida
Comment[cs]=Nastavení vlastních stránek
Comment[da]=Indstil de selvvalgte sider
Comment[de]=Einstellungen für benutzerdefinierte Seiten
Comment[el]=Ρύθμιση των προσαρμοσμένων σελίδων
Comment[es]=Configura las páginas personalizadas
Comment[et]=Omaloodud lehekülgede seadistamine
Comment[fr]=Configurer les pages personnalisées
Comment[gl]=Configurar as Páxinas Personalizadas
Comment[hu]=Az egyéni lapok beállítása
Comment[is]=Stilla sérsniðnu síðurnar
Comment[it]=Configura le pagine personalizzate
Comment[ja]=カスタム ページの設定
Comment[lt]=Konfigūruoti darbastalių skaičių ir pavadinimus
Comment[nb]=Konfigurere de tilpassede sidene
Comment[nl]=Hier kunt u de aangepaste pagina's instellen
Comment[nn]=Set opp dei tilpassa sidene
Comment[pl]=Konfiguracja własnych stron
Comment[pt]=Configurar as Páginas Personalizadas
Comment[pt_BR]=Configurar Páginas personalizadas
Comment[ru]=Настройка пользовательских вкладок
Comment[se]=Heivet iežat siidduid
Comment[sk]=Nastavenie vlastných stránok
Comment[sl]=Nastavi prilagojene strani
Comment[sr]=Подешавање посебних страница
Comment[sr@Latn]=Подешавање посебних страница
Comment[sv]=Anpassa egna sidor
Comment[ta]=தனிபயன் பக்கங்களை கட்டமை
Comment[tg]=Танзимоти варақаҳои замимавии истифодашаванда
Comment[tr]=Özel Sayfaları Yapılandır
Comment[uk]=Налаштування нетипових сторінок
Comment[xx]=xxConfigure the Custom Pagesxx
Comment[zh_CN]=配置定制页
Keywords=kaddressbook, configure, settings, custom fields
Keywords[bg]=адресник, потребителски, полета, настройки, конфигуриране, kaddressbook, configure, settings, custom fields
Keywords[bs]=kaddressbook, configure, settings, custom fields, podesite, postavke, vlastite, vlastito
Keywords[ca]=llibreta d'adreces, configura, opcions, camps a mida
Keywords[cs]=kniha adres,nastavení,vlastní pole
Keywords[da]=kaddressbook, indstil, opsætning, brugervalgte felter
Keywords[de]=KAddressbook,Konfigurieren,Einstellungen,benutzerdefinierte Felder
Keywords[el]=kaddressbook, ρύθμιση, ρυθμίσεις, προσαρμοσμένα πεδία
Keywords[es]=kaddressbook, configurar, opciones, campos personalizados
Keywords[et]=kde aadressiraamat, seadistamine, seadistused, omaloodud väljad
Keywords[fr]=carnet d'adresses,adresses,kab,kaddressbook,configurer,paramètres,paramètre,champ,personnalisé
Keywords[gl]=kaddressbook, configurar, opcións, campos personalizados
Keywords[hu]=kaddressbook, beállítás, beállítások, egyéni mezők
Keywords[is]=kaddressbook, stillingar, stilla, sérsniðnir reitir
Keywords[it]=kaddressbook, configura, impostazioni, campi personalizzati
Keywords[ja]=kaddressbook、設定、設定,カスタムフィールド
Keywords[nb]=kaddressbook, sette opp, innstillinger
Keywords[nl]=adresboek,KAB,kab,kaddressbook,instellingen,configuratie,aangepaste velden
Keywords[nn]=adressebok, oppsett, innstillingar, tilpassa felt
Keywords[pl]=kaddressbook,książka adresowa,konfiguracja,ustawienia, własne pola
Keywords[pt]=kaddressbook, configurar, configuração, campos personalizados
Keywords[pt_BR]=kaddressbook,configurar,configurações, campos personalizados
Keywords[ru]=kaddressbook,адресная книга,настройка
Keywords[sk]=kaddressbook,nastavenie,vlastné polia
Keywords[sl]=kaddressbook, adresar, nastavi, nastavitve, polja, prilagojena
Keywords[sr]=kaddressbook, подеси, поставке, посебна поља
Keywords[sr@Latn]=kaddressbook, подеси, поставке, посебна поља
Keywords[sv]=adressbok, anpassa, inställningar, egna fält
Keywords[ta]=கேமுகவரிப்புத்தகம்,கட்டமை, அமைவுகள், தனிபயன் புலங்கள்
Keywords[tg]=kaddressbook,китоби адрес,танзимот
Keywords[tr]=kaddressbook,adres defteri,yapılandır,yapılandırma,özel alanlar
Keywords[uk]=kaddressbook, налаштування, параметри, нетипові поля
Keywords[xx]=xxkaddressbook, configure, settings, custom fieldsxx
Keywords[zh_CN]=kaddressbook, configure, settings, custom fields, 配置, 设置, 定制项
