[Desktop Entry]
Encoding=UTF-8
Icon=dlgedit
Type=Service
ServiceTypes=KCModule
DocPath=

X-KDE-ModuleType=Library
X-KDE-Library=kabcustomfields
X-KDE-FactoryName=kabcustomfields
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAB

Name=Custom Pages
Name[da]=Brugervalgte sider
Name[el]=Προσαρμοσμένες σελίδες
Name[es]=Páginas personalizadas
Name[et]=Omaloodud leheküljed
Name[fr]=Pages personnalisées
Name[pt_BR]=Páginas personalizadas
Name[sv]=Egna sidor
Name[ta]=ஆயத்த பக்கங்கள்
Comment=Configure the Custom Pages
Comment[da]=Indstil de selvvalgte sider
Comment[el]=Ρύθμιση των προσαρμοσμένων σελίδων
Comment[es]=Configura las páginas personalizadas
Comment[et]=Omaloodud lehekülgede seadistamine
Comment[fr]=Configurer les pages personnalisées
Comment[pt_BR]=Configurar Páginas personalizadas
Comment[sv]=Anpassa egna sidor
Comment[ta]=ஆயத்த பக்கங்களை வடிவமை
Keywords=kaddressbook, configure, settings, custom fields
Keywords[da]=kaddressbook, indstil, opsætning, brugervalgte felter
Keywords[el]=kaddressbook, ρύθμιση, ρυθμίσεις, προσαρμοσμένα πεδία
Keywords[es]=kaddressbook, configurar, opciones, campos personalizados
Keywords[et]=kde aadressiraamat, seadistamine, seadistused, omaloodud väljad
Keywords[fr]=carnet d'adresses,adresses,kab,kaddressbook,configurer,paramètres,paramètre,champ,personnalisé
Keywords[nl]=adresboek,KAB,kab,kaddressbook,instellingen,configuratie,aangepaste velden
Keywords[pt_BR]=kaddressbook,configurar,configurações, campos personalizados
Keywords[sv]=adressbok, anpassa, inställningar, egna fält
Keywords[ta]=கேமுகவரிப்புத்தகம்,வடிவமை, அமைப்புகள், ஆயத்த புலங்கள்
