[Desktop Entry]
Encoding=UTF-8
Icon=find
Type=Service
ServiceTypes=KCModule
DocPath=kaddressbook/preferences.html#preferences-ldap-lookup

X-KDE-ModuleType=Library
X-KDE-Library=kabldapconfig
X-KDE-FactoryName=kabldapconfig
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAB

Name=LDAP Lookup
Name[x-test]=xxLDAP Lookupxx
Comment=Configure the Address Book LDAP Settings
Comment[x-test]=xxConfigure the Address Book LDAP Settingsxx
Keywords=kaddressbook, configure, settings, LDAP
Keywords[x-test]=xxkaddressbook, configure, settings, LDAPxx
