[Desktop Entry]
Encoding=UTF-8
Icon=find
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kabldapconfig
X-KDE-FactoryName=kabldapconfig
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAB

Name=LDAP Lookup
Name[ca]=Recerca LDAP
Name[cs]=LDAP vyhledávání
Name[cy]=Chwiliad LDAP
Name[da]=LDAP-Opslag
Name[de]=LDAP-Nachschlagefunktion
Name[el]=Αναζήτηση LDAP
Name[es]=Búsqueda LDAP
Name[et]=LDAP otsing
Name[fi]=LDAP haku
Name[fr]=Consultation LDAP
Name[hi]=एलडीएपी लुकअप
Name[hu]=LDAP-lekérdezés
Name[it]=Ricerca LDAP
Name[nb]=LDAP oppslag
Name[nl]=LDAP-zoekactie
Name[nn]=LDAP oppslag
Name[pt]=Pesquisa na LDAP
Name[pt_BR]=Procura LDAP
Name[ru]=Поиск в каталогах LDAP
Name[sk]=LDAP hľadanie
Name[sl]=Vpogled v LDAP
Name[sr]=LDAP потрага
Name[sv]=LDAP-uppslagning
Name[ta]=LDAP லுக்கப்
Name[tr]=LDAP Tarama
Name[uk]=Пошук через LDAP
Name[xx]=xxLDAP Lookupxx
Name[zh_CN]=LDAP 查询
Comment=Configure the Address Book LDAP Settings
Comment[bg]=Конфигуриране на адресника да използва сървър LDAP
Comment[ca]=Configura les opcions de la Llibreta d'adreces LDAP
Comment[cs]=Nastavit LDAP pro Knihu adres
Comment[cy]=Ffurfweddu gosodiadau LDAP y Llyfr Cyfeiriadau
Comment[da]=Indstil adressebogens LDAP-opsætning
Comment[de]=Adressbuch-Plugin für LDAP-Einstellungen
Comment[el]=Αλλάξτε τις ρυθμίσεις LDAP του Βιβλίου διευθύνσεων
Comment[es]=Configura las opciones de búsqueda LDAP en la libreta de direcciones
Comment[et]=Aadressiraamatu LDAP seadistused
Comment[fi]=Aseta osoitekirjan LDAP asetuksia
Comment[fr]=Configurer les paramètres du carnet d'adresses LDAP
Comment[hi]=पता पुस्तिका एलडीएपी विन्यास कॉन्फिगर करें
Comment[hu]=A címjegyzék LDAP-beállításainak megváltoztatása
Comment[it]=Configurare le impostazioni LDAP della rubrica indirizzi
Comment[nb]=Sett opp LDAP-innstillinger for adresseboka
Comment[nl]=Hier kunt u de LDAP-instellingen voor uw adresboek configureren
Comment[nn]=Setja opp LDAP-innstillingar for adresseboka
Comment[pt]=Configurar as opções de LDAP do Livro de Endereços
Comment[pt_BR]=Configurar as Definições para LDAP do Livro de Endereços
Comment[ru]=Настройка серверов LDAP адресной книги
Comment[sl]=Prilagodi nastavitve LDAP v adresarju
Comment[sr]=Подешавање LDAP поставки адресара
Comment[sv]=Anpassa adressbokens LDAP-inställningar
Comment[ta]=அட்டரஸ்புக்கை உருவமை LDAP அமைப்புகள்
Comment[tr]=Adres Defteri LDAP Ayarlarını Yapılandır
Comment[uk]=Налаштування параметрів LDAP для адресної книги
Comment[uz]=LDAP манзиллар дафтарини мослаш
Comment[xx]=xxConfigure the Address Book LDAP Settingsxx
Comment[zh_CN]=配置地址簿 LDAP 设置
Keywords=kaddressbook, configure, settings, LDAP
Keywords[be]=K Адрасная кніга, настроіць, настройкі, kaddressbook, configure, settings, LDAP
Keywords[bg]=адресник,адрес,адресна,книга,сървър,всички,kaddressbook, configure, settings, LDAP
Keywords[ca]=llibreta d'adreces, configura, opcions, LDAP
Keywords[cs]=kniha adres,nastavení,LDAP
Keywords[cy]=kaddressbook,ffurfweddu, gosodiadau,LDAP
Keywords[da]=kaddressbook, indstil, opsætning, LDAP
Keywords[de]=KAddressbook,LDAP
Keywords[el]=kaddressbook, ρύθμιση, ρυθμίσεις, LDAP
Keywords[es]=kaddressbook, configurar, preferencias, LDAP
Keywords[et]=kde aadressiraamat, seadistamine, seadistused, LDAP
Keywords[fi]=kaddressbook, aseta, asetukset, LDAP
Keywords[fr]=carnet d'adresses,adresses,kab,kaddressbook,configurer,paramètres,paramètre,LDAP
Keywords[gl]=kaddressbook, configurar,opcións, LDAP
Keywords[hi]=केएड्रेसबुक, कॉन्फिगर, विन्यास,एलडीएपी
Keywords[hu]=kaddressbook, konfiguráció, beállítások, LDAP
Keywords[it]=kaddressbook, configura, impostazioni, LDAP
Keywords[ms]=selaraskan, tetapan, kaddressbook, configure, settings, LDAP
Keywords[nb]=kaddressbook, sette opp, innstillinger, LDAP
Keywords[nl]=adresboek,kadressbook,LDAP
Keywords[nn]=adressebok, oppsett, innstillingar, LDAP
Keywords[pt]=kaddressbook, configurar, configuração, LDAP
Keywords[pt_BR]=kaddressbook, configurar, configurações, LDAP
Keywords[ru]=kaddressbook, configure, settings, LDAP, адресная книга, настройки
Keywords[sl]=kaddressbook, nastavi, nastavitve, LDAP
Keywords[sr]=kaddressbook, configure, settings, подеси, поставке, LDAP
Keywords[sv]=adressbok, anpassa, inställningar, LDAP
Keywords[ta]=Kஅட்டரஸ் புக்,உருவமைப்பு,அமைப்புகள்,LDAP
Keywords[tr]=adres defteri,yapılandırma,ayarlar,LDAP
Keywords[uk]=kaddressbook, налаштування, параметри, LDAP
Keywords[uz]=kaddressbook, мослаш, мосламалар, манзиллар дафтари, LDAP
Keywords[xx]=xxkaddressbook, configure, settings, LDAPxx
Keywords[zh_CN]=kaddressbook, configure, settings, LDAP, 配置, 设置
