[Desktop Entry]
Encoding=UTF-8
Icon=find
Type=Service
ServiceTypes=KCModule
DocPath=kaddressbook/preferences.html#preferences-ldap-lookup

X-KDE-ModuleType=Library
X-KDE-Library=kabldapconfig
X-KDE-FactoryName=kabldapconfig
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAB

Name=LDAP Lookup
Name[ar]=البحث في LDAP
Name[bg]=Търсене в LDAP
Name[bs]=LDAP pretraga
Name[ca]=Recerca LDAP
Name[cs]=LDAP vyhledávání
Name[cy]=Chwiliad LDAP
Name[da]=LDAP-Opslag
Name[de]=LDAP-Nachschlagefunktion
Name[el]=Αναζήτηση LDAP
Name[es]=Búsqueda LDAP
Name[et]=LDAP otsing
Name[fi]=LDAP haku
Name[fr]=Consultation LDAP
Name[gl]=Procura LDAP
Name[he]=חיפוש LDAP
Name[hi]=एलडीएपी तलाश
Name[hu]=LDAP-lekérdezés
Name[is]=LDAP uppfletting
Name[it]=Ricerca LDAP
Name[ja]=LDAP 検索
Name[nb]=LDAP oppslag
Name[nl]=LDAP-zoekactie
Name[nn]=LDAP oppslag
Name[pl]=Wyszukiwanie LDAP
Name[pt]=Pesquisa na LDAP
Name[pt_BR]=Procura LDAP
Name[ro]=Căutare LDAP
Name[ru]=Поиск в каталогах LDAP
Name[sk]=LDAP hľadanie
Name[sl]=Vpogled v LDAP
Name[sr]=LDAP потрага
Name[sr@Latn]=LDAP potraga
Name[sv]=LDAP-uppslagning
Name[ta]=LDAP லுக்கப்
Name[tg]=Ҷустуҷӯ дар каталогҳои LDAP
Name[tr]=LDAP Tarama
Name[uk]=Пошук через LDAP
Name[zh_CN]=LDAP 查询
Comment=Configure the Address Book LDAP Settings
Comment[ar]=تكوين إعدادات LDAP لدفتر العناوين
Comment[bg]=Настройки на адресника за използване на сървър LDAP
Comment[bs]=Podesite LDAP postavke Adresara
Comment[ca]=Configura les opcions de la Llibreta d'adreces LDAP
Comment[cs]=Nastavit LDAP pro Knihu adres
Comment[cy]=Ffurfweddu gosodiadau LDAP y Llyfr Cyfeiriadau
Comment[da]=Indstil adressebogens LDAP-opsætning
Comment[de]=Adressbuch-Plugin für LDAP-Einstellungen
Comment[el]=Αλλάξτε τις ρυθμίσεις LDAP του Βιβλίου διευθύνσεων
Comment[es]=Configura las opciones de búsqueda LDAP en la libreta de direcciones
Comment[et]=Aadressiraamatu LDAP seadistused
Comment[fi]=Aseta osoitekirjan LDAP asetuksia
Comment[fr]=Configurer les paramètres du carnet d'adresses LDAP
Comment[he]=תצורה של ספר כתובת מבוסס LDAP
Comment[hi]=पता पुस्तिका एलडीएपी विन्यास कॉन्फ़िगर करें
Comment[hu]=A címjegyzék LDAP-beállításainak megváltoztatása
Comment[is]=Breyta LDAP stillingum póstfangaskrárinnar
Comment[it]=Configurare le impostazioni LDAP della rubrica indirizzi
Comment[ja]=アドレス帳 LDAP 設定
Comment[nb]=Sett opp LDAP-innstillinger for adresseboka
Comment[nl]=Hier kunt u de LDAP-instellingen voor uw adresboek instellen
Comment[nn]=Setja opp LDAP-innstillingar for adresseboka
Comment[pl]=Konfiguracja ustawień LDAP dla Książki adresowej
Comment[pt]=Configurar as opções de LDAP do Livro de Endereços
Comment[pt_BR]=Configurar as Definições para LDAP do Livro de Endereços
Comment[ru]=Настройка серверов LDAP адресной книги
Comment[sk]=Nastavenie LDAP volieb Adresára
Comment[sl]=Prilagodi nastavitve LDAP v Adresarju
Comment[sr]=Подешавање LDAP поставки адресара
Comment[sr@Latn]=Podešavanje LDAP postavki adresara
Comment[sv]=Anpassa adressbokens LDAP-inställningar
Comment[ta]=கேமுகவரிபுத்தகத்தை உருவமை LDAP அமைவுகள்
Comment[tg]=Танзимоти серверҳои LDAP-и китоби адрес
Comment[tr]=Adres Defteri LDAP Ayarlarını Yapılandır
Comment[uk]=Налаштування параметрів LDAP для адресної книги
Comment[uz]=LDAP манзиллар дафтарини мослаш
Comment[zh_CN]=配置地址簿 LDAP 设置
Keywords=kaddressbook, configure, settings, LDAP
Keywords[be]=K Адрасная кніга, настроіць, настройкі, kaddressbook, configure, settings, LDAP
Keywords[bg]=адресник,адрес,адресна,книга,сървър,всички,kaddressbook, configure, settings, LDAP
Keywords[br]=kaddressbook, kefluniañ, dibarzhoù, LDAP
Keywords[bs]=kaddressbook, configure, settings, LDAP, podesi, postavke, podesite, konfiguracija
Keywords[ca]=llibreta d'adreces, configura, opcions, LDAP
Keywords[cs]=kniha adres,nastavení,LDAP
Keywords[cy]=kaddressbook,ffurfweddu, gosodiadau,LDAP
Keywords[da]=kaddressbook, indstil, opsætning, LDAP
Keywords[de]=KAddressbook,LDAP
Keywords[el]=kaddressbook, ρύθμιση, ρυθμίσεις, LDAP
Keywords[es]=kaddressbook, configurar, opciones, LDAP
Keywords[et]=kde aadressiraamat, seadistamine, seadistused, LDAP
Keywords[fi]=kaddressbook, aseta, asetukset, LDAP
Keywords[fr]=carnet d'adresses,adresses,kab,kaddressbook,configurer,paramètres,paramètre,LDAP
Keywords[gl]=kaddressbook, configurar,opcións, LDAP
Keywords[he]=kaddressbook, תצורה, הגדרות, LDAP
Keywords[hi]=केएड्रेसबुक, कॉन्फ़िगर, विन्यास,एलडीएपी
Keywords[hu]=kaddressbook, konfiguráció, beállítások, LDAP
Keywords[is]=kaddressbook, stillingar, stilla, LDAP
Keywords[it]=kaddressbook, configura, impostazioni, LDAP
Keywords[ja]=kaddressbook LDAP 設定
Keywords[ms]=selaraskan, tetapan, kaddressbook, configure, settings, LDAP
Keywords[nb]=kaddressbook, sette opp, innstillinger, LDAP
Keywords[nl]=adresboek,kaddressbook,LDAP
Keywords[nn]=adressebok, oppsett, innstillingar, LDAP
Keywords[pl]=kaddressbook, książka adresowa,konfiguracja,ustawienia,opcje, LDAP
Keywords[pt]=kaddressbook, configurar, configuração, LDAP
Keywords[pt_BR]=kaddressbook, configurar, configurações, LDAP
Keywords[ro]=kaddressbook,configurare,setări,LDAP
Keywords[ru]=kaddressbook, configure, settings, LDAP, адресная книга, настройки
Keywords[se]=čujuhusgirji,heivehus,heivehit,LDAP
Keywords[sl]=kaddressbook,adresar, nastavi, nastavitve, LDAP
Keywords[sr]=kaddressbook, configure, settings, подеси, поставке, LDAP
Keywords[sr@Latn]=kaddressbook, configure, settings, podesi, postavke, LDAP
Keywords[sv]=adressbok, anpassa, inställningar, LDAP
Keywords[ta]=கேமுகவரிபுத்தகம்,கட்டமைப்பு,அமைவுகள்,LDAP
Keywords[tg]=kaddressbook, configure, settings, LDAP, китоби адрес, танзимот
Keywords[tr]=adres defteri,yapılandırma,ayarlar,LDAP
Keywords[uk]=kaddressbook, налаштування, параметри, LDAP
Keywords[uz]=kaddressbook, мослаш, мосламалар, манзиллар дафтари, LDAP
Keywords[zh_CN]=kaddressbook, configure, settings, LDAP, 配置, 设置
