[Desktop Entry]
Name=Contact Theme Editor
Name[es]=Editor de temas de Contact
Name[hu]=Névjegy téma szerkesztő
Name[nl]=Contactpersoon van themabewerker
Name[pt]=Editor de Temas de Contactos
Name[pt_BR]=Editor de temas de contatos
Name[uk]=Редактор тем контактів
Name[x-test]=xxContact Theme Editorxx
Type=Application
Exec=contactthemeeditor
Icon=kaddressbook
X-DocPath=contactthemeeditor/index.html
GenericName=Contact Theme Editor
GenericName[es]=Editor de temas de Contact
GenericName[hu]=Névjegy téma szerkesztő
GenericName[nl]=Contactpersoon van themabewerker
GenericName[pt]=Editor de Temas de Contactos
GenericName[pt_BR]=Editor de temas de contatos
GenericName[uk]=Редактор тем контактів
GenericName[x-test]=xxContact Theme Editorxx
Terminal=false
Categories=Qt;KDE;Office;Network;ContactManagement;
InitialPreference=10
