[Desktop Entry]
Name=Backup Mail
Name[ca]=Còpia de seguretat de correu
Name[da]=Tag backup af e-mails
Name[de]=E-Mail-Sicherung
Name[el]=Εφεδρικά αντίγραφα αλληλογραφίας
Name[es]=Copia de respaldo del correo
Name[et]=Kirjade varundamine
Name[fr]=Sauvegarde de courriel
Name[gl]=Copia de seguranza do correo
Name[hu]=Levélmentő
Name[ia]=Backup Mail (Retrocopia de posta)
Name[it]=Copia di sicurezza della posta
Name[kk]=Поштаны сақтық көшірмелеу
Name[km]=បម្រុងទុក​សំបុត្រ
Name[nb]=Sikkerhetskopi
Name[nl]=Reservekopie van e-mail
Name[pl]=Kopia zapasowa poczty
Name[pt]=Salvaguarda de Correio
Name[pt_BR]=Cópia de segurança de e-mails
Name[sk]=Zálohovať poštu
Name[sl]=Varnostno kopiranje pošte
Name[sr]=Резерва поште
Name[sr@ijekavian]=Резерва поште
Name[sr@ijekavianlatin]=Rezerva pošte
Name[sr@latin]=Rezerva pošte
Name[sv]=Säkerhetskopiera brev
Name[uk]=Резервне копіювання пошти
Name[x-test]=xxBackup Mailxx
Name[zh_TW]=備份郵件
Exec=backupmail
Type=Application
Comment=Backup Mail allows to save all data from kmail and restore them in other system.
Comment[ca]=La còpia de seguretat de correu us permet desar totes les dades del KMail i restaura-les en un altre sistema.
Comment[da]=Backup af e-mails lader dig gemme alle data fra KMail og genskabe dem på et andet system.
Comment[el]=Τα εφεδρικά αντίγραφα αλληλογραφίας σας επιτρέπουν την αποθήκευση όλων των δεδομένων από το kmail και την επαναφορά τους σε άλλο σύστημα.
Comment[es]=Copia de respaldo del correo permite guardar todos los datos de kmail y restaurarlos en otro sistema.
Comment[et]=Kirjade varundamine võimaldab salvestada kõik KMaili andmed ja taastada need teises süsteemis.
Comment[fr]=La sauvegarde de courriel permet de conserver les données de KMail et les restaurer dans un autre système.
Comment[gl]=A Copia de seguranza do correo permite gardar os datos do kmail e restauralos noutro sistema.
Comment[hu]=A Levélmentő lehetővé teszi az összes adat mentését a kmail programból és azok helyreállítását egy másik rendszeren.
Comment[ia]=Backup Mail permitte de salveguardar tote datos ex kmail e restabili los in altere systema.
Comment[it]=L'applicazione per la copia di sicurezza della posta consente di salvare tutti i dati da kmail e ripristinarli successivamente in un altro sistema.
Comment[kk]=Поштаны сақтық көшірмелеу kmail-дегі барлық дерегін сақтап басқа жүйелерде қалпына келтіруге мүмкіндік береді.
Comment[km]=បម្រុងទុក​សំបុត្រ​អនុញ្ញាត​ឲ្យ​រក្សាទុក​ទិន្នន័យ​ទាំងអស់​ពី kmail និង​ស្ដារ​វា​នៅ​ក្នុង​ប្រព័ន្ធ​ផ្សេង ។
Comment[nb]=Sikkerhetskopi kan lagre alle data fra kmail og laste dem inn igjen i et annet system.
Comment[nl]=Backup Mail stelt u in staat alle gegevens van kmail op te slaan en ze in een ander systeem te herstellen.
Comment[pl]=Kopia zapasowa poczty pozwala na zapisanie wszystkich danych z kmail i przywrócenie ich na innym systemie.
Comment[pt]=A Salvaguarda de Correio permite-lhe guardar todos os dados do KMail e repô-los noutro sistema.
Comment[pt_BR]=A cópia de segurança de e-mails permite salvar todos os dados do KMail e restaurá-los em outro sistema.
Comment[sk]=Záloha pošty umožní uložiť všetky dáta z kmail a obnoviť ich na inom systéme. 
Comment[sl]=Varnostno kopiranje pošte omogoča shranjevanje vseh podatkov za KMail in njihovo obnavljanje na drugem sistemu.
Comment[sr]=Резерва поште омогућава уписивање свих података из К‑поште и њихово преношење на други систем.
Comment[sr@ijekavian]=Резерва поште омогућава уписивање свих података из К‑поште и њихово преношење на други систем.
Comment[sr@ijekavianlatin]=Rezerva pošte omogućava upisivanje svih podataka iz K‑pošte i njihovo prenošenje na drugi sistem.
Comment[sr@latin]=Rezerva pošte omogućava upisivanje svih podataka iz K‑pošte i njihovo prenošenje na drugi sistem.
Comment[sv]=Säkerhetskopiera brev gör det möjligt att spara all data från Kmail och återställa den på andra datorer.
Comment[uk]=За допомогою програми з резервного копіювання пошти ви зможете зберегти всі дані KMail, а потім відновити їх у іншій системі.
Comment[x-test]=xxBackup Mail allows to save all data from kmail and restore them in other system.xx
Comment[zh_TW]=備份郵件可以將 KMail 裡的資料儲存到其他系統中。
Terminal=false
