[Desktop Entry]
Type=Service
ServiceTypes=PimCommonShortUrlEngine/Plugin
X-KDE-Library=pimcommon_tinyurlengineplugin
Name=TinyUrl
Name[ca]=TinyUrl
Name[en_GB]=TinyUrl
Name[nl]=TinyUrl
Name[pl]=TinyUrl
Name[pt]=TinyUrl
Name[pt_BR]=TinyUrl
Name[sk]=TinyUrl
Name[sv]=TinyUrl
Name[uk]=TinyUrl
Name[x-test]=xxTinyUrlxx
