[Desktop Entry]
Type=Service
Name=AT Engine
Name[ca]=Motor AT
Name[da]=AT-motor
Name[de]=AT-Modul
Name[el]=Μηχανή AT
Name[es]=Motor AT
Name[et]=AT mootor
Name[fi]=AT-moottori
Name[fr]=Moteur AT
Name[ga]=Inneall AT
Name[gl]=Motor AT
Name[it]=Motore AT
Name[ja]=AT エンジン
Name[km]=ម៉ាស៊ីន AT
Name[ko]=AT 엔진
Name[lv]=AT dzinējs
Name[nb]=AT-motor
Name[nds]=AT-Karn
Name[ne]=AT इन्जिन
Name[nl]=AT-engine
Name[nn]=AT-motor
Name[pa]=AT ਇੰਜਣ
Name[pl]=Moduł AT
Name[pt]=Motor AT
Name[pt_BR]=Mecanismo AT
Name[ro]=Motor AT
Name[sl]=Pogon AT
Name[sv]=AT-gränssnitt
Name[tr]=AT Motoru
Name[uk]=Рушій AT
Name[x-test]=xxAT Enginexx
Name[zh_CN]=AT 引擎
Name[zh_TW]=AT 引擎
Comment=KMobileTools Engine based on the standard GSM AT Command Set
Comment[ca]=El motor KMobileTools està basat en el conjunt d'ordres estàndard AT del GSM
Comment[da]=KMobileTools-motor baseret på standardkommandosættet for GSM AT
Comment[de]=Modul für die Mobiltelefonverwaltung auf Grundlage des GSM-AT-Befehlssatzes
Comment[el]=Μηχανή του KMobileTools βασισμένη στο τυπικό σύνολο εντολών GSM AT
Comment[es]=Un motor de KMobileTools basado en el conjunto de órdenes estándar GSM AT
Comment[et]=KMobileToolsi mootor standardse GSM AT käsustiku põhjal
Comment[fi]=KMobileTools-moottori, joka perustuu tavalliseen GSM AT-komentovalikoimaan
Comment[fr]=Moteur KMobileTools fondé sur les jeu de commandes standards GSM AT
Comment[ga]=Inneall KMobileTools bunaithe ar an Tacar Caighdeánach Orduithe GSM AT
Comment[gl]=Motor KMobileTools baseado no Conxunto de Comandos AT para GSM
Comment[it]=Motore KMobileTools basato sui comandi standard AT GSM
Comment[ja]=標準的な GSM AT コマンドセットに基づく KMobileTools エンジン
Comment[km]=ម៉ាស៊ីន KMobileTools មាន​មូលដ្ឋាន​លើសំណុំ​ពាក្យ​បញ្ជា GSM AT
Comment[ko]=표준 GSM AT 명령어에 기반한 KMobileTools 엔진
Comment[lv]=KMobileTools dzinējs, izmantojot standarta GSM AT komandu komplektu
Comment[nb]=KMobileTools-motor basert på standard kommandosettet GSM AT
Comment[nds]=KMobileTools-Karn, buut op den Standard-AT-Befehlensett vun GSM op
Comment[ne]=मानक GSM AT आदेश सेटमा आधारित केडीई मोबाइल उपकरण इन्जिन
Comment[nl]=KMobileTools-engine gebaseerd op de standaard GSM AT commandoverzameling
Comment[nn]=KMobileTools-motor basert på GSM AT-kommandosettet
Comment[pl]=Moduł KMobileTools używający standardowego zestawu poleceń AT
Comment[pt]=Um motor do KMobileTools baseado no conjunto de comandos-padrão AT
Comment[pt_BR]=Mecanismo do KMobileTools baseado no conjunto de comandos-padrão AT
Comment[sl]=Pogon KMobileTools, ki temelji na standardnem naboru ukazov GSM AT
Comment[sv]=Kmobiletools-gränssnitt baserat på standardiserade GSM AT-kommadon
Comment[tr]=KMobileTools Motoru tabanlı standart GSM AT Komut Seti
Comment[uk]=Рушій KMobileTools на основі стандартного набору команд GSM AT
Comment[x-test]=xxKMobileTools Engine based on the standard GSM AT Command Setxx
Comment[zh_CN]=基于标准 GSM AT 命令设定的 KMobileTools 引擎
Comment[zh_TW]=基於標準 GSM AT 命令集的 KMobileTools 引擎
Icon=kmobiletoolsAT
X-KDE-ServiceTypes=KMobileTools/Engine
Description=KMobileTools default engine, developed interally by the KMobileTools team.\nGood choice with almost all mobile phones, but on some models it lacks advanced features.\nBest choice with Motorola phones, also works well with Sony Ericsson and Siemens phones.
X-KDE-Library=kmobiletools_at
