[Desktop Entry]
Type=Service
Name=AT Engine
Name[de]=AT-Modul
Comment=KMobileTools Engine based on the standard GSM AT Command Set
Comment[de]=Modul für die Mobiltelefonverwaltung auf Grundlage des GSM-AT-Befehlssatzes
Icon=kmobiletoolsAT
X-KDE-ServiceTypes=KMobileTools/Engine
Description=KMobileTools default engine, developed interally by the KMobileTools team.\nGood choice with almost all mobile phones, but on some models it lacks advanced features.\nBest choice with Motorola Phones, works good also with Sony Ericsson and Siemens.
Description[de]=Das Standard-Modul der Mobiltelefonverwaltung, intern vom KMobileTools-Team entwickelt.\nEine Gute Wahl für fast alle Mobiltelefone, allerdings sind bei einigen Modellen nicht alle Funktionen verfügbar.\nDies ist die beste Wahl für Motorola-Geräte, funktioniert aber auch mit Sony Ericsson und Siemens.
X-KDE-Library=kmobiletools_at
