[Misc]
Name=Application Octetstream
Name[af]=Application/Octet-stream
Name[ar]=تطبيق ثماني التدفق
Name[bg]=Application Octetstream
Name[bs]=Aplikacijski niz bajtova
Name[ca]=Aplicació Octetstream
Name[ca@valencia]=Aplicació Octetstream
Name[cs]=Aplikace octetstream
Name[da]=Program oktetstrøm
Name[de]=Application Octetstream
Name[el]=Εφαρμογή Octetstream
Name[en_GB]=Application Octetstream
Name[eo]=Aplikaĵa Bitokfluo
Name[es]=Aplicación Octetstream
Name[et]=Application Octetstream
Name[eu]=Aplikazioa/zortzikote-jarioa
Name[fa]=Octetstream کاربرد
Name[fi]=Octetstream-sovellus
Name[fr]=Application octetstream
Name[fy]=Applikaasje octetstream
Name[ga]=Application Octetstream
Name[gl]=Aplicación Octetstream
Name[hu]=Alkalmazás-adatfolyam
Name[ia]=Application Octetstream
Name[is]=Application Octetstream
Name[it]=Application Octetstream
Name[ja]=アプリケーション/オクテットストリーム
Name[ka]=რვადინებიანი პროგრამა
Name[kk]=Octetstream қолданбасы
Name[km]=Octetstream កម្មវិធី
Name[ko]=Application Octetstream
Name[lt]=Application Octetstream
Name[lv]=Programma oktetu virkne
Name[mr]=Octetstream अनुप्रयोग
Name[ms]=Aliran Oktet  Aplikasi
Name[nb]=Oktettstrøm fra program
Name[nds]=Application Octetstream
Name[ne]=अक्टेस्ट्रिम अनुप्रयोग
Name[nl]=Applicatie octetstroom
Name[nn]=Oktettstraum frå program
Name[pl]=Dane binarne
Name[pt]=Aplicação Sequência Binária
Name[pt_BR]=Aplicativo Octetstream
Name[ro]=Flux de octeți din aplicație
Name[ru]=Поток двоичных данных
Name[sk]=Application Octetstream
Name[sl]=Programski Octetstream
Name[sr]=Програмски ток октета
Name[sr@ijekavian]=Програмски ток октета
Name[sr@ijekavianlatin]=Programski tok okteta
Name[sr@latin]=Programski tok okteta
Name[sv]=Program-oktettström
Name[ta]=பயன்பாட்டு எண்மம்
Name[tg]=Миқдори зиёди бинарии барномот
Name[tr]=Uygulama Sekizli Akışı
Name[uk]=Application Octetstream
Name[wa]=Aplicåcion floû d' octet
Name[x-test]=xxApplication Octetstreamxx
Name[zh_CN]=应用程序 Octetstream
Name[zh_TW]=Application Octetstream
Comment=A bodypart formatter plugin for text/vcard
Comment[af]='n Data (boodskap lyf) formateer inprop module vir 'text/vcard'
Comment[ar]=ملحق منسق جزء الجسم لنص/vcard
Comment[bg]=Редактор с поддръжка на форматиране за текст/vcard
Comment[br]=Arload tresañ Xfig
Comment[bs]=Dodatak za formatiranje texta/vkartice
Comment[ca]=Un connector formatador del cos per a text/vcard
Comment[ca@valencia]=Un connector formatador del cos per a text/vcard
Comment[cs]=Formátovač těla e-mailu pro typ text/vcard
Comment[da]=Et bodypart formateringsplugin for text/vcard
Comment[de]=Ein Textinhalt-Formatierungsmodul für text/vcard
Comment[el]=Πρόσθετο μορφοποίησης του κυρίως σώματος για text/vcard
Comment[en_GB]=A bodypart formatter plugin for text/vcard
Comment[es]=Un complemento de formato para el cuerpo de text/vcard
Comment[et]=Põhiosa vormindamisplugin (MIME tüübile text/vcard)
Comment[eu]=Testu/vcard-en gorputz-zati formateatzaile bat
Comment[fa]=یک وصله قالب دهنده جزء بدنه برای متن/vcard
Comment[fi]=text/vcard-muodon muotoiluliitännäinen
Comment[fr]=Module de mise en forme du corps du message pour text/vcard
Comment[fy]=In opmaakplugin foar text/vcard
Comment[gl]=Un engadido para formatar o corpo do texto/vcard
Comment[hu]=Formázómodul text/vcard adatfolyamok kezeléséhez
Comment[ia]=Un plugin formattator de parte de corpore pro texto/vcard
Comment[is]=Sniðmátstól fyrir text/vcard
Comment[it]=Un'estensione per la formattazione di text/vcard nei messaggi di posta
Comment[ja]=text/vcard 用のメッセージ本体フォーマッタ
Comment[ka]=კომპონენტური დამფორმატებელი მოდული text/vcard
Comment[kk]=Text/vcard бөлімін пішімдеу плагині
Comment[km]=កម្មវិធី​ជំនួយ​កម្មវិធី​ធ្វើ​ទ្រង់ទ្រាយ​ផ្នែក​តួ សម្រាប់​អត្ថបទ/vcard
Comment[ko]=text/vcard 형식 꾸미기 플러그인
Comment[lt]=Teksto/vcard formatavimo įskiepis
Comment[lv]=Satura daļas formēšanas spraudnis text/vcard datu tipam
Comment[ms]=Plugin pemformat bahagian isi untuk teks/vcard
Comment[nb]=Et programtillegg for text/vcard for brødtekst-formatering
Comment[nds]=En Hööftdeel-Formateermoduul för text/vcard
Comment[ne]=पाठ/भिकार्ड का लागि मुख्यभाग ढाँचाबद्ध गर्ने प्लगइन
Comment[nl]=Een opmaakplug-in voor text/vcard
Comment[nn]=Eit programtillegg for formatering av meldingstekstar i «text/vcard»
Comment[pl]=Wtyczka formatująca dla typu text/vcard
Comment[pt]=Um 'plugin' de formatação para text/vcard
Comment[pt_BR]=Um plugin formatador de componente para o tipo text/vcard
Comment[ru]=Форматирование text/vcard
Comment[sk]=Modul pre formátovanie tela pre text/vcard
Comment[sl]=Oblikovalni vstavek za text/vcard
Comment[sr]=Прикључак за форматирање тела за текст/vcard
Comment[sr@ijekavian]=Прикључак за форматирање тијела за текст/vcard
Comment[sr@ijekavianlatin]=Priključak za formatiranje tijela za tekst/vcard
Comment[sr@latin]=Priključak za formatiranje tela za tekst/vcard
Comment[sv]=Ett insticksprogram för brevtextformatering av text/vcard
Comment[ta]=உரை அல்லது விஅட்டைக்கான அங்க அமைப்பு சொருகி
Comment[tg]=Модули ба андозадарории text/vcard
Comment[tr]=text/vcard için bir gövde biçimleyici eklentisi
Comment[uk]=Додаток форматування для text/vcard
Comment[wa]=On tchôke-divins aboesneu bodypart po les tecses/vcard
Comment[x-test]=xxA bodypart formatter plugin for text/vcardxx
Comment[zh_CN]=text/vcard 的正文格式化插件
Comment[zh_TW]=text/vCard 格式化外掛程式

[Plugin]
Type=text/directory
X-KDE-Library=messageviewer_bodypartformatter_text_vcard
