[Desktop Entry]
Name=Sieve Editor
Name[bs]=Sieve uređivač
Name[ca]=Editor de «Sieve»
Name[ca@valencia]=Editor de «Sieve»
Name[cs]=Editor Sieve
Name[da]=Sieve-editor
Name[de]=Sieve-Editor
Name[el]=Επεξεργαστής Sieve
Name[en_GB]=Sieve Editor
Name[es]=Editor de Sieve
Name[fi]=Sieve-muokkain
Name[fr]=Éditeur  Sieve
Name[gl]=Editor de Sieve
Name[hu]=Sieve szerkesztő
Name[ia]=Editor de Sieve
Name[it]=Editor Sieve
Name[nb]=Sieve-redigering
Name[nds]=Sieve-Editor
Name[nl]=Sieve-bewerker
Name[pl]=Edytor Sieve
Name[pt]=Editor do Sieve
Name[pt_BR]=Editor do Sieve
Name[ru]=Редактор фильтров Sieve
Name[sk]=Editor Sieve
Name[sr]=Сито уређивач
Name[sr@ijekavian]=Сито уређивач
Name[sr@ijekavianlatin]=Sito uređivač
Name[sr@latin]=Sito uređivač
Name[sv]=Sieve-editor
Name[uk]=Редактор фільтрів
Name[x-test]=xxSieve Editorxx
Name[zh_TW]=過濾編輯器
Type=Application
Exec=sieveeditor
Icon=kmail
X-DocPath=sieveeditor/index.html
GenericName=Sieve Editor
GenericName[bs]=Sieve uređivač
GenericName[ca]=Editor de «Sieve»
GenericName[ca@valencia]=Editor de «Sieve»
GenericName[cs]=Editor Sieve
GenericName[da]=Sieve-editor
GenericName[de]=Sieve-Editor
GenericName[el]=Επεξεργαστής Sieve
GenericName[en_GB]=Sieve Editor
GenericName[es]=Editor de Sieve
GenericName[fi]=Sieve-muokkain
GenericName[fr]=Éditeur  Sieve
GenericName[gl]=Editor de Sieve
GenericName[hu]=Sieve szerkesztő
GenericName[ia]=Editor de Sieve
GenericName[it]=Editor Sieve
GenericName[nb]=Sieve-redigering
GenericName[nds]=Sieve-Editor
GenericName[nl]=Sieve-bewerker
GenericName[pl]=Edytor Sieve
GenericName[pt]=Editor do Sieve
GenericName[pt_BR]=Editor do Sieve
GenericName[ru]=Редактор фильтров Sieve
GenericName[sk]=Editor Sieve
GenericName[sr]=Сито уређивач
GenericName[sr@ijekavian]=Сито уређивач
GenericName[sr@ijekavianlatin]=Sito uređivač
GenericName[sr@latin]=Sito uređivač
GenericName[sv]=Sieve-editor
GenericName[uk]=Редактор фільтрів
GenericName[x-test]=xxSieve Editorxx
GenericName[zh_TW]=過濾編輯器
Terminal=false
Categories=Qt;KDE;Office;Network;X-KDE-Sieve;
InitialPreference=10
