a:visited {text-decoration: none; color:#555D8F}
a:active {text-decoration: none; color:#555D8F}
a:hover {text-decoration: none; color:#555D8F}
a:link {text-decoration: none; color:#555D8F}

#headerR {
  position: absolute;
  right: 0px;
  width: 430px;
  height: 131px;
  background-image: url(top-right-kmobiletools.png);
}

#title {
  right: 125px;
}

#tagline {
  right: 125px;
}

#boxCenter {
  background-image: url(box-center-kmobiletools.png);
  background-repeat: no-repeat;
  background-color: #dfe7f3;
  background-position: bottom right;
}

#subtext {
  font-style: italic;
}

/* vim:set sw=2 et nocindent smartindent: */

