[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kaplan/Plugin
Name=Kaplan Plugin
Name[cs]=Modul Kaplan
Name[da]=Kaplan-indstik
Name[el]=Πρόσθετο Kaplan
Name[es]=Plugin Kaplan
Name[fi]=Kaplan sovelma
Name[fr]=Module Kaplan
Name[he]=תוסף Kaplan
Name[hr]=Kaplan dodatak
Name[hu]=Kaplan-modul
Name[ja]=Kaplan プラグイン
Name[pt_BR]=Plug-in Kaplan
Name[ro]=Modul Kaplan
Name[sl]=Vstavkek Kaplan
Name[sv]=Kaplan-insticksprogram
Name[tr]=Kaplan Eklentisi
