[General]
Columns=43
DatePattern=Y-M-D
DelimiterOther=
DelimiterType=0
QuoteType=0

[Misc]
Name=KAddressBook (KDE 3.1)
Name[af]=K-adresboek (Kde 3.1)
Name[ar]=دفتر العناوين KAddressBook (KDE 3.1(
Name[be]=K Адрасная кніга (KDE 3.1)
Name[ca]=Llibreta d'adreces (KDE 3.1)
Name[cs]=Kniha adres (KDE 3.1)
Name[cy]=KLlyfrCyfeiriadau (KDE 3.1)
Name[de]=Adressbuch (KDE 3.1)
Name[eo]=Adresaro (KDE 3.1)
Name[et]=KDE aadressiraamat (KDE 3.1)
Name[fo]=KAdressubók (KDE 3.1)
Name[hi]=केडीईएड्रेसबुक (केडीई 3.1)
Name[hr]=KAdressBook (KDE 3.1)
Name[hu]=Címjegyzék (KDE 3.1)
Name[is]=KPóstfangaskrá (KDE 3.1)
Name[it]=Rubrica indirizzi (KDE 3.1)
Name[mk]=Адресар (KDE 3.1)
Name[nb]=Adressebok (KDE 3.1)
Name[nn]=KDE-adressebok (KDE 3.1)
Name[nso]=KBuka ya Diaterese (KDE 3.1)
Name[pl]=Książka adresowa (KDE 3.1)
Name[ro]=Cartea de adrese (KDE 3.1)
Name[ru]=Адресная книга (KDE 3.1)
Name[se]=KDE-čujuhusgirji (KDE 3.3)
Name[sl]=Adresar (KDE 3.1)
Name[sv]=Kadressbok (KDE 3.1)
Name[ta]=கேமுகவரிப்புத்தகம் (KDE 3.1)
Name[tg]=Китоби адрес (KDE 3.1)
Name[tr]=KDE Adres Defteri (KDE 3.1)
Name[ven]=Bugu ya diresi ya K (KDE 3.1)
Name[zh_TW]=KAddressBook (KDE 3.1) 通訊錄

[csv column map]
0=1
1=2
10=11
11=12
12=13
13=14
14=15
15=16
16=17
17=18
18=19
19=20
2=3
20=21
21=22
22=23
23=24
24=25
25=26
26=27
27=28
28=29
29=30
3=4
30=31
31=32
32=33
33=34
34=35
35=36
36=37
37=38
38=39
39=40
4=5
40=41
41=42
42=43
5=6
6=7
7=8
8=9
9=10
