[Desktop Entry]
Type=Service
Comment=email mailbox browser
Comment[bg]=Ïðîãðàìà çà åë.ïîùà
Comment[ca]=Fullejador de bústies de correu
Comment[cs]=prohlížeč poštovní schránky
Comment[da]=epost postkassesøger
Comment[de]=Zum Durchsehen von E-Mail-Postfächern
Comment[el]=Ξεφύλλισμα θυρίδων ηλ. ταχυδρομείου
Comment[eo]=Retpoŝtkesta rigardilo
Comment[es]=Navegador del buzón de correo electrónico
Comment[et]=meiliboksi lehitseja
Comment[fi]=sähköpostilaatikon selaaja
Comment[fr]=navigateur de boîte aux lettres électroniques
Comment[gl]=explorador de caixas de correo electrónico
Comment[he]=ל"אודה תובית ןפדפד
Comment[hr]=Program za pretraživanje elektronske pošte
Comment[hu]=postaláda-nézegető
Comment[is]=flakk um Empath pósthólf
Comment[it]=Navigazione delle mailbox
Comment[ja]=Eメールメールボックスブラウザー
Comment[mk]=разгледувач на сандачиња со е-пошта
Comment[nl]=Bladerprogramma voor postbussen
Comment[no]=Epost-viser
Comment[no_NY]=Lesing av postboksar
Comment[pl]=Przeglądarka skrzynki pocztowej
Comment[pt]=Navegador da caixa de correio electrónico
Comment[pt_BR]=navegador de caixa de correio
Comment[ro]=Navigator pentru căsuţa de mail
Comment[ru]=Просмотрщик почтового ящика
Comment[sk]=Prehliadač email schránky
Comment[sl]=Brskalnik po poštnem predalu
Comment[sv]=läsare för e-postbrevlådor
Comment[ta]=Á¢ý«ïºø «ïºø¦ÀðÊ §Á§Ä¡Ê
Comment[tr]=e-posta kutusu gözatıcı
Comment[uk]=Програма переглядання електронної пошти
Comment[zh_TW.Big5]=電子郵件信箱瀏覽器
Name=EmpathBrowser
Name[cs]=Prohlížeč Empath
Name[de]=Empath-Browser
Name[eo]=Rigardilo de "Empath"
Name[es]=Navegador Empath
Name[he]=Empath ןפדפד
Name[hu]=Empath böngésző
Name[is]=EmpathFlakkari
Name[it]=NavigazioneEmpath
Name[ja]=Empath ブラウザー
Name[nl]=EmpathBladeraar
Name[no_NY]=Empath-lesar
Name[pl]=Przeglądarka Empath
Name[pt_BR]=Navegador Empath
Name[ro]=Navigator Empath
Name[sk]=Prehliadač Empath
Name[sl]=BrskalnikEmpath
Name[sv]=EmpathBläddrare
Name[tr]=Empath Gözatıcı
Name[uk]=Переглядач Empath
Name[zh_TW.Big5]=Empath瀏覽器
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libEmpathBrowser
