[Desktop Entry]
Name=Akonadi Strigi Feeder
Name[de]=Akonadi-Modul für Strigi
Comment=Strigi-based fulltext search
Comment[de]=Strigi-Basierte Volltextsuche
Type=AkonadiAgent
Exec=akonadi_strigi_feeder

X-Akonadi-MimeTypes=all/all
X-Akonadi-Capabilities=
X-Akonadi-Identifier=akonadi_strigi_feeder
