[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=DBUS/AddressBook
Comment=Address Book with a D-Bus interface
Comment[be]=Адрасная кніга з D-Bus інтэрфейсам
Comment[bg]=Адресник с интерфейс DCOP
Comment[ca]=Llibreta d'adreces amb una interfície D-Bus
Comment[cs]=Kniha adres s DBUS rozhraním
Comment[da]=Adressebog med en D-Bus-grænseflade
Comment[de]=Adressbuch mit D-Bus-Schnittstelle
Comment[el]=Βιβλίο διευθύνσεων με ένα περιβάλλον χρήσης D-Bus
Comment[es]=Libreta de direcciones con una interfaz D-Bus
Comment[et]=Aadressiraamat D-Busi liidesega
Comment[fa]=کتاب نشانی با یک واسط D-Bus
Comment[fi]=Osoitekirja D-Bus-rajapinnalla
Comment[fr]=Carnet d'adresses avec une interface D-Bus
Comment[ga]=Leabhar Seoltaí le comhéadan D-Bus
Comment[gl]=Caderno de enderezos cunha interface D-Bus
Comment[it]=Rubrica indirizzi con un'interfaccia D-Bus
Comment[ja]=D-Bus インターフェースを持つアドレス帳
Comment[kk]=D-Bus интерфейсті адрестік кітапшасы
Comment[km]=សៀវភៅ​អាសយដ្ឋាន​ដែល​មាន​ចំណុច​ប្រទាក់ D-Bus
Comment[ko]=D-Bus 인터페이스를 사용하는 주소록
Comment[lv]=Adrešu grāmata ar D-Bus saskarni
Comment[nds]=Adressbook mit en D-Bus-Koppelsteed
Comment[ne]=D-Bus इन्टरफेससँगको ठेगाना पुस्तिका
Comment[nl]=Adresboek met een D-Bus-interface
Comment[nn]=Adressebok med D-Bus-grensesnitt
Comment[pa]=ਡੀ-ਬੱਸ ਇੰਟਰਫੇਸ ਨਾਲ ਐਡਰੈੱਸ ਬੁੱਕ
Comment[pl]=Książka adresowa z interfejsem DBUS
Comment[pt]=Livro de Endereços com uma Interface de DCOP
Comment[pt_BR]=Livro de endereços com interface D-Bus
Comment[ro]=Carte de adrese cu interfață D-Bus
Comment[sl]=Adresar z vmesnikom D-Bus
Comment[sv]=Adressbok med DBus-gränssnitt
Comment[th]=สมุดที่อยู่พร้อมส่วนเชื่อมต่อ D-Bus
Comment[tr]=D-Bus Arayüzü Olan Bir Adres Defteri
Comment[uk]=Адресна книга з інтерфейсом D-Bus
Comment[x-test]=xxAddress Book with a D-Bus interfacexx
Comment[zh_CN]=具有 D-Bus 接口的地址簿
Comment[zh_TW]=有 DBUS 介面的通訊錄
