[Desktop Entry]
Name=KAddressBook
Name[cy]=KAddressBook/LlyfrKyfeiriadau
Name[de]=Adressbuch
Name[et]=KDE aadressiraamat
Name[eu]=Helbide-liburua
Name[fi]=Osoitekirja
Name[fr]=Carnet d'adresses
Name[he]=פנקס כתובות
Name[mk]=КАдресар
Name[nds]=KAdressbook
Name[ne]=केडीई ठेगाना पुस्तिका
Name[pa]=ਕੇ-ਐਡਰੈੱਸਬੁੱਕ
Name[pl]=Książka adresowa
Name[sk]=Adresár
Name[sv]=Adressbok
Name[ta]=கேமுகவரிப் புத்தகம்
Name[tr]=KDE Adres Defteri
Name[x-test]=xxKAddressBookxx
Name[zh_TW]=KAddressBook 通訊錄
GenericName=Address Manager
GenericName[af]=Adres Bestuurder
GenericName[be]=Кіраванне адрасамі
GenericName[bg]=Адресник
GenericName[br]=Merour ar chomlec'hioù
GenericName[ca]=Gestor d'adreces
GenericName[cs]=Správce adres
GenericName[cy]=Rheolydd Cyfeiriadau
GenericName[da]=Adressehåndtering
GenericName[de]=Adressverwaltung
GenericName[el]=Διαχειριστής διευθύνσεων
GenericName[eo]=Adresadministrilo
GenericName[es]=Gestor de direcciones
GenericName[et]=Aadressihaldur
GenericName[eu]=Helbide kudeatzailea
GenericName[fa]=مدیر نشانی
GenericName[fi]=Osoitteenhallinta
GenericName[fr]=Gestionnaire d'adresses
GenericName[fy]=Adresboekbehearder
GenericName[ga]=Bainisteoir na Seoltaí
GenericName[gl]=Xestor de Enderezos
GenericName[he]=מנהל הכתובות
GenericName[hu]=Címjegyzékkezelő
GenericName[is]=Vistfangastjóri
GenericName[it]=Gestore degli indirizzi
GenericName[ja]=アドレスマネージャ
GenericName[ka]=წიგნაკის მმართველი
GenericName[kk]=Адрес менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​អាសយដ្ឋាន
GenericName[ko]=주소 관리자
GenericName[lt]=Adresų tvarkyklė
GenericName[mk]=Менаџер на адреси
GenericName[ms]=Pengurus Alamat
GenericName[nb]=Adressehåndterer
GenericName[nds]=Adresspleger
GenericName[ne]=ठेगाना प्रबन्धक
GenericName[nl]=Adresboekbeheerder
GenericName[pa]=ਐਡਰੈੱਸ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer adresów
GenericName[pt]=Gestor de Endereços
GenericName[pt_BR]=Livro de Endereços
GenericName[ru]=Адресная книга
GenericName[sk]=Správca adries
GenericName[sl]=Upravitelj naslovov
GenericName[sr]=Менаџер адреса
GenericName[sr@latin]=Menadžer adresa
GenericName[sv]=Adresshanterare
GenericName[ta]=முகவரி மேலாளர்
GenericName[tr]=Adres Yöneticisi
GenericName[uk]=Pengurus Alamat
GenericName[x-test]=xxAddress Managerxx
GenericName[zh_CN]=地址管理器
Exec=kaddressbook %u
Icon=office-address-book
Type=Application
X-DocPath=kaddressbook/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
MimeType=text/directory;text/x-ldif;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View,DBUS/AddressBook
X-KDE-Library=kaddressbookpart
Categories=Qt;KDE;Office;
