[Desktop Entry]
Type=Service
Name=KAddressBook
Name[af]=KAddressBook
Name[ar]=دفتر عناوين كدي
Name[be]=KAddressBook
Name[bg]=KAddressBook
Name[br]=KAddressBook
Name[bs]=KAddressBook
Name[ca]=KAddressBook
Name[ca@valencia]=KAddressBook
Name[cs]=KAddressBook
Name[cy]=KAddressBook/LlyfrKyfeiriadau
Name[da]=KAddressBook
Name[de]=Adressbuch
Name[el]=KAddressBook
Name[en_GB]=KAddressBook
Name[eo]=KAddressBook
Name[es]=KAddressBook
Name[et]=KDE aadressiraamat
Name[eu]=Helbide-liburua
Name[fi]=KAddressBook
Name[fr]=Carnet d'adresses
Name[fy]=KAddressBook
Name[ga]=KAddressBook
Name[gl]=KAddressBook
Name[he]=פנקס כתובות
Name[hu]=KAddressBook
Name[ia]=KAddressBook
Name[is]=KAddressBook
Name[it]=KAddressBook
Name[ja]=KAddressBook
Name[ka]=KAddressBook
Name[kk]=KAddressBook
Name[km]=KAddressBook
Name[ko]=KAddressBook
Name[lt]=KAddressBook
Name[lv]=KAddressBook
Name[mk]=КАдресар
Name[ms]=KAddressBook
Name[nb]=KAddressBook
Name[nds]=KAdressbook
Name[ne]=केडीई ठेगाना पुस्तिका
Name[nl]=KAddressBook
Name[nn]=KDE-adressebok
Name[pa]=ਕੇ-ਐਡਰੈੱਸਬੁੱਕ
Name[pl]=Książka adresowa
Name[pt]=KAddressBook
Name[pt_BR]=KAddressBook
Name[ro]=Cartea de adrese
Name[ru]=KAddressBook
Name[se]=KAddressBook
Name[sk]=KAddressBook
Name[sl]=KAddressBook
Name[sr]=К‑адресар
Name[sr@ijekavian]=К‑адресар
Name[sr@ijekavianlatin]=K‑adresar
Name[sr@latin]=K‑adresar
Name[sv]=Adressbok
Name[ta]=கேமுகவரிப் புத்தகம்
Name[th]=สมุดที่อยู่ K
Name[tr]=KDE Adres Defteri
Name[ug]=KAddressBook
Name[uk]=KAddressBook
Name[x-test]=xxKAddressBookxx
Name[zh_CN]=KAddressBook
Name[zh_TW]=KAddressBook 通訊錄
Icon=kaddressbook
X-DocPath=kaddressbook/index.html
MimeType=text/directory;text/x-ldif;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kaddressbookpart
