[Desktop Entry]
Encoding=UTF-8
Name=KAddressBook
Name[et]=KDE aadressiraamat
Name[sv]=Adressbok
Name[xx]=xxKAddressBookxx
GenericName=Address Manager
GenericName[bg]=Адресник
GenericName[br]=Merour ar chomlec'hioù
GenericName[ca]=Gestor d'adreces
GenericName[da]=Adressehåndtering
GenericName[es]=Gestor de direcciones
GenericName[et]=Aadressihaldur
GenericName[ga]=Bainisteoir na Seoltaí
GenericName[it]=Gestore degli indirizzi
GenericName[nl]=Adresboekbeheerder
GenericName[pt]=Livro de Endereços
GenericName[pt_BR]=Livro de Endereços
GenericName[ru]=Адресная книга
GenericName[sv]=Adresshanterare
GenericName[uk]=Менеджер адрес
GenericName[xx]=xxAddress Managerxx
Exec=kaddressbook %u
Icon=kaddressbook
Type=Application
DocPath=kaddressbook/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kaddressbook
MimeType=text/x-vcard;text/x-ldif
ServiceTypes=KParts/ReadOnlyPart,Browser/View,DCOP/AddressBook
X-KDE-Library=libkaddressbookpart
Categories=Qt;KDE;Office;
