[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KAddressBook/View
Comment=KAddressBook View Plugin

[PropertyDef::X-KDE-KAddressBook-ViewPluginVersion]
Type=int
