[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KAddressBook/View
Comment=KAddressBook View Plugin
Comment[af]=KAddressBook besigtig inprop module
Comment[be]=Дапаўненне K Адраснай кнігі "Выгляд"
Comment[bg]=Приставка за преглед на адресника
Comment[br]=Lugent gwell KAddressBook
Comment[ca]=Endollable visor de la llibreta d'adreces
Comment[cs]=Modul knihu adres pro zobrazování
Comment[cy]=Ategyn Golwg KLlyfrCyfeiriadau
Comment[da]=KAddressBook visningsplugin
Comment[de]=Betrachter-Modul für Adressbuch
Comment[el]=Πρόσθετο προβολής του KAddressBook
Comment[es]=Plugin del visor de KAddressBook
Comment[et]=KDE aadressiraamatu vaatamise plugin
Comment[eu]=KAddressBook-en bistaratze plugin-a
Comment[fa]=وصلۀ نمای KAddressBook
Comment[fi]=KAddressbook näyttöliitännäinen
Comment[fr]=Module d'affichage pour KAddressBook
Comment[gl]=Extensión de Visualización para KAddressBook
Comment[he]=תוסף תצוגה עבור פנקס הכתובות
Comment[hu]=KAddressBook nézeti bővítőmodul
Comment[is]=KAddressbook birtingar íforrit
Comment[it]=Plugin visualizzazione di KAddressbook
Comment[ja]=Addressbook ビュープラグイン
Comment[ka]= KDE წიგნაკის ჩვენების მოდული
Comment[km]=កម្មវិធី​ជំនួយ​ទិដ្ឋភាព​របស់ KAddressBook
Comment[lt]=KAddressBook peržiūros priedas
Comment[mk]=Приклучок за преглед на КАдресар
Comment[ms]=Plug masuk Pelihat KAddressBook
Comment[nb]=KAddressbook-programtillegg for visning
Comment[nds]=Kiekermoduul för KAdressbook
Comment[ne]=केडीई ठेगाना पुस्तिका दृश्य प्लगइन
Comment[nl]=KAddressBook Weergave Plugin
Comment[nn]=Programtillegg for vising av KDE-adresseboka
Comment[pl]=Wtyczka widoku KAddressBook
Comment[pt]='Plugin' da Janela do KAddressBook
Comment[pt_BR]=Plug-in de Visualização do KAddressBook
Comment[ro]=Modul de vizualizare KAddressBook
Comment[ru]=Просмотр адресной книги KDE
Comment[sl]=Vstavek za ogled v Adresarju
Comment[sr]=Прикључак KAddressBook-а за преглед
Comment[sr@Latn]=Priključak KAddressBook-a za pregled
Comment[sv]=Kadressbok-visningsinsticksprogram
Comment[ta]=கேமுகவரிப்புத்தகம் காட்சி சொருகுப்பொருள்
Comment[tg]=Модули намоиши китоби адресии KDE
Comment[tr]=KAdresDefteri Gösterim Eklentisi
Comment[uk]=Втулок перегляду адресної книги KAddressBook
Comment[x-test]=xxKAddressBook View Pluginxx
Comment[zh_TW]=KAddressBook 檢視外掛程式

[PropertyDef::X-KDE-KAddressBook-ViewPluginVersion]
Type=int
