[Desktop Entry]
Name=Tine 2.0 Groupware Server
Name[ca]=Servidor de treball en grup Tine 2.0
Name[de]=Tine 2.0 Groupware-Server
Name[en_GB]=Tine 2.0 Groupware Server
Name[es]=Servidor de colaboración Tine 2.0
Name[fi]=Tine 2.0 -työryhmäpalvelin
Name[it]=Server di groupware Tine 2.0
Name[nl]=Tine 2.0 groupwareserver
Name[pl]=Serwer Groupware Tine 2.0
Name[pt]=Servidor de 'Groupware' Tine 2.0
Name[pt_BR]=Servidor groupware Tine 2.0
Name[sk]=Tine 2.0 Groupware Server
Name[sr]=Групверски сервер Тине 2.0
Name[sr@ijekavian]=Групверски сервер Тине 2.0
Name[sr@ijekavianlatin]=Grupverski server Tine 2.0
Name[sr@latin]=Grupverski server Tine 2.0
Name[tr]=Tine 2.0 Groupware Sunucusu
Name[uk]=Сервер групової роботи Tine 2.0
Name[x-test]=xxTine 2.0 Groupware Serverxx
Icon=applications-internet
Comment=Tine 2.0 Groupware Server
Comment[ca]=Servidor de treball en grup Tine 2.0
Comment[de]=Tine 2.0 Groupware-Server
Comment[en_GB]=Tine 2.0 Groupware Server
Comment[es]=Servidor de colaboración Tine 2.0
Comment[fi]=Tine 2.0 -työryhmäpalvelin
Comment[it]=Server di groupware Tine 2.0
Comment[nl]=Tine 2.0 groupwareserver
Comment[pl]=Serwer Groupware Tine 2.0
Comment[pt]=Servidor de 'Groupware' Tine 2.0
Comment[pt_BR]=Servidor groupware Tine 2.0
Comment[sk]=Tine 2.0 Groupware Server
Comment[sr]=Групверски сервер Тине 2.0
Comment[sr@ijekavian]=Групверски сервер Тине 2.0
Comment[sr@ijekavianlatin]=Grupverski server Tine 2.0
Comment[sr@latin]=Grupverski server Tine 2.0
Comment[tr]=Tine 2.0 Groupware Sunucusu
Comment[uk]=Сервер групової роботи Tine 2.0
Comment[x-test]=xxTine 2.0 Groupware Serverxx

[Wizard]
Type=message/rfc822,text/directory,text/calendar
Script=tine20wizard.es

[Translate]
Filename=accountwizard_tine20
