[Desktop Entry]
Type=Service
Name=Address Book Service
Name[el]=Υπηρεσία βιβλίου διευθύνσεων
Name[es]=Servicio de libreta de direcciones
Name[et]=Aadressiraamatu teenus
Name[ga]=Seirbhís Leabhair Seoltaí
Name[gl]=Servizo de caderno de enderezos
Name[ja]=アドレス帳サービス
Name[nds]=Adressbookdeenst
Name[pt]=Serviço do Livro de Endereços
Name[pt_BR]=Serviço de livro de endereços
Name[sv]=Adressbokstjänst
Name[uk]=Служба адресної книги
Name[x-test]=xxAddress Book Servicexx
Name[zh_TW]=通訊錄服務
Comment=A KMobileTools service that provides address book functions
Comment[ca]=Un servei del KMobileTools que proporciona funcions de llibreta d'adreces
Comment[da]=En KMobileTools-tjeneste der tilbyder adressebogsfunktioner
Comment[de]=Modul der Mobiltelefonverwaltung für Adressbuch-Funktionen
Comment[el]=Μια υπηρεσία του KMobileTools που προσφέρει λειτουργίες βιβλίου διευθύνσεων
Comment[es]=Un servicio de KMobileTools que proporciona funciones de libreta de direcciones
Comment[et]=KMobileToolsi teenus, mis pakub aadressiraamatu funktsioone
Comment[fr]=Un service KMobileTools qui fournit des fonctionnalités de carnet d'adresses
Comment[ga]=Seirbhís KMobileTools a sholáthraíonn feidhmeanna leabhair seoltaí
Comment[gl]=Un servizo de KMobileTools que fornece funcións de caderno de enderezos
Comment[it]=Un servizio di KMobileTools che fornisce funzioni di rubrica indirizzi
Comment[ja]=アドレス帳の機能を提供する KMobileTools サービス
Comment[km]=សេវា KMobileTools ដែល​ផ្ដល់​នូវ​មុខងារ​សៀវភៅ​អាសយដ្ឋាន
Comment[ko]=주소록을 제공하는 KMobileTools 서비스
Comment[lv]=KMobileTools serviss, kas nodrošina adrešu grāmatas funkcijas
Comment[nb]=En KMobileTools-tjeneste som gir adressebokfunksjoner
Comment[nds]=En KMobileTools-Deenst, de Adressbookfunkschonen praatstellt
Comment[nl]=Een KMobileTools-dienst dat adresboekfunctionaliteit aanbiedt
Comment[nn]=Ei KMobileTools-teneste som tilbyr adressebokfunksjonar
Comment[pl]=Usługa KMobileTools, która udostępnia funkcje książki adresowej
Comment[pt]=Um serviço do KMobileTools que oferece o acesso às funções de agenda
Comment[pt_BR]=Um serviço do KMobileTools que fornece acesso às funções do livro de endereços
Comment[sl]=Storitev za KMobileTools, ki omogoča funkcije adresarja
Comment[sv]=En tjänst för Kmobiletools som tillhandahåller adressboksfunktion
Comment[tr]=Adres defteri işlevlerini sağlayan bir KMobileTools servisi
Comment[uk]=Служба KMobileTools для надання функцій адресної книги
Comment[x-test]=xxA KMobileTools service that provides address book functionsxx
Comment[zh_CN]=提供地址簿功能的 KMobileTools 服务
Comment[zh_TW]=提供通訊錄功能的 KMobileTools 服務
X-KDE-ServiceTypes=KMobileTools/CoreService
Description=This service provides KMobileTools with address book functions
Description[ca]=Aquest servei proporciona funcions de llibreta d'adreces al KMobileTools
Description[da]=Denne tjeneste giver KMobileTools adressebogsfunktioner
Description[de]=Dieses Modul fügt der Mobiltelefonverwaltung Adressbuch-Funktionen hinzu
Description[el]=Αυτή η υπηρεσία προσφέρει στο KMobileTools λειτουργίας του βιβλίου διευθύνσεων
Description[es]=Este servicio proporciona a KMobileTools funciones de libreta de direcciones
Description[et]=See teenus lisab KMobileToolsile aadressiraamatu funktsioonid
Description[fr]=Ce service fournit des fonctions de carnet d'adresses à KMobileTools
Description[gl]=Este servizo permítelle ter funcións e caderno de enderezos ao KMobileTools
Description[it]=Questo servizio fornisce a KMobileTools le funzionalità di rubrica indirizzi
Description[ja]=このサービスは KMobileTools にアドレス帳の機能を提供します
Description[km]=សេវា​នេះ​ផ្ដល់ KMobileTools ជា​មួយ​មុខងារ​សៀវភៅ​អាសយដ្ឋាន
Description[ko]=이 서비스는 KMobileTools의 주소록 기능을 제공합니다
Description[lv]=Šis serviss nodrošina KMobileTools ar adrešu grāmatas funkcijām
Description[nb]=Denne tjenesten skaffer adressebok-funksjonalitet til KMobileTools
Description[nds]=Disse Deenst stellt Adressbookfunkschonen för KMobileTools praat
Description[nl]=Deze dienst levert adresboekfunctionaliteit aan KMobileTools
Description[nn]=Denne tenesta gjev adressebokfunksjonar til KMobileTools
Description[pl]=Ta usługa udostępnia funkcje książki adresowej dla KMobileTools
Description[pt]=Este serviço permite ao KMobileTools o acesso às funções de agenda
Description[pt_BR]=Este serviço permite acesso do KMobileTools às funções do livro de endereços
Description[sl]=Ta storitev omogoča KMobileTools uporabo funkcij adresarja
Description[sv]=Den här tjänsten tillhandahåller adressboksfunktion för Kmobiletools
Description[tr]=Bu servis KMobileTools adres defteri işlevlerini sağlar
Description[uk]=Ця служба надає можливість користуватися KMobileTools з функціями адресної книги
Description[x-test]=xxThis service provides KMobileTools with address book functionsxx
Description[zh_CN]=此服务提供 KMobileTools 和地址簿协作的功能
Description[zh_TW]=提供 KMobileTools 通訊錄功能的服務
X-KDE-Library=libkmtaddressbook_service
