[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KitchenSync/Filter

X-KDE-Library=libksfilter_calendar
X-KDE-KitchenSyncFilterType=calendar

Name=Calendar Filter
Name[bg]=Филтър за календара
Name[br]=Sil deiziadur
Name[ca]=Filtre per al calendari
Name[cs]=Filtr kalendáře
Name[da]=Kalenderfilter
Name[de]=Filter für Kalender
Name[el]=Φίλτρο ημερολογίου
Name[es]=Filtro de calendario
Name[et]=Kalendrifilter
Name[eu]=Egutegiaren iragazkia
Name[fr]=Filtre pour le calendrier
Name[he]=מסנן לוח שנה
Name[hu]=Naptárszűrő
Name[is]=Dagatalssía
Name[it]=Filtro calendario
Name[ja]=カレンダーフィルタ
Name[km]=តម្រង​ប្រតិទិន
Name[lt]=Kalendoriaus filtras
Name[nb]=Kalender filter
Name[nds]=Kalenner-Filter
Name[nl]=Agendafilter
Name[nn]=Kalenderfilter
Name[pl]=Filtr kalendarza
Name[pt]=Filtro de Calendário
Name[pt_BR]=Filtro de Calendário
Name[ru]=Фильтр календаря
Name[sl]=Filter za koledar
Name[sr]=Филтер календара
Name[sr@Latn]=Filter kalendara
Name[sv]=Kalenderfilter
Name[ta]=நாள்காட்டி அலங்காரம்
Name[tr]=Takvim Süzgeci
Name[uk]=Фільтр Календаря
Name[zh_CN]=日历过滤器

Comment=Filters events and todos in a calendar
Comment[bg]=Филтриране на събитията и задачите в календара
Comment[ca]=Filtra els esdeveniments i tasques pendents d'un calendari
Comment[cs]=Filtruje události a úkoly v knize adres
Comment[da]=Filtrerer begivenheder og gøremål i en kalender
Comment[de]=Filtert Ereignisse und Aufgaben in einem Kalender
Comment[el]=Φιλτράρει γεγονότα και προς υλοποίηση εργασίες σε ένα ημερολόγιο
Comment[es]=Filtra los eventos y las tareas pendientes de un calendario
Comment[et]=Kalendri sündmuste ja ülesannete filtreerimine
Comment[eu]=Egutegian gertaerak eta egitekoak iragazten ditu
Comment[fr]=Permet de filtrer les évènements et les tâches du calendrier
Comment[he]=מסנן אירועים ומטלות בלוח השנה
Comment[hu]=Szűrő a naptár eseményeihez és feladataihoz
Comment[is]=Síar atburði og verkþætti í dagatali
Comment[it]=Fltra gli eventi e le cose da fare in un calendario
Comment[km]=ត្រង​ព្រឹត្តិការណ៍ និង ការងារ​ត្រូវ​ធ្វើ នៅ​ក្នុង​ប្រតិទិន​មួយ
Comment[lt]=Filtruoja įvykius ir užduotis kalendoriuje
Comment[nb]=Filtrerer hendelser og gjøremål i en kalender
Comment[nds]=Filtert Begeefnissen un Opgaven binnen en Kalenner
Comment[nl]=Filtert agenda-items uit een agenda
Comment[nn]=Filtrerer hendingar og oppgåver i ein kalender
Comment[pl]=Filtruje zdarzenia i zadania w kalendarzu
Comment[pt]=Filtra eventos e a-fazeres num calendário
Comment[pt_BR]=Filtra eventos e tarefas em um calendário
Comment[ru]=Фильтр событий и задач календаря
Comment[sl]=Filtrira dogodke in opravila v koledarju
Comment[sr]=Филтрира догађаје и обавезе у календару
Comment[sr@Latn]=Filtrira događaje i obaveze u kalendaru
Comment[sv]=Filtrerar händelser och uppgifter i en kalender
Comment[ta]=நாட்காட்டியில் செய்திகளையும் செய்யவேண்டியவைகளையும் வடிகட்டுகிறது
Comment[tr]=Bir takvimdeki olayları ve yapılacakları süzer
Comment[uk]=Фільтрує події і завдання в календарі
Comment[zh_CN]=过滤日历中的事件和待办
