[Desktop Entry]
Type=Service
ServiceTypes=MessageViewerHeaderStyle/Plugin
X-KDE-Library=messageviewer_enterpriseheaderstyleplugin
Name=Enterprise Header Style
Name[ca]=Estil de capçalera corporativa
Name[ca@valencia]=Estil de capçalera corporativa
Name[en_GB]=Enterprise Header Style
Name[es]=Estilo empresarial de encabezado
Name[fi]=Yritysotsakkeiden tyyli
Name[gl]=Estilo de cabeceira de empresa
Name[it]=Stile con intestazioni aziendali
Name[nl]=Stijl met headers van de onderneming
Name[pl]=Firmowe nagłówki
Name[pt]=Estilo de Cabeçalho Empresarial
Name[pt_BR]=Estilo de cabeçalho Empresarial
Name[sk]=Podnikový štýl hlavičiek
Name[sl]=Slog s poslovnimi glavami
Name[sr]=пословни стил заглавља
Name[sr@ijekavian]=пословни стил заглавља
Name[sr@ijekavianlatin]=poslovni stil zaglavlja
Name[sr@latin]=poslovni stil zaglavlja
Name[sv]=Företagsrubrikstil
Name[tr]=Gelişmiş Başlık Biçemi
Name[uk]=Корпоративний стиль заголовків
Name[x-test]=xxEnterprise Header Stylexx
X-KDE-MessageViewer-Header-Order=1
