[Desktop Entry]
Name=KitchenSync
Name[sv]=Kitchensync
Name[x-test]=xxKitchenSyncxx
GenericName=Synchronization
GenericName[af]=Sinkronisasie
GenericName[be]=Сінхранізацыя
GenericName[bg]=Синхронизация
GenericName[ca]=Sincronització
GenericName[cs]=Synchronizace
GenericName[cy]=Cydamseriad
GenericName[da]=Synkronisering
GenericName[de]=Abgleich
GenericName[el]=Συγχρονισμός
GenericName[en_GB]=Synchronisation
GenericName[eo]=Sinkronigo
GenericName[es]=Sincronización
GenericName[et]=Sünkroniseerimine
GenericName[eu]=Sinkronizazioa
GenericName[fa]=همگامی
GenericName[fi]=Synkronointi
GenericName[fr]=Synchronisation
GenericName[fy]=Syngronisaasje
GenericName[ga]=Sioncrónú
GenericName[gl]=Sincronización
GenericName[he]=סינכרון
GenericName[hu]=Szinkronizáció
GenericName[is]=Samstilling
GenericName[it]=Sincronizzazione
GenericName[ja]=同期
GenericName[ka]=სინქრონიზაცია
GenericName[kk]=Қадамдастыру
GenericName[km]=កា​រធ្វើ​សមកាលកម្ម
GenericName[ko]=동기화
GenericName[lt]=Sinchronizacija
GenericName[lv]=Sinhronizēšana
GenericName[ms]=Segerakan
GenericName[nb]=Synkronisering
GenericName[nds]=Synkroniseren
GenericName[ne]=समक्रमण
GenericName[nl]=Synchronisatie
GenericName[nn]=Synkronisering
GenericName[oc]=Sincronisacion
GenericName[pa]=ਸੈਕਰੋਨਾਈਜ਼ੇਸ਼ਨ
GenericName[pl]=Synchronizacja
GenericName[pt]=Sincronização
GenericName[pt_BR]=Sincronização
GenericName[ro]=Sincronizare
GenericName[sk]=Synchronizácia
GenericName[sl]=Usklajevanje
GenericName[sv]=Synkronisering
GenericName[ta]=கூட்டிணைப்பு
GenericName[th]=ปรับเทียบข้อมูล
GenericName[tr]=Senkronizasyon
GenericName[uk]=Синхронізація
GenericName[x-test]=xxSynchronizationxx
GenericName[zh_CN]=同步
GenericName[zh_TW]=同步
Exec=kitchensync
Icon=kitchensync
Type=Application
X-DocPath=kitchensync/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kitchensync
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=kitchensyncpart
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
