[Desktop Entry]
Encoding=UTF-8
Name=KitchenSync
GenericName=Synchronization
Exec=kitchensync
Icon=kitchensync
Type=Application
DocPath=kitchensync/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kitchensync
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkitchensyncpart
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
