[Desktop Entry]
Name=KitchenSync
GenericName=Synchronization
GenericName[de]=Abgleich
Exec=kitchensync
Icon=kitchensync
Type=Application
X-DocPath=kitchensync/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kitchensync
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=kitchensyncpart
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
