<!DOCTYPE kpartgui>
<kpartgui name="kitchensync" version="2">
  <MenuBar>
    <Menu name="file">
      <Action name="sync" />
    </Menu>

    <Menu name="groups"><text>&amp;Groups</text>
      <Action name="add_group" />
      <Action name="edit_group" />
      <Action name="delete_group" />
    </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar"><text>Main</text>
    <Action name="sync" />
    <Separator />
    <Action name="add_group" />
    <Action name="edit_group" />
    <Action name="delete_group" />
  </ToolBar>
</kpartgui>
