[Desktop Entry]
Encoding=UTF-8
Icon=looknfeel
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kleopatra
X-KDE-FactoryName=kleopatra_config_appear
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=Appearance
Name[da]=Indstilling af udseende
Name[es]=Configuración de apariencia
Name[et]=Välimuse seadistamine
Name[fr]=Configuration de l'apparence
Name[sv]=Inställning av utseende
Comment=Colors & Fonts Configuration
Comment[da]=Indstilling af farver & skrifttype
Comment[en_GB]=Colours & Fonts Configuration
Keywords=color,font, configuration
Keywords[da]=farve,skrifttype,indstilling
Keywords[en_GB]=colour,font, configuration
Keywords[es]=color, tipografía, configuración
Keywords[et]=värv, font, seadistamine
Keywords[fr]=couleur,police,configuration,paramètres,réglages,couleurs,polices
Keywords[sv]=färger,teckensnitt, inställningar
