[Desktop Entry]
Encoding=UTF-8
Icon=looknfeel
Type=Service
ServiceTypes=KCModule
DocPath=kleopatra/configuration-appearance.html

X-KDE-ModuleType=Library
X-KDE-Library=kleopatra
X-KDE-FactoryName=kleopatra_config_appear
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=Appearance
Name[be]=Зьнешні выгляд
Name[bg]=Външност
Name[bs]=Izgled
Name[ca]=Aparença
Name[cs]=Vzhled
Name[da]=Udseende
Name[el]=Εμφάνιση
Name[es]=Apariencia
Name[et]=Välimus
Name[fr]=Apparence
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[it]=Aspetto
Name[ja]=外観
Name[nb]=Utseende
Name[nl]=Uiterlijk
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ru]=Внешний вид
Name[sl]=Videz
Name[sv]=Uppträdande
Name[ta]=தோற்றம்
Name[xx]=xxAppearancexx
Name[zh_CN]=外观
Comment=Colors & Fonts Configuration
Comment[be]=Канфігурацыя колераў і шрыфтоў
Comment[bg]=Настройки на цветовете и шрифтовете
Comment[cs]=Nastavení barev a písem
Comment[da]=Indstilling af farver & skrifttype
Comment[en_GB]=Colours & Fonts Configuration
Comment[es]=Configuración de colores y tipografías
Comment[et]=Värvide ja fontide seadistamine
Comment[fr]=Configuration des polices et des couleurs
Comment[he]=תצורת צבעים וגופנים
Comment[hu]=A színek és betűtípusok beállítása
Comment[it]=Configurazione tipi di carattere e colori
Comment[nb]=Oppsett av farger og skrifttyper
Comment[nl]=Kleur- en lettertype-instellingen
Comment[pt]=Configuração das Cores e Tipos de Letra
Comment[pt_BR]=Configuração de Cores & Fontes
Comment[ru]=Настройка цветов и шрифтов
Comment[sl]=Nastavitev pisav in barv
Comment[sv]=Inställning av färger och teckensnitt
Comment[ta]=வண்ணங்கள்& எழுத்துருக்கள் கட்டமைப்பு
Comment[xx]=xxColors & Fonts Configurationxx
Comment[zh_CN]=颜色和字体配置
Keywords=color,font, configuration
Keywords[be]=колер, шрыфт, канфігурацыя, color, font, configuration
Keywords[bg]=цвят, шрифт, конфигуриране, настройки color, font, configuration
Keywords[cs]=barva,písmo,nastavení
Keywords[da]=farve,skrifttype,indstilling
Keywords[en_GB]=colour,font, configuration
Keywords[es]=color, tipografía, configuración
Keywords[et]=värv, font, seadistamine
Keywords[fr]=couleur,police,configuration,paramètres,réglages,couleurs,polices
Keywords[he]=צבע,צבעים, גופנים, גופן, תצורה, הגדרה
Keywords[hu]=szín,betűtípus,beállítások
Keywords[it]=colori, font, caratteri, configurazione
Keywords[nb]=farge,skrifttype,oppsett
Keywords[nl]=kleur,kleuren,font,lettertype,configuratie,instellingen,setup
Keywords[pt]=cor,tipo de letra, configuração
Keywords[pt_BR]=cor,fonte,configurar,configurações
Keywords[ru]=цвета,шрифты,настройка
Keywords[sl]=barva,barve,pisava,pisave,nastavi,nastavitve
Keywords[sv]=färger,teckensnitt, inställningar
Keywords[ta]=Comment=வண்ணம்,எழுத்துரு, கட்டமைப்பு
Keywords[xx]=xxcolor,font, configurationxx
Keywords[zh_CN]=color,font,configuration,颜色,字体,配置
