[Desktop Entry]
Encoding=UTF-8
Icon=looknfeel
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kleopatra
X-KDE-FactoryName=kleopatra_config_dnorder
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=DN-Attribute Order
Name[da]=DN-Attributrækkefølge
Name[es]=Orden de atributos DN
Name[et]=DN atribuutide järjekord
Name[nl]=DN-Attribuutvolgorde
Name[sl]=Vrstni red atributov DN
Name[sv]=DN-egenskapsordning
Name[ta]=DN-பண்புக்கூறு சரிசை
Name[xx]=xxDN-Attribute Orderxx
Comment=Configure the order in which DN attributes are shown
Comment[da]=Indstil rækkefølgen i hvilken DN-attributter vises
Comment[es]=Configura el orden en el que se muestran los atributos DN
Comment[et]=DN atribuutide näitamise järjekorra seadistamine
Comment[nl]=Stel de volgorde in van de DN-attributen
Comment[sl]=Nastavite vrstni red, v katerem so prikazani atributi DN
Comment[sv]=Anpassa ordningen som DN-egenskaper visas
Comment[ta]= DN விவரங்கள் எந்த வரிசையில் உள்ளதோ அப்படியே அமை
Comment[xx]=xxConfigure the order in which DN attributes are shownxx
Keywords=DN,order,RDN,attribute
Keywords[da]=DN,rækkefølge,RDN,attribut
Keywords[es]=DN,orden,RDN,atributo
Keywords[et]=DN,järjekord,RDN,atribuut
Keywords[nl]=DN,volgorde,RDN,attribuut
Keywords[sl]=DN,vrstni red,RDN,atribut
Keywords[sv]=DN,ordning,RDN,egenskap
Keywords[ta]=DN,வரிசை,RDN,குணம்
Keywords[xx]=xxDN,order,RDN,attributexx
