[Desktop Entry]
Encoding=UTF-8
Icon=looknfeel
Type=Service
ServiceTypes=KCModule
DocPath=kleopatra/configuration-dn-order.html

X-KDE-ModuleType=Library
X-KDE-Library=kleopatra
X-KDE-FactoryName=kleopatra_config_dnorder
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=DN-Attribute Order
Name[ar]=ترتيب سمات DN
Name[bg]=Подредба
Name[bs]=Redoslijed DN atributa
Name[ca]=Ordre d'atributs DN
Name[cs]=Pořadí DN atributů
Name[da]=DN-Attributrækkefølge
Name[de]=DN-Attribut-Ordnung
Name[es]=Orden de atributos DN
Name[et]=DN atribuutide järjekord
Name[fi]=DN-attribuuttien järjestys
Name[fr]=Ordre des attributs DN
Name[gl]=Orde de DN-Attribute
Name[he]=סדר של מאפייני DN
Name[hu]=DN-attribútumsorrend
Name[it]=Attributi DN, ordine
Name[ja]=DNー属性 オーダー
Name[nb]=DN-Attributtrekkefølge
Name[nl]=DN-Attribuutvolgorde
Name[nn]=DN-attributtrekkjefølgje
Name[pl]=Porządek atrybutów DN
Name[pt]=Ordem de Atributos DN
Name[pt_BR]=Ordem do Atributo DN
Name[ru]=Порядок атрибутов DN
Name[se]=DN-attribuhttaortnet
Name[sk]=Poradie atribútov DN
Name[sl]=Vrstni red atributov DN
Name[sr]=DN-Атрибут ред
Name[sr@Latn]=DN-Atribut red
Name[sv]=DN-egenskapsordning
Name[ta]=DN-பண்புக்கூறு வரிசை
Name[tg]=Тартиби мушаххасияти DN
Name[uk]=Порядок атрибутів DN
Name[zh_CN]=DN 属性顺序
Comment=Configure the order in which DN attributes are shown
Comment[ar]=ترتيب عرض سمات DN
Comment[bg]=Настройки на подредбата на атрибутите на индекса (DN)
Comment[bs]=Podesite redoslijed kojim će biti prikazani DN atributi
Comment[ca]=Configura l'ordre en que es mostren els atributs DN
Comment[da]=Indstil rækkefølgen i hvilken DN-attributter vises
Comment[de]=Konfiguration für die Anzeigeordnung der DN-Attribute
Comment[es]=Configura el orden en el que se muestran los atributos DN
Comment[et]=DN atribuutide näitamise järjekorra seadistamine
Comment[fi]=Määrittele, missä järjestyksessä DN-attribuutit näytetään
Comment[fr]=Configurer l'ordre dans lequel les attributs DN sont affichés
Comment[gl]=Configurar a orde en que se amosan os atributos DN
Comment[he]=הגדרה של הסדר שבהם מאפייני DN מוצגים
Comment[hu]=A DN-attribútumok megjelenítési sorrendjének beállítása
Comment[it]=Configuraz l'ordine in cui sono mostrati gli attributi DN
Comment[ja]=DN-属性が示されるオーダーを設定します。
Comment[nb]=Still inn rekkefølgen DN-attributtene er sortert i
Comment[nl]=Stel de volgorde in van de DN-attributen
Comment[nn]=Vel kva rekkjefølgje DN-attributtane er sorterte i
Comment[pl]=Konfiguracja kolejności wyświetlania atrybutów DN
Comment[pt]=Configuração da order em que os atributos DN são mostrados
Comment[pt_BR]=Configura a ordem na qual os atributos DN são mostrados
Comment[ru]=Настройка порядка показываемых атрибутов DN
Comment[se]=Vállje makkár ortnegis DN-attribuhttat sorterejuvvojit
Comment[sk]=Nastavenie poradia, v ktorom sú zobrazené atribúty DN
Comment[sl]=Nastavite vrstni red, v katerem so prikazani atributi DN
Comment[sr]=Подешава ред којим су приказани DN атрибути
Comment[sr@Latn]=Podešava red kojim su prikazani DN atributi
Comment[sv]=Anpassa ordningen som DN-egenskaper visas
Comment[ta]= DN விவரங்கள் எந்த வரிசையில் உள்ளதோ அப்படியே அமை
Comment[tg]=Танзимоти мушаххасиятҳои намоишшавандаи тартибии DN
Comment[uk]=Налаштування порядку показу атрибутів DN
Comment[zh_CN]=配置 DN 属性显示的顺序
Keywords=DN,order,RDN,attribute
Keywords[ar]=DN, ترتيب, RDN, سمة
Keywords[be]=парадак,атрыбут,DN,order,RDN,attribute
Keywords[bg]=индекс, ред, подредба, атрибут DN, order, RDN, attribute
Keywords[bs]=DN,order,RDN,attribute,redoslijed,atribut
Keywords[ca]=DN,ordre,RDN,atribut
Keywords[da]=DN,rækkefølge,RDN,attribut
Keywords[de]=DN,Ordnung,RDN,Attribut
Keywords[es]=DN,orden,RDN,atributo
Keywords[et]=DN,järjekord,RDN,atribuut
Keywords[fi]=DN,järjestys,RDN,attribuutti
Keywords[fr]=DN,ordre,RDN,attribut
Keywords[gl]=DN,orde,RDN,atributo
Keywords[he]=DN,סדר,RDN,מאפיין
Keywords[hu]=DN,sorrend,RDN,attribútum
Keywords[it]=DN,ordine,RDN,attributi
Keywords[ja]=DN,オーダー,RDN,属性
Keywords[nb]=DN,orden,RDN,attributt
Keywords[nl]=DN,volgorde,RDN,attribuut
Keywords[nn]=DN,rekkjefølgje,RDN,attributt
Keywords[pl]=DN,kolejność,RDN,atrybuty
Keywords[pt]=DN,ordem,RDN,atributo
Keywords[pt_BR]=DN, ordem, RDN,atributo
Keywords[ru]=DN,порядок,RDN,атрибут
Keywords[se]=DN,ortnet,RDN,attribuhtta
Keywords[sk]=DN,poradie,RDN,atribút
Keywords[sl]=DN,vrstni red,RDN,atribut
Keywords[sr]=DN,ред,RDN,атрибут
Keywords[sr@Latn]=DN,red,RDN,atribut
Keywords[sv]=DN,ordning,RDN,egenskap
Keywords[ta]=DN,வரிசை,RDN,குணம்
Keywords[tg]=DN,тартибот,RDN,мушаххасот
Keywords[uk]=DN,порядок,RDN,атрибут
Keywords[zh_CN]=DN,order,RDN,attribute,顺序,属性
