[Misc]
Name=SMS Serializer
Name[ca]=Serialitzador de SMS
Name[da]=SMS-serieordning
Name[de]=SMS-Serialisierung
Name[el]=Διαχειριστής SMS
Name[es]=Serializador de SMS
Name[et]=SMS-ide jadasti
Name[fr]=Sérialiseur de SMS
Name[ga]=Srathóir SMS
Name[gl]=Serializador de SMS
Name[it]=Serializzatore di SMS
Name[ja]=SMS 用シリアライザ
Name[km]=កម្មវិធី​បោះពុម្ព SMS
Name[lt]=SMS serializatorius
Name[lv]=SMS serializētājs
Name[nb]=SMS serialiserer
Name[nds]=SMS-Reegmoduul
Name[ne]=एसएमएस मिलानकर्ता
Name[nl]=SMS-administratie
Name[nn]=SMS-serialisator
Name[pa]=SMS ਸੀਰੀਅਲਾਈਜ਼ਰ
Name[pl]=Serializacja SMS-ów
Name[pt]=Serializador de SMS
Name[pt_BR]=Serializador de SMS
Name[ro]=Serializator SMS
Name[sv]=SMS-serialisering
Name[tr]=SMS Sıralandırıcısı
Name[uk]=Серіалізатор SMS
Name[x-test]=xxSMS Serializerxx
Name[zh_CN]=手机短信序列转换器
Name[zh_TW]=簡訊序列器
Comment=An Akonadi serializer plugin for sms objects
Comment[ca]=Un connector de serialització de l'Akonadi pels objectes SMS
Comment[da]=En Akonadi-plugin til serieordning af SMS-objekter
Comment[de]=Akonadi-Modul zur Serialisierung von SMS-Objekten
Comment[el]=Ένα πρόσθετο διαχείρισης SMS αντικειμένων για το Akonadi
Comment[es]=Un complemento serializador de Akonadi para objetos sms
Comment[et]=Akonadi SMS-objektide jadastamisplugin
Comment[fr]=Un module externe Akonadi pour la sérialisation des SMS
Comment[ga]=Breiseán srathóra Akonadi le haghaidh réada SMS
Comment[gl]=Un engadido serializador de Akonadi para obxectos sms
Comment[it]=Un'estensione di Akonadi per la serializzazione di SMS
Comment[ja]=SMS オブジェクトのための Akonadi シリアライザプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ម៉ាស៊ីន​បោះពុម្ព Akonadi សម្រាប់​វត្ថុ sms
Comment[lt]=Akonadi serializatoriaus priedas SMS objektams
Comment[lv]=Akonadi sms serializēšanas spraudnis
Comment[nb]=Et Akonadi serialiserer-programtillegg for SMS-objekter
Comment[nds]=Akonadi-Inreegmoduul för SMSen
Comment[ne]=एसएमएस सामाग्रीका लागि एउटा एकोनाडी मिलानकर्ता प्लगइन
Comment[nl]=Een administratieplugin voor Akonadi voor SMS
Comment[nn]=Eit Akonadi-serialisatortillegg for SMS-objekt
Comment[pa]=sms ਆਬਜੈਕਟਾਂ ਲਈ ਅਕੌਂਡੀ ਸੀਰੀਅਰਲਾਈਜ਼ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Akonadi do serializowania obiektów typu SMS
Comment[pt]=Um 'plugin' de serialização do Akonadi para os objectos de SMS
Comment[pt_BR]=Um plug-in de serialização do Akonadi para objetos SMS
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av SMS-objekt
Comment[tr]=Sms nesneleri için bir Akonadi sıralandırıcısı
Comment[uk]=Втулок серіалізації Akonadi для об'єктів sms
Comment[x-test]=xxAn Akonadi serializer plugin for sms objectsxx
Comment[zh_CN]=对手机短信对象进行序列转换的 Akonadi 插件
Comment[zh_TW]=簡訊物件的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-kmobiletools-sms
X-KDE-Library=akonadi_serializer_sms
