[Desktop Entry]
Name=Akonadi Nepomuk EMail Feeder
Name[de]=Akonadi-Modul für Nepomuk-E-Mail-Übergabe
Comment=Extension for Akonadi to push emails into Nepomuk
Comment[de]=Nepomuk-Erweiterung zur Übergabe von E-Mails an Nepomuk
Type=AkonadiAgent
Exec=akonadi_nepomuk_email_feeder

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=
X-Akonadi-Identifier=akonadi_nepomuk_email_feeder
