[Desktop Entry]
Encoding=UTF-8
Name=Mobile Phone or Organizer (gammu)
Name[sv]=Mobilenhet (gammu)
Comment=This driver supports many NOKIA and other mobile phones via the gammu library
Comment[sv]=Den här drivrutinen stöder många Nokia och andra mobiltelefoner via biblioteket gammu
Type=Service
ServiceTypes=kdedevice/mobiledevice
X-KDE-Library=libkmobile_gammu
Icon=mobile_phone
