[Desktop Entry]
Name=Followup Reminder Agent
Name[de]=Agent zur Erinnerung an Folgenachrichten
Name[es]=Agente de recordatorio de seguimiento
Name[fr]=Agent de rappel des messages suivis
Name[nl]=Agent voor herinneren aan vervolgactie
Name[pt]=Agente de Chamadas de Seguimento
Name[pt_BR]=Agente de Acompanhamento
Name[ru]=Агент напоминания о продолжении
Name[sk]=Agent pripomienky spracovania
Name[sr]=Агент подсећања на одговор
Name[sr@ijekavian]=Агент подсећања на одговор
Name[sr@ijekavianlatin]=Agent podsećanja na odgovor
Name[sr@latin]=Agent podsećanja na odgovor
Name[sv]=Påminnelseuppföljningsmodul
Name[uk]=Агент нагадування про відповіді
Name[x-test]=xxFollowup Reminder Agentxx
Comment=Followup Reminder Agent allows to remind you when an email was not answered.
Comment[de]=Der Agent zur Erinnerung an Folgenachrichten erinnert Sie, wenn eine E-Mail nicht beantwortet wurde.
Comment[es]=El agente de recordatorio de seguimiento permite recordarle cuando no se contestó un correo.
Comment[fr]=L'agent de rappel des messages suivis permet de se rappeler lorsqu'il n'y a pas eu de réponse à un courriel.
Comment[nl]=Agent voor herinneren aan vervolgactie stelt u in staat om u te herinneren aan een nog niet beantwoord e-mailbericht.
Comment[pt]=O Agente de Chamadas de Seguimento permite recordar quando uma mensagem não foi respondida.
Comment[pt_BR]=O Agente de Acompanhamento permite-lhe lembrar de um e-mail não respondido.
Comment[ru]=Агент напоминания о продолжении будет напоминать вам о письмах, на которые вы не ответили.
Comment[sk]=Agent pripomienky spracovania vám umožní upozorniť vás, keď e-mail nemá odpoveď.
Comment[sr]=Агент подсећања на одговор издаје подсетнике о неодговореној е‑пошти.
Comment[sr@ijekavian]=Агент подсећања на одговор издаје подсетнике о неодговореној е‑пошти.
Comment[sr@ijekavianlatin]=Agent podsećanja na odgovor izdaje podsetnike o neodgovorenoj e‑pošti.
Comment[sr@latin]=Agent podsećanja na odgovor izdaje podsetnike o neodgovorenoj e‑pošti.
Comment[sv]=Påminnelseuppföljningsmodulen gör det möjligt att få en påminnelse när ett brev inte besvarats.
Comment[uk]=Агент нагадування про відповіді нагадуватиме вам про електронні листи, на які ви не дали відповіді.
Comment[x-test]=xxFollowup Reminder Agent allows to remind you when an email was not answered.xx
Type=AkonadiAgent
Exec=akonadi_followupreminder_agent
Icon=kmail
X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_followupreminder_agent
