[Desktop Entry]
Type=Service
Name=Konnector Restore
Name[bs]=Konnector osvježi
Name[ca]=Recuperació de còpia de seguretat Konnector
Name[da]=Konnector genopret
Name[de]=Konnector-Wiederhestellung
Name[es]=Konnector para restauración
Name[et]=Konnectori taastaja
Name[fr]=Restauration de Konnector
Name[he]=שחזור של Konnector
Name[hu]=Konnector helyreállítás
Name[it]=Ripristina Konnector
Name[ja]=Konnector 回復
Name[nb]=Konnector gjenoppretting
Name[nl]=Konnector-herstel
Name[nn]=Konnector-gjenoppretting
Name[pl]=Odtwarzanie dla Konnectora
Name[pt]=Recuperação do Konnector
Name[ru]=Восстановление Konnector
Name[sk]=Obnova Konnector
Name[sl]=Povrnitev Konnectorja
Name[sr]=Konnector поврати
Name[sr@Latn]=Konnector povrati
Name[sv]=Konnector återställning
Name[ta]=இணைப்பானைத் திரும்பப் பெறுதல் 
Name[tg]=Барқарор кардани Konnector
Name[zh_CN]=Konnector 恢复
Icon=
ServiceTypes=KitchenSync/ActionPart
X-KDE-Library=libksync_restore
