[Desktop Entry]
Type=Service
Name=Konnector Restore
Name[da]=Konnector genopret
Name[es]=Konnector para restauración
Name[et]=Konnectori taastaja
Name[it]=Ripristina Konnector
Name[nl]=Konnector-herstel
Name[sl]=Povrnitev Konnectorja
Name[sv]=Konnector återställning
Name[ta]=இணைப்பானைத் திரும்பப் பெறுதல் 
Name[xx]=xxKonnector Restorexx
Icon=
ServiceTypes=KitchenSync/ActionPart
X-KDE-Library=libksync_restore
