[Desktop Entry]
Name=Example big title
Name[ca]=Títol gran d'exemple
Name[de]=Beispiel mit großem Titel
Name[es]=Ejemplo de título grande
Name[fr]=Exemple avec grand titre
Name[gl]=Exemplo de título grande
Name[ia]=Exemplo Titulo grande
Name[kk]=Үлкен атау мысалы
Name[nl]=Voorbeeld van grote titel
Name[pt]=Título grande de exemplo
Name[pt_BR]=Exemplo de título grande
Name[sk]=Ukážkový veľký titulok
Name[sr]=Пример великог наслова
Name[sr@ijekavian]=Пример великог наслова
Name[sr@ijekavianlatin]=Primer velikog naslova
Name[sr@latin]=Primer velikog naslova
Name[sv]=Exempel på stor rubrik
Name[uk]=Приклад великого заголовка
Name[x-test]=xxExample big titlexx
Name[zh_TW]=範例大標題
Description=Example big title grantlee printing theme
Description[ca]=Tema d'impressió d'exemple de Grantlee amb un títol gran
Description[de]=Beispiel für Grantlee-Druckstil mit großem Titel
Description[es]=Ejemplo de título grande de tema de impresión grantlee
Description[fr]=Thème d'impression Grantlee avec un grand titre
Description[gl]=Tema de impresión de grantlee de exemplo de título grande
Description[ia]=Exemplo Thema de imprimer grantlee a titulo grande
Description[kk]=Grantlee басып шығару нақыштың үлкен атау мысалы
Description[nl]=Voorbeeld van grote titel in grantlee afdrukthema
Description[pt]=Tema de impressão de exemplo do Grantlee com um título grande
Description[pt_BR]=Exemplo de tema de impressão de título grande do Grantlee
Description[sk]=Ukážková veľká tlačová téma grantlee
Description[sr]=Пример великог наслова, Грантлијева тема за штампање
Description[sr@ijekavian]=Пример великог наслова, Грантлијева тема за штампање
Description[sr@ijekavianlatin]=Primer velikog naslova, Grantleejeva tema za štampanje
Description[sr@latin]=Primer velikog naslova, Grantleejeva tema za štampanje
Description[sv]=Exempel på Grantlee-tema för utskrift med stor rubrik
Description[uk]=Приклад великого заголовка у темі для друку grantlee
Description[x-test]=xxExample big title grantlee printing themexx
Description[zh_TW]=範例大標題 grantlee 列印主題
