[Desktop Entry]
Type=Service
ServiceTypes=PimCommonStorageService/Plugin
X-KDE-Library=pimcommon_gdriveplugin
Name=GDrive
Name[ca]=GDrive
Name[ca@valencia]=GDrive
Name[de]=GDrive
Name[en_GB]=GDrive
Name[es]=GDrive
Name[fi]=GDrive
Name[gl]=GDrive
Name[it]=GDrive
Name[nl]=GDrive
Name[pl]=GDrive
Name[pt]=GDrive
Name[pt_BR]=GDrive
Name[sk]=GDrive
Name[sl]=GDrive
Name[sr]=Гугл‑драјв
Name[sr@ijekavian]=Гугл‑драјв
Name[sr@ijekavianlatin]=Google Drive
Name[sr@latin]=Google Drive
Name[sv]=GDrive
Name[uk]=GDrive
Name[x-test]=xxGDrivexx
