[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell alarmdaemonctrl
Icon=kalarm
Type=Application
DocPath=kcontrol/alarmdaemonctrl.html

X-KDE-ModuleType=Library
X-KDE-Library=alarmdaemonctrl
X-KDE-FactoryName=alarmdaemonctrl

Name=Alarm Daemon
Name[af]=alarm bediener
Name[da]=Alarmdæmon
Name[de]=Alarm-Dämon
Name[es]=Demonio Alarma
Name[fi]=Hälytyspalvelin
Name[fr]=Démon d'alarme
Name[he]=תהליך שירות התזכורות
Name[hu]=Emlékeztető szolgáltatás
Name[it]=Demone dei promemoria
Name[lt]=Žadintuvo demonas
Name[lv]=Trauksmes Dēmons
Name[nl]=Alarm daemon
Name[pt]=Servidor de Alarme
Name[pt_BR]=Servidor de Alarme
Name[sk]=Alarm démon
Name[sl]=Alarmski strežnik
Name[sv]=Alarmdemon
Name[tr]=Alarm Programı
Name[uk]=Демон сигналізації
Name[xx]=xx

Comment=Alarm Daemon Settings
Comment[af]=alarm bediener instellings
Comment[az]=Alarm Demon Qurğuları
Comment[da]=Alarmdæmon opsætning
Comment[de]=Einstellungen für den Alarm-Dämon
Comment[es]=Opciones del demonio Alarma
Comment[fi]=Hälytyspalvelimen asetukset
Comment[fr]=Configuration du démon d'alarme
Comment[he]=שינוי ההגדרות של תהליך שירות התזכורות
Comment[hu]=Az emlékeztető szolgáltatás beállításai
Comment[it]=Impostazioni del demone dei promemoria
Comment[lt]=Žadintuvo demono nustatymai
Comment[lv]=Trauksmes Dēmona Uzstādījumi
Comment[nl]=Alarm daemon instellingen
Comment[pt]=Configuração do Servidor de Alarme
Comment[pt_BR]=Configuração do Servidor de Alarme
Comment[sk]=Nastavenie Alarm démona
Comment[sl]=Nastavitve alarmskega strežnika
Comment[sv]=Alarmdemoninställningar
Comment[tr]=Alarm Program Ayarları
Comment[xx]=xx

Keywords=Alarm Daemon,kalarmd,KAlarm,KOrganizer
Keywords[da]=Alarmdæmon,kalarmd,KAlarm,KOrganizer
Keywords[de]=Alarm-Dämon,Kalarmd,KAlarm,KOrganizer
Keywords[es]=Demonio Alarma,kalarmd,KAlarm,KOrganizer
Keywords[fi]=Hälyytyspalvelin,kalarmd,KAlarm,KOrganizer
Keywords[fr]=démon d'alarme,alarme,kalarmd,korganizer,kalarm,agenda
Keywords[he]=תזכורות,אירגונית,kalarmd,KAlarm,KOrganizer
Keywords[hu]=emlékeztető szolgáltatás,kalarmd,KAlarm,KOrganizer
Keywords[it]=demone dei promemoria,kalarmd,KAlarm,KOrganizer
Keywords[lt]=Alarm Daemon,kalarmd,KAlarm,KOrganizer, Žadintuvo demonas
Keywords[lv]=Trauksmes Dēmons,kalarmd,KTrauksme,KOrganizer
Keywords[pt]=Servidor de Alarme,kalarmd,KAlarm,KOrganizer
Keywords[pt_BR]=Servidor de Alarme,kalarmd,KAlarm,KOrganizer
Keywords[sk]=Alarm démon,KAlarm,KOrganizer
Keywords[sv]=Alarmdemon,kalarmd,Kalarm,Korganizer
Keywords[tr]=Alarm programı,kalarmd,KAlarm
Keywords[xx]=xx
