[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell alarmdaemonctrl
Icon=kalarm
Type=Application
DocPath=kcontrol/alarmdaemonctrl.html

X-KDE-ModuleType=Library
X-KDE-Library=alarmdaemonctrl
X-KDE-FactoryName=alarmdaemonctrl

Name=Alarm Client
Name[af]=alarm bediener
Name[ar]=مراقب Alarm
Name[bg]=Alarm Демон
Name[bs]=Alarm demon
Name[cs]=Alarm démon
Name[da]=Alarmdæmon
Name[de]=Alarm-Dämon
Name[el]=Δαίμονας Προειδοποίησης
Name[eo]=Alarmodemono
Name[es]=Demonio Alarma
Name[et]=Alarm deemon
Name[eu]=Alarma Demonioa
Name[fi]=Hälytyspalvelin
Name[fr]=Démon d'alarme
Name[he]=תהליך שירות התזכורות
Name[hu]=Emlékeztető szolgáltatás
Name[it]=Demone dei promemoria
Name[ja]=アラームデーモン
Name[lt]=Aliarmų tarnyba
Name[lv]=Trauksmes Dēmons
Name[nl]=Alarm daemon
Name[nn]=Alarmdemon
Name[pt]=Servidor de Alarme
Name[pt_BR]=Servidor de Alarme
Name[ro]=Demon de alarmare
Name[sk]=Alarm démon
Name[sl]=Alarmski strežnik
Name[sv]=Alarmdemon
Name[th]=เซิร์ฟเวอร์ Alarm
Name[tr]=Alarm Programı
Name[uk]=Демон сигналізації
Name[xx]=xx
Name[zh_CN]=提示进程
Name[zu]=Alarm daemon

Comment=Alarm Daemon Settings
Comment[af]=alarm bediener instellings
Comment[ar]=إعدادات مراقب Alarm
Comment[az]=Alarm Demon Qurğuları
Comment[bg]=Настройки на Alarm Демона
Comment[bs]=Postavke alarm demona
Comment[da]=Alarmdæmon opsætning
Comment[de]=Einstellungen für den Alarm-Dämon
Comment[el]=Ρυθμίσεις του Δαίμονα Προειδοποίησης
Comment[eo]=Agordo de Alarmodemono
Comment[es]=Opciones del demonio Alarma
Comment[eu]=Alarma Demonioaren Ezarpenak
Comment[fi]=Hälytyspalvelimen asetukset
Comment[he]=שינוי הגדרות תהליך שירות התזכורות
Comment[hr]=Postavke alarm daemona
Comment[ja]=アラームデーモンの設定
Comment[lt]=Aliarmų tarnybos nustatymai
Comment[nl]=alarm daemon instellingen
Comment[pt_BR]=Configurações do Servidor de Alarme
Comment[ro]=Opţiuni demon de alarmare
Comment[sk]=Nastavenie Alarm démona
Comment[sl]=Nastavitve alarmskega strežnika
Comment[sv]=Anpassa alarmdemon
Comment[tr]=Alarm Program Ayarları
Comment[uk]=Установки демону сигналізації
Comment[vi]=Cấu hình Alarm Daemon
Comment[xx]=xx
Comment[zh_CN]=提示进程设置

Keywords=Alarm Daemon,kalarmd,KAlarm,KOrganizer
Keywords[ar]=مراقب Alarm,kalarmd,KAlarm,KOrganizer
Keywords[cs]=Alarm démon,KAlarm,KOrganizer
Keywords[da]=Alarmdæmon,kalarmd,KAlarm,KOrganizer
Keywords[de]=Alarm-Dämon,Kalarmd,KAlarm,KOrganizer
Keywords[el]=Δαίμονας Προειδοποίησης,kalarmd,KAlarm,KOrganizer
Keywords[eo]=Alarm-demono,Organizilo,Alarmo
Keywords[es]=Demonio Alarma,kalarmd,KAlarm,KOrganizer
Keywords[et]=alarmide deemon,kalarmd,kalarm,korganizer
Keywords[fi]=Hälyytyspalvelin,kalarmd,KAlarm,KOrganizer
Keywords[fr]=démon d'alarme,alarme,kalarmd,korganizer,kalarm,agenda
Keywords[he]=תזכורות,אירגונית,kalarmd,KAlarm,KOrganizer
Keywords[hu]=emlékeztető szolgáltatás,kalarmd,KAlarm,KOrganizer
Keywords[it]=demone dei promemoria,kalarmd,KAlarm,KOrganizer
Keywords[ja]=アラームデーモン,kalarmd,KAlarm,KOrganizer
Keywords[lt]=Alarm Daemon,kalarmd,KAlarm,KOrganizer, aliarmų tarnyba
Keywords[lv]=Trauksmes Dēmons,kalarmd,KTrauksme,KOrganizer
Keywords[nl]=Alarm daemon,kalarmd,KAlarm,KOrganizer,alarmplanner,planner
Keywords[nn]=alarmdemon,kalarmd,KAlarm,KOrganizer
Keywords[pt]=Servidor de Alarme,kalarmd,KAlarm,KOrganizer
Keywords[pt_BR]=Servidor de Alarme,kalarmd,KAlarm,KOrganizer
Keywords[ro]=alarmă,demon,kalarmd,kalarm,organizator,korganizer
Keywords[sk]=Alarm démon,KAlarm,KOrganizer
Keywords[sv]=Alarmdemon,kalarmd,Kalarm,Korganizer
Keywords[th]=เซิร์ฟเวอร์ Alarm,kalarmd,KAlarm,KOrganizer
Keywords[tr]=Alarm programı,kalarmd,KAlarm
Keywords[uk]=демон сигналізації,kalarmd,KAlarm,KOrganizer
Keywords[ven]=Daemon ya Alamu,kalarmd,KAlarm,Mudzudzanyi wa K
Keywords[xx]=xx
Keywords[zh_CN]=Alarm Daemon,kalarmd,KAlarm,KOrganizer,提示进程,提示
