# KDE Config File
[Desktop Entry]
Name=Alarm Daemon
Name[af]=alarm bediener
Name[da]=Alarmdæmon
Name[de]=Alarm-Dämon
Name[es]=Demonio Alarma
Name[fi]=Hälytyspalvelin
Name[fr]=Démon d'alarme
Name[he]=תהליך שירות התזכורות
Name[hu]=Emlékeztető szolgáltatás
Name[it]=Demone dei promemoria
Name[lv]=Trauksmes Dēmons
Name[nl]=Alarm daemon
Name[pt]=Servidor de Alarme
Name[pt_BR]=Servidor de Alarme
Name[sk]=Alarm démon
Name[sl]=Alarmski strežnik
Name[sv]=Alarmdemon
Name[tr]=Alarm Programı
Name[uk]=Демон сигналізації
Name[xx]=xx
Exec=kalarmd --login
Icon=kalarmd
Type=Application
Comment=KOrganizer/KAlarm alarm daemon autostart at login
Comment[ar]=مراقب تنبيهات KOrganizer/KAlarm يبدؤون آليا عند بدء التشغيل
Comment[az]=KOrganizer/KAlarm alarm demonunun başlanğıcda avtomatik dövrəyə girməsi
Comment[da]=KOrganizer/KAlarm-alarmdæmon autostart ved logpå
Comment[de]=Autostart des Alarmdämons von KOrganizer bei der Anmeldung beim System
Comment[es]=Demonio de autoinicio de alarma KAlarm/KOrganizer al acceder
Comment[fi]=KOrganizer/KAlarm hälytyspalvelimen automaattikäynnistys sisäänkirjautuessa
Comment[fr]=Le démon d'alarme de kOrganizer et de kAlarm démarre automatiquement lors de la connexion
Comment[he]=הפעלה אוטומטית של תהליך שירות התזכורות של KOrganizer/KAlarm בעת ההפעלה
Comment[hu]=A KOrganizer/KAlarm emlékeztető szolgáltatás automatikus indítása
Comment[lv]=KOrganizer/KAlarm trauksmes dēmona autostarts pie pieteikšanās
Comment[nl]=KOrganizer/Kalarm alarmdaemon autostart bij login
Comment[pt]=Servidor de alarme do KAlarm/KOrganizer auto-iniciável no arranque
Comment[pt_BR]=Servidor de alarme do KAlarm/KOrganizer auto-iniciável no arranque
Comment[sk]=Automatické spustenie alarm démona pre KOrganizer/KAlarm pri štarte
Comment[sl]=Samodejni zagon alarmskega strežnika za KOrganizer/KAlarm
Comment[sv]=Korganizer/Kalarm-alarmdemon, automatisk start vid inloggning
Comment[tr]=KOrganizer alarm programı (açılışta başlar)
Comment[xh]=KOrganizer/KAlarm alarm daemon uqalo oluzenzekelayo kwigama elithile
Comment[xx]=xx
Comment[zu]=Umqguzeleli we alarm daemon ye K
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalarmdrc:General:Autostart:true
X-KDE-StartupNotify=true
