# KDE Config File
[Desktop Entry]
Name=Alarm daemon
Name[da]=Alarm dæmon
Name[he]=תהליך שירות התזכורות
Name[hu]=Emlékeztető szolgáltatás
Exec=kalarmd
Icon=kalarmd
Type=Application
Comment=KOrganizer/KAlarm alarm daemon
Comment[da]=KOrganizer/KAlarm alarm dæmon
Comment[he]=תהליך שירות התזכורות של KOrganizer/KAlarm
Comment[hu]=A KOrganizer/KAlarm emlékeztető szolgáltatása
Terminal=0
X-KDE-autostart-after=panel
X-KDE-autostart-condition=kalarmdrc:General:Autostart:true
X-KDE-StartupNotify=true
