# KDE Config File 
[KDE Desktop Entry]
Name=Alarm daemon
Name[af]=Alarm Bediener
Name[eo]=Alarmilo
Name[fr]=Démon d'alarme
Name[pl]=Demon alarmowy
Name[zh_CN.GB2312]=提示进程
Exec=kalarmd
Icon=kalarmd
Type=Application
Comment=KOrganizer/KAlarm alarm daemon
Comment[af]=KOrganizer/KAlarm ALARM BEDIENER
Comment[az]=KOrganizer/KAlarm alarm vasitəsi
Comment[bg]=Будилник на KOrganizer/KAlarm
Comment[cs]=Monitor alarmů pro Organizér/KAlarm
Comment[da]=KOrganizer/KAlarm alarm dæmon
Comment[de]=kalarmdämon von KOrganizer/KAlarm
Comment[eo]=Alarmilo por Organizilo/KAlarm
Comment[es]=Demonio de alarma de KOrganizer/KAlarm
Comment[et]=KOrganizer/KAlarm alarmide deemon
Comment[fi]=KOrganizer/KAlarm hälytyspalvelin
Comment[fr]=Démon d'alarme de KOrganizer/KAlarm
Comment[he]=KOrganizer/KAlarm לש תורוכזתה תרש
Comment[hu]=A KOrganizer/KAlarm emlékeztető szolgáltatása
Comment[it]=Demone di sveglia di KOrganizer/KAlarm
Comment[ja]=KOrganizer/KAlarm アラームデーモン
Comment[lt]=KOrganizer/KAlarm žadintuvo demonas
Comment[lv]=KOrganizer/KAlarm trauksmes dēmons
Comment[mt]=Daemon tal-allarmi KOrganizer/KAlarm
Comment[nl]=KOrganizer/KAlarm Alarm Daemon
Comment[no_NY]=Alarm-demon for KOrganizer/KAlarm
Comment[pl]=Demon alarmowy KOrganizera/KAlarm
Comment[pt_BR]=Servidor de alarmes do KOrganizer/KAlarm
Comment[pt]=Servidor de alarmes do KOrganizer/KAlarm
Comment[ru]=будильник KOrganizer/KAlarm
Comment[sk]=Démon poplachov KOrganizéra/KAlarm
Comment[sl]=Strežnik za bujenje za KOrganizer/KAlarm
Comment[sv]=kalarmdemon för KOrganizer/KAlarm
Comment[tr]=KOrganizer/KAlarm alarm sunucu programı
Comment[uk]=Демон сигналізації KOrganizer/KAlarm
Comment[zh_CN.GB2312]=KOrganizer/KAlarm 提示进程
Terminal=0
X-KDE-autostart-after=panel
X-KDE-autostart-condition=kalarmdrc:alarmdaemon:Autostart:true
KDE-X-StartupNotify=true
