[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-Library=libthreadedkonnector

Name=Demo konnector for a threaded implementation
Name[ca]=Demostració de konnector per a una implementació per fils
Name[cy]=Kysylltydd arddangosol ar gyfer weithredoliant edafeddedig
Name[da]=Demo-konnector for en trådet implementation
Name[de]=Demo-Konnector zur Implementierung von Threads
Name[es]=konnector de demostración para una implementación con hilos
Name[et]=Konnectori demo
Name[fi]=Esimerkkiyhteys säikeistetylle toteutukselle
Name[fr]=Konnector de démonstration pour une implantation avec threads
Name[hi]=थ्रेडेड इम्पलीमेंटेशन हेतु डमी कनेक्टर
Name[hu]=Demókonnektor többszálú megvalósításra
Name[it]=Connettore demo per un'implementazione basata su thread
Name[nb]=Demo konnector for en trådet implementering
Name[nl]=Demo-Konnector voor 'threaded' implementatie
Name[nn]=Demo Konnector for ein tråda implementasjon
Name[pt]=Conector de demonstração para uma implementação multitarefa
Name[pt_BR]=Konnector de demonstração para uma implementação com linhas de execução
Name[ru]=Демонстрационный konnector для реализации нитей
Name[sl]=Demonstracijski konektor za nitensko implementacijo
Name[sr]=Демонстрациони konnector за нитну имплементацију
Name[sv]=Demonstration av en Konnector för trådad implementering
Name[ta]=புரியினை நடைமுறைக்காக Kனேக்ட்டர் காட்சி
Name[uk]=Konnector для демонстрації реалізації через нитки
Name[xx]=xxDemo konnector for a threaded implementationxx
Name[zh_CN]=线程实现的 konnector 演示
Group=Test
Vendor=Mathias Fröhlich
Id=threadedkonnector

X-KDE-ResourceFamily=konnector
X-KDE-ResourceType=local
