[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-Library=libthreadedkonnector

Name=Demo konnector for a threaded implementation
Name[ar]=عرض Konnector توضيحي للتطبيق المترابط
Name[bs]=Demo konnector za implementaciju threadova
Name[ca]=Demostració de konnector per a una implementació amb fils
Name[cy]=Kysylltydd arddangosol ar gyfer weithredoliant edafeddedig
Name[da]=Demo-konnector for en trådet implementation
Name[de]=Demo-Konnector zur Implementierung von Threads
Name[es]=konnector de demostración para una implementación con hilos
Name[et]=Konnectori demo
Name[fi]=Esimerkkiyhteys säikeistetylle toteutukselle
Name[fr]=Konnector de démonstration pour une implantation avec threads
Name[he]=הדגמה של Konnector עבור יישום מרובה מטלות
Name[hi]=थ्रेडेड इम्पलीमेंटेशन के लिए डमी कनेक्टर
Name[hu]=Demókonnektor többszálú megvalósításra
Name[is]=Prufu Konnector fyrir fjölþráða útfærslu
Name[it]=Connettore demo per un'implementazione basata su thread
Name[ja]=Threaded 実装用のデモ konnector
Name[nb]=Demo konnector for en trådet implementering
Name[nl]=Demo-Konnector voor 'threaded' implementatie
Name[nn]=Demo Konnector for ein tråda implementasjon
Name[pl]=Przykładowy Konnector dla implementacji wielowątkowej
Name[pt]=Conector de demonstração para uma implementação multitarefa
Name[pt_BR]=Konnector de demonstração para uma implementação com linhas de execução
Name[ru]=Демонстрационный коннектор для реализации нитей
Name[sk]=Demo konektor pre implementáciu s vláknami
Name[sl]=Demonstracijski konektor za nitensko implementacijo
Name[sr]=Демонстрациони konnector за нитну имплементацију
Name[sr@Latn]=Demonstracioni konnector za nitnu implementaciju
Name[sv]=Demonstration av en Konnector för trådad implementering
Name[ta]=இணைக்கப்பட்ட நடைமுறைக்கான இணைப்பான் காட்சி
Name[tg]=Коннектори намоиш барои амаликунии торҳо
Name[uk]=Konnector для демонстрації реалізації через нитки
Name[zh_CN]=线程实现的 konnector 演示
Group=Test
Vendor=Mathias Fröhlich
Id=threadedkonnector

X-KDE-ResourceFamily=konnector
X-KDE-ResourceType=local
