[Desktop Entry]
Name=Skeleton Device
Name[af]=Raamwerk Toestel
Name[bg]=Организатори
Name[br]=Patrom trobarzhell
Name[bs]=Skeleton uređaj
Name[ca]=Dispositiu Skeleton
Name[cs]=Ukázkové zařízení
Name[cy]=Dyfais Sgerbwd
Name[da]=Skeleton-enhed
Name[de]=Skeleton-Gerät
Name[el]=Συσκευή Skeleton
Name[eo]=Skelet-aparato
Name[es]=Dispositivo Skeleton
Name[et]=Mallseade
Name[eu]=Skeleton dispositiboa
Name[fa]=دستگاه Skeleton
Name[fi]=Luurankolaite
Name[fr]=Périphérique modèle
Name[fy]=Foarbyldapparaat
Name[ga]=Creatghléas
Name[gl]=Dispositivo Skeleton
Name[he]=התקן דמה
Name[hi]=स्केलेटन उपकरण
Name[hu]=Skeleton eszköz
Name[is]=Grunntæki
Name[it]=Dispositivo skeleton
Name[ja]=スケルトンデバイス
Name[ka]=მოწყობილობის ჩონჩხი
Name[kk]=Қаңқалы құрылғы
Name[km]=ឧបករណ៍​គ្រោង
Name[lt]=Įrenginio skeletas
Name[ms]=Peranti Rangka
Name[nb]=Ramme-enhet
Name[nds]=Skeleton-Reedschap
Name[ne]=ढाँचा यन्त्र
Name[nl]=Voorbeeldapparaat
Name[nn]=Skjeletteining
Name[pl]=Urządzenie szkieletowe
Name[pt]=Dispositivo de Esqueleto
Name[pt_BR]=Dispositivo Skeleton
Name[ro]=Dispozitiv schelet
Name[ru]=Прототип устройства
Name[sk]=Kostra zariadenia
Name[sl]=Ogrodna naprava
Name[sr]=Скелетни уређај
Name[sr@Latn]=Skeletni uređaj
Name[sv]=Obestämd mobilenhet
Name[ta]= எலும்புக்கூடு சாதனம்
Name[tg]=Прототипи дастгоҳ
Name[tr]=Çatı Aygıt
Name[uk]=Прототип пристрою
Name[zh_CN]=万能设备
Name[zh_TW]=空殼裝置
Comment=Mobile Skeleton Device
Comment[af]=Mobiele raamwerk toestel
Comment[bg]=Мобилни организатори (устройства)
Comment[bs]=Mobilni skeleton uređaj
Comment[ca]=Dispositiu mòbil Skeleton
Comment[cs]=Ukázkové mobilní zařízení
Comment[cy]=Dyfais Sgerbwd Symudol
Comment[da]=Mobil skeleton-enhed
Comment[de]=Mobiles Skeleton-Gerät
Comment[el]=Φορητή συσκευή Skeleton
Comment[eo]=Mobila skelet-aparato
Comment[es]=Dispositivo móvil Skeleton
Comment[et]=Mobiili mallseade
Comment[eu]=Skeleton dispositibo mugikorra
Comment[fa]=دستگاه Skeleton تلفن همراه
Comment[fi]=Matkapuhelimen luurankolaite
Comment[fr]=Modèle de périphérique mobile
Comment[fy]=Mobyl foarbyldapparaat
Comment[ga]=Creatghléas Móibíleach
Comment[gl]=Dispositivo de Esqueleto Móbil
Comment[he]=התקן נייד דמה
Comment[hi]=मोबाइल स्केलेटन उपकरण
Comment[hu]=Hordozható skeleton eszköz
Comment[is]=Grunn farsími eða lófatölva
Comment[it]=Dispositivo portatile skeleton
Comment[ja]=モバイルスケルトンデバイス
Comment[ka]=მობილურის ჩონჩხის მოწყობილობა
Comment[kk]=Қалта қаңқалы құрылғы
Comment[km]=ឧបករណ៍​គ្រោង​ចល័ត
Comment[lt]=Mobilaus įrenginio skeletas
Comment[ms]=Peranti Rangka Mudah Alih
Comment[nb]=Mobil ramme-enhet
Comment[nds]=Mobil Skeleton-Reedschap
Comment[ne]=मोबाइल ढाँचा यन्त्र
Comment[nl]=Mobiel voorbeeldapparaat
Comment[nn]=Mobil skjeletteining
Comment[pl]=Szkieletowe urządzenie przenośne
Comment[pt]=Um Dispositivo Móvel de Esqueleto
Comment[pt_BR]=Dispositivo Skeleton Móvel
Comment[ru]=Прототип мобильного устройства
Comment[sk]=Kostra zariadenia mobilumobilného zaria
Comment[sl]=Mobilna ogrodna naprava
Comment[sr]=Мобилни скелетни уређај
Comment[sr@Latn]=Mobilni skeletni uređaj
Comment[sv]=Obestämd mobilenhet
Comment[ta]=நடமாடும் எலும்பு சாதனம்
Comment[tg]=Прототипи дастгоҳи мобилӣ
Comment[tr]=Taşınabilir Çatı Aygıtı
Comment[uk]=Прототип мобільного пристрою
Comment[zh_CN]=移动万能设备
Comment[zh_TW]=行動通訊空殼裝置
Type=Service
ServiceTypes=kdedevice/mobiledevice
X-KDE-Library=libkmobile_skeleton
Icon=mobile_unknown
