[Desktop Entry]
Encoding=UTF-8
Name=Skeleton Device
Name[x-test]=xxSkeleton Devicexx
Comment=Mobile Skeleton Device
Comment[x-test]=xxMobile Skeleton Devicexx
Type=Service
ServiceTypes=kdedevice/mobiledevice
X-KDE-Library=libkmobile_skeleton
Icon=mobile_unknown
