[Desktop Entry]
Encoding=UTF-8
Name=Journals as Blogs on a Server
Name[da]=Journaler som www-blogger på en server
Name[de]=Journaleinträge als Blogs auf einem Server
Name[es]=Diarios, como bitácoras en un servidor
Name[et]=Päevik veebipäevikuna serveril
Name[fr]=Journaux (blogs) sur un serveur
Name[hu]=Naplók blogként tárolása a kiszolgálón
Name[it]=Diari come blog su un server
Name[nl]=Journalen als blogs op een server
Name[pl]=Dzienniki jako blogi na serwerze
Name[pt]=Diários como 'Blogs' num Servidor
Name[pt_BR]=Diários como Blogs em um Servidor
Name[ru]=Журналы (блоги) на сервере
Name[sl]=Dnevniki kot spletni dnevniki (blogi) na strežniku
Name[sr]=Дневници као блогови на серверу
Name[sr@Latn]=Dnevnici kao blogovi na serveru
Name[sv]=Journaler som webbloggar på en server
Name[ta]=சேவகனில் பேச்சுரைகள் பத்திரிககளாக உள்ளன
Name[tr]=Web Günlüğü gibi, bir Sunucuya yazar
Name[uk]=Журнали як веб-щоденники на сервері
Name[xx]=xxJournals as Blogs on a Serverxx
Name[zh_CN]=日记作为服务器上的博客日志
X-KDE-Library=kcal_blogging
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=blogging
