[Desktop Entry]
Encoding=UTF-8
Name=Journals as Blogs on a Server
X-KDE-Library=kcal_blogging
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=blogging
