[Desktop Entry]
Type=Service
Name=Gammu Engine
Name[ca]=Motor del Gammu
Name[da]=Gammu-motor
Name[de]=Gammu-Modul
Name[el]=Μηχανή Gammu
Name[es]=Motor Gammu
Name[et]=Gammu mootor
Name[fr]=Moteur Gammu
Name[ga]=Inneall Gammu
Name[gl]=Motor Gammu
Name[it]=Motore Gammu
Name[ja]=Gammu エンジン
Name[km]=ម៉ាស៊ីន Gammu
Name[ko]=Gammu 엔진
Name[lv]=Gammu dzinējs
Name[nb]=Gammu-motor
Name[nds]=Gammu-Karn
Name[ne]=गामु इन्जिन
Name[nl]=Gammu-engine
Name[nn]=Gammu-motor
Name[pa]=ਗੱਮੁ ਇੰਜਣ
Name[pl]=Silnik Gammu
Name[pt]=Motor do Gammu
Name[pt_BR]=Mecanismo do Gammu
Name[ro]=Motor Gammu
Name[sl]=Pogon Gammu
Name[sv]=Gammu-gränssnitt
Name[tr]=Gammu Motoru
Name[uk]=Рушій Gammu
Name[x-test]=xxGammu Enginexx
Name[zh_CN]=Gammu 引擎
Name[zh_TW]=Gammu 引擎
Comment=KMobileTools Engine based on Gammu
Comment[ca]=Motor del KMobileTools basat en el Gammu
Comment[da]=KMobileTools-motor baseret på Gammu
Comment[de]=Modul für die Mobiltelefonverwaltung auf der Grundlage von Gammu
Comment[el]=Μηχανή του KMobileTools βασισμένη στο Gammu
Comment[es]=Motor de KMobileTools basado en Gammu
Comment[et]=KMobileToolsi mootor Gammu põhjal
Comment[fr]=Moteur KMobileTools fondé sur Gammu
Comment[ga]=Inneall KMobileTools bunaithe ar Gammu
Comment[gl]=Motor de KMobileTools baseado en Gammu
Comment[it]=Motore KMobileTools basato su Gammu
Comment[ja]=Gammu に基づく KMobileTools エンジン
Comment[km]=ម៉ាស៊ីន KMobileTools មាន​មូលដ្ឋាន​លើ Gammu
Comment[ko]=Gammu 기반 KMobileTools 엔진
Comment[lv]=KMobileTools dzinējs, kas izmanto Gammu
Comment[nb]=KMobileTools-motor basert på Gammu
Comment[nds]=KMobileTools-Karn, op Gammu opbuut
Comment[ne]=गामुमा आधारित केडीई मोबाइल उपकरण इन्जिन
Comment[nl]=KMobileTools-engine gebaseerd op Gammu
Comment[nn]=KMobileTools-motor basert på Gammu
Comment[pa]=ਗੱਮੁ ਉੱਤੇ ਅਧਾਰਿਤ ਕੇਮੋਬਾਇਲਟੂਲ ਇੰਜਣ
Comment[pl]=Moduł KMobileTools wykorzystujący Gammu
Comment[pt]=Um Motor do KMobileTools baseado no Gammu
Comment[pt_BR]=Mecanismo do KMobileTools baseado no Gammu
Comment[sl]=Pogon za KMobileTools, temelječ na Gammu
Comment[sv]=Gränssnitt för Kmobiletools baserat på Gammu
Comment[tr]=KMobileTools Motoru tabanlı Gammu
Comment[uk]=Рушій KMobileTools, заснований на Gammu
Comment[x-test]=xxKMobileTools Engine based on Gammuxx
Comment[zh_CN]=基于 Gammu 的 KMobileTools 引擎
Comment[zh_TW]=基於 Gammu 的 KMobileTools 引擎
Icon=kmobiletoolsGammu
X-KDE-ServiceTypes=KMobileTools/Engine
Description=A KMobileTools engine which uses Gammu as backend. Compatible with all AT-based phones. Special drivers for Alcatel, Nokia, Symbian and Sony Ericsson phones.
Description[ca]=Un motor del KMobileTools que usa el Gammu com a dorsal. Compatible amb tots els telèfons basats en AT. Té controladors especials pels telèfons Alcatel, Nokia, Symbian i Sony Ericsson.
Description[da]=En KMobileTools-motor der bruger Gammu som bagende. Kompatibel med alle AT-baserede telefoner. Specielle drivere til Alcatel-, Nokia-, Symbian- og Sony Ericsson-telefoner.
Description[de]=Ein Modul für die KDE-Mobiltelefonverwaltung mit Gammu als Treiber. Kompatibel mit allen AT-basierten Telefonen. Spezielle Treiber für Telefone von Alcatel, Nokia, Symbian und Sony Ericsson.
Description[el]=Μια μηχανή του KMobileTools η οποία χρησιμοποιεί το σύστημα υποστήριξης Gammu. Συμβατή με όλα τα τηλέφωνα βασισμένα στο AT. Ειδικοί οδηγοί για τηλέφωνα Alcatel, Nokia, Symbian και Sony Ericsson.
Description[es]=Un motor de KMobileTools que utiliza Gammu como base. Compatible con todos los teléfonos basados en AT. Controladores especiales para teléfonos Alcatel, Nokia, Symbian y Sony Ericsson.
Description[et]=KMobileToolsi mootor, mis kasutab taustaprogrammina Gammut. Ühildub kõigi AT-põhiste telefonidega. Eridraiverid Alcateli, Nokia, Symbiani ja Sony Ericssoni telefonidele.
Description[fr]=Un moteur KMobileTools qui utilise Gammu. Il est compatible avec les téléphones AT. Des pilotes particuliers existent pour les téléphones Alcatel, Nokia, Symbian et Sony Ericsson.
Description[gl]=Un motor de KMobileTools que emprega Gammu como mecanismo. Compatí­bel con todos os teléfonos baseados en AT. Controladores especiais para os telemóbeis de Alcatel, Nokia, Symbian e Sony Ericsson.
Description[it]=Un motore KMobileTools che usa Gammu come backend. Compatibile con tutti i telefoni basati su AT. Driver speciali per Nokia, Symbian e Sony Ericsson.
Description[ja]=バックエンドに Gammu を使う KMobileTools エンジンです。AT ベースのすべての電話と互換性があります。Alcatel, Nokia, Symbian, Sony Ericsson 用の特別なドライバです。
Description[km]=ម៉ាស៊ីន KMobileTools ដែល​ប្រើ Gammu ជា​ផ្នែក​ខាង​ក្រោយ ។ ឆប​គ្នា​ជា​មួយ AT ដែល​មាន​មូលដ្ឋាន​លើ​ទូរស័ព្ទ ។ កម្មវិធី​បញ្ជា​ពិសេស​សម្រាប់​ទូរស័ព្ទ Alcatel, Nokia, Symbian និង​ Sony Ericsson ។
Description[ko]=Gammu를 백엔드로 사용하는 KMobileTools 엔진입니다. 모든 AT 기반 휴대폰과 호환됩니다. 알카텔, 노키아, 심비안, 소니 에릭슨 휴대폰에서 사용할 수 있습니다. 경고: 대한민국에서 판매되는 휴대폰에서는 사용할 수 없습니다.
Description[lv]=KMobileTools dzinējs, kas par aizmuguri izmanto Gammu. Savietojams ar visiem AT-tipa telefoniem. Satur īpašus draiverus Alcatel, Nokia, Symbian un Sony Ericsson telefoniem.
Description[nb]=En KMobileTools-motor som bruker Gammu som bakstykke. Kompatibel med alle AT-baserte telefoner. Egne drivere for Alcatel, Nokia, Symbian og Sony Ericsson-telefoner.
Description[nds]=En KMobileTools-Karn, de Gammu as Hülpprogramm bruukt. Kompatibel to all Mobiltelefonen mit AT-Befehlensett. Besünner Drievers för Mobiltelefonen vun Alcatel, Nokia, Symbian un Sony Ericsson.
Description[ne]=केडीई मोबाइल उपकरण इन्जिन जसले ब्याकइन्डको रूपमा गामु प्रयोग गर्दछ । सबै AT-आधारित फोनसँग मिल्दोजुल्दो छ । अल्काटेल, नोकिया, सिम्बियन र सोनी इरिक्सन फोनका लागि विशेष ड्राइभर ।
Description[nl]=Een KMobileTools-engine dat Gammu als backend gebruikt. Dit is compatibel met alle AT-gebaseerde telefoons. Speciale stuurprogramma's voor Alcatel, Nokia, Symbian en Sony Ericsson-telefoons.
Description[nn]=Ein KMobileTools-motor som brukar Gammu. Kompatibel med alle AT-baserte telefonar. Har spesielle drivarar for Alcatel, Nokia, Symbian og Sony Ericsson.
Description[pl]=Moduł KMobileTools używający Gammu. Działa ze wszystkimi telefonami obsługującymi polecenia AT. Istnieją specjalne sterowniki dla telefonów Alcatela, Nokii, Sony Ericsson i wykorzystujących Symbiana.
Description[pt]=Um motor do KMobileTools que usa o Gammu como infra-estrutura. É compatível com todos os comandos baseados em AT. Controladores especiais para os telefones da Alcatel, Nokia, Symbian e Sony Ericsson.
Description[pt_BR]=Um mecanismo do KMobileTools que usa o Gammu como infraestrutura. É compatível com todos os telefones baseados em AT. Controladores especiais para os telefones da Alcatel, Nokia, Symbian e Sony Ericsson.
Description[sl]=Pogon za KMobileTools, ki v ozadju uporablja Gammu. Je združljiv s telefoni temelječimi na AT. Na voljo so posebni gonilniki za telefone Alcatel, Nokia, Symbian in Sony Ericsson.
Description[sv]=Ett Kmobiletools-gränssnitt som använder Gammu som gränssnitt. Fungerar med alla AT-baserade telefoner. Särskilda drivrutiner för  telefoner från Alcatel, Nokia, Symbian och Sony Ericsson.
Description[tr]=Gammu arka ucunu kullanan bir KMobileTools motoru. AT-tabanlı telefonlar ile uyumludur. Alcatel, Nokia, Symbian ve Sony Ericsson telefonlar için özel sürücüler.
Description[uk]=Рушій KMobileTools, який використовує Gammu у якості сервера. Сумісний з всіма заснованими на логіці AT телефонами. Окремі драйвери для телефонів Alcatel, Nokia, Symbian і Sony Ericsson.
Description[x-test]=xxA KMobileTools engine which uses Gammu as backend. Compatible with all AT-based phones. Special drivers for Alcatel, Nokia, Symbian and Sony Ericsson phones.xx
Description[zh_CN]=以 Gammu 为后端的 KMobileTools 引擎。能和所有 AT 电话兼容，对阿尔卡特、诺基亚、塞班及索尼爱立信的电话有特殊的驱动方案。
Description[zh_TW]=KMobileTool 引擎，使用 Gammu 做為後端介面。與所有 AT-based 電話相容。有 Alcatel、Nokia、Symbian 與 Sony Ericsson 電話的特殊驅動程式。
X-KDE-Library=kmobiletools_gammu
