[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Gammu Engine
Name[el]=Μηχανή Gammu
Name[es]=Motor Gammu
Name[zh_TW]=Gammu 引擎
Comment=KMobileTools Engine based on Gammu
Comment[el]=Μηχανή του KMobileTools βασισμένη στο Gammu
Comment[es]=Motor KMobileTools basado en Gammu
Comment[zh_TW]=基於 Gammu 的 KMobileTools 引擎
Icon=kmobiletoolsGammu
ServiceTypes=KMobileTools/Engine
Description=A KMobileTools engine which uses Gammu as backend. Compatible with all AT-based phones. Special drivers for Alcatel, Nokia, Symbian and Sony Ericsson phones.
X-KDE-Library=libkmobiletools_gammu
