[Desktop Entry]
Type=Service
Comment=This conduit syncs the handheld address book database with an Akonadi collection.
Comment[el]=Αυτό το κύκλωμα συγχρονίζει το βιβλίο διευθύνσεων του υπολογιστή παλάμης με μια συλλογή του Akonadi.
Comment[es]=Este conducto sincroniza la base de datos de la libreta de direcciones de la agenda electrónica con una colección Akonadi.
Comment[et]=See kanal sünkroniseerib pihuarvuti aadressiraamatu andmebaasi Akonadi koguga.
Comment[ga]=Sioncrónaíonn an seoladán seo bunachar sonraí an leabhair seoltaí ar do ríomhaire boise le Bailiúchán Akonadi.
Comment[gl]=Este conduto sincroniza o caderno de enderezos do aparello móbil coa colección de calendarios do Akonadi
Comment[ja]=このコンジットはハンドヘルドのアドレス帳データベースを Akonadi のコレクションと同期させます。
Comment[nb]=Denne koblingen synkroniserer hånddatorens adressebok-database med en Akonadi-samling.
Comment[nds]=Disse Kanaal synkroniseert dat Handreekner-Adressbook mit en Akonadi-Sammeln.
Comment[pt]=Esta conduta sincroniza o livro de endereços do dispositivo com uma colecção do Akonadi.
Comment[pt_BR]=Esta conduta sincroniza o livro de endereços do handheld com uma coleção do Akonadi.
Comment[sv]=Den här kanalen synkroniserar handdatorns adressboksdatabas med en Akonadi samling.
Comment[tr]=Bu kanal, el bilgisayarınızdaki adres defteri veritabanı ile bilgisayarınızdaki Akonadi koleksiyonunu eşzamanlar. 
Comment[uk]=Цей акведук синхронізує базу даних адресної книги кишенькового пристрою зі збіркою Akonadi.
Comment[x-test]=xxThis conduit syncs the handheld address book database with an Akonadi collection.xx
Comment[zh_TW]=此導管將掌上型裝置的通訊錄資料庫與 Akonadi 同步。
Name=Contacts
Name[af]=Kontakte
Name[be]=Кантакты
Name[br]=Darempredoù
Name[ca]=Contactes
Name[cs]=Kontakty
Name[cy]=Cysylltau
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[eo]=Kontaktoj
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fa]=تماسها
Name[fi]=Yhteystiedot
Name[fy]=Adressen
Name[ga]=Teagmhálacha
Name[gl]=Contactos
Name[he]=אנשי קשר
Name[hu]=Névjegyek
Name[is]=Tengiliðir
Name[it]=Contatti
Name[ja]=連絡先
Name[ka]=კონტაქტები
Name[kk]=Контакттар
Name[km]=ទំនាក់ទំនង
Name[ko]=연락처
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mk]=Контакти
Name[ms]=Orang hubungan
Name[nds]=Kontakten
Name[ne]=सम्पर्क
Name[nl]=Adressen
Name[nn]=Kontaktar
Name[oc]=Contactes
Name[pa]=ਸੰਪਰਕ
Name[pl]=Wizytówki
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[se]=Oktavuođat
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sv]=Kontakter
Name[ta]=தொடர்புகள்
Name[tg]=Алоқот
Name[th]=ที่อยู่ติดต่อ
Name[tr]=Kişiler
Name[uk]=Контакти
Name[uz]=Aloqalar
Name[uz@cyrillic]=Алоқалар
Name[x-test]=xxContactsxx
Name[zh_CN]=联系人
Name[zh_TW]=聯絡人
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_contacts
