[Desktop Entry]
Type=Service
Icon=byobu
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_coisceimplugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPartLibraryName=coisceimpart
X-KDE-KontactPartExecutableName=coisceim
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_coisceimplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Coisceim Plugin
Comment[bs]=Coisceim dodatak
Comment[ca]=Connector del Coisceim
Comment[ca@valencia]=Connector del Coisceim
Comment[da]=Coisceim-plugin
Comment[de]=Coisceim-Modul
Comment[el]=Πρόσθετο Coisceim
Comment[en_GB]=Coisceim Plugin
Comment[es]=Complemento de Coisceim
Comment[et]=Coisceimi plugin
Comment[fi]=Coisceim-liitännäinen
Comment[fr]=Module externe Coisceim
Comment[ga]=Breiseán Coiscéim
Comment[gl]=Engadido Coisceim
Comment[hu]=Coisceim bővítmény
Comment[ia]=Plug-in de Coisceim
Comment[it]=Estensione Coisceim
Comment[ja]=Coisceim プラグイン
Comment[kk]=Coisceim плагині
Comment[km]=កម្មវិធី​ជំនួយ Coisceim
Comment[ko]=Coisceim 플러그인
Comment[lt]=Coisceim įskiepis
Comment[mr]=कोइस्कैम प्लगइन
Comment[nb]=Coisceim programtillegg
Comment[nds]=Coisceim-Moduul
Comment[nl]=Coisceim-plug-in
Comment[pl]=Wtyczka Coisceim
Comment[pt]='Plugin' do Coisceim
Comment[pt_BR]=Plugin do Coisceim
Comment[ro]=Modul Coisceim
Comment[ru]=Модуль Coisceim
Comment[sk]=Plugin Coisceim
Comment[sl]=Vstavek Coisceim
Comment[sr]=Прикључак Кушкејма
Comment[sr@ijekavian]=Прикључак Кушкејма
Comment[sr@ijekavianlatin]=Priključak Coiscéima
Comment[sr@latin]=Priključak Coiscéima
Comment[sv]=Coisceim-insticksprogram
Comment[tr]=Coisceim Eklentisi
Comment[uk]=Додаток Coisceim
Comment[wa]=Module Coisceim
Comment[x-test]=xxCoisceim Pluginxx
Comment[zh_CN]=Coisceim 插件
Comment[zh_TW]=Coisceim 外掛程式
Name=Trips
Name[bs]=Trips
Name[ca]=Trips
Name[ca@valencia]=Trips
Name[da]=Trips
Name[de]=Trips
Name[el]=Ταξίδια
Name[en_GB]=Trips
Name[es]=Viajes
Name[et]=Trips
Name[fi]=Trips
Name[fr]=Voyages
Name[ga]=Cuairteanna
Name[gl]=Trips
Name[hu]=Trips
Name[ia]=Tours
Name[it]=Viaggi
Name[kk]=Trips
Name[km]=ការ​ធ្វើដំណើរ
Name[ko]=여행
Name[lt]=Kelionės
Name[mr]=फेऱ्या
Name[nb]=Trips
Name[nds]=Reisen
Name[nl]=Trips
Name[pl]=Podróże
Name[pt]=Viagens
Name[pt_BR]=Viagens
Name[ro]=Călătorii
Name[ru]=Объекты
Name[sk]=Výlety
Name[sl]=Potovanja
Name[sr]=Путеви
Name[sr@ijekavian]=Путеви
Name[sr@ijekavianlatin]=Putevi
Name[sr@latin]=Putevi
Name[sv]=Resor
Name[tr]=Trips
Name[uk]=Поїздки
Name[wa]=Voyaedjes
Name[x-test]=xxTripsxx
Name[zh_CN]=旅行
Name[zh_TW]=Trips
