[Desktop Entry]
Type=Service
Icon=byobu
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_coisceimplugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPartLibraryName=coisceimpart
X-KDE-KontactPartExecutableName=coisceim
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_coisceimplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Coisceim Plugin
Comment[ca]=Connector del Coisceim
Comment[ca@valencia]=Connector del Coisceim
Comment[da]=Coisceim-plugin
Comment[de]=Coisceim-Modul
Comment[es]=Complemento de Coisceim
Comment[gl]=Engadido Coisceim
Comment[ia]=Plug-in de Coisceim
Comment[kk]=Coisceim плагині
Comment[km]=កម្មវិធី​ជំនួយ Coisceim
Comment[nb]=Coisceim programtillegg
Comment[nl]=Coisceim-plugin
Comment[pt]='Plugin' do Coisceim
Comment[pt_BR]=Plug-in do Coisceim
Comment[sv]=Coisceim-insticksprogram
Comment[uk]=Додаток Coisceim
Comment[x-test]=xxCoisceim Pluginxx
Comment[zh_TW]=Coisceim 外掛程式
Name=Trips
Name[ca]=Trips
Name[ca@valencia]=Trips
Name[da]=Trips
Name[de]=Trips
Name[es]=Viajes
Name[gl]=Trips
Name[ia]=Tours
Name[kk]=Trips
Name[km]=ការ​ធ្វើដំណើរ
Name[nb]=Trips
Name[nl]=Trips
Name[pt]=Viagens
Name[pt_BR]=Viagens
Name[sv]=Resor
Name[uk]=Поїздки
Name[x-test]=xxTripsxx
Name[zh_TW]=Trips
