[Desktop Entry]
Name=Empath Mail Client
Name[ca]=Client de correu Empath
Name[cs]=Poštovní klient Empath
Name[da]=Empath Postklient
Name[de]=Empath-Mailprogramm
Name[el]=Πελάτης ηλ. ταχυδρομείου Empath
Name[eo]=Retpoŝtprogramo "Empath"
Name[es]=Cliente de correo Empath
Name[et]=Meiliklient Empath
Name[fi]=Empath sähköpostiohjelma
Name[fr]=Logiciel de messagerie Empath
Name[gl]=Cliente de correo Empath
Name[he]=Empath ראודה תינכות
Name[hr]=Empath elektronska pošta
Name[hu]=Empath levelezőprogram
Name[is]=Empath póstforritið
Name[it]=Client posta Empath
Name[ja]=Empath メールクライアント
Name[mk]=Empath е-пошта
Name[nl]=Empath E-mailcliënt
Name[no]=Empath epostprogram
Name[no_NY]=Empath
Name[pl]=Klient Email Empath
Name[pt]=Cliente de Mail Empath
Name[pt_BR]=Empath - cliente de e-mail
Name[ro]=Empath
Name[ru]=Почтовый клиент Empath
Name[sk]=Poštový klient Empath
Name[sl]=Poštni odjemnik Empath
Name[sv]=Empath e-postklient
Name[ta]=Empath «ïºø ¸ÕÅ¢
Name[tr]=Empath E-posta İstemcisi
Name[uk]=Клієнт електронної пошти Empath
Name[zh_TW.Big5]=Empath 郵件客戶端軟體
Exec=empath
Icon=empath
DocPath=empath/index.html
Comment=Mailer
Comment[bg]=Ïðîãðàìà çà åë.ïîùà
Comment[ca]=Carter
Comment[cs]=Poštovní program
Comment[de]=E-Mail-Programm
Comment[el]=Πρόγραμμα ηλ. ταχυδρομείου
Comment[eo]=Retpoŝtilo
Comment[es]=Cliente de Correo
Comment[et]=Meiliklient
Comment[fi]=Sähköpostiohjelma
Comment[fr]=Messagerie
Comment[gl]=Cliente de correo
Comment[he]=רוויד תינכות
Comment[hr]=Elektronska pošta
Comment[is]=empath:  póstforrit
Comment[it]=Programma per la posta
Comment[ja]=メーラー
Comment[mk]=Empath програм за е-пошта
Comment[nl]=E-mailprogramma
Comment[no]=Postsender
Comment[no_NY]=Epostprogram
Comment[pl]=Program pocztowy
Comment[pt]=Cliente de Email
Comment[pt_BR]=Correio
Comment[ro]=Client de mail pentru KDE
Comment[ru]=Почтовый клиент
Comment[sk]=Poštový program
Comment[sl]=Poštni program
Comment[sv]=E-postprogram
Comment[ta]=«ïºÄ÷
Comment[tr]=Mektup Gönderici
Comment[uk]=Програма пошти
Comment[zh_TW.Big5]=寄件器
Terminal=0
Type=Application
MapNotify=true
