[Desktop Entry]
Name=Mail Filter Agent
Name[cs]=Agent filtrování pošty
Name[de]=Agent zur E-Mail-Filterung
Name[es]=Agente de filtro de correo
Name[hu]=E-mail szűrő ügynök
Name[ia]=Agente de filtro de posta
Name[kk]=Пошта сүзгіш агенті
Name[nl]=E-mail filteragent
Name[pt]=Agente de Filtragem de E-mail
Name[pt_BR]=Agente de filtros de e-mail
Name[sv]=Postfiltreringsmodul
Name[uk]=Агент фільтрування пошти
Name[x-test]=xxMail Filter Agentxx
Name[zh_TW]=郵件過濾代理程式
Comment=Extension to filter emails
Comment[ca]=Extensió per a filtrar correus
Comment[de]=Erweiterung zur Filterung von E-Mails
Comment[es]=Extensión para filtrar correos
Comment[fr]=Extension pour filtrer les courriels
Comment[gl]=Extensión para filtrar correos
Comment[hu]=Kiegészítő e-mailek szűrésére
Comment[ia]=Extension per filtrar messages de e-posta
Comment[kk]=Эл.поштаны сузгілеу модулі
Comment[lt]=Įskiepis el. laiškų filtravimui
Comment[nb]=Utvidelse som filtrerer e-poster
Comment[nds]=Verwiedern för't Filtern vun Nettbreven
Comment[nl]=Uitbreiding om e-mails te filteren
Comment[pt]=Extensão para filtrar as mensagens de e-mail
Comment[pt_BR]=Extensão para filtros de e-mails
Comment[sv]=Utökning för att filtrera e-post
Comment[uk]=Додаток для фільтрування поштових повідомлень
Comment[x-test]=xxExtension to filter emailsxx
Comment[zh_TW]=過濾電子郵件的延伸程式
Type=AkonadiAgent
Exec=akonadi_mailfilter_agent
Icon=view-filter

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_mailfilter_agent
