[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE Addressbook Conduit
Name[af]=kde adresboek pad
Name[cs]=Propojení s Knihou adres KDE
Name[da]=KDE-Addressbook-conduit
Name[el]=Σύνδεσμος KDE Addressbook
Name[es]=Canal de la libreta de direcciones de KDE
Name[fi]=KDE osoitekirjakäytävä
Name[fr]=Canal de carnet d'adresse
Name[he]=ממשק פנקס הכתובות של KDE
Name[hu]=KDE címjegyzék-csatoló
Name[ja]=KDE アドレス帳コンジット
Name[pt_BR]=Conduíte do Livro de endereços
Name[sv]=Kadressbok-kanal
Name[tr]=KDE Adres Defteri Kanalı
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=libaddressconduit
