[Desktop Entry]
Type=Service
Comment=This conduit syncs the handheld addressbook with KDE's addressbook.
Comment[de]=Abgleich der Adressbücher von Taschencomputer und KDE.
Name=Addressbook
Name[de]=Adressbuch
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_address
