[Desktop Entry]
Encoding=UTF-8
Type=Service
Comment=This conduit syncs the to-do list from your handheld to KOrganizer.
Comment[bg]=Синхронизация на списъка със задачи на мобилно устройство с организатора в КДЕ.
Comment[da]=Denne kanal synkroniserer din gøremålsliste fra din håndholdte til KOrganizer.
Comment[es]=Este conducto sincroniza la lista de tareas pendientes de su agenda electrónica con KOrganizer.
Comment[et]=See kanal sünkroniseerib pihuarvuti ja KOrganizeri ülesannete nimekirja.
Comment[fr]=Ce canal synchronise la liste des tâches de votre Palm sur KOrganizer.
Comment[it]=Questo condotto sincronizza le cose da fare presenti nel tuo Pilot con la lista delle cose da fare di KOrganizer.
Comment[nl]=Dit conduit synchroniseert de takenlijst van uw handheld met KOrganizer.
Comment[pt]=Esta conduta sincroniza a lista de a fazer do seu dispositivo com o KOrganizer.
Comment[pt_BR]=Este conduíte sincroniza a lista de pendências do seu handheld com o KOrganizer.
Comment[ru]=Канал синхронизации списка задач КПК и органайзера KDE.
Comment[sr]=Овај провод синхронизује листу послова из вашег ручног рачунара са KOrganizer-ом.
Comment[sr@Latn]=Овај провод синхронизује листу послова из вашег ручног рачунара са KOrganizer-ом.
Comment[sv]=Den här kanalen synkroniserar uppgiftslistan i handdatorn med Korganizer.
Comment[tr]=Bu bileşen el bilgisayarı yapılacaklar listesi ile KOrganizer ile birleştirir.
Comment[uk]=Цей акведук синхронізує список завдань кишенькового пристрою з тижневиком KOrganizer.
Comment[xx]=xxThis conduit syncs the to-do list from your handheld to KOrganizer.xx
Comment[zh_CN]=此管道会将您手持设备的待办列表与 KOrganizer 同步。
Name=To-dos (KOrganizer)
Name[ca]=Pendents (KOrganizer)
Name[da]=Gøremål (KOrganizer)
Name[es]=Tareas pendientes (KOrganizer)
Name[et]=Ülesanded (KOrganizer)
Name[fr]=Tâches (KOrganizer)
Name[it]=Cose da fare (KOrganizer)
Name[nl]=Taken (KOrganizer)
Name[pt]=A-fazeres (KOrganizer)
Name[pt_BR]=Tarefas (KOrganizer)
Name[ru]=Задачи (KOrganizer)
Name[sr]=Послови (KOrganizer)
Name[sr@Latn]=Послови (KOrganizer)
Name[sv]=Uppgifter (Korganizer)
Name[tr]=Yapılacaklar (KOrganizer)
Name[uk]=Завдання (KOrganizer)
Name[xx]=xxTo-dos (KOrganizer)xx
Name[zh_CN]=待办事项 (KOrganizer)
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_todo
