[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Calendar (KOrganizer)
Name[be]=Каляндар (K Арганізатар)
Name[br]=Deiziadur (KOrganizer)
Name[bs]=Kalendar (KOrganizer)
Name[ca]=Calendari (KOrganizer)
Name[cs]=Kalendář (KOrganizer)
Name[da]=Kalender (KOrganizer)
Name[de]=Kalender (KOrganizer)
Name[es]=Calendario (KOrganizer)
Name[et]=Kalender (KOrganizer)
Name[fi]=Kalenteri (KOrganizer)
Name[fr]=Agenda (KOrganizer)
Name[gl]=Calendario (KOrganizer)
Name[hu]=Naptár (KOrganizer)
Name[is]=Dagbók (KSkipulag)
Name[it]=Calendario (KOrganizer)
Name[ja]=カレンダー (KOrganizer)
Name[nb]=Kalender (KOrganizer)
Name[nl]=Agenda (KOrganizer)
Name[nn]=Kalender (KOrganizer)
Name[pl]=Kalendarz (Organizator)
Name[pt]=Calendário (KOrganizer)
Name[pt_BR]=Calendário (KOrganizer)
Name[ru]=Календарь (KOrganizer)
Name[se]=Kaleandar (KOrganizer)
Name[sk]=Kalendár (KOrganizer)
Name[sl]=Koledar (KOrganizer)
Name[sr]=Календар (KOrganizer)
Name[sr@Latn]=Kalendar (KOrganizer)
Name[sv]=Kalender (Korganizer)
Name[ta]=நாள்காட்டி(கேஅமைப்பாளர்)
Name[tg]=Тақвимот (KOrganizer)
Name[tr]=Takvim (KOrganizer)
Name[uk]=Календар (KOrganizer)
Name[zh_CN]=日历 (KOrganizer)
Comment=This conduit synchronizes your Pilot with the KOrganizer datebook.
Comment[af]=Hierdie pad sinkroniseer jou Pilot met die Korganizer datumboek.
Comment[ar]=هذا الأنبوب يزامن جهاز Pilot الخاص بك مع أجندة تقويم المنظم
Comment[az]=Bu əlavə sizin Pilot-u KOrganizer kitabcığı ilə sinxronlaşdırır.
Comment[bg]=Синхронизация на календара на мобилно устройство с организатора в КДЕ
Comment[ca]=Aquest conducte sincronitza la vostra Pilot amb la llibreta de dates de KOrganizer.
Comment[cy]=Mae'r cwndid yma yn cydamseru'ch Pilot efo Llyfr Dyddiadau KTrefnydd.
Comment[da]=Denne conduit synkroniserer din Pilot med KOrganizer-datobogen.
Comment[de]=Abgleich des Palm Pilot mit dem KOrganizer-Terminkalender
Comment[el]=Αυτός ο σύνδεσμος συγχρονίζει το Pilot σας με το βιβλίο ημερομηνιών του KOrganizer.
Comment[en_GB]=This conduit synchronises your Pilot with the KOrganizer datebook.
Comment[eo]=Tiu kanalo sinkronigas vian Piloton kun la datlibro de Organizilo.
Comment[es]=Este conducto sincroniza su Pilot con la libreta de fechas de KOrganizer.
Comment[et]=See kanal sünkroniseerib Piloti ja KOrganizeri kalendri.
Comment[fi]=Tämä yhdyskäytävä synkronoi Palm Pilottisi KOrganizerin päiväkirjaan.
Comment[fr]=Ce canal synchronise votre Palm avec l'agenda KOrganizer.
Comment[he]=ממשק זה מסנכרן את מכשיר הפיילוט שלך עם התאריכון של KOrganizer
Comment[hi]=यह कन्ड्यूइट आपके पायलट को के-आर्गेनाइज़र तारीख़-पुस्तिका में सिंक्रोनाइज़ करता है
Comment[hr]=Ova veza sinhronizira vaš Pilot sa KOrganizerovom knjigom datuma.
Comment[hu]=Ezzel a csatolóval lehet a Pilot és a KOrganizer naptára között szinkronizálást végezni.
Comment[is]=Þessi rás samstillir dagbók KSkipulags eftir lófatölvunni þinni.
Comment[it]=Questo condotto sincronizza il tuo Pilot con il calendario di KOrganizer.
Comment[ja]=このコンジットは KOrganizer 日付帳と Pilot を同期させます。
Comment[lt]=Šis kanalas sinchronizuoja jūsų Pilot su KOrganizer datų knyga.
Comment[lv]=Šī ķēde sinhronizē jūsu Pilotu ar KOrganaizera datugrāmatu.
Comment[nb]=Denne kanalen synkroniserer Piloten med KOrganizers almanakk.
Comment[nl]=Dit conduit synchroniseert uw handheld met KOrganizer's datumboek.
Comment[nn]=Denne koplinga synkroniserer Piloten med KOrganizer-dagboka
Comment[nso]=Conduit ye e somisammogo Pilot ya gago gammogo le buka ya matsatsikgwedi ya KMmeakanyi.
Comment[pl]=Ten łącznik synchronizuje terminarz z palmtopa z KOrganizerem.
Comment[pt]=Esta conduta sincroniza o seu Pilot com a agenda do KOrganizer.
Comment[pt_BR]=Este Conduíte sincronizada seu Pilot com o KOrganizer.
Comment[ro]=Această conductă sincronizează baza de date PIlot cu KOrganizer.
Comment[ru]=Канал синхронизации календаря КПК и органайзера KDE.
Comment[sk]=Táto spojka synchronizuje váš Pilot s KOrganizer.
Comment[sl]=Ta veznik sinhronizira vašega Pilota z dnevnikom KOrganizerja.
Comment[sr]=Овај провод синхронизује ваш Pilot са KOrganizer-овом књигом датума.
Comment[sr@Latn]=Ovaj provod sinhronizuje vaš Pilot sa KOrganizer-ovom knjigom datuma.
Comment[sv]=Den här kanalen synkroniserar din Pilot med Korganizer-kalender
Comment[ta]=இந்த குழாய் உங்கள் பைலட்டை கேஅமைப்பாளர் தேதிபுத்தகத்துடன் ஒத்திசைக்கிறது
Comment[tg]=Канали синхронизатсияитақвимотиPilot ва органайзери KDE
Comment[tr]=Bu uygulama Pilot'unuzu KOrganizer randevu defteriyle senkronize eder.
Comment[uk]=Цей акведук синхронізує Pilot з тижневиком KOrganizer.
Comment[vi]=Ô'ng dẫn này đồng bộ hoá Pilot với KOrganizer datebook .
Comment[xh]=Le conduit yenza ngaxesha linye i Pilot yakho nge KOrganizer yencwadi yomhla.
Comment[zh_CN]=此管道会将您的 Pilot 与 KOrganizer 的记事本同步。
Comment[zh_TW]=此 conduit 以 KOrganizer 行事曆來與您的 Pilot 同步。
Comment[zu]=Le conduit ihambisana ngokuhlanganela i Pilot yakho nge KUmgqugquzeli wencwadi yezinsuku.
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_vcal
