[Desktop Entry]
Encoding=UTF-8
Name=Groupware Server
Name[fr]=Serveur de travail collaboratif
Name[x-test]=xxGroupware Serverxx
X-KDE-Library=kabc_groupware
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=groupware
