[Desktop Entry]
Encoding=UTF-8
Name=Groupware server
Name[bg]=Сървър Groupware
Name[br]=Servijer strollant
Name[es]=Servidor de Groupware
Name[et]=Grupitöö server
Name[fr]=Serveur de travail collaboratif
Name[nl]=Groupware=server
Name[pt]=Servidor de Groupware
Name[pt_BR]=Servidor de Groupware
Name[ru]=Сервер Groupware
Name[sv]=Grupprogramserver
Name[tr]=Groupware sunucu
Name[uk]=Сервер Groupware
X-KDE-Library=kabc_groupware
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=groupware
