[Desktop Entry]
Encoding=UTF-8
Name=Groupware Server
X-KDE-Library=kcal_groupware
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=groupware
