[Desktop Entry]
Name=Groupware Server
X-KDE-Library=kcal_groupware
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=groupware
