[Key Filter #0]
was-validated=false
Name=Not Validated Key

[Key Filter #1]
was-validated=true
is-expired=true
is-revoked=false
foreground-color=255,0,0
Name=Expired Key

[Key Filter #2]
was-validated=true
is-revoked=true
Name=Revoked Key

[Key Filter #3]
was-validated=true
is-root-certificate=true
is-validity=ultimate
Name=Trusted Root Certificate

[Key Filter #4]
was-validated=true
is-root-certificate=true
is-not-validity=ultimate
Name=Not Trusted Root Certificate

[Key Filter #5]
was-validated=true
Name=Other Keys

