[Desktop Entry]
Type=Service
ServiceTypes=MessageViewerHeaderStyle/Plugin
X-KDE-Library=messageviewer_briefheaderstyleplugin
X-KDE-MessageViewer-Header-Order=5
Name=Brief Header Style
Name[ca]=Estil de capçalera breu
Name[ca@valencia]=Estil de capçalera breu
Name[en_GB]=Brief Header Style
Name[es]=Estilo breve de encabezado
Name[fi]=Lyhyt otsaketyyli
Name[gl]=Estilo de cabeceira resumida
Name[it]=Stile con intestazioni compatte
Name[nl]=Stijl met gering aantal headers
Name[pl]=Krótkie nagłówki
Name[pt]=Estilo de Cabeçalho Breve
Name[pt_BR]=Estilo de cabeçalho Reduzido
Name[sk]=Stručný štýl hlavičiek
Name[sl]=Slog s kratkimi glavami
Name[sr]=кратки стил заглавља
Name[sr@ijekavian]=кратки стил заглавља
Name[sr@ijekavianlatin]=kratki stil zaglavlja
Name[sr@latin]=kratki stil zaglavlja
Name[sv]=Kortfattad rubrikstil
Name[tr]=Özet Başlık Biçemi
Name[uk]=Короткий стиль заголовків
Name[x-test]=xxBrief Header Stylexx
