[Desktop Entry]
Type=Service
Name=Memo File
Name[af]=Memo Lêer
Name[ca]=Fitxer de notes
Name[cs]=Soubor s poznámkou
Name[da]=Memo-fil
Name[de]=Notizdatei
Name[el]=Αρχείο υπομνήματος
Name[eo]=Memo-dosiero
Name[es]=Archivo Memo
Name[et]=Memofail
Name[eu]=Ohar fitxategia
Name[fa]=پروندۀ Memo
Name[fi]=Muistiotiedosto
Name[fr]=Fichier mémo
Name[fy]=Memotriem
Name[ga]=Comhad Meamraim
Name[gl]=Ficheiro Memo
Name[hu]=Memófájl
Name[is]=Minnismiðaskrá
Name[it]=File appunti
Name[ja]=メモファイル
Name[ka]=ჩანიშვნა
Name[km]=ឯកសារ​អនុស្សរណៈ
Name[ko]=메모 파일
Name[lt]=Pastabų failas
Name[lv]=Piezīmju fails
Name[ms]=Fail Memo 
Name[nb]=Notatfil
Name[nds]=Notiz-Datei
Name[ne]=मेमो फाइल
Name[nl]=Memobestand
Name[nn]=Memo-fil
Name[pa]=ਮੀਮੋ ਫਾਇਲ
Name[pl]=Plik notatki
Name[pt]=Ficheiro de Memorando
Name[pt_BR]=Arquivo Memo
Name[ru]=Заметка
Name[sk]=Memo súbor
Name[sl]=Datoteka z opombami
Name[sv]=Anteckningsfil
Name[ta]=மெமோ கோப்பு
Name[th]=แฟ้มบันทึกความจำ
Name[tr]=Hatırlatma Dosyası
Name[uk]=Файл примітки
Name[x-test]=xxMemo Filexx
Name[zh_CN]=备忘文件
Name[zh_TW]=備忘檔
Comment=This conduit syncs your handheld memos with a local directory.
Comment[af]=Hierdie pad sinkroniseer jou draagbare toestel se memos met 'n plaaslike gids.
Comment[bg]=Синхронизация на бележките на KDE с мобилни устройства.
Comment[ca]=Aquest conducte sincronitza les notes de l'agenda electrònica amb un directori local.
Comment[cs]=Toto propojení synchronizuje vaše poznámky v PDA s lokálním adresářem.
Comment[da]=Denne kanal synkroniserer dine håndholdte memoer med en lokal mappe.
Comment[de]=Abgleich der Notizen von Taschencomputer und einem lokalen Ordner
Comment[el]=Αυτός ο σύνδεσμος συγχρονίζει τα υπομνήματα του υπολογιστή παλάμης σας με έναν τοπικό κατάλογο.
Comment[eo]=Tiu kanalo sinkronigas viajn poŝkomputil-memoojn kun loka dosierujo.
Comment[es]=Este conducto sincroniza las memos de la agenda electrónica con un directorio local.
Comment[et]=See kanal sünkroniseerib pihuarvutis ja arvutis olevad memod.
Comment[eu]=Kanal honek zure agendako oharrak direktorio lokal batekin sinkronizatzen ditu.
Comment[fa]=این لوله، memo‌های دستی خود را با فهرست راهنمای محلی همگام‌سازی می‌کند.
Comment[fi]=Tämä yhdyskäytävä synkronoi taskutietokoneen muistiot paikalliseen kansioon.
Comment[fr]=Ce canal synchronise les mémos de l'ordinateur de poche avec ceux de KDE.
Comment[fy]=Comment=Dit conduit syngronisearret de memo's fan jo handheld mei in lokale triemtafel.
Comment[ga]=Sioncrónaíonn an seoladán seo na meamraim ar do ríomhaire boise le comhadlann logánta.
Comment[gl]=Este conduto sincroniza as notas dun aparello portátil cun cartafol local.
Comment[hu]=Ezzel a csatolóval egy kézi számítógép memóit lehet szinkronizálni a helyi címjegyzékkel.
Comment[is]=Þessi rás samstillir minnismiða lófatölvunnar þinnar við staðbundna möppu.
Comment[it]=Questo condotto sincronizza gli appunti del palmare con una cartella locale.
Comment[ja]=このコンジットはハンドヘルドのメモをローカルのディレクトリと同期させます。
Comment[ka]=ეს არხი თქვენი პორტატიული მოწყობილობის ლოკალურ დირექტორიასთან სინქრონიზაციას ახდენს .
Comment[km]=បំពង់​នេះ​អាច​ឲ្យ​អនុស្សរណៈ​ឧបករណ៍​យួរ​ដៃ​របស់​អ្នក ធ្វើ​សមកាលកម្ម​ជាមួយ​នឹង​ថត​មូលដ្ឋាន ។​
Comment[lt]=Šis kanalas sinchronizuoja Jūsų užrašus su vietiniu aplanku.
Comment[lv]=Šī ķēde sinhronizē jūsu rokas datora piezīmes ar mapi datorā.
Comment[ms]=Saluran ini mensegerakkan memo komputer telapak anda dengan direktori setempat.
Comment[nb]=Denne koblingen synkroniserer hånddatorens notater med en lokal mappe.
Comment[nds]=Synkroniseert de Notizen op den Handreekner mit en lokaal Orner.
Comment[ne]=यो कन्ड्युटले स्थानीय डाइरेक्टरीमा तपाईँका ह्यान्डहेल्ड मेमो समक्रमण गर्दछ ।
Comment[nl]=Dit conduit synchroniseert de memo's van uw handheld met een lokale map.
Comment[nn]=Synkroniser notat på handhaldne maskiner med ein lokal database.
Comment[pl]=Ten łącznik synchronizuje notatki z palmtopa z lokalnym katalogiem.
Comment[pt]=Esta conduta sincroniza os memorandos do seu PDA com uma pasta local.
Comment[pt_BR]=Esta conduta sincroniza as anotações no seu handheld com um diretório local.
Comment[ru]=Канал синхронизации заметок КПК и KDE.
Comment[sk]=Táto spojka synchronizuje adresár vášho prenosného zariadenia s lokálnym priečinkom.
Comment[sl]=Ta veznik usklajuje opombe v ročnem računalniku s krajevnim imenikom.
Comment[sv]=Den här kanalen synkroniserar handdatorns anteckningar med en lokal katalog.
Comment[ta]=இந்த குழாய் கையில் உள்ள முகவரிப்புத்தகத்தை கேடிஇயின் முகவரிப்புத்தகத்தோடு ஒத்திசைக்கிறது
Comment[tr]=Bu bileşen el bilgisayarı hatırlatmalarını yerel bir dosyaya aktarır veya alır.
Comment[uk]=Цей акведук синхронізує примітки кишенькового пристрою з локальним каталогом.
Comment[x-test]=xxThis conduit syncs your handheld memos with a local directory.xx
Comment[zh_CN]=此管道会将您手持设备中的备忘与本地目录同步。
Comment[zh_TW]=此導管將您的掌上型裝置的備忘與本地端目錄同步。
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_memofile
