[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Memo File
Name[da]=Memo-fil
Name[es]=Archivo de nota
Name[ga]=Comhad Meamraim
Name[nl]=Memobestand
Name[pt]=Ficheiro Memo
Name[pt_BR]=Ficheiro Memo
Name[ru]=Заметка
Name[sv]=Anteckningsfil
Name[tr]=Hatırlatma Dosyası
Name[uk]=Файл примітки
Comment=This conduit syncs your handheld memos with a local directory.
Comment[bg]=Синхронизация на бележките на КДЕ с мобилни устройства.
Comment[da]=Denne kanal synkroniserer dine håndholdte memoer med en lokal mappe.
Comment[es]=Este conducto sincroniza las notas de su agenda electrónica con el directorio local.
Comment[nl]=Dit conduit synchroniseert de memo's van uw handheld met een lokale map.
Comment[pt]=Esta conduta sincroniza os memos do seu PDA com uma pasta local.
Comment[pt_BR]=Esta conduta sincroniza os memos do seu PDA com uma pasta local.
Comment[ru]=Канал синхронизации заметок КПК и KDE.
Comment[sv]=Den här kanalen synkroniserar handdatorns anteckningar med en lokal katalog.
Comment[tr]=Yerel dizinlerle el bilgisayarınız arasında eş zamanlama yapar.
Comment[uk]=Цей акведук синхронізує примітки кишенькового пристрою з локальним каталогом.
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_memofile
