[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Memo File
Name[da]=Memo-fil
Name[es]=Archivo de nota
Name[et]=Memofail
Name[ga]=Comhad Meamraim
Name[it]=File appunti
Name[nl]=Memobestand
Name[pt]=Ficheiro Memo
Name[pt_BR]=Arquivo Memo
Name[ru]=Заметка
Name[sv]=Anteckningsfil
Name[tr]=Hatırlatma Dosyası
Name[uk]=Файл примітки
Name[xx]=xxMemo Filexx
Name[zh_CN]=备忘文件
Comment=This conduit syncs your handheld memos with a local directory.
Comment[bg]=Синхронизация на бележките на КДЕ с мобилни устройства.
Comment[da]=Denne kanal synkroniserer dine håndholdte memoer med en lokal mappe.
Comment[es]=Este conducto sincroniza las notas de su agenda electrónica con el directorio local.
Comment[et]=See kanal sünkroniseerib pihuarvutis ja arvutis olevad memod.
Comment[it]=Questo condotto sincronizza gli appunti del tuo palmare con una cartella locale.
Comment[nl]=Dit conduit synchroniseert de memo's van uw handheld met een lokale map.
Comment[pt]=Esta conduta sincroniza os memos do seu PDA com uma pasta local.
Comment[pt_BR]=Este conduíte sincroniza as anotações no seu handheld com um diretório local.
Comment[ru]=Канал синхронизации заметок КПК и KDE.
Comment[sr]=Овај провод синхронизује белешке на вашем ручном рачунару са локалним директоријумом.
Comment[sr@Latn]=Овај провод синхронизује белешке на вашем ручном рачунару са локалним директоријумом.
Comment[sv]=Den här kanalen synkroniserar handdatorns anteckningar med en lokal katalog.
Comment[tr]=Bu bileşen el bilgisayarı hatırlatmalarını yerel bir dosyaya aktarır veya alır.
Comment[uk]=Цей акведук синхронізує примітки кишенькового пристрою з локальним каталогом.
Comment[xx]=xxThis conduit syncs your handheld memos with a local directory.xx
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_memofile
