[Desktop Entry]
Name=Akonotes note plasmoid
Name[bs]=Akonotes napomena plasmoid
Name[ca]=Estri nota de l'Akonotes
Name[ca@valencia]=Estri nota de l'Akonotes
Name[cs]=Plasmoid poznámek Akonotes
Name[da]=Akonotes note-plasmoid
Name[de]=Akonotes-Notizen-Plasmoid
Name[el]=Plasmoid σημείωση Akonotes
Name[en_GB]=Akonotes note plasmoid
Name[es]=Plasmoide de nota de Akonotes
Name[et]=Akonotesi märkme plasmoid
Name[fi]=Akonotes-muistiinpano
Name[fr]=Plasmoïde note Akonotes
Name[gl]=Plasmoide de notas Akonotes
Name[hu]=Akonotes jegyzet plazmoid
Name[ia]=Plasmoid de nota de Akonotes
Name[it]=Plasmoide nota Akonotes
Name[kk]=Akonotes дәптер плазмоиды
Name[km]=ប្លាស្ម​យ​ចំណាំ​របស់ Akonotes
Name[ko]=Akonotes 메모 plasmoid
Name[lt]=Aknotes pastabos plazmoidas
Name[mr]=आकोनोट्स नोंद प्लाज्मोइड
Name[nb]=Akonotes notatplasmoide
Name[nds]=Plasma-Lüttprogramm för "Akonotes"-Notizen
Name[nl]=Plasmoid van notitie van Akonotes
Name[nn]=Akonotes-notatelement
Name[pl]=Plazmoid notatek Akonotes
Name[pt]=Plasmóide de notas das Akonotas
Name[pt_BR]=Plasmoide de notas do Akonotas
Name[ru]=Заметка AkoNotes
Name[sk]=Plazmoid Poznámka Akonotes
Name[sl]=Plazmoid notic Akonotes
Name[sr]=Плазмоид белешке Ако‑бележака
Name[sr@ijekavian]=Плазмоид биљешке Ако‑биљежака
Name[sr@ijekavianlatin]=Plazmoid bilješke Ako‑bilježaka
Name[sr@latin]=Plazmoid beleške Ako‑beležaka
Name[sv]=Plasmoid Ako-anteckning
Name[tr]=Akonotes not plasmoidi
Name[uk]=Плазмоїд нотаток Akonotes
Name[wa]=Plasmowide di notes Akonotes
Name[x-test]=xxAkonotes note plasmoidxx
Name[zh_CN]=Akonotes 便笺 plasmoid
Name[zh_TW]=Akonotes note 小程式
Comment=Akonotes note plasmoid
Comment[bs]=Akonotes napomena plasmoid
Comment[ca]=L'estri nota de l'Akonotes
Comment[ca@valencia]=L'estri nota de l'Akonotes
Comment[cs]=Plasmoid poznámek Akonotes
Comment[da]=Akonotes note-plasmoid
Comment[de]=Akonotes-Notizen-Plasmoid
Comment[el]=Plasmoid σημείωση Akonotes
Comment[en_GB]=Akonotes note plasmoid
Comment[es]=Plasmoide de nota de Akonotes
Comment[et]=Akonotesi märkme plasmoid
Comment[fi]=Akonotes-muistiinpanoplasmoidi
Comment[fr]=Plasmoïde note Akonotes
Comment[gl]=Plasmoide de notas Akonotes
Comment[hu]=Akonotes jegyzet plazmoid
Comment[ia]=Plasmoid de nota de Akonotes
Comment[it]=Plasmoide nota Akonotes
Comment[kk]=Akonotes дәптер плазмоиды
Comment[km]=ប្លាស្មយ​ចំណាំ​របស់ Akonotes
Comment[ko]=Akonotes 메모 plasmoid
Comment[lt]=Aknotes pastabos plazmoidas
Comment[mr]=आकोनोट्स नोंद प्लाज्मोइड
Comment[nb]=Akonotes notatplasmoide
Comment[nds]=Plasma-Lüttprogramm för "Akonotes"-Notizen
Comment[nl]=Plasmoid van notitie van Akonotes
Comment[nn]=Akonotes-notatelement
Comment[pl]=Plazmoid notatek Akonotes
Comment[pt]=Plasmóide de notas das Akonotas
Comment[pt_BR]=Plasmoide de notas do Akonotas
Comment[ru]=Заметка AkoNotes
Comment[sk]=Plazmoid Poznámka Akonotes
Comment[sl]=Plazmoid notic Akonotes
Comment[sr]=Плазмоид белешке Ако‑бележака
Comment[sr@ijekavian]=Плазмоид биљешке Ако‑биљежака
Comment[sr@ijekavianlatin]=Plazmoid bilješke Ako‑bilježaka
Comment[sr@latin]=Plazmoid beleške Ako‑beležaka
Comment[sv]=Plasmoid Ako-anteckning
Comment[tr]=Akonotes not plasmoidi
Comment[uk]=Плазмоїд нотаток Akonotes
Comment[wa]=Plasmowide di notes Akonotes
Comment[x-test]=xxAkonotes note plasmoidxx
Comment[zh_CN]=Akonotes 便笺 plasmoid
Comment[zh_TW]=Akonotes note 小程式
Type=Service
Icon=kjots

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_akonotes_note
X-KDE-PluginInfo-Author=Stephen Kelly
X-KDE-PluginInfo-Email=steveire@gmail.com
X-KDE-PluginInfo-Name=akonotes_note
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://pim.kde.org
X-KDE-PluginInfo-Category=PIM
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-DropUrlPatterns=akonadi:*type=text/x-vnd.akonadi.note


