[Desktop Entry]
Name=Akonotes list plasmoid
Name[ca]=Estri llista de l'Akonotes
Name[ca@valencia]=Estri llista de l'Akonotes
Name[en_GB]=Akonotes list plasmoid
Name[es]=Plasmoide de lista de Akonotes
Name[gl]=Plasmoide de listas Akonotes
Name[nb]=Akonotes listeplasmoide
Name[nn]=Akonotes-listeelement
Name[pt]=Plasmóide de lista de Akonotas
Name[pt_BR]=Plasmoide de lista do Akonotas
Name[sv]=Plasmoid Ako-anteckningslista
Name[uk]=Плазмоїд списку Akonotes
Name[x-test]=xxAkonotes list plasmoidxx
Comment=Akonotes list plasmoid
Comment[ca]=L'estri llista de l'Akonotes
Comment[ca@valencia]=L'estri llista de l'Akonotes
Comment[en_GB]=Akonotes list plasmoid
Comment[es]=Plasmoide de lista de Akonotes
Comment[gl]=Plasmoide de lista Akonotes
Comment[nb]=Akonotes listeplasmoide
Comment[nn]=Akonotes-listeelement
Comment[pt]=Plasmóide de lista de Akonotas
Comment[pt_BR]=Plasmoide de lista do Akonotas
Comment[sv]=Plasmoid Ako-anteckningslista
Comment[uk]=Плазмоїд списку Akonotes
Comment[x-test]=xxAkonotes list plasmoidxx
Type=Service
Icon=kjots

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_akonotes_list
X-KDE-PluginInfo-Author=Stephen Kelly
X-KDE-PluginInfo-Email=steveire@gmail.com
X-KDE-PluginInfo-Name=akonotes_list
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://pim.kde.org
X-KDE-PluginInfo-Category=PIM
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true


