[Desktop Entry]
Name=Akonotes list plasmoid
Name[bs]=Akonotes lista plasmoid
Name[ca]=Estri llista de l'Akonotes
Name[ca@valencia]=Estri llista de l'Akonotes
Name[cs]=Plasmoid seznamu Akonotes
Name[da]=Akonotes liste-plasmoid
Name[de]=Akonotes-Listen-Plasmoid
Name[el]=Λίστα plasmoid Akonotes
Name[en_GB]=Akonotes list plasmoid
Name[es]=Plasmoide de lista de Akonotes
Name[fi]=Akonotes-luettelo
Name[fr]=Plasmoïde liste Akonotes
Name[gl]=Plasmoide de listas Akonotes
Name[hu]=Akonotes lista plazmoid
Name[ia]=Plasmoid de lista de Akonotes
Name[it]=Plasmoide elenco Akonotes
Name[kk]=Akonotes тізім плазмоиды
Name[km]=ប្លាស្មយ​បញ្ជី​របស់ Akonotes
Name[ko]=Akonotes 목록 plasmoid
Name[lt]=Aknotes sąrašo plazmoidas
Name[mr]=आकोनोट्स यादी प्लाज्मोइड
Name[nb]=Akonotes listeplasmoide
Name[nds]=Plasma-Lüttprogramm för "Akonotes"-Listen
Name[nl]=Plasmoid van lijst van Akonotes
Name[nn]=Akonotes-listeelement
Name[pl]=Plazmoid listy Akonotes
Name[pt]=Plasmóide de lista de Akonotas
Name[pt_BR]=Plasmoide de lista do Akonotas
Name[ru]=Список заметок AkoNotes
Name[sk]=Plazmoid Zoznam Akonotes
Name[sl]=Plazmoid seznama Akonotes
Name[sr]=Плазмоид листе Ако‑бележака
Name[sr@ijekavian]=Плазмоид листе Ако‑биљежака
Name[sr@ijekavianlatin]=Plazmoid liste Ako‑bilježaka
Name[sr@latin]=Plazmoid liste Ako‑beležaka
Name[sv]=Plasmoid Ako-anteckningslista
Name[tr]=Akonotes liste plasmoidi
Name[uk]=Плазмоїд списку Akonotes
Name[wa]=Plasmowide di djivêye Akonotes
Name[x-test]=xxAkonotes list plasmoidxx
Name[zh_CN]=Akonotes 列表 plasmoid
Name[zh_TW]=Akonotes list 小程式
Comment=Akonotes list plasmoid
Comment[bs]=Akonotes lista plasmoid
Comment[ca]=L'estri llista de l'Akonotes
Comment[ca@valencia]=L'estri llista de l'Akonotes
Comment[cs]=Plasmoid seznamu Akonotes
Comment[da]=Akonotes list-plasmoid
Comment[de]=Akonotes-Listen-Plasmoid
Comment[el]=Λίστα plasmoid Akonotes
Comment[en_GB]=Akonotes list plasmoid
Comment[es]=Plasmoide de lista de Akonotes
Comment[fi]=Akonotes-luetteloplasmoidi
Comment[fr]=Plasmoïde liste Akonotes
Comment[gl]=Plasmoide de lista Akonotes
Comment[hu]=Akonotes lista plazmoid
Comment[ia]=Plasmoid de lista de Akonotes
Comment[it]=Plasmoide elenco Akonotes
Comment[kk]=Akonotes тізім плазмоиды
Comment[km]=ប្លាស្មយ​បញ្ជី​របស់ Akonotes
Comment[ko]=Akonotes 목록 plasmoid
Comment[lt]=Aknotes sąrašo plazmoidas
Comment[mr]=आकोनोट्स यादी प्लाज्मोइड
Comment[nb]=Akonotes listeplasmoide
Comment[nds]=Plasma-Lüttprogramm för "Akonotes"-Listen
Comment[nl]=Plasmoid van lijst van Akonotes
Comment[nn]=Akonotes-listeelement
Comment[pl]=Plazmoid listy Akonotes
Comment[pt]=Plasmóide de lista de Akonotas
Comment[pt_BR]=Plasmoide de lista do Akonotas
Comment[ru]=Список заметок AkoNotes
Comment[sk]=Plazmoid Zoznam Akonotes
Comment[sl]=Plazmoid seznama Akonotes
Comment[sr]=Плазмоид листе Ако‑бележака
Comment[sr@ijekavian]=Плазмоид листе Ако‑биљежака
Comment[sr@ijekavianlatin]=Plazmoid liste Ako‑bilježaka
Comment[sr@latin]=Plazmoid liste Ako‑beležaka
Comment[sv]=Plasmoid Ako-anteckningslista
Comment[tr]=Akonotes liste plasmoidi
Comment[uk]=Плазмоїд списку Akonotes
Comment[wa]=Plasmowide di djivêye Akonotes
Comment[x-test]=xxAkonotes list plasmoidxx
Comment[zh_CN]=Akonotes 列表 plasmoid
Comment[zh_TW]=Akonotes list 小程式
Type=Service
Icon=kjots

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_akonotes_list
X-KDE-PluginInfo-Author=Stephen Kelly
X-KDE-PluginInfo-Email=steveire@gmail.com
X-KDE-PluginInfo-Name=akonotes_list
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://pim.kde.org
X-KDE-PluginInfo-Category=PIM
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true


