[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KDE Notes Mobile
Name[ca]=Notes del KDE mòbil
Name[en_GB]=KDE Notes Mobile
Name[es]=Notas de KDE móvil
Name[pt]=Notas do KDE Móveis
Name[pt_BR]=Notas do KDE Móveis
Name[sv]=KDE:s anteckningar för mobil
Name[uk]=Мобільні нотатки KDE
Name[x-test]=xxKDE Notes Mobilexx
Exec=tasks-mobile

Icon=notes-mobile
Type=Application
