[Desktop Entry]
Type=Service
Comment=email message list
Comment[ca]=llista de missatges de correu
Comment[cs]=seznam zpráv el. pošty
Comment[da]=E-post beskedliste
Comment[de]=E-Mail-Nachrichtenliste
Comment[el]=λίστα μηνυμάτων ηλ. ταχυδρομείου
Comment[eo]=Retpoŝta mesaĝlisto
Comment[es]=Lista de mensajes de Correo Electrónico
Comment[et]=meilisõnumite nimekiri
Comment[fi]=sähköpostiviestilista
Comment[fr]=liste des messages électroniques
Comment[gl]=lista de mensaxes de correo electrónico
Comment[he]=ל"אוד תועדוה תמישר
Comment[hr]=Popis poruka
Comment[hu]=E-mail üzenetlista
Comment[is]=Listi bréfa
Comment[it]=Lista dei messaggi di posta elettronica
Comment[ja]=Eメールメッセージリスト
Comment[lt]=e-pašto laškų sąrašas
Comment[lv]=epasta ziņojumu saraksts
Comment[mk]=листа на е-пораки
Comment[nl]=e-mailberichtenlijst
Comment[no]=Epostmeldingsliste
Comment[no_NY]=E-postmeldingsliste
Comment[oc]=lista de missatges de correu
Comment[pl]=lista wiadomości
Comment[pt]=lista de mensagens de Email
Comment[pt_BR]=lista de mensagens
Comment[ro]=Listă de mesaje mail
Comment[ru]=список электронных писем
Comment[sk]=zoznam správ elektronickej pošty
Comment[sl]=seznam e-poštnih sporočil
Comment[sr]=Lista email poruka
Comment[sv]=lista med e-postmeddelanden
Comment[ta]=Á¢ý«ïºø ¾¸Åø ÀðÊÂø
Comment[tr]=e-posta mesaj listesi
Comment[uk]=список повідомлень електронної пошти
Comment[zh_CN.GB2312]=Email 消息列表
Comment[zh_TW.Big5]=電子郵件訊息列表
Name=EmpathMessageListWidget
Name[cs]=Seznam emailů Empath
Name[de]=Empath-Nachrichenliste
Name[eo]=Mesaĝlistfenestraĵo de "Empath"
Name[es]=Empath - Componente Lista de Mensajes
Name[he]=Empath לש תועדוהה תמישר טירפ
Name[hu]=Empath üzenetlista elem
Name[is]=EmpathBréfalisti
Name[it]=ListaMessaggiEmpath
Name[lv]=EmpathZiņojumuSarakstaVidgets
Name[nl]=Empath Berichtenlijst
Name[pt_BR]=EmpathListaDeWidgetsDaMensagem
Name[ro]=Listă de mesaje Empath
Name[sk]=Zoznam správ Empath
Name[sl]=GradnikSeznamaSporočilEmpath
Name[sv]=EmpathBrevListsKomponent
Name[zh_CN.GB2312]=Empath 消息列表部件
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libEmpathMessageListWidget
