[Desktop Entry]
Type=Service
Comment=This conduit syncs the handheld todo database with an Akonadi Todo Collection.
Comment[uk]=Цей акведук синхронізує базу даних завдань кишенькового пристрою зі збіркою завдань Akonadi.
Name=To-do
Name[uk]=Завдання

Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_todo2
