[Desktop Entry]
Type=Service
Comment=This conduit syncs the handheld todo database with an Akonadi Todo Collection.
Comment[et]=See kanal sünkroniseerib pihuarvuti ülesannete andmebaasi ja Akonadi ülesannete kogu.
Comment[km]=conduit syncs នេះ​ជា​មូលដ្ឋាន​ទិន្នន័យ​ការងារ​ត្រូវ​ធ្វើ​ជា​មួយ​នឹង​ការ​ប្រមូលផ្ដុំ​ការងារ​ត្រូវ​ធ្វើ​របស់ Akonadi ។
Comment[nb]=Denne kanalen synkroniserer den håndholdtes database med en Akonadi gjøremålssamling.
Comment[nds]=Disse Kanaal synkroniseert de Handreekner-Opgavenlist mit en Akonadi-Opgavenlist.
Comment[nn]=Denne koplinga synkroniserer den handhaldne hugselistedatabasen med ei Akonadi-hugselistesamling.
Comment[pt]=Esta conduta sincroniza a base de dados de itens por-fazer com uma Colecção de Itens Por-Fazer do Akonadi.
Comment[pt_BR]=Esta conduta sincroniza a base de dados de itens por-fazer com uma Colecção de Itens Por-Fazer do Akonadi.
Comment[sv]=Den här kanalen synkroniserar handdatorns uppgiftsdatabas med en Akonadi uppgiftssamling.
Comment[tr]=Bu kanal el bilgisayarınızdaki yapılacak ögeleri ile bilgisayarınızdaki Akonadi Yapılacak Ögeleri Koleksiyonunu eşzamanlar.
Comment[uk]=Цей акведук синхронізує базу даних завдань кишенькового пристрою зі збіркою завдань Akonadi.
Comment[zh_TW]=此導管將掌上型裝置的待辦事項資料庫與 Akonadi 上的待辦事項同步。
Name=To-do
Name[et]=Ülesanded
Name[ga]=Tascanna
Name[km]=​ការងារ​ត្រូវ​ធ្វើ
Name[ko]=할 일
Name[nb]=Gjøremål
Name[nds]=Opgaav
Name[nn]=Hugseliste
Name[pt]=Por-Fazer
Name[pt_BR]=Por-Fazer
Name[sv]=Uppgifter
Name[tr]=Yapılacak Ögesi
Name[uk]=Завдання
Name[zh_TW]=待辦事項

Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_todo2
