[Desktop Entry]
Name=CoisceimPart
Name[ca]=CoisceimPart
Name[ia]=CoisceimPart
Name[nl]=CoisceimPart
Name[pt]=CoisceimPart
Name[sv]=Coisceim-delprogram
Name[uk]=CoisceimPart
Name[x-test]=xxCoisceimPartxx
Name[zh_TW]=CoisceimPart
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=coisceimpart
Type=Service
Icon=byobu
