[Desktop Entry]
Name=CoisceimPart
Name[ca]=CoisceimPart
Name[ca@valencia]=CoisceimPart
Name[da]=CoisceimPart
Name[de]=CoisceimPart
Name[es]=CoisceimPart
Name[et]=CoisceimPart
Name[fr]=CoisceimPart
Name[gl]=CoisceimPart
Name[ia]=CoisceimPart
Name[it]=CoisceimPart
Name[ja]=CoisceimPart
Name[kk]=CoisceimPart
Name[km]=CoisceimPart
Name[nb]=CoisceimPart
Name[nl]=CoisceimPart
Name[pl]=Moduł Coisceim
Name[pt]=CoisceimPart
Name[pt_BR]=CoisceimPart
Name[sl]=CoisceimPart
Name[sr]=Кушкејм део
Name[sr@ijekavian]=Кушкејм дио
Name[sr@ijekavianlatin]=Coiscéim dio
Name[sr@latin]=Coiscéim deo
Name[sv]=Coisceim-delprogram
Name[uk]=CoisceimPart
Name[x-test]=xxCoisceimPartxx
Name[zh_TW]=CoisceimPart
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=coisceimpart
Type=Service
Icon=byobu
