[Desktop Entry]
Type=Service
Name=Fake engine
Name[ca]=Motor simulat
Name[da]=Falsk motor
Name[de]=Dummy-Modul
Name[el]=Εικονική μηχανή
Name[es]=Motor falso
Name[et]=Libamootor
Name[fi]=Näennäismoottori
Name[fr]=Moteur de test
Name[ga]=Bréaginneall
Name[gl]=Motor falso
Name[it]=Motore fasullo
Name[ja]=疑似エンジン
Name[km]=ម៉ាស៊ីន​ក្លែង​ធ្វើ
Name[ko]=가짜 엔진
Name[lv]=Neīsts dzinējs
Name[nb]=Juksemotor
Name[nds]=Namaakt Karn
Name[nl]=Dummy-engine
Name[nn]=Falsk motor
Name[pa]=ਫਰਜ਼ੀ ਇੰਜਣ
Name[pl]=Pusty moduł
Name[pt]=Motor falso
Name[pt_BR]=Mecanismo falso
Name[ro]=Motor fals
Name[sl]=Lažni pogon
Name[sv]=Falskt gränssnitt
Name[tr]=Yalancı motor
Name[uk]=Фіктивний рушій
Name[x-test]=xxFake enginexx
Name[zh_CN]=虚拟引擎
Name[zh_TW]=Fake 引擎
Comment=A KMobileTools fake engine...
Comment[ca]=Un motor simulat del KMobileTools...
Comment[da]=En falsk motor til KMobileTools...
Comment[de]=Dummy-Modul für die Mobiltelefonverwaltung ...
Comment[el]=Εικονική μηχανή KMobileTools...
Comment[es]=Un motor falso de KMobileTools...
Comment[et]=KMobileToolsi libamootor...
Comment[fi]=KMobileTools-ohjelman näennäismoottori
Comment[fr]=Un moteur de test KMobileTools...
Comment[ga]=Bréaginneall KMmobileTools...
Comment[gl]=Un motor falso de KMobileTools...
Comment[it]=Un motore fasullo per KMobileTools...
Comment[ja]=KMobileTools 疑似エンジン...
Comment[km]=ម៉ាស៊ីន​ក្លែង​ធ្វើ KMobileTools...​
Comment[ko]=KMobileTools 가짜 엔진...
Comment[lv]=KMobileTools dzinēja imitācija...
Comment[nb]=En juksemotor for KMobileTools …
Comment[nds]=En namaakt KMobileTools-Karn
Comment[nl]=Een engine voor KMobileTools die niks doet...
Comment[nn]=Ein falsk motor til KMobileTools …
Comment[pa]=ਇੱਕ ਕੇ-ਮੋਬਇਲ-ਟੂਲ ਫਰਜ਼ੀ ਇੰਜਣ...
Comment[pl]=Pusty moduł KMobileTools...
Comment[pt]=Um motor falso do KMobileTools...
Comment[pt_BR]=Um mecanismo falso do KMobileTools...
Comment[sl]=Lažni pogon za KMobileTools ...
Comment[sv]=Ett falskt gränssnitt för Kmobiletools...
Comment[tr]=Bir KMobileTools yalancı motoru...
Comment[uk]=Рушій-обманка для KMobileTools...
Comment[x-test]=xxA KMobileTools fake engine...xx
Comment[zh_CN]=KMobileTools 虚拟引擎...
Comment[zh_TW]=KMobileTools Fake 引擎
X-KDE-ServiceTypes=KMobileTools/EngineXP
Description=A KMobileTools fake engine that is used as a proof of concept for the api redesign.
Description[ca]=Un motor simulat del KMobileTools que s'usa com a prova de concepte pel redisseny de l'API.
Description[da]=En falsk motor til KMobileTools der bruges som et bevis på konceptet for api genprojektering.
Description[de]=Dieses Dummy-Modul für die Mobiltelefonverwaltung wird für die API-Neuentwicklung verwendet.
Description[el]=Μια εικονική μηχανή KMobileTools που χρησιμοποιείται για τον έλεγχο του ανασχεδιασμού του api.
Description[es]=Un motor falso de KMobileTools que se usa como prueba de concepto para el rediseño del API.
Description[et]=KMobileToolsi libamootor, mida saab kasutada alusmaterjalina API ümbertöötamisel.
Description[fi]=Näennäismoottori, jota käytetään API:n uuden suunnittelun toiminnan osoituksena.
Description[fr]=Un moteur de test qui est utilisé comme validation de la refonte de l'API.
Description[ga]=Bréaginneall KMmobileTools a úsáidtear chun athdhearadh an chomhéadain a phromhadh.
Description[gl]=Un motor falso de KMobileTools empregado como demostración do redeseño da api.
Description[it]=Un motore fasullo per KMobileTools che viene usato come prova per la riprogettazione delle API.
Description[km]=ម៉ាស៊ីន​ក្លែង​ធ្វើ KMobileTools ដែល​ត្រូវ​បាន​ប្រើ​ជា​ភស្តុតាង​សម្រាប់​កា​ររចនា api ឡើងវិញ ។
Description[ko]=API 재설계를 위한 KMobileTools 가짜 엔진입니다.
Description[lv]=KMobileTools dzinēja imitācija, tiek izmantota iespēju parādīšanai API pārbūves laikā.
Description[nb]=En juksemotor for KMobileTools som brukes til å vise at api-ombyggingen kan virke.
Description[nds]=En namaakt KMobileTools-Karn för't Utproberen vun de niege API ehr Konzept
Description[nl]=Dit is een dummy-engine dat wordt gebruikt als een proof-of-concept voor het opnieuw ontwerpen van de API.
Description[nn]=Ein falsk motor til KMobileTools som vert bruka til å kontrollera utforminga av det nye API-et.
Description[pl]=Moduł KMobileTools wykorzystywany jako przykład przy zmianach API.
Description[pt]=Um motor falso do KMobileTools que é usado como prova do conceito de redefinição do desenho da API.
Description[pt_BR]=Um mecanismo falso do KMobileTools que é usado como prova do conceito de redefinição da API.
Description[sl]=Lažni pogon za KMobileTools, ki služi kot dokaz koncepta za na novo načrtovan programski vmesnik.
Description[sv]=Ett falskt gränssnitt för Kmobiletools använt som bevis av konceptet för omkonstruktionen av programmeringsgränssnittet.
Description[tr]=Api'yi yeniden tasarlama ve güçlendirme amacıyla kullanılan KMobileTools yalancı motoru.
Description[uk]=Фіктивний рушій KMobileTools, який використовується як модель для демонстрації можливостей зміни дизайну api.
Description[x-test]=xxA KMobileTools fake engine that is used as a proof of concept for the api redesign.xx
Description[zh_CN]=在 API 重构时作为概念试验用的 KMobileTools 虚设引擎。
Description[zh_TW]=KMobile Fake 引擎，用於證明 API 重新設計的觀念。
X-KDE-Library=kmobiletools_fake
X-KDE-PluginInfo-Author=Matthias Lechner
X-KDE-PluginInfo-Email=matthias@lmme.de
