[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Fake engine
Name[ga]=Bréaginneall
Name[ja]=偽のエンジン
Name[pt]=Motor falso
Name[pt_BR]=Motor falso
Name[sv]=Falskt gränssnitt
Name[zh_TW]=Fake 引擎
Comment=A KMobileTools fake engine
Comment[bg]=KAB Mobile Phone XXPort Plugin
Comment[fa]=موتور جعلی KMobileTools
Comment[ga]=Bréaginneall KMmobileTools
Comment[ja]=KMobileTools の偽のエンジン
Comment[pt]=Um motor falso do KMobileTools
Comment[pt_BR]=Um motor falso do KMobileTools
Comment[sv]=Ett falskt gränssnitt för Kmobiletools
Comment[zh_TW]=KMobileTools Fake 引擎
ServiceTypes=KMobileTools/EngineXP
Description=A KMobileTools fake engine that is used as a proof of concept for the api redesign.
Description[pt]=Um motor falso do KMobileTools que é usado como prova do conceito de redefinição do desenho da API.
Description[pt_BR]=Um motor falso do KMobileTools que é usado como prova do conceito de redefinição do desenho da API.
Description[sv]=Ett falskt gränssnitt för Kmobiletools använt som bevis av konceptet för omkonstruktionen av programmeringsgränssnittet.
Description[zh_TW]=KMobile Fake 引擎，用於證明 API 重新設計的觀念。
X-KDE-Library=libkmobiletools_fake
