[Desktop Entry]
Type=Service
ServiceTypes=PimCommonCustomTools/Plugin
X-KDE-Library=pimcommon_shorturlplugin
Name=Shorturl
Name[ca]=URL curt
Name[nl]=Shorturl
Name[pl]=Krótki adres URL
Name[pt]=URL curto
Name[pt_BR]=URL curta
Name[sv]=Kort webbadress
Name[uk]=Скорочення адрес
Name[x-test]=xxShorturlxx
