[Desktop Entry]
Name=eGroupware Server (via XML-RPC)
X-KDE-Library=knotes_xmlrpc
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=notes
X-KDE-ResourceType=xmlrpc
