[Desktop Entry]
Type=Service
Comment=This conduit syncs the handheld keyring database with a database stored on the pc.
Comment[bg]=Синхронизация на адресника на KDE с мобилни устройства
Comment[ca]=Aquest conducte sincronitza base de dades de l'anell de claus de l'agenda electrònica amb la base de dades emmagatzemada al PC.
Comment[da]=Denne kanal synkroniserer den håndholdte nøglering, med en database lagret på PC'en.
Comment[de]=Abgleich der Schlüsselbund-Datenbanken von Taschencomputer und PC.
Comment[el]=Αυτό το κύκλωμα συγχρονίζει το βιβλίο διευθύνσεων του υπολογιστή παλάμης με το βιβλίο διευθύνσεων του pc.
Comment[en_GB]=This conduit syncs the handheld keyring database with a database stored on the PC.
Comment[es]=Este conducto sincroniza la base de datos del anillo de claves de la agenda electrónica con la base de datos almacenada en el equipo.
Comment[et]=See kanal sünkroniseerib pihuarvuti võtmerõnga andmebaasi ja PC-s leiduva andmebaasi.
Comment[fr]=Ce canal synchronise le trousseau de clés de l'ordinateur de poche avec une base de données sur votre ordinateur.
Comment[gl]=Este conduto sincroniza o base de datos do chaveiro dun aparello portátil cunha base de datos almacenada no computador.
Comment[it]=Questo condotto sincronizza il portachiavi del tuo palmare con un database archiviato sul PC.
Comment[ja]=このコンジットはハンドヘルドのキーリングデータベースを PC のデータベースと同期させます。
Comment[km]=conduit syncs នេះ​មូលដ្ឋាន​ទិន្នន័យ keyring របស់​ឧបករណ៍​យួរដៃ​ជា​មួយ​មូលដ្ឋាន​ទិន្នន័យ​ដែល​បាន​ផ្ទុក​នៅ​ក្នុង​កុំព្យូទ័រ ។
Comment[lv]=Šī ķēde sinhronizē jūsu rokas datora un datora atslēgu saišķi.
Comment[nb]=Denne kanalen synkroniserer hånddatorens nøkkelring-database med en database lagret på maskinen.
Comment[nds]=Disse Kanaal synkroniseert dat Slötelbund op den Handreekner mit een op den Reekner.
Comment[nl]=Dit conduit synchroniseert de sleuteldatabase op de handheld met de database op uw PC.
Comment[nn]=Denne koplinga synkroniserer den handhaldne nøkkelringdatabasen med ein database lagra på maskina.
Comment[pl]=Ten łącznik synchronizuje zbiór kluczy z bazą danych na komputerze.
Comment[pt]=Esta conduta sincroniza o porta-chaves do seu dispositivo com uma base de dados guardada no PC.
Comment[pt_BR]=Esta conduta sincroniza o base de dados do chaveiro com a base de dados armazenada no pc.
Comment[sl]=Ta veznik usklajuje šop ključev na ročnem računalniku s šopom ključev na običajnem računalniku.
Comment[sv]=Den här kanalen synkroniserar handdatorns nyckelringsdatabas med en databas lagrad på PC:n.
Comment[tr]=Bu kanal el bilgisayarınızdaki anahtar çifti veritabanı ile bilgisayarınızdakini eşzamanlar.
Comment[uk]=Цей акведук синхронізує адресну книгу кишенькового пристрою з адресною книгою KDE.
Comment[x-test]=xxThis conduit syncs the handheld keyring database with a database stored on the pc.xx
Comment[zh_CN]=此管道会将您的手持设备中的密钥环数据库和个人电脑上的同步。
Comment[zh_TW]=此導管將掌上型裝置的金鑰鍊與 PC 上的資料庫同步。
Name=Contacts
Name[af]=Kontakte
Name[be]=Кантакты
Name[br]=Darempredoù
Name[ca]=Contactes
Name[cs]=Kontakty
Name[cy]=Cysylltau
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[eo]=Kontaktoj
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fa]=تماسها
Name[fi]=Yhteystiedot
Name[fy]=Adressen
Name[ga]=Teagmhálacha
Name[gl]=Contactos
Name[he]=אנשי קשר
Name[hu]=Névjegyek
Name[is]=Tengiliðir
Name[it]=Contatti
Name[ja]=連絡先
Name[ka]=კონტაქტები
Name[kk]=Контакттар
Name[km]=ទំនាក់ទំនង
Name[ko]=연락처
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mk]=Контакти
Name[ms]=Orang hubungan
Name[nds]=Kontakten
Name[ne]=सम्पर्क
Name[nl]=Adressen
Name[nn]=Kontaktar
Name[oc]=Contactes
Name[pa]=ਸੰਪਰਕ
Name[pl]=Wizytówki
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[se]=Oktavuođat
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sv]=Kontakter
Name[ta]=தொடர்புகள்
Name[tg]=Алоқот
Name[th]=ที่อยู่ติดต่อ
Name[tr]=Kişiler
Name[uk]=Контакти
Name[uz]=Aloqalar
Name[uz@cyrillic]=Алоқалар
Name[x-test]=xxContactsxx
Name[zh_CN]=联系人
Name[zh_TW]=聯絡人
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_contacts
