<style type="text/css">

@media screen, print {
  body {
    color: #000 ! important;
    background:#FFF ! important;
    font-family: "sans serif"  ! important;
    font-size: 12px ! important;  
  }

  a {
    color: #497ADF ! important;
    text-decoration: none ! important; 
  }

  .headerbox {
    margin-bottom: 10px;
  }

  .headertitle a:link, a:visited, a:hover a:active { 
    text-decoration: none ! important;
  }

  .headertitle a:link { 
    color: #305971 ! important;
    font-size: 15px;
    font-weight: bold;
    padding:6px 0px 2px 0;
    margin:4px 0 10px 0px;   
  }
            
  .headertitle a:visited { 
    color: #305971 ! important;
  }

  .headertitle a:hover{ 
    color: #305971 ! important;
  }

  .headertitle a:active { 
    color: #305971 ! important;
  }            

  .header {  
    margin-right: 5px;
    text-decoration: none ! important;
  }

  .headertext {
    text-decoration: none ! important;
    color: #305971 ! important;
    font-size: 12px;
    font-weight: bold;
    padding:2px;
  }

  .headimage {
    float: right;
    margin-left: 5px;
  }

  body { 
    clear: none; 
  }

  .content {
    display: block;
    margin-bottom: 6px;
  }

  .content > P:first-child {
    margin-top: 1px; 
  }

  .content > DIV:first-child {
    margin-top: 1px; 
  }

  .content > BR:first-child {
    display: none; 
  }

  .contentlink {
    display: block; 
  }
}

@media screen { 
  body { 
    overflow: auto; 
  } 
}
 
</style>  

<div class="headerbox" dir="{{ dir }}">
  <img src="{% media_finder "planet-kde/images/bg_header.png" %}" width="99%">
  <h1>Testing Planet KDE </h1>
</div>

{% if date %}
    <span class="headertext"> {{ date }} </span>
{% endif %}


{% if strippedTitle %}
    <div class="headertitle" dir="{{ directionOfstrippedTitle }}">
      <a href="{{ article.link }}">{{ strippedTitle|safe }}</a>
    </div>
{% endif %}

{% if author %}
    <br/>
    <span class="headertext"> {{ author }} </span>
{% endif %}

{% if enc %}
    <br/>
    <span class="header" dir="{{ directionOfEnclosure }}">Enclosure </span>
    <span class="headertext"> {{ enc|safe }} </span>
{% endif %}

  </div>

{% if imageName %}
  <a href="{{ imageUrl }}"><img class="headimage" src="{{ imageName }}.png"></a>
{% endif %}

{% if content %}
  <div dir="{{ directionOfContent }}">
    <span class="content">
      {{ content|safe }}
    </span>
  </div>
{% endif %}

  <div class="body">

{% if article.comments %}
    <a class="contentlink" href="{{ article.commentsLink }}">
      Comments ({{ article.comments }})
    </a>
{% endif %}

{% if enc %}
    <p><em>Enclosure:</em> {{ enc|safe }} </p>
{% endif %}

{% if article.linkComplete %}
    <p>
    <a class="contentlink" href="{{ article.linkComplete }}">Complete Story</a>
    </p>
{% endif %}