[Desktop Entry]
Encoding=UTF-8
Name=Kaplan
Exec=kaplan
Type=Application
Icon=kaplan
GenericName=Personal Information Manager
GenericName[bs]=Upravljanje ličnim informacijama
GenericName[ca]=Gestor d'informació personal
GenericName[cs]=Správce osobních informací
GenericName[da]=Personlig Informationshåndtering
GenericName[de]=Persönlicher Informationsmanager
GenericName[el]=Προσωπικός διαχειριστής πληροφοριών
GenericName[es]=Gestor de información personal
GenericName[fi]=Henkilötietojen hallinta
GenericName[fr]=Gestionnaire d'informations personnelles
GenericName[he]=מנהל מידע אישי
GenericName[hu]=határidőnapló
GenericName[is]=PIM Dagbók, geyma persónuupplýsingar
GenericName[it]=Gestione informazioni personali 
GenericName[ja]=個人情報マネージャ
GenericName[nb]=Personlig informasjonsbehandler
GenericName[nn]=Personleg informasjonshandtering
GenericName[nso]=Molaodi wa tshedimoso ya botho
GenericName[pl]=Program do zarządzania informacjami osobistymi
GenericName[pt]=Gestor Pessoal de Informações
GenericName[pt_BR]=Gestor Pessoal de Informações
GenericName[ru]=Персональный информационный менеджер
GenericName[sk]=Správca osobných informácií
GenericName[sl]=Upravljalnik osebnih podatkov
GenericName[sv]=Personlig informationshantering
GenericName[uk]=Менеджер особистої інформації
GenericName[ven]=Mulanguli wa mafhungo a vhune
GenericName[zh_CN]=个人信息管理器
GenericName[zu]=Imenenja Yolwazi Lobuqu
Terminal=0
X-KDE-StartupNotify=true
