[Desktop Entry]
Encoding=UTF-8
Name=Addressbook on an Exchange Server
Name[bg]=Адресник на сървър Exchange
Name[br]=Karned chomlec'hioù war ur servijer Exchange
Name[ca]=Llibreta d'adreces a un servidor Exchange
Name[cs]=Kniha adres na serveru Exchange
Name[da]=Adressebog på en Exchange-server
Name[de]=Adressbuch auf einem Exchange-Server
Name[es]=Libreta de direcciones en un servidor Exchange
Name[et]=Aadressiraamat Exchange-serveril
Name[fr]=Carnet d'adresse sur un serveur Exchange
Name[he]=פנקס כתובות בשרת Exchange
Name[hu]=Exchange-kiszolgáló címjegyzéke
Name[it]=Rubrica indirizzi su un server Exchange
Name[nl]=Adresboek op een Exchange-server
Name[pl]=Książka adresowa na serwerze Exchange
Name[pt]=Livro de endereços em servidor Exchange
Name[pt_BR]=Livro de Endereços em um Servidor Exchange
Name[ru]=Адресная книга на сервере Exchange
Name[sl]=Adresar na strežniko Exchange
Name[sr]=Адресар на Exchange серверу
Name[sr@Latn]=Adresar na Exchange serveru
Name[sv]=Adressbok på en Exchange-server
Name[ta]=ஒருமாற்று சேவகனில் முகவரிப்புத்தகம்
Name[uk]=Адресна книга на сервері Exchange
Name[xx]=xxAddressbook on an Exchange Serverxx
Name[zh_CN]=Exchange 服务器上的地址簿
