[Desktop Entry]
Type=Service
ServiceTypes=MessageViewer/ViewerPlugin
X-KDE-Library=messageviewer_createeventplugin
Name=Create Event
Name[ca]=Crea un esdeveniment
Name[ca@valencia]=Crea un esdeveniment
Name[de]=Ereignis erstellen
Name[en_GB]=Create Event
Name[es]=Crear evento
Name[fi]=Luo tapahtuma
Name[gl]=Crear un acontecemento
Name[it]=Crea evento
Name[nl]=Gebeurtenis aanmaken
Name[pl]=Utwórz wydarzenie
Name[pt]=Criar um Evento
Name[pt_BR]=Criar evento
Name[sk]=Vytvoriť udalosť
Name[sl]=Ustvari dogodek
Name[sr]=Додавање догађаја
Name[sr@ijekavian]=Додавање догађаја
Name[sr@ijekavianlatin]=Dodavanje događaja
Name[sr@latin]=Dodavanje događaja
Name[sv]=Skapa händelse
Name[uk]=Створення запису події
Name[x-test]=xxCreate Eventxx
