[Desktop Entry]
Encoding=UTF-8
GenericName=Mail Alert
Exec=korn -caption "%c" %f
Icon=korn
Path=
DocPath=korn/index.html
Type=Application
Terminal=false
Name=Korn
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Network;X-KDE-More;
