[Desktop Entry]
GenericName=Mail Alert
GenericName[de]=Mail-Benachrichtigung
Exec=korn -caption "%c" %f
Icon=korn
Path=
X-DocPath=korn/index.html
Type=Application
Terminal=false
Name=Korn
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Network;X-KDE-More;
