[Desktop Entry]
GenericName=Mail Alert
GenericName[af]=Pos inkennis stel
GenericName[ar]=SMS
GenericName[bg]=Аларма за е-поща
GenericName[ca]=Alerta per al correu
GenericName[cs]=Upozornění na poštu
GenericName[cy]=Rhybudd Ebost
GenericName[da]=Meddelelse om post
GenericName[de]=Mail-Benachrichtigung
GenericName[el]=Ειδοποίηση για mail
GenericName[eo]=Retpoŝtavertilo
GenericName[es]=Aviso de correo
GenericName[et]=E-kirjade teadustaja
GenericName[eu]=Mail abisua
GenericName[fa]=هشدارنامه
GenericName[fi]=Saapuneen sähköpostin ilmoitus
GenericName[fr]=Surveillance du courriel
GenericName[fy]=E-postnotifikaasje
GenericName[ga]=Fógairt Ríomhphoist
GenericName[gl]=Alerta de Correo electrónico
GenericName[hr]=Upozorenje na nove poruke
GenericName[hu]=Levélfigyelő
GenericName[is]=Póst áminning
GenericName[it]=Programma per controllare la posta
GenericName[ja]=メールの通知
GenericName[ka]=საფოსტო სიგნალი
GenericName[kk]=Пошта келген туралы хабарлау
GenericName[km]=សញ្ញា​ជូនដំណឹងសំបុត្រ
GenericName[ko]=메일 알림
GenericName[lt]=Pašto pranešėjas
GenericName[lv]=Pasta brīdinājums
GenericName[mk]=Известување за е-пошта
GenericName[ms]=Celik Mel
GenericName[nb]=E-post-varsling
GenericName[nds]=Nettpost-Benarichten
GenericName[ne]=पत्र संसूचक
GenericName[nl]=E-mailnotificatie
GenericName[nn]=E-postvarsling
GenericName[pa]=ਮੇਲ ਚੇਤਾਵਨੀ
GenericName[pl]=Program powiadamiający o poczcie
GenericName[pt]=Alerta de E-mail
GenericName[pt_BR]=Alerta de mensagem
GenericName[ro]=Alertare e-mail nou
GenericName[ru]=Уведомление о приходе почты
GenericName[sk]=Upozornenie na mail
GenericName[sl]=Obvestilo o pošti
GenericName[sv]=E-postvarning
GenericName[ta]=அஞ்சல் அறிவிப்பு
GenericName[tg]=Маълумоти қабулшавии почта
GenericName[th]=แจ้งเตือนจดหมาย
GenericName[tr]=E-posta Bildirici
GenericName[uk]=Нагадування пошти
GenericName[uz]=Yangi xat haqida xabar beruvchi
GenericName[uz@cyrillic]=Янги хат ҳақида хабар берувчи
GenericName[x-test]=xxMail Alertxx
GenericName[xh]=Umposi Wokulumkisa
GenericName[zh_CN]=邮件通知
GenericName[zh_TW]=信件警告
Exec=korn -caption "%c" %f
Icon=korn
Path=
X-DocPath=korn/index.html
Type=Application
Terminal=false
Name=Korn
Name[eo]=Korno
Name[ne]=कोर्न
Name[ta]=கார்ன்
Name[x-test]=xxKornxx
Name[zh_TW]=Korn 信件通知
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Network;X-KDE-More;
