[Desktop Entry]
Name=Calendar in Remote File
Name[af]=Kalender in 'n afgeleë lêer
Name[ar]=التقويم في ملف بعيد
Name[bg]=Календар в отдалечен файл
Name[br]=Deiziadur e restr a-bell
Name[bs]=Kalendar u izdvojenoj datoteci
Name[ca]=Calendari en un fitxer remot
Name[ca@valencia]=Calendari a un fitxer remot
Name[cs]=Kalendář ve vzdáleném souboru
Name[cy]=Calendr mewn Ffeil Pell
Name[da]=Kalender i ekstern fil
Name[de]=Datei-Kalender auf Fremdrechner
Name[el]=Ημερολόγιο σε απομακρυσμένο αρχείο
Name[en_GB]=Calendar in Remote File
Name[es]=Calendario en un archivo remoto
Name[eu]=Egutegia urruneko fitxategi batean
Name[fa]=تقویم در پرونده دور
Name[fi]=Kalenteri etätiedostossa
Name[fr]=Calendrier dans un fichier distant
Name[fy]=Aginda yn ekstern triem
Name[ga]=Féilire i gCianchomhad
Name[gl]=Calendario en Ficheiro Remoto
Name[hu]=Távoli fájlban tárolt naptár
Name[ia]=Calendario in un file remote
Name[is]=Dagatal í fjarlægri skrá
Name[it]=Calendario in file remoto
Name[ja]=リモートファイルのカレンダー
Name[ka]=კალენდარი გარე ფაილზე
Name[kk]=Қашықтағы файлдағы күнтізбе
Name[km]=ប្រតិទិន​នៅ​ក្នុង​ឯកសារ​នៅ​ឆ្ងាយ
Name[ko]=원격 파일의 달력
Name[lt]=Kalendorius nutolusiame faile
Name[lv]=Kalendārs attālinātā failā
Name[mk]=Календар во оддалечена датотека
Name[mr]=दूरस्थ फाईलीतील दिनदर्शिका
Name[ms]=Kalendar dalam Fail Jauh
Name[nb]=Kalender i fil på nettverk
Name[nds]=Kalenner as Datei op en anner Reekner
Name[ne]=टाढाको फाइलको क्यालेन्डर
Name[nl]=Agenda in extern bestand
Name[nn]=Kalender i fil på nettet
Name[pa]=ਰਿਮੋਟ ਫਾਇਲ ਵਿੱਚ ਕੈਲੰਡਰ
Name[pl]=Kalendarz w pliku zdalnym
Name[pt]=Calendário num Ficheiro Remoto
Name[pt_BR]=Calendário em arquivo remoto
Name[ro]=Calendar în fișier distant
Name[ru]=Календарь в сетевом файле
Name[sk]=Kalendár vo vzdialenom súbore
Name[sl]=Koledar v oddaljeni datoteki
Name[sr]=Календар у удаљеном фајлу
Name[sr@ijekavian]=Календар у удаљеном фајлу
Name[sr@ijekavianlatin]=Kalendar u udaljenom fajlu
Name[sr@latin]=Kalendar u udaljenom fajlu
Name[sv]=Kalender i fjärrfil
Name[ta]=தொலைதூர கோப்பில் உள்ள நாள்காட்டி
Name[tg]=Тақвимот дар файли хурӯҷӣ
Name[tr]=Uzak Dosyadaki Takvim
Name[uk]=Календар у віддаленому файлі
Name[wa]=Calindrî dins on fitchî då lon
Name[x-test]=xxCalendar in Remote Filexx
Name[zh_CN]=远程文件中的日历
Name[zh_TW]=遠端檔案的行事曆
Comment=Provides access to a calendar in a remote file using KDE's network framework KIO
Comment[ar]=يوفر وصول للتقويم في ملف بعيد بإستخدام إطار شبكة كدي KIO
Comment[bs]=Obezbjeđuje pristup kalendaru u izdvojenoj datoteci koristeći KDE-ovu mrežu okvira KIO
Comment[ca]=Proporciona accés a un calendari en un fitxer remot usant la infraestructura KIO de xarxa del KDE
Comment[ca@valencia]=Proporciona l'accés a un calendari en un fitxer remot usant la infraestructura KIO de xarxa del KDE
Comment[da]=Giver adgang til en kalender i en ekstern fil med brug af KDE's netværks-framework KIO
Comment[de]=Ermöglicht den Zugriff auf einen entfernten Kalender über KDEs Netzwerk-Zugriffsystem KIO.
Comment[el]=Προσφέρει πρόσβαση ημερολογίου σε ένα απομακρυσμένο αρχείο με τη χρήση του  συστήματος KIO του KDE
Comment[en_GB]=Provides access to a calendar in a remote file using KDE's network framework KIO
Comment[es]=Proporciona acceso a un calendario en un archivo remoto utilizando la infraestructura KIO de red de KDE
Comment[fi]=Tarjoaa pääsyn etätiedostossa olevaan kalenteriin KDE:n verkkorajapinnan (KIO) avulla
Comment[fr]=Fournit l'accès à un calendrier dans un fichier distant en utilisant les composants réseaux KIO de KDE
Comment[gl]=Permite acceder a un calendario nun ficheiro remoto empregando a infraestrutura de rede KIO do KDE
Comment[hu]=Hozzáférést biztosít távoli fájlban tárolt naptárakhoz a KDE KIO keretrendszerén keresztül
Comment[ia]=Provide accesso a un calendario in un file remote per usar le rete de KDE, KIO
Comment[it]=Consente l'accesso ad un calendario su un file remoto tramite l'infrastruttura di rete KIO di KDE
Comment[ja]=KDE のネットワークフレームワーク KIO を使って、リモートファイルに保存されているカレンダーへのアクセスを提供します
Comment[kk]=Қашықтағы файлдағы күнтізбеге, KDE-нің KIO желі құрылымының көмегімен қатынау
Comment[km]=ផ្ដល់​សិទ្ធិ​ចូល​ដំណើរការ​ទៅកាន់​ប្រតិទិន​នៅ​ក្នុង​ឯកសារ​ពីចម្ងាយ​ដោយប្រើ​គ្រោងការណ៍​បណ្ដាញ KIO របស់ KDE
Comment[lt]=Suteikia priėjimą prie kalendoriaus nutolusiame faile naudojant KDE tinklo aplinkos KIO
Comment[lv]=Nodrošina piekļuvi kalendāram, kas glabājas vienā attālinātā failā, izmantojot KDE tīkla ietvaru KIO
Comment[mr]=केडीई चे संजाळ फ्रेमवर्क वापरून दूरस्थ फाईलीतील दिनदर्शिकेत प्रवेश देतो
Comment[nb]=Gir tilgang til en kalender i en fil på nettverket, ved bruk av KDEs rammeverk KIO for nettverk
Comment[nds]=Stellt mit dat In-/Utgaavmoduul vun KDE sien Nettwark-Rahmenwerk Togriep op en binnen en feern Datei wohrten Kalenner praat.
Comment[nl]=Geeft toegang naar een agenda in een extern bestand gebruikmakend van KIO, een netwerkonderdeel van KDE
Comment[nn]=Gjev tilgang til kalendrar lagra i ei ekstern fil ved bruk av nettverksrammeverket KIO
Comment[pl]=Zapewnia dostęp do kalendarza w zdalnym pliku przy użyciu systemu sieciowego KDE - KIO
Comment[pt]=Oferece o acesso a um calendário num ficheiro remoto, usando um KIO da plataforma de rede do KDE
Comment[pt_BR]=Fornece acesso a um calendário em um arquivo remoto usando o KIO framework da rede do KDE
Comment[ro]=Oferă acces la un calendar stocat într-un fișier distant, folosind infrastructura de rețea KIO din KDE
Comment[ru]=Доступ к календарю в сетевом файле, доступном по протоколу KIO
Comment[sk]=Poskytuje prístup do kalendára vo vzdialenom súbore použitím KDE sieťovej štruktúry KIO
Comment[sl]=Z uporabo KDE-jevega omrežnega ogrodja KIO omogoča dostop do koledarja, ki je shranjen v oddaljeni datoteki
Comment[sr]=Омогућава приступ календару у удаљеном фајлу помоћу КДЕ‑овог мрежног радног оквира К‑У/И
Comment[sr@ijekavian]=Омогућава приступ календару у удаљеном фајлу помоћу КДЕ‑овог мрежног радног оквира К‑У/И
Comment[sr@ijekavianlatin]=Omogućava pristup kalendaru u udaljenom fajlu pomoću KDE‑ovog mrežnog radnog okvira K‑U/I
Comment[sr@latin]=Omogućava pristup kalendaru u udaljenom fajlu pomoću KDE‑ovog mrežnog radnog okvira K‑U/I
Comment[sv]=Ger tillgång till en kalender i en fjärrfil med användning av KDE:s I/O-ramverk
Comment[tr]=KDE'nin ağ çatısı KIO'yu kullanarak uzak bir dosyadaki bir takvime erişimi sağlar
Comment[uk]=Надає доступ до календаря, який зберігається у віддаленому файлі, за допомогою засобів KIO KDE
Comment[wa]=Dene l' accès a on calindrî dins on fitchî då lon tot s' siervant di l' evironmint KIO rantoele da KDE
Comment[x-test]=xxProvides access to a calendar in a remote file using KDE's network framework KIOxx
Comment[zh_CN]=通过 KDE 网络框架 KIO，提供对远程日历文件的访问支持
Comment[zh_TW]=提供存取使用 KDE 網路架構 KIO 儲存在遠端檔案中的行事曆的功能
X-KDE-Library=kcal_remote
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=remote
