[KDE Desktop Entry]
Name=KMailCvt
Type=Application
Exec=kmailcvt -caption "%c" %i %m  
Icon=kmailcvt
DocPath=kmailcvt/index.html
Comment=Imports to KMail and KAB
Comment[nl]=Importeert naar KMail en KAB
Terminal=0
Name[nl]=KMailCvt
