[KDE Desktop Entry]
Encoding=UTF-8
Name=KMail/KAB Import Tool
Name[da]=KMail/KAB Import-værktøj
Name[de]=KMail/KAB-Import
Name[es]=Herramienta de importación de KMail/KAB
Name[fi]=KMail/KAB tuontityökalu
Name[fr]=kMailCvt
Name[he]=כלי ייבוא ל-KMail/KAB
Name[hu]=KMail/KDE címjegyzék-importálás
Name[it]=Strumento di importazione KMail/KAB
Name[lt]=KMail/KAB importo priemonė
Name[lv]=KMail/KAB Importa Rīks
Name[pt]=Ferramenta de Importação do KMail/KAB
Name[pt_BR]=Ferramenta de Importação do KMail/KAB
Name[sk]=KMail/KAB Import
Name[sv]=Kmail/Kab-importverktyg
Name[ta]=KMail/KAB ­ÈìÌÁ¾¢ì ¸ÕÅ¢
Name[xx]=xx
Type=Application
Exec=kmailcvt -caption "%c" %i %m  
Icon=kmailcvt
Terminal=0
X-DCOP-ServiceType=Multi
