[KDE Desktop Entry]
Name=KMailCvt
Type=Application
Exec=kmailcvt -caption "%c" %i %m  
Icon=kmailcvt
DocPath=kmailcvt/index.html
Comment=Imports to KMail and KAB
Comment[da]=Importerer til KMail og KAB
Comment[fi]=Tuo tietoja KMailiin ja KAB:n
Comment[he]=KAB-× KMail ×× ×××××
Comment[sv]=Importerar till KMail och KAB
Comment[nl]=Importeert naar KMail en KAB
Terminal=0
