[Desktop Entry]
Type=Service
X-KDE-Library=resourcecalendarexchange
Encoding=UTF-8
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=exchange
ServiceTypes=KResources/Plugin
Name=Exchange 2000 Server
Name[be]=Сэрвэр Exchange 2000
Name[bg]=Сървър Exchange 2000
Name[br]=Servijer Exchange 2000
Name[ca]=Servidor Exchange 2000
Name[cs]=Exchange 2000 server
Name[da]=Exchange 2000 server
Name[el]=Εξυπηρετητής Exchange2000
Name[es]=Servidor Exchange 2000
Name[et]=Exchange 2000 server
Name[eu]=Exchange 2000 zerbitzaria
Name[fr]=Serveur Exchange2000
Name[hi]=एक्सचेंज2000 सर्वर
Name[hu]=Exchange 2000-kiszolgáló
Name[is]=Exchange 2000 þjónn
Name[it]=Server Exchange 2000
Name[lt]=Exchange 2000 serveris
Name[nl]=Exchange2000-server
Name[nn]=Exchange 2000-tenar
Name[pl]=Serwer Exchange 2000
Name[pt]=Servidor Exchange 2000
Name[pt_BR]=Servidor Exchange2000
Name[ru]=Сервер Exchange 2000
Name[sl]=Strežnik Exchange 2000
Name[sr]=Exchange 2000 сервер
Name[sr@Latn]=Exchange 2000 server
Name[sv]=Exchange 2000-server
Name[tr]=Exchange 2000 Sunucusu
Name[uk]=Сервер Exchange 2000
Name[zh_CN]=Exchange 2000 服务器

