[Desktop Entry]
Encoding=UTF-8
Hidden=true
Name=Exchange 2000 Server (deprecated)
Name[bg]=Сървър Exchange 2000 (остаряло)
Name[ca]=Servidor Exchange 2000 (desaconsellat)
Name[cs]=Exchange 2000 server (zastaralé)
Name[da]=Exchange 2000 server (forældet)
Name[de]=Exchange 2000 Server (veraltet)
Name[es]=Servidor Exchange 2000 (obsoleto)
Name[et]=Exchange 2000 server (iganenud)
Name[fr]=Serveur Exchange2000 (désuet)
Name[hu]=Exchange 2000-kiszolgáló (elavult)
Name[it]=Server Exchange 2000 (deprecato)
Name[nl]=Exchange 2000-server (afgeraden)
Name[pl]=Serwer Exchange 2000 (przestarzałe)
Name[pt]=Servidor Exchange 2000 (depreciado)
Name[pt_BR]=Servidor Exchange2000 (versão de compatibilidade)
Name[ru]=Сервер Exchange 2000 (устаревший)
Name[sl]=Strežnik Exchange 2000 (opuščeno)
Name[sr]=Exchange 2000 сервер (неодобраван)
Name[sr@Latn]=Exchange 2000 server (neodobravan)
Name[sv]=Exchange 2000-server (avråds från)
Name[ta]=பரிமாற்ற 2000 சேவகன் (மாறுபாடானது)
Name[uk]=Сервер Exchange 2000 (застаріле)
Name[xx]=xxExchange 2000 Server (deprecated)xx
Name[zh_CN]=Exchange 2000 服务器(不推荐使用)

