[Desktop Entry]
Hidden=true
Name=Exchange 2000 Server (deprecated)
Name[af]=Exchange 2000 Bediener (nie verder ondersteun)
Name[bg]=Сървър Exchange 2000 (остаряло)
Name[ca]=Servidor Exchange 2000 (desaconsellat)
Name[cs]=Exchange 2000 server (zastaralé)
Name[da]=Exchange 2000 server (forældet)
Name[de]=Exchange 2000 Server (veraltet)
Name[el]=Εξυπηρετητής Exchange2000 (ξεπερασμένος)
Name[es]=Servidor Exchange 2000 (obsoleto)
Name[et]=Exchange 2000 server (iganenud)
Name[eu]=Exchange 2000 zerbitzaria (zaharkituta)
Name[fa]=کارسازExchange ۲۰۰۰ (محکوم)
Name[fi]=Exchange 2000 -palvelin (vanhentunut)
Name[fr]=Serveur Exchange2000 (désuet)
Name[fy]=Exchange 2000-tsjinner (ôfrieden)
Name[ga]=Freastalaí Exchange 2000 (as dáta)
Name[gl]=Servidor Exchange 2000 (desaprobado)
Name[hu]=Exchange 2000-kiszolgáló (elavult)
Name[is]=Exchange 2000 þjónn (úrelt)
Name[it]=Server Exchange 2000 (deprecato)
Name[ja]=Exchange 2000 サーバ (廃止予定)
Name[ka]=სერვერი Exchange 2000 (მოძველებული)
Name[kk]=MS Exchange 2000 сервері (ескірген)
Name[km]=ម៉ាស៊ីន​បម្រើ Exchange ២០០០ (មិន​សូវ​ល្អ)
Name[lt]=Exchange 2000 serveris (deprecated)
Name[mk]=Exchange 2000-сервер (застарено)
Name[ms]=Pelayan Exchange 2000  (tidak disetujui)
Name[nb]=Exchange 2000-tjener (frarådet)
Name[nds]=Exchange2000-Server (utlopen Ünnerstütten)
Name[ne]=एक्सचेन्ज २००० सर्भर (अनुचित ठानिएको)
Name[nl]=Exchange 2000-server (afgeraden)
Name[nn]=Exchange 2000-tenar (frårådd)
Name[pl]=Serwer Exchange 2000 (przestarzałe)
Name[pt]=Servidor Exchange 2000 (depreciado)
Name[pt_BR]=Servidor Exchange2000 (versão de compatibilidade)
Name[ru]=Сервер Microsoft Exchange 2000 (устаревший)
Name[sk]=Exchange 2000 server (deprecated)
Name[sl]=Strežnik Exchange 2000 (opuščeno)
Name[sr]=Exchange 2000 сервер (неодобраван)
Name[sr@Latn]=Exchange 2000 server (neodobravan)
Name[sv]=Exchange 2000-server (avråds från)
Name[ta]=பரிமாற்ற 2000 சேவகன் (மாறுபாடானது)
Name[tr]=Exchange 2000 Sunucusu
Name[uk]=Сервер Exchange 2000 (застаріле)
Name[zh_CN]=Exchange 2000 服务器(不推荐使用)
Name[zh_TW]=Exchange 2000 伺服器(已廢除)

