[Desktop Entry]
Type=Service
X-KDE-Library=resourcecalendarexchange
Encoding=UTF-8
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=exchange
ServiceTypes=KResources/Plugin
Name=Calendar on Exchange2000 Server
Name[be]=Каляндар на сэрвэры Exchange 2000
Name[bg]=Календар на сървър Exchange2000
Name[ca]=Calendari a un servidor Exchange2000
Name[cs]=Kalendář na serveru Exchange2000
Name[da]=Kalender på Exchange2000 server
Name[de]=Kalender auf Exchange2000-Server
Name[es]=Calendario en servidor Exchange2000
Name[et]=Kalender Exchange2000 serveril
Name[fr]=Calendrier sur un serveur Exchange2000
Name[gl]=Calendario no Servidor Exchange2000
Name[hu]=Exchange 2000 kiszolgálón tárolt naptár
Name[it]=Calendario su un server Exchange2000
Name[nb]=Kalender på Exchange 2000-tjener
Name[nl]=Agenda op Exchange2000-server
Name[nn]=Kalender på Exchange 2000-tener
Name[pl]=Kalendarz na serwerze Exchange2000
Name[pt]=Calendário em Servidor Exchange 2000
Name[pt_BR]=Calendário em Servidor Exchange2000
Name[ru]=Календарь Microsoft Exchange 2000
Name[sk]=Kalendár na Exchange2000 serveri
Name[sl]=Koledar na strežniku Exchange2000
Name[sr]=Календар на Exchange2000 серверу
Name[sr@Latn]=Календар на Exchange2000 серверу
Name[sv]=Kalender på en Exchange 2000-server
Name[ta]=எக்ஸ்சேன்ஜ்2000  சேவையகத்தின் நாள்காட்டி
Name[tg]=Тақвимоти Microsoft Exchange 2000
Name[zh_CN]=Exchange 2000 服务器上的日历

