[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PalmOS Database Info
Name[be]=Інфармацыя аб базе дадзеных PalmOS
Name[bg]=Информация за БД за PalmOS
Name[bs]=Informacije o PalmOS bazi podataka
Name[ca]=Informació de base de dades PalmOS
Name[da]=PalmOS database-info
Name[de]=PalmOS Datenbank Informationen
Name[es]=Info. de la base de datos de PalmOS
Name[et]=PalmOS andmebaasi info
Name[fr]=Informations sur les bases de données PalmOS
Name[he]=מידע אודות PalmOS
Name[hu]=PalmOS adatbázis-jellemzők
Name[is]=PalmOS gagnagrunnsupplýsingar
Name[it]=Informazioni database PalmOs
Name[ja]=PalmOS データベース 情報
Name[nb]=PalmOS Database info
Name[nl]=PalmOS-database informatie
Name[nn]=PalmOS-databaseinfo
Name[pl]=Baza danych PalmOS
Name[pt]=Informações de Base de Dados PalmOS
Name[pt_BR]=Informações da Base de Dados do PalmOS
Name[ru]=Сведения о базе данных PalmOS
Name[sk]=Informácie o databázach PalmOS
Name[sl]=Informacije zbirke podatkov za PalmOS
Name[sr]=Информације о PalmOS базама података
Name[sr@Latn]=Informacije o PalmOS bazama podataka
Name[sv]=PalmOS-databasinformation
Name[ta]=பால்ம்OS தரவுத்தள தகவல்
Name[tg]=Иттилоот дар бораи бонки додаҳои PalmOS
Name[zh_CN]=PalmOS 数据库信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_palm
MimeType=application/vnd.palm
PreferredGroups=General
PreferredItems=Name,DBType,TypeID,CreatorID,NrRecords,Size
