[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=PalmOS Database Info
Name[be]=Інфармацыя аб базе дадзеных PalmOS
Name[da]=PalmOS database-info
Name[es]=Info. de la base de datos de PalmOS
Name[et]=PalmOS andmebaasi info
Name[sl]=Informacije zbirke podatkov za PalmOS
Name[sv]=PalmOS-databasinformation
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_palm
MimeType=application/vnd.palm
PreferredGroups=General
PreferredItems=Name,DBType,TypeID,CreatorID,NrRecords,Size
