[Desktop Entry]
Name=Akonadi Nepomuk Contact Feeder
Name[de]=Akonadi-Modul für Nepomuk
Comment=Extension for Akonadi to push contacts into Nepomuk
Comment[de]=Nepomuk-Erweiterung zur Übergabe von Kontakten an Nepomuk
Type=AkonadiAgent
Exec=akonadi_nepomuk_contact_feeder

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Autostart
X-Akonadi-Identifier=akonadi_nepomuk_contact_feeder
