[Desktop Entry]
Name=Move to directory
Name[de]=In Ordner schieben
Name[es]=Mover a directorio
Name[fi]=Siirrä kansioon
Name[fr]=Déplacer dans le dossier
Name[gl]=Mover para o directorio
Name[ia]=Move a directorio
Name[nl]=Naar map verplaatsen
Name[pt]=Mover para a pasta
Name[pt_BR]=Mover para a pasta
Name[sk]=Presunúť do adresára
Name[sr]=Премести у фасциклу
Name[sr@ijekavian]=Премести у фасциклу
Name[sr@ijekavianlatin]=Premesti u fasciklu
Name[sr@latin]=Premesti u fasciklu
Name[sv]=Flytta till katalog
Name[uk]=Пересунути до каталогу
Name[x-test]=xxMove to directoryxx
FileName=template.txt
