[Desktop Entry]
Name=Move to directory
Name[bs]=Premjesti u direktorij
Name[ca]=Mou al directori
Name[ca@valencia]=Mou al directori
Name[da]=Flyt til mappe
Name[de]=In Ordner schieben
Name[el]=Μετακίνηση στον κατάλογο
Name[en_GB]=Move to directory
Name[es]=Mover a directorio
Name[et]=Kataloogi liigutamine
Name[fi]=Siirrä kansioon
Name[fr]=Déplacer dans le dossier
Name[gl]=Mover para o directorio
Name[hu]=Áthelyezés könyvtárba
Name[ia]=Move a directorio
Name[it]=Sposta nella cartella
Name[nb]=Flytt til mappe
Name[nds]=Na Orner verschuven
Name[nl]=Naar map verplaatsen
Name[pl]=Przenieś do katalogu
Name[pt]=Mover para a pasta
Name[pt_BR]=Mover para a pasta
Name[ru]=Перемещение в папку
Name[sk]=Presunúť do adresára
Name[sr]=Премести у фасциклу
Name[sr@ijekavian]=Премести у фасциклу
Name[sr@ijekavianlatin]=Premesti u fasciklu
Name[sr@latin]=Premesti u fasciklu
Name[sv]=Flytta till katalog
Name[tr]=Dizine taşı
Name[uk]=Пересунути до каталогу
Name[x-test]=xxMove to directoryxx
Name[zh_TW]=移動到目錄
FileName=template.txt
