[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=gadu_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/gadu
Comment=Gadu-Gadu Protocol
Comment[af]=Gadu-Gadu protokol
Comment[be]=Пратакол Gadu-Gadu
Comment[bg]=Протокол Gadu-Gadu
Comment[br]=Komenad Gadu-Gadu
Comment[ca]=Protocol Gadu-Gadu
Comment[cs]=Gadu-Gadu protokol
Comment[da]=Gadu-Gadu Protokol
Comment[de]=Gadu-Gadu-Protokoll
Comment[el]=Πρωτόκολλο Gadu-Gadu
Comment[es]=Protocolo Gadu-Gadu
Comment[et]=Gadu-Gadu protokoll
Comment[eu]=Gadu-Gadu protokoloa
Comment[fa]=قرارداد Gadu-Gadu
Comment[fi]=Gadu-Gadu -protokolla
Comment[fr]=Protocole Gadu-Gadu
Comment[fy]=Gadu-Gadu-protokol
Comment[ga]=Prótacal Gadu-Gadu
Comment[gl]=Protocolo Gadu-Gadu
Comment[he]=פרוטוקול Gadu-Gadu
Comment[hu]=Gadu-Gadu protokoll
Comment[is]=Gadu-Gadu samskiptamátinn
Comment[it]=Protocollo Gadu-Gadu
Comment[ja]=Gadu-Gadu プロトコル
Comment[ka]=Gadu-Gadu ოქმი
Comment[kk]=Gadu-Gadu протоколы
Comment[km]=ពិធីការ Gadu-Gadu
Comment[lt]=Gadu-Gadu protokolas
Comment[mk]=Gadu-Gadu-протокол
Comment[ms]=Protokol Gadu-Gadu 
Comment[nb]=Gadu-Gadu-protokoll
Comment[nds]=Gadu-Gadu-Protokoll
Comment[ne]=गाडु-गाडु प्रोटोकल
Comment[nl]=Gadu-Gadu-protocol
Comment[pl]=Protokół Gadu-Gadu
Comment[pt]=Protocolo Gadu-Gadu
Comment[pt_BR]=Protocolo Gadu-Gadu
Comment[ru]=протокол Gadu-Gadu
Comment[se]=Gadu-Gadu-protokolla
Comment[sl]=Protokol Gadu-Gadu
Comment[sr]=Gadu-Gadu протокол
Comment[sr@latin]=Gadu-Gadu protokol
Comment[sv]=Gadu-Gadu-protokoll
Comment[ta]=கடு-கடு நெறிமுறை
Comment[tg]=протоколи Gadu-Gadu
Comment[tr]=Gadu-Gadu Protokolü
Comment[uk]=Протокол Gadu-Gadu
Comment[x-test]=xxGadu-Gadu Protocolxx
Comment[zh_TW]=Gadu-Gadu 協定
Name=Gadu-Gadu
Name[ne]=गाडु-गाडु
Name[ta]=கடு-கடு
Name[x-test]=xxGadu-Gaduxx

