[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=gadu_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/gadu
Comment=Gadu-Gadu Protocol
Comment[x-test]=xxGadu-Gadu Protocolxx
Name=Gadu-Gadu
Name[x-test]=xxGadu-Gaduxx

