[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=gadu_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/gadu
Comment=Gadu-Gadu Protocol
Comment[be]=Пратакол Gadu-Gadu
Comment[bg]=Протокол Gadu-Gadu
Comment[bs]=Gadu-Gadu protokol
Comment[ca]=Protocol Gadu-Gadu
Comment[cs]=Gadu-Gadu protokol
Comment[da]=Gadu-Gadu Protokol
Comment[de]=Gadu-Gadu-Protokoll
Comment[es]=Protocolo Gadu-Gadu
Comment[et]=Gadu-Gadu protokoll
Comment[fr]=Protocole Gadu-Gadu
Comment[gl]=Protocolo Gadu-Gadu
Comment[he]=פרוטוקול Gadu-Gadu
Comment[hu]=Gadu-Gadu protokoll
Comment[it]=Protocollo Gadu-Gadu
Comment[ja]=Gadu-Gadu プロトコル
Comment[nb]=Gadu-Gadu protokoll
Comment[nl]=Gadu-Gadu-protocol
Comment[nn]=Gadu-Gadu-protokoll
Comment[pl]=Protokół Gadu-Gadu
Comment[pt]=Protocolo Gadu-Gadu
Comment[pt_BR]=Protocolo Gadu-Gadu
Comment[ru]=протокол Gadu-Gadu
Comment[sk]=Protokol Gadu-Gadu
Comment[sl]=Protokol Gadu-Gadu
Comment[sr]=Gadu-Gadu протокол
Comment[sr@Latn]=Gadu-Gadu протокол
Comment[sv]=Gadu-Gadu-protokoll
Comment[ta]=கடு-கடு நெறிமுறை
Comment[tg]=протоколи Gadu-Gadu
Comment[tr]=Gadu Gadu İletişim Kuralı
Comment[uk]=Протокол Gadu-Gadu
Comment[xx]=xxGadu-Gadu Protocolxx
Comment[zh_CN]=Gadu-Gadu 协议
Name=Gadu-Gadu
Name[ta]=கடு-கடு
Name[tr]=Gadu Gadu
Name[xx]=xxGadu-Gaduxx

