[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=groupwise_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/groupwise
Comment=Novell GroupWise Messenger
Comment[fr]=Messagerie GroupWise de Novell
Comment[x-test]=xxNovell GroupWise Messengerxx
Name=GroupWise
Name[x-test]=xxGroupWisexx

