[Desktop Entry]
Type=Service
Icon=meanwhile_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/meanwhile
Comment=Meanwhile Protocol
Comment[af]=Meanwhile protokol
Comment[ar]=بروتوكول Meanwhile
Comment[be]=Пратакол Meanwhile
Comment[bg]=Протокол Meanwhile
Comment[br]=Komenad Meanwhile
Comment[ca]=Protocol Meanwhile
Comment[ca@valencia]=Protocol Meanwhile
Comment[cs]=Meanwhile protokol
Comment[da]=Meanwhile Protokol
Comment[de]=Meanwhile-Protokoll
Comment[el]=Πρωτόκολλο Meanwhile
Comment[en_GB]=Meanwhile Protocol
Comment[eo]=Meanwhile Protokolo
Comment[es]=Protocolo Meanwhile
Comment[et]=Meanwhile'i protokoll
Comment[eu]=Meanwhile protokoloa
Comment[fa]=قرارداد در ضمن
Comment[fi]=Meanwhile-protokolla
Comment[fr]=Protocole Meanwhile
Comment[fy]=Meanwhile-protokol
Comment[ga]=Prótacal Meanwhile
Comment[gl]=Protocolo Meanwhile
Comment[he]=פרוטוקול Meanhwile
Comment[hu]=Meanwhile protokoll
Comment[is]=Meanwhile samskiptamátinn
Comment[it]=Protocollo Meanwhile
Comment[ja]=Meanwhile プロトコル
Comment[ka]=Meanwhile ოქმი
Comment[kk]=Meanwhile протоколы
Comment[km]=ពិធីការ Meanwhile
Comment[ko]=Meanwhile 프로토콜
Comment[lt]=Meanwhile protokolas
Comment[lv]=Meanwhile protokols
Comment[mk]=Meanwhile-протокол
Comment[ms]=Protokol Meanwhile
Comment[nb]=Meanwhile-protokoll
Comment[nds]=Meanwhile-Protokoll
Comment[ne]=त्यसै समयको प्रोटोकल
Comment[nl]=Meanwhile-protocol
Comment[nn]=Meanwhile-protokoll
Comment[pa]=ਮੀਨਵਾਇਲ ਪਰੋਟੋਕਾਲ
Comment[pl]=Protokół Meanwhile
Comment[pt]=Protocolo Meanwhile
Comment[pt_BR]=Protocolo Meanwhile
Comment[ro]=Protocol Meanwhile
Comment[ru]=Протокол Meanwhile
Comment[sk]=Meanwhile protokol
Comment[sl]=Protokol Meanwhile
Comment[sv]=Meanwhile-protokoll
Comment[ta]=நெறிமுறை
Comment[th]=โพรโทคอล Meanwhile
Comment[tr]=Meanwhile Protokolü
Comment[uk]=Протокол Meanwhile
Comment[x-test]=xxMeanwhile Protocolxx
Comment[zh_CN]=Meanwhile 协议
Comment[zh_TW]=Meanwhile 協定
Name=Meanwhile
Name[af]=Meanwhile
Name[ar]=Meanwhile
Name[be]=Meanwhile
Name[bg]=Meanwhile
Name[br]=Meanwhile
Name[ca]=Meanwhile
Name[ca@valencia]=Meanwhile
Name[cs]=Meanwhile
Name[da]=Meanwhile
Name[de]=Meanwhile
Name[el]=Meanwhile
Name[en_GB]=Meanwhile
Name[eo]=Meanwhile
Name[es]=Meanwhile
Name[et]=Meanwhile
Name[eu]=Meanwhile
Name[fa]=در ضمن
Name[fi]=Meanwhile
Name[fr]=Meanwhile
Name[fy]=Meanwhile
Name[ga]=Meanwhile
Name[gl]=Meanwhile
Name[he]=Meanwhile
Name[hu]=Meanwhile
Name[is]=Meanwhile
Name[it]=Meanwhile
Name[ja]=Meanwhile
Name[ka]=Meanwhile
Name[kk]=Meanwhile
Name[km]=Meanwhile
Name[ko]=Meanwhile
Name[lt]=Meanwhile
Name[lv]=Meanwhile
Name[ms]=Meanwhile
Name[nb]=Meanwhile
Name[nds]=Meanwhile
Name[ne]=त्यस समयको
Name[nl]=Meanwhile
Name[nn]=Meanwhile
Name[pa]=ਮੀਨਵਾਈਲ
Name[pl]=Meanwhile
Name[pt]=Meanwhile
Name[pt_BR]=Meanwhile
Name[ro]=Meanwhile
Name[ru]=Meanwhile
Name[sk]=Meanwhile
Name[sl]=Meanwhile
Name[sv]=Meanwhile
Name[ta]=Meanwhile
Name[tr]=Meanwhile
Name[uk]=Meanwhile
Name[x-test]=xxMeanwhilexx
Name[zh_CN]=Meanwhile
Name[zh_TW]=Meanwhile

