[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=msn_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/msn
Comment=MSN Messenger
Comment[bg]=Протокол MSN
Comment[ta]=MSN மெசஞ்சர்
Comment[xx]=xxMSN Messengerxx
Name=MSN Messenger
Name[bg]=MSN
Name[ta]=MSN மெசஞ்சர்
Name[xx]=xxMSN Messengerxx

