[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=msn_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/msn
Comment=MSN Messenger
Comment[bg]=Протокол MSN
Comment[cy]=Negesydd MSN
Comment[fr]=Messagerie MSN
Comment[is]=MSN spjallforritið
Comment[ja]=MSN メッセンジャー
Comment[pa]=MSN ਸੁਨੇਹਾਦਾਰ
Comment[ta]=MSN மெசஞ்சர்
Comment[tr]=MSN Mesajcısı
Comment[xx]=xxMSN Messengerxx
Name=MSN Messenger
Name[bg]=MSN
Name[cy]=Negesydd MSN
Name[ja]=MSN メッセンジャー
Name[ta]=MSN மெசஞ்சர்
Name[tr]=MSN Mesajcısı
Name[xx]=xxMSN Messengerxx

