[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=skype_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/skype
Comment=Skype Internet Telephony
Comment[bg]=Интернет телефония чрез Skype
Comment[cs]=Internetová telefonie Skype
Comment[da]=Skype internettelefoni
Comment[de]=Internet-Telefonie mit Skype
Comment[es]=Telefonía por internet con Skype
Comment[he]=טלפוניית רשת של Skype
Comment[it]=Telefonia internet Skype
Comment[lt]=Skype Interneto telefonija
Comment[nl]=Skype internettelefonie
Comment[pl]=Skype - telefonia internetowa
Comment[pt]=Telefonia Internet Skype
Comment[pt_BR]=Telefonia via Internet Skype
Comment[ru]=Интернет-телефон Skype
Comment[sv]=Skype Internettelefoni
Comment[uk]=Інтернет-телефон Skype
Comment[xx]=xxSkype Internet Telephonyxx
Comment[zh_CN]=Skype Internet 电话
Name=Skype
Name[xx]=xxSkypexx
