[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=yahoo_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/yahoo
Comment=Yahoo Protocol
Comment[be]=Пратакол Yahoo
Comment[bg]=Протокол Yahoo
Comment[bs]=Yahoo protokol
Comment[ca]=Protocol Yahoo
Comment[cs]=Yahoo protokol
Comment[da]=Yahoo Protokol
Comment[de]=Yahoo Protokoll
Comment[es]=Protocolo Yahoo
Comment[et]=Yahoo protokoll
Comment[fr]=Protocole Yahoo
Comment[gl]=Protocolo Yahoo
Comment[he]=פרוטוקול Yahoo
Comment[hu]=Yahoo protokoll
Comment[it]=Protocollo Yahoo
Comment[nb]=Yahoo Protokollen
Comment[nl]=Yahoo-protocol
Comment[nn]=Yahoo-protokoll
Comment[pl]=Protokół Yahoo
Comment[pt]=Protocolo Yahoo
Comment[pt_BR]=Protocolo Yahoo
Comment[ru]=Протокол Yahoo
Comment[se]=Yahoo-protokolla
Comment[sk]=Protokol Yahoo
Comment[sl]=Protokol Yahoo
Comment[sr]=Yahoo протокол
Comment[sr@Latn]=Yahoo протокол
Comment[sv]=Yahoo-protokoll
Comment[ta]=Yahoo நெறிமுறை
Comment[tg]=Протоколи Yahoo
Comment[zh_CN]=Yahoo 协议
Name=Yahoo

