[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=yahoo_protocol
ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/yahoo
Comment=Yahoo Protocol
Comment[be]=Пратакол Yahoo
Comment[bg]=Протокол Yahoo
Comment[ca]=Protocol Yahoo
Comment[cs]=Yahoo protokol
Comment[da]=Yahoo Protokol
Comment[es]=Protocolo Yahoo
Comment[et]=Yahoo protokoll
Comment[he]=פרוטוקול Yahoo
Comment[hu]=Yahoo protokoll
Comment[it]=Protocollo Yahoo
Comment[nl]=Yahoo-protocol
Comment[pt]=Protocolo Yahoo
Comment[pt_BR]=Protocolo Yahoo
Comment[ru]=Протокол Yahoo
Comment[sl]=Protokol Yahoo
Comment[sv]=Yahoo-protokoll
Comment[ta]=Yahoo நெறிமுறை
Comment[xx]=xxYahoo Protocolxx
Comment[zh_CN]=Yahoo 协议
Name=Yahoo
Name[xx]=xxYahooxx

