Source: kdepim-cvs
Build-Depends: autoconf, automake, libtool, kdelibs4-dev (>= 3.0-0.alpha1-1), debhelper (>> 3.0.0), gettext, bison | byacc, libpisock-dev, flex
Section: x11
Priority: optional
Maintainer: Ivan E. Moore II <rkrusty@debian.org>
Standards-Version: 3.5.6

Package: korganizer-cvs
Architecture: any
Section: x11
Replaces: kdepim, kdepim-common, korganizer
Depends: ${shlibs:Depends}
Recommends: kghostview-cvs, kdebase-cvs-libs
Suggests: kpilot-cvs
Enhances: kdebase-cvs, kpilot-cvs
Conflicts: korganizer
Description: Personal organizer based on QT and KDE 
 A complete calendar and scheduling program. KOrganizer supports
 information interchange with other calendar applications through the
 industry standard vCalendar file format.
 .
 KOrganizer aims to be a complete program for organizing your
 appointments, contacts, projects, etc.  It is in the same spirit as
 similar programs like the now ubiquitous Microsoft Outlook, Starfish
 Internet Sidekick, Time & Chaos, etc. (all for the Microsoft Windows
 platform, of course.)  Best of all, It reads and writes the vCalendar
 file format NATIVELY (please see http://www.imc.org/pdi for more
 information), which is now an industry-wide personal data interchange
 format.  Because of this, you should be able to move from other modern
 PIMs to KOrganizer with relative ease.  Current users of the popular
 program ical should definitely take a look at KOrganizer and compare
 features.
 .
 KOrganizer also offers full synchronization with your Palm Pilot, if you
 have kpilot installed.

Package: kpilot-cvs
Architecture: any
Section: utils
Replaces: kpilot
Depends: ${shlibs:Depends}, pilot-link
Recommends: kdebase-cvs-libs
Suggests: korganizer-cvs, kab-cvs, knotes-cvs
Enhances: kdebase-cvs, korganizer-cvs, knotes-cvs, kab-cvs
Conflicts: kpilot
Description: Palm Pilot sync tool for KDE
 Palm Pilot sync tool for KDE

Package: kandy-cvs
Architecture: any
Section: utils
Replaces: kandy
Depends: ${shlibs:Depends}
Recommends: kdebase=cvs-libs
Enhances: kdebase-cvs
Conflicts: kandy
Description: Mobile phone utility for KDE
 At the moment Kandy is more or less a terminal program with some special
 features to store commands and their parameters, but is also has a simple 
 GUI toaccess the phone-book of a mobile phone and it is able to save this 
 phonebook tothe KDE address book.
 .
 Kandy is aimed at mobile phone with integrated (GSM) modems.

Package: kdepim-cvs-libs
Architecture: any
Section: libs
Replaces: korganizer (<< 4:2.2), kdepim-libs
Depends: ${shlibs:Depends}
Conflicts: kdepim-libs
Description: KDE libraries amd modules for kdepim
 This package contains the different interface modules and libraries
 provided by the kdepim package.  These includes interfaces to imap and ical

Package: kdepim-cvs-dev
Architecture: any
Section: devel
Replaces: korganizer (<< 4:2.1-20010116-0), kdepim-dev
Depends: kdepim-cvs-libs (= ${Source-Version}), kdelibs4-dev
Conflicts: kdepim-dev
Description: KDE PIM applications (development files)
 KDE PIM application development files
 You need these files to compile some PIM related KDE apps.
