[Desktop Entry]
Encoding=UTF-8
Name=Calendar on IMAP Server via KMail
X-KDE-Library=kcal_kolab
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=imap
