[Desktop Entry]
Name=Calendar on IMAP Server via KMail
Name[de]=Kalender auf einem IMAP-Server via KMail
X-KDE-Library=kcal_kolab
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=imap
