# KDE Config File
[Desktop Entry]
Name=kabcdistlistupdater
Name[nl]=kabcdistlijstbijwerker
Exec=kabcdistlistupdater --disable-autostart
Icon=misc
Type=Application
Comment=Tool to update the old distribution lists to the new ones.
Comment[ca]=Eina per actualitzar les llistes de distribució antigues a les noves.
Comment[es]=Herramienta para actualizar las antiguas listas de distribución al nuevo formato.
Comment[et]=Tööriist vanade postiloendite uuendamiseks uue vormi kohaselt.
Comment[nds]=Warktüüch, dat ole Verdeellisten to niege opfrischt
Comment[nl]=Hulpmiddel om de oude distributielijsten bij te werken tot de nieuwe.
Comment[sk]=Nástroj na aktualizáciu starých ditribučných zoznamov na nové.
Comment[sr]=Алат за ажурирање старих дистрибуционих листи новима.
Comment[sr@Latn]=Алат за ажурирање старих дистрибуционих листи новима.
Comment[sv]=Verktyg för att uppdatera gamla distributionslistor till nya.
Terminal=false
NoDisplay=true
X-KDE-autostart-condition=kabcdistlistupdaterrc:Startup:EnableAutostart:true
OnlyShowIn=KDE;
