[Desktop Entry]
Encoding=UTF-8
Comment=Calendar in Mobile Device
Comment[be]=Каляндар у мабільнай прыладзе
Comment[bg]=Календар в мобилни устройства
Comment[ca]=Calendari en el dispositiu mòbil
Comment[cs]=Kalendář na mobilním zařízení
Comment[da]=Kalender i mobil-enhed
Comment[de]=Kalender für Mobiltelefon
Comment[es]=Calendario del dispositivo móvil
Comment[et]=Mobiili kalender
Comment[fi]=Mobiililaitteen kalenteri
Comment[fr]=Calendrier dans un périphérique mobile
Comment[hu]=Naptár a mobiltelefonon
Comment[it]=Calendari nel dispositivo portatile
Comment[nl]=Kalender in mobiel apparaat
Comment[nn]=Kalender i mobileiningar
Comment[pt]=Calendário no Dispositivo Móvel
Comment[pt_BR]=Calendário em Dispositivo Móvel
Comment[ru]=Календарь на мобильном устройстве
Comment[sl]=Koledar v prenosni napravi
Comment[sr]=Календар у мобилном уређају
Comment[sv]=Kalender i mobilenhet
Comment[tr]=Cep Telefonu Takvimi
Comment[uk]=Календар у мобільному пристрої
Comment[xx]=xxCalendar in Mobile Devicexx
Comment[zh_CN]=移动电话中的日历
Icon=korganizer
Type=MimeType
MimeType=inode/calendar
Patterns=

X-KDE-AutoEmbed=true
