[Desktop Entry]
Encoding=UTF-8
Comment=Contacts in Mobile Device
Comment[ar]=جهات الإتصال في جهاز نقال
Comment[be]=Кантакты ў мабільнай прыладзе
Comment[bg]=Контакти в мобилни устройства
Comment[bs]=Kontakti u mobilnom uređaju
Comment[ca]=Contactes en el dispositiu mòbil
Comment[cs]=Kontakty na mobilním zařízení
Comment[cy]=Cysylltau yn y Dyfais Symudol
Comment[da]=Kontakter i mobil-enhed
Comment[de]=Kontakte im Mobilgerät
Comment[es]=Contactos del dispositivo móvil
Comment[et]=Mobiili kontaktid
Comment[fi]=Mobiililaitteen yhteystiedot
Comment[fr]=Contacts dans le périphérique mobile
Comment[gl]=Contactos no dispositivo móbil
Comment[he]=אנשי קשר בהתקן הנייד
Comment[hi]=मोबाइल उपकरण में सम्पर्क
Comment[hu]=Címbejegyzések a mobiltelefonon
Comment[is]=Tengiliðir í farsíma eða lófatölvu
Comment[it]=Contatti nel dispositivo portatile
Comment[ja]=携帯機器内のコンタクト
Comment[nb]=Kontaktliste i mobil enhet
Comment[nl]=Contactpersonen in mobiel apparaat
Comment[nn]=Kontaktar i mobileiningar
Comment[pl]=Wizytówki w urządzeniu przenośnym
Comment[pt]=Contactos no Dispositivo Móvel
Comment[pt_BR]=Contatos em Dispositivo Móvel
Comment[ro]=Contacte în dispozitiv mobil
Comment[ru]=Контакты на мобильном устройстве
Comment[sk]=Kontakty v prenosnom zariadení
Comment[sl]=Stiki v prenosni napravi
Comment[sr]=Контакти у мобилном уређају
Comment[sr@Latn]=Kontakti u mobilnom uređaju
Comment[sv]=Kontakter i mobilenhet
Comment[ta]=நடமாடும் சாதனத்தின் தொடர்ப்புகள்
Comment[tg]=Алоқот дар дастгоҳи мобилӣ
Comment[tr]=Taşınabilir Aygıt Bağlantıları
Comment[uk]=Контакти у мобільному пристрої
Comment[zh_CN]=移动设备中的联系人
Icon=kaddressbook
Type=MimeType
MimeType=inode/addressbook
Patterns=

X-KDE-AutoEmbed=true
