[Desktop Entry]
Comment=Contacts in Mobile Device
Comment[af]=Kontakte op die draagbare toestel
Comment[ar]=المراسلون في الجهاز النقّال
Comment[be]=Кантакты ў мабільнай прыладзе
Comment[bg]=Контакти в мобилни устройства
Comment[bs]=Kontakti u mobilnom uređaju
Comment[ca]=Contactes en el dispositiu mòbil
Comment[cs]=Kontakty na mobilním zařízení
Comment[cy]=Cysylltau yn y Dyfais Symudol
Comment[da]=Kontakter i mobil-enhed
Comment[de]=Kontakte im Mobilgerät
Comment[el]=Επαφές στη φορητή συσκευή
Comment[es]=Contactos del dispositivo móvil
Comment[et]=Mobiili kontaktid
Comment[eu]=Kontaktuak dispositibo mugikorrean
Comment[fa]=تماسها در دستگاه تلفن همراه
Comment[fi]=Mobiililaitteen yhteystiedot
Comment[fr]=Contacts dans le périphérique mobile
Comment[fy]=Kontaktpersoanen yn mobyl apparaat
Comment[ga]=Teagmhálacha i nGléas Móibíleach
Comment[gl]=Contactos no dispositivo móbil
Comment[he]=אנשי קשר בהתקן הנייד
Comment[hi]=मोबाइल उपकरण में सम्पर्क
Comment[hu]=Címbejegyzések a mobiltelefonon
Comment[is]=Tengiliðir í farsíma eða lófatölvu
Comment[it]=Contatti nel dispositivo portatile
Comment[ja]=モバイル機器内の連絡先
Comment[ka]=კონტაქტები მობილურ მოწყობილობაზ
Comment[kk]=Қалта құрылғыдағы контакттар
Comment[km]=ទំនាក់​ទំនង​ក្នុង​ឧបករណ៍​ចល័ត
Comment[lt]=Kontaktai mobiliajame įrenginyje
Comment[mk]=Контакти од мобилен уред
Comment[ms]=Orang hubungan di dalam Peranti Mudah Alih
Comment[nb]=Kontaktliste i mobil enhet
Comment[nds]=Kontakten op de Mobilreedschap
Comment[ne]=मोबाइल यन्त्रमा सम्पर्क गर्छ
Comment[nl]=Contactpersonen in mobiel apparaat
Comment[nn]=Kontaktar i mobileiningar
Comment[pl]=Wizytówki w urządzeniu przenośnym
Comment[pt]=Contactos no Dispositivo Móvel
Comment[pt_BR]=Contatos em Dispositivo Móvel
Comment[ro]=Contacte în dispozitiv mobil
Comment[ru]=Контакты на мобильном устройстве
Comment[sk]=Kontakty v prenosnom zariadení
Comment[sl]=Stiki v prenosni napravi
Comment[sr]=Контакти у мобилном уређају
Comment[sr@Latn]=Kontakti u mobilnom uređaju
Comment[sv]=Kontakter i mobilenhet
Comment[ta]=நடமாடும் சாதனத்தின் தொடர்ப்புகள்
Comment[tg]=Алоқот дар дастгоҳи мобилӣ
Comment[tr]=Taşınabilir Aygıt Bağlantıları
Comment[uk]=Контакти у мобільному пристрої
Comment[zh_CN]=移动设备中的联系人
Comment[zh_TW]=行動裝置中的聯絡人
Icon=kaddressbook
Type=MimeType
MimeType=inode/addressbook
Patterns=

X-KDE-AutoEmbed=true
