[Desktop Entry]
Encoding=UTF-8
Comment=Notes in Mobile Device
Comment[be]=Нататкі ў мабільнай прыладзе
Comment[bg]=Бележки в мобилни устройства
Comment[ca]=Notes en el dispositiu mòbil
Comment[cs]=Poznámky na mobilním zařízení
Comment[da]=Noter i mobil-enhed
Comment[de]=Notizen im Mobilgerät
Comment[es]=Notas del dispositivo móvil
Comment[et]=Mobiili märkmed (Notes)
Comment[fi]=Mobiililaitteen muistio
Comment[fr]=Notes dans un périphérique mobile
Comment[hu]=Feljegyzések a mobiltelefonon
Comment[it]=Note nel dispositivo portatile
Comment[nl]=Notities in mobiel apparaat
Comment[nn]=Notat i mobileiningar
Comment[pt]=Notas no Dispositivo Móvel
Comment[pt_BR]=Notas em Dispositivo Móvel
Comment[ru]=Заметки на мобильном устройстве
Comment[sr]=Белешке у мобилном уређају
Comment[sv]=Anteckning i mobilenhet
Comment[tr]=Cep Telefonu Notları
Comment[uk]=примітки у мобільному пристрої
Comment[xx]=xxNotes in Mobile Devicexx
Comment[zh_CN]=移动电话中的便笺
Icon=knotes
Type=MimeType
MimeType=inode/notes
Patterns=

X-KDE-AutoEmbed=true
