[Desktop Entry]
Encoding=UTF-8
Comment=Mobile Device
Comment[x-test]=xxMobile Devicexx
Icon=kmobile
Type=MimeType
MimeType=kdedevice/mobiledevice
Patterns=

X-KDE-AutoEmbed=true
