[Desktop Entry]
Encoding=UTF-8
Comment=Mobile Device
Comment[be]=Мабільная прылада
Comment[sv]=Mobilenhet
Icon=kmobile
Type=MimeType
MimeType=kdedevice/mobiledevice
Patterns=

X-KDE-AutoEmbed=true
