[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED File Sharing/Locking Module
Name[af]=Kded Lêer Deeling/Sluit van Module
Name[ar]=وحدة مشاركة/قفل الملفات KDED
Name[bs]=KDED modul za djeljenje/zaključavanje datoteka
Name[ca]=Mòdul KDED de compartició/bloqueig de fitxers
Name[cs]=Modul KDED pro sdílení/zamykání
Name[cy]=Modiwl Rhannu/Cloi Ffeiliau KDED
Name[da]=KDED Fildelings-/Låsningsmodul
Name[de]=KDED Modul für gemeinsamen Dateizugriff
Name[el]=Άρθρωμα Μοιράσματος/Κλειδώματος αρχείων του KDED
Name[eo]=Modulo por ŝlosado kaj komuna uzado de dosieroj
Name[es]=Módulo KDED de compartición/bloqueo de archivo
Name[et]=KDED failide jagamise ja lukustamise moodul
Name[eu]=KDED Fitxategi Konpartitu/Blokatzeko Modulua
Name[fi]=KDED tiedostojen jako/lukitusmoduuli
Name[fr]=Module KDED de partage/verrouillage de fichier
Name[he]=מודול שיתוף\נעילת קבצים של KDED
Name[hi]=केडीईडी फ़ाइल साझेदारी/देखना मॉड्यूल
Name[hr]=KDED modul za dijeljenje datoteka/zaključavanje
Name[hu]=KDED fájlmegosztási és -zárolási modul
Name[is]=KDED skráar læsingar og miðlunar íforrit
Name[it]=KSharedFile
Name[ja]=KDED ファイル共有/ロックモジュール
Name[lt]=KDED bylų bendro naudojimo/užrakinimo modulis
Name[lv]=KDE Failu Izdalīšanas/Slēgšanas Modulis
Name[ms]=Modul Perkongsian/Kunci Fail KDED
Name[nb]=KDED fildeling/låsemodul
Name[nl]=KDED Bestands Sharing/Locking-module
Name[nn]=KDED-modul for fildeling/fillåsing
Name[nso]=Seripa sa Kabagano/Notlelo ya Faele ya KDED
Name[pl]=Moduł KDED współdzielenia i blokowania plików
Name[pt]=Módulo de Partilha de Ficheiros do KDED
Name[pt_BR]=Módulo de Compartilhamento/Bloqueio de Arquivos do KDE
Name[ro]=Modul de partajare/blocare fişiere KDED
Name[ru]=Совместный доступ
Name[sk]=Modul KDED pre zdieľanie/zamykanie
Name[sl]=Modul KDED za souporabo/zaklepanje datotek
Name[sr]=KDED-ов модул за дељење/закључавање фајлова
Name[sr@Latn]=KDED-ov modul za deljenje/zaključavanje fajlova
Name[sv]=KDED-filutdelning/låsmodul
Name[ta]=KDED கோப்புப் பகிர்வு/பூட்டும் தொகுதி
Name[tg]=Дастрасии муштарак
Name[th]=โมดูลแบ่งการใช้/การล็อคแฟ้มของ KDED
Name[tr]=KDED Dosya Paylaşma/Kilitleme Modülü
Name[uk]=Модуль обміну/блокування файлів KDED
Name[ven]=U kovhekana ha faela ya KDED/U loka modulu
Name[vi]=Module chia sẻ / khoá file KDED 
Name[xh]=Usebenziswano ngokudibanisa lwe fayile yeKDED/Itshixa Umlinganiselo womqulu 
Name[xx]=xxKDED File Sharing/Locking Modulexx
Name[zh_CN]=KDED 文件共享/锁定模块
Name[zh_TW]=KDED 檔案分享/鎖定 模組
Name[zu]=Ingxenye yokukhiya/Ukusebenzisa ngokuhlanganyela ifayela le-KDED
Comment=Share files between others
Comment[af]=Deel lêers tussen andere
Comment[ar]=مشاركة الملفات بين الآخرين
Comment[bg]=Споделяне на файлове между останалите
Comment[bs]=Dijelite vaše datoteke s drugima
Comment[ca]=Comparteix fitxers amb l'altra gent
Comment[cs]=Sdílení souborů
Comment[cy]=Rhannu ffeiliau rhwng eraill
Comment[da]=Del filer med andre
Comment[de]=Dateien gemeinsam benutzen oder für die Benutzung sperren
Comment[el]=Κοινοποίηση αρχείων σε άλλους
Comment[eo]=Komuna uzado de dosierojn
Comment[es]=Compartir archivos con otros
Comment[et]=Failide jagamine teistega
Comment[eu]=Fitxategiak Konpartitu
Comment[fi]=Jaa tiedostoja muiden käyttäjien kesken
Comment[fr]=Pour partager des fichiers avec d'autres personnes
Comment[he]=שיתוף קבצים בין משתמשים
Comment[hi]=अन्यों के बीच फ़ाइलें साझेदारी करें
Comment[hr]=Dijeli datoteke sa ostalima
Comment[hu]=fájlmegosztás a hálózaton
Comment[is]=Miðla skrám til annarra notanda
Comment[it]=Condividi file con altre persone
Comment[ja]=他の人とファイルを共有
Comment[lt]=Dalintis bylomis su kitais
Comment[lv]=Izdala failus koplietošanai
Comment[ms]=Kongsi fail dengan yang lain
Comment[nb]=Fildeling med andre
Comment[nl]=Bestanden tussen mappen delen
Comment[nn]=Del filer med andre
Comment[nso]=Abagana difaele le Babangwe
Comment[pl]=Współdzielenie plików
Comment[pt]=Partilhe ficheiros com terceiros
Comment[pt_BR]=Compartilhar arquivos
Comment[ro]=Partajează fişiere între aplicaţii
Comment[ru]=Предоставление совместного доступа к файлам
Comment[sk]=Zdieľanie súborov
Comment[sl]=Souporaba datotek z drugimi
Comment[sr]=Дељење фајлова са другима
Comment[sr@Latn]=Deljenje fajlova sa drugima
Comment[sv]=Dela filer med andra
Comment[ta]=கோப்புகளை மற்றவையுடன் பங்கீடு
Comment[tg]=Имконияти дастрасии муштарак ба файлро додан
Comment[th]=แบ่งการใช้แฟ้มร่วมกับคนอื่น
Comment[tr]=Başkalarıyla dosya paylaşma
Comment[uk]=Спільне використання файлів
Comment[ven]=Kovhekanani dzifaela vhukati ha dzinwe
Comment[vi]=Chia sẻ file
Comment[xh]=Yaba iifayile phakathi kwabanye
Comment[xx]=xxShare files between othersxx
Comment[zh_CN]=与其他人共享文件
Comment[zh_TW]=跟別人分享檔案
Comment[zu]=Yaba amafayela phakathi kwabanye
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=ksharedfile
X-KDE-FactoryName=ksharedfile
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
