[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=ICS information
Name[be]=Інфармацыя аб ICS
Name[bg]=Информация ICS
Name[da]=ICS-information
Name[es]=Información ICS
Name[et]=ICS info
Name[fr]=Information sur ICS
Name[nl]=ICS-informatie
Name[pt]=Informação ICS
Name[pt_BR]=Informação ICS
Name[ru]=Информация ICS
Name[sv]=ICS-information
Name[tr]=ICS bilgisi
Name[uk]=Інформація про ICS
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ics
MimeType=text/calendar
PreferredGroups=ICSInfo
PreferredItems=Events,Todos,Journals
