[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=ICS information
Name[be]=Інфармацыя аб ICS
Name[bg]=Информация ICS
Name[ca]=Informació ICS
Name[cs]=Informace o ICS
Name[da]=ICS-information
Name[de]=ICS-Information
Name[es]=Información ICS
Name[et]=ICS info
Name[fr]=Information sur ICS
Name[hu]=ICS-jellemzők
Name[it]=Informazioni ICS
Name[nl]=ICS-informatie
Name[nn]=ICS-informasjon
Name[pa]=ICS ਜਾਣਕਾਰੀ
Name[pl]=Informacja ICS
Name[pt]=Informação ICS
Name[pt_BR]=Informações ICS
Name[ru]=Информация ICS
Name[sl]=Podatki ICS
Name[sr]=ICS информације
Name[sr@Latn]=ICS информације
Name[sv]=ICS-information
Name[tr]=ICS bilgisi
Name[uk]=Інформація про ICS
Name[xx]=xxICS informationxx
Name[zh_CN]=ICS 信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ics
MimeType=text/calendar
PreferredGroups=ICSInfo
PreferredItems=Events,Todos,Journals
