[Desktop Entry]
Name=Planet Debian
Description=Posts and news from Debian Developers.
FileName=default.html
Author=Ronny Yabar Aizcorbe
AuthorEmail=ronnycontacto@gmail.com