<style type="text/css">

.main {
 width:100%;
 margin:0px auto;
 min-width:20em;
 max-width:800px;
 color:#fff;
}

.main .hd .c,
.main .ft .c {
 height:11px;
}

.main .bd {
 margin-right:6px;
}

.main .bd .c {
 margin-right:-6px;
}

.main .bd .c .s {
 margin:0px 5px 0px 4px;
 background:url('{% media_finder "air/images/background_data.png" %}') repeat-x 0px 0px;
 padding:0.1em;
}

.footer {
  background:url('{% media_finder "air/images/background_footer.png" %}') repeat-x 0px 0px;
  padding:0.4em;
}

.main h1 {
 /* subject */
 font-size:1.5em;
 margin:0px;
 /*padding:1px 0 2px 5px;*/
 margin-top:-0.6em;
}

p {
 font-family:verdana,tahoma,arial,"sans serif";
}

.main p {
 margin:0.5em 0px 0px 0px;
 padding:1px 0 0 5px;
 font:0.95em/1.5em arial,tahoma,"sans serif";
}

</style>
</head>

<body>

<div>

<div class="main">
 <div class="hd"></div>
 <div class="bd">
  <div class="c">
   <div class="s">
   <p>Date: {{ date|safe }} </p><br />

    {% if subject %}
        <div dir="{{ subjectDir }}" > <h1>{{ subject|safe }}</h1></div>
    {% else %}
        No Subject
    {% endif %}

   <div class="footer">

   </div>
  </div>
  </div>

 </div>

 <table width="99%" style="margin-left:3px;background-image:url('{% media_finder "air/images/background_main.png" %}'); border-bottom: solid #D5D5D5 2px ! important;border-left: solid #D5D5D5 2px ! important;border-right: solid #D5D5D5 2px ! important;border-top: solid #000 2px ! important;">

    <tr>
    <th align="left" style="font-size: 10px;color:#000;">From: </th>
    <td style="font-size: 10px;">{{ from|safe }}

    {% if resentFrom %}
      &nbsp; Resent-From: {{ resentFrom|safe }}
    {% endif %}

    {% if vCardName %}
      &nbsp;&nbsp;<a href="{{ vCardName|safe }}">[vCard]</a>
    {% endif %}

    {% if organization %}
      &nbsp;&nbsp;("{{ organization|safe }}")
    {% endif %}

    </td>
    </tr>

    <tr>
    <th align="left" style="font-size: 10px;color:#000;">To: </th>
    <td style="font-size: 10px;">{{ to|safe }}</td>
    </tr>

{% if cc %}
    <tr>
    <th align="left" style="font-size: 10px;color:#000;">CC: </th>
    <td style="font-size: 10px;">{{ cc|safe }}</td>
    </tr>
{% endif %}

{% if bcc %}
    <tr>
    <th align="left" style="font-size: 10px;color:#000;">BCC: </th>
    <td style="font-size: 10px;">{{ bcc|safe }}</td>
    </tr>
{% endif %}

    <tr>
    <td colspan="2"><div id="attachmentInjectionPoint"></div></td>
    </tr>

    </table>

</div>
</div>