<style type="text/css">

.main {
  width:100%;
  margin:0px;
  color:#fff;
}

.main .hd .c,
.main .ft .c {
  height:11px;
}

.main .bd {
  margin-right:6px;
}

.main .bd .c {
  margin-right:-6px;
}

.main .bd .c .s {
  margin:0px 7px 0px 0px;
  background:url('{% media_finder "air/images/background_data.png" %}') repeat-x 0px 0px;
  border-top: solid #086996 1px ! important;
  border-left: solid #086996 1px ! important;
  width:100%;
  height:70px;
}

.main h1 {
 /* subject */
  font-size:1.5em;
  padding:0px 0 2px 5px;
  margin:0px 0 5px 5px;
}

p {
  font-family:verdana,tahoma,arial,"sans serif";
}

.main p {
  margin:5px 0px 0px 2px;
  padding:2px 0 0 5px;
  font:0.95em/1.5em arial,tahoma,"sans serif";
}

.main table.header {
  width: 100%;
  background-image:url('{% media_finder "air/images/background_main.png" %}');
  border-top: solid #086996 1px ! important;
  border-bottom: solid #086996 1px ! important;
  border-left: solid #086996 1px ! important;
  border-right: solid #086996 2px ! important;
}

.main th.header, td.data {
  font-size: 10px;
}

.main th.header {
  text-align:left;
  color:#000;
}

</style>
</head>

<body>

<div>

<div class="main">
 <div class="hd"></div>
 <div class="bd">
  <div class="c">
   <div class="s">
   <p>Date: {{ date_long|safe }} </p><br />

    {% if subject %}
        <div dir="{{ subjectDir }}" > <h1>{{ subject|safe }}</h1></div>
    {% else %}
        No Subject
    {% endif %}
  </div>
  </div>

 </div>

 <table class="header">

    <tr>
    <th class="header">From: </th>
    <td class="data">{{ from_FullAddress|safe }}

    {% if resentFrom %}
      &nbsp; Resent-From: {{ resentFrom|safe }}
    {% endif %}

    {% if vCardName %}
      &nbsp;&nbsp;<a href="{{ vCardName|safe }}">[vCard]</a>
    {% endif %}

    {% if organization %}
      &nbsp;&nbsp;("{{ organization|safe }}")
    {% endif %}

    </td>
    </tr>

    <tr>
    <th class="header">To: </th>
    <td class="data">{{ to_FullAddress_ShowLink|safe }}</td>
    </tr>

{% if cc_FullAddress_ShowLink %}
    <tr>
    <th class="header">CC: </th>
    <td class="data">{{ cc_FullAddress_ShowLink|safe }}</td>
    </tr>
{% endif %}

{% if bcc_FullAddress %}
    <tr>
    <th class="header">BCC: </th>
    <td class="data">{{ bcc_FullAddress|safe }}</td>
    </tr>
{% endif %}

    <tr>
    <td colspan="2"><div id="attachmentInjectionPoint"></div></td>
    </tr>

    </table>

</div>
</div>