[Desktop Entry]
Type=Service
Name=NotePad
Name[cs]=Poznámkový blok
Name[da]=Notesblok
Name[de]=Notizen
Name[fa]=یادداشت
Name[fi]=Muistio
Name[fr]=Notes
Name[gl]=Caderno de Notas
Name[hu]=Notepad
Name[lv]=Piezīmju blociņš
Name[nb]=NotisBlokk
Name[ne]=नोटप्याड
Name[pa]=ਨੋਟ-ਪੈਡ
Name[pl]=Notatnik
Name[sv]=Anteckningar
Name[ta]=நோட்பேட்
Name[tg]=Эзоҳот
Name[th]=แผ่นบันทึก
Name[x-test]=xxNotePadxx
Name[zh_CN]=记事本
Name[zh_TW]=筆記本
Comment=This conduit backs up NotePad drawings to a local folder.
Comment[af]=Hierdie pad sinkroniseer NotePad tekeninge na 'n plaaslike gids.
Comment[bg]=Създаване на архивни копия на изображенията създадени с NotePad в локална директория.
Comment[ca]=Aquest conducte copia els dibuixos NotePad a una carpeta local.
Comment[cs]=Toto propojení synchronizuje záznamy v PDA s lokálním adresářem.
Comment[da]=Denne kanal sikkerhedskopierer NotePad's tegninger til en lokal mappe.
Comment[de]=Diese Erweiterung (Conduit) sichert NotePad-Zeichnungen in einen lokalen Ordner.
Comment[el]=Αυτός ο σύνδεσμος δημιουργεί αντίγραφα ασφαλείας σχεδίων του NotePad σε έναν τοπικό φάκελο.
Comment[es]=Este conducto hace una copia de respaldo de los dibujos de NotePad en una carpeta local.
Comment[et]=See kanal teeb NotePadi joonistustest varukoopia kohalikku kataloogi.
Comment[eu]=Kanal honek Ohar-blokaren marrazkiak karpeta lokal batera gordetzen ditu.
Comment[fa]=این لوله، ترسیمهای NotePad را در پوشه‌ای محلی پشتیبانی می‌کند.
Comment[fi]=Tämä yhdyskäytävä tekee varmuuskopion NotePad -piirroksista paikalliseen kansioon.
Comment[fr]=Ce conduit enregistre les dessins (Notes) dans un dossier local.
Comment[fy]=Comment=Dit conduit makket in reservekopy fan de notysje fan de notysje-oantekenings nei in lokale map.
Comment[ga]=Déanann an seoladán seo cúltaca ar líníochtaí NotePad i bhfillteán logánta.
Comment[gl]=Este conduto fai unha copia de seguranza dos debuxos do NotePad nun cartafol local.
Comment[hu]=Bővítőmodul NotePad-rajzok helyi könyvtárba való lementéséhez.
Comment[is]=Þessi rás afritar NotePad teikningar í staðbundna möppu.
Comment[it]=Questo condotto archivia i disegni NotePad in una cartella locale.
Comment[ja]=このコンジットは NotePad の絵をローカルのフォルダにバックアップします。
Comment[ka]=ეს არხი ლოკალურ საქაღალდეში ინახავს NotePad-ის სარეზერვო  მონახაზებს 
Comment[km]=បំពង់​នេះ​អាច​បម្រុង​ទុក​គំនូរ NotePad ទៅ​ថត​មូលដ្ឋាន ។
Comment[lt]=Šis kanalas padaro NotePad piešinių atsargines kopijas į vietinį aplanką.
Comment[lv]=Šī ķēde saglabā piezīmju zīmējumu rezerves kopijas datora mapē.
Comment[ms]=Saluran ini menyandarkan lukisan NotePad ke folder setempat.
Comment[nb]=Denne kanalen tar sikkerhetskopi av NotePad tegninger til en lokal mappe.
Comment[nds]=Sekert NotePad-Teken binnen en lokaal Orner.
Comment[ne]=यो कन्ड्युटले स्थानीय फाइलमा नोटप्याड रेखाचित्र ब्याकअप गर्छ ।
Comment[nl]=Dit conduit maakt een backup van de notitie-aantekeningen naar een lokale map.
Comment[nn]=Ta reservekopiar av NotePad-teikningar til ei lokal mappe.
Comment[pl]=Ten łącznik robi kopię zapasową rysunków z Notatnika do lokalnego katalogu.
Comment[pt]=Esta conduta salvaguarda desenhos NotePad para uma pasta local.
Comment[pt_BR]=Esta conduta faz backup de desenhos do NotePad em uma pasta local.
Comment[ru]=Канал создания резервных копий примечаний в локальной папке.
Comment[sk]=Táto spojka zálohuje poznámky NotePad do lokálneho priečinku.
Comment[sl]=Ta veznik arhivira risanja z NotePadom v krajevno mapo.
Comment[sv]=Den här kanalen säkerhetskopierar ritade anteckningar i en lokal katalog.
Comment[ta]=இது நோட்பேடின் வரைபடங்களை உள்ளடைவுக்கு சேமிக்கிறது
Comment[tr]=Bu bileşen, NotePad çizimlerini yerel bir dosyaya aktarır veya alır.
Comment[uk]=Цей акведук створює резервну копію нотаток у локальній теці.
Comment[x-test]=xxThis conduit backs up NotePad drawings to a local folder.xx
Comment[zh_CN]=此管道将记事本的绘图保存到本地文件夹。
Comment[zh_TW]=此導管將筆記本上的內容備份到本地端目錄。
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_notepad
