[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=NotePad
Name[da]=Notesblok
Name[sv]=Anteckningar
Name[ta]=நோட்பாட்
Name[xx]=xxNotePadxx
Comment=This conduit backs up NotePad drawings to a local folder
Comment[da]=Denne kanal sikkerhedskopierer NotePad's tegninger til en lokal mappe
Comment[et]=See kanal teeb NotePadi joonistustest varukoopia kohalikku kataloogi
Comment[nl]=Dit conduit maakt een backup van de notitie-aantekeningen naar een lokale map
Comment[sl]=Ta veznik arhivira risanja z NotePadom v krajevno mapo
Comment[sv]=Den här kanalen säkerhetskopierar ritade anteckningar i en lokal katalog
Comment[ta]=இது நோட்பாடின் வரைபடங்களை உள்ளடைவுக்கு சேமிக்கிறது
Comment[xx]=xxThis conduit backs up NotePad drawings to a local folderxx
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_notepad
