[Desktop Entry]
Version=1.0
Name=Tasks
Name[bs]=Zadaci
Name[ca]=Tasques
Name[ca@valencia]=Tasques
Name[cs]=Úkoly
Name[da]=Opgaver
Name[de]=Aufgaben
Name[el]=Εργασίες
Name[en_GB]=Tasks
Name[es]=Tareas
Name[et]=Ülesanded
Name[fi]=Tehtävät
Name[fr]=Tâches
Name[gl]=Tarefas
Name[hu]=Feladatok
Name[ia]=Cargas
Name[it]=Tasks
Name[kk]=Тапсырмалар
Name[km]=ភារកិច្ច​
Name[ko]=작업
Name[lt]=Užduotys
Name[mr]=कार्ये
Name[nb]=Oppgaver
Name[nds]=Opgaven
Name[nl]=Taken
Name[pa]=ਟਾਸਕ
Name[pl]=Zadania
Name[pt]=Tarefas
Name[pt_BR]=Tarefas
Name[ro]=Sarcini
Name[ru]=Задачи
Name[sk]=Úlohy
Name[sl]=Opravila
Name[sr]=Задаци
Name[sr@ijekavian]=Задаци
Name[sr@ijekavianlatin]=Zadaci
Name[sr@latin]=Zadaci
Name[sv]=Uppgifter
Name[tr]=Görevler
Name[ug]=ۋەزىپىلەر
Name[uk]=Завдання
Name[wa]=Bouyes
Name[x-test]=xxTasksxx
Name[zh_CN]=任务
Name[zh_TW]=工作
Exec=tasks-mobile

Icon=tasks-mobile
Type=Application
Categories=Qt;KDE;Office;Calendar;
