[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Kontact Touch Tasks
Name[ca]=Tasques del Kontact tàctil
Name[da]=Kontact Touch Opgaver
Name[de]=Tasks-Modul für Kontact Touch
Name[es]=Tareas Kontact táctil
Name[et]=Kontact Touchi ülesanded
Name[gl]=Tarefas Touch do Kontact
Name[ia]=Cargas de Touch de Kontact
Name[kk]=Kontact Touch тапсырмалары
Name[nb]=Kontact Touch gjøremål
Name[nds]=Opgaven för Anröögschirm-Kontact
Name[nl]=Aanraaktaken van Kontact
Name[pt]=Tarefas do Kontact Touch
Name[pt_BR]=Tarefas do Kontact Touch
Name[sv]=Kontact Touch uppgifter
Name[uk]=Завдання Kontact Touch
Name[x-test]=xxKontact Touch Tasksxx
Name[zh_TW]=Kontact Touch Tasks
Exec=tasks-mobile

Icon=tasks-mobile
Type=Application
Categories=Qt;KDE;Office;Calendar;
