[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Kontact Touch Tasks
Name[da]=Kontact Touch Opgaver
Name[es]=Tareas Kontact táctil
Name[et]=Kontact Touchi ülesanded
Name[ia]=Cargas de Touch de Kontact
Name[nl]=Aanraaktaken van Kontact
Name[pt]=Tarefas do Kontact Touch
Name[pt_BR]=Tarefas do Kontact Touch
Name[sv]=Kontact Touch uppgifter
Name[uk]=Завдання Kontact Touch
Name[x-test]=xxKontact Touch Tasksxx
Exec=tasks-mobile

Icon=tasks-mobile
Type=Application
