<style type="text/css">

body {
  font:normal 76% georgia,helvetica,verdana,tahoma,arial,"sans serif";
  background:#999 url('{% media_finder "nokia/images/background.png" %}');
}

.main {
  width:100%;
  margin:0px auto;
  min-width:20em;
  max-width:800px;
  color:#fff;
}

.main .hd .c,
.main .ft .c {
  height:11px;
}

.main .hd {
  background:transparent url('{% media_finder "nokia/images/top_left.png" %}') no-repeat 0px 0px;
  margin-right:14px;
}

.main .hd .c {
  background:transparent url('{% media_finder "nokia/images/top_right.png" %}') no-repeat right 0px;
  margin-right:-14px;
}

.main .bd {
  background:transparent url('{% media_finder "nokia/images/middle_left.png" %}') repeat-y 0px 0px;
  margin-right:6px;
}

.main .c {
  background:transparent url('{% media_finder "nokia/images/middle_right.png" %}') repeat-y right 0px;
  margin-right:-6px;
}

.main .s {
  margin:0px 8px 0px 4px;
  background:#000 url('{% media_finder "nokia/images/background_data.png" %}') repeat-x 0px 0px;
  padding:1em;
}

.main .ft {
  background:transparent url('{% media_finder "nokia/images/bottom_left.png" %}') no-repeat 0px 0px;
  margin-right:14px;
}

.main .ft .c {
  background:transparent url('{% media_finder "nokia/images/bottom_right.png" %}') no-repeat right 0px;
  margin-right:-14px;
}

.main h1 {
  font-size:1.2em;
  margin-top:3px;
  padding:0px;
  margin-top:-0.6em;
}

.main p {
  margin:2px 0px 2px 0px;
  font:0.95em/1.5em arial,tahoma,"sans serif";
}

.main table.header {
  width:100%;
  background-color:#FFFFFF;
  border-top: solid #D5D5D5 2px ! important;
  border-bottom: solid #D5D5D5 2px ! important;
  border-left: solid #D5D5D5 2px ! important;
  border-right: solid #D5D5D5 2px ! important;
}

.main th.header, td.data {
  font-size: 10px;
}

.main th.header {
  text-align:left;
  color:#000;
}

</style>
</head>

<body>

<div>

<div class="main">
 <div class="hd"><div class="c"></div></div>
 <div class="bd">
  <div class="c">
   <div class="s">
   <img src="{% media_finder "nokia/images/nokia_logo.png" %}" align="right" hspace="5">

   <p>Date: {{ date|safe }} </p><br />

    {% if subject %}
        <div dir="{{ subjectDir }}"> <h1>{{ subject|safe }}</h1></div>
    {% else %}
        No Subject
    {% endif %}

    <table class="header">

    <tr>
    <th class="header">From: </th>
    <td class="data">{{ from|safe }}

    {% if resentFrom %}
      &nbsp; Resent-From: {{ resentFrom|safe }}
    {% endif %}

    {% if vCardName %}
      &nbsp;&nbsp;<a href="{{ vCardName|safe }}">[vCard]</a>
    {% endif %}

    {% if organization %}
      &nbsp;&nbsp;("{{ organization|safe }}")
    {% endif %}

    </td>
    </tr>

    <tr>
    <th class="header">To: </th>
    <td class="data">{{ to|safe }}</td>
    </tr>

{% if cc %}
    <tr>
    <th class="header">CC: </th>
    <td class="data">{{ cc|safe }}</td>
    </tr>
{% endif %}

{% if bcc %}
    <tr>
    <th class="header">BCC: </th>
    <td class="data">{{ bcc|safe }}</td>
    </tr>
{% endif %}

    <tr>
    <td colspan="2"><div id="attachmentInjectionPoint"></div></td>
    </tr>

    </table>

   </div>
  </div>
 </div>
 <div class="ft"><div class="c"></div></div>
</div>

</div>