[Desktop Entry]
Type=Service
ServiceTypes=MessageViewer/ViewerPlugin
X-KDE-Library=messageviewer_createtodoplugin
Name=Create Todo
Name[ca]=Crea una pendent
Name[ca@valencia]=Crea una pendent
Name[de]=Aufgabe erstellen
Name[en_GB]=Create Todo
Name[es]=Crear tarea pendiente
Name[fi]=Luo tehtävä
Name[gl]=Crear unha tarefa pendente
Name[it]=Crea cosa da fare
Name[nl]=Te-doen aanmaken
Name[pl]=Utwórz zadanie
Name[pt]=Criar um Item Por-Fazer
Name[pt_BR]=Criar tarefa
Name[sk]=Vytvoriť úlohu
Name[sl]=Ustvari opravilo
Name[sr]=Додавање обавезе
Name[sr@ijekavian]=Додавање обавезе
Name[sr@ijekavianlatin]=Dodavanje obaveze
Name[sr@latin]=Dodavanje obaveze
Name[sv]=Skapa uppgift
Name[uk]=Створення запису завдання
Name[x-test]=xxCreate Todoxx
