[Desktop Entry]
Type=Service
ServiceTypes=MessageViewerHeaderStyle/Plugin
X-KDE-Library=messageviewer_enterpriseheaderstyleplugin
Name=Enterprise Header Style
X-KDE-MessageViewer-Header-Order=1
