[Desktop Entry]
Type=Service
Comment=This conduit syncs the ToDo list from your handheld to KOrganizer.
Comment[de]=Abgleich der Aufgabenlisten von Taschencomputer und KOrganizer
Name=ToDos (KOrganizer)
Name[de]=Aufgaben (KOrganizer)
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_todo
