[Desktop Entry]
Type=Service
Name=KOrganizer Todo Conduit
Name[af]=korganizer te-doen pad
Name[ar]=أنبوب مهام KOrganizer
Name[az]=KOrganizer Planlar
Name[ca]=Conducte de pendents KOrganizer
Name[cs]=Propojení s plánovačem Organizéru
Name[da]=KOrganizer Gøremål Conduit
Name[de]=Terminplaner-Aufgaben
Name[en_GB]=KOrganiser Todo Conduit
Name[eo]=Organizilo - agendo
Name[es]=Conducto Por hacer de KOrganizer
Name[et]=KOrganizeri tegevuste sünkroniseerimine
Name[fi]=Korganizer tehtävää liityntä
Name[fr]=Canal de tâches à faire kOrganizer
Name[gl]=Conducto A-Facer do KOrganizer
Name[he]=תעלת משימות לביצוע של KOrganizer
Name[hu]=A KOrganizer tennivalók csatolója
Name[is]=KOrganizer verkefnalista-rás
Name[it]=Condotto agenda KOrganizer
Name[ja]=KOrganizer Todo コンジット
Name[lt]=KOrganizer Todo kanalas
Name[lv]=KOrganizer Todo Ķēde
Name[mk]=KOrganizer Todo спој
Name[nb]=KOrganizer Gjøremål-lenke
Name[nl]=KOrganizer Taken Conduit
Name[nn]=KOrganizer-hugselistelenkje
Name[oc]=Conducte de pendents KOrganizer
Name[pl]=Łącznik do Do Zrobienia KOrganizera
Name[pt]=Conduta Todo do KOrganizer
Name[pt_BR]=Conduíte ParaFazer do KOrganizer
Name[ru]=Сопряжение органайзера с Todo
Name[sk]=KOrganizér ToDo spojka
Name[sl]=Veznik za seznam opravkov v Organizatorju
Name[sv]=Kfilofax att-göra-kanal
Name[tr]=KOrganizer Yapılacaklar
Name[uk]=Трубопровід плановика KOrganizer
Name[vi]=Truyền dẫn KOrganizer Todo 
Name[xh]=Umququzeleli we K Todo Kondiki
Name[xx]=xx
Name[zh_CN]=KOrganizer 任务管道
Name[zu]=KUmgqugquzeli Todo Conduit
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=libtodoconduit
