[Desktop Entry]
Type=Service
Name=KOrganizer Todo Conduit
Name[az]=KOrganizer Planlar
Name[ca]=Conducte de pendents KOrganizer
Name[cs]=Propojení s plánovačem Organizéru
Name[da]=KOrganizer Gøremål Conduit
Name[de]=Terminplaner-Aufgaben
Name[eo]=Organizilo - agendo
Name[es]=Conducto Tareas Pendientes de KOrganizer
Name[et]=Organizer tegevuste sünkroniseerimine
Name[fi]=Korganizer tehtävää liityntä
Name[fr]=Conduite de tâches de KOrganizer
Name[gl]=Conducto A-Facer do KOrganizer
Name[he]=KOrganizer לש עוציבל תומישמ תלעת
Name[hu]=A KOrganizer tennivalók csatolója
Name[is]=KOrganizer verkefnalista-rás
Name[it]=Condotto agenda KOrganizer
Name[ja]=KOrganizer Todo コンジット
Name[lt]=KOrganizer Todo kanalas
Name[lv]=KOrganizer Todo Ķēde
Name[mk]=KOrganizer Todo спој
Name[nl]=KOrganizer Taken Conduit
Name[no]=KOrganizer Gjøremål-lenke
Name[no_NY]=KOrganizer-hugselistelenkje
Name[oc]=Conducte de pendents KOrganizer
Name[pt]=Conduta Todo do KOrganizer
Name[pt_BR]=Conduíte ParaFazer do KOrganizer
Name[ro]=Conductă lucrări Organizator
Name[ru]=Сопряжение органайзера с Todo
Name[sk]=KOrganizér vytvoriť rúru
Name[sl]=Veznik za seznam opravkov v Organizatorju
Name[sv]=KFilofax attgöra-kanal
Name[tr]=KOrganizer Yapılacaklar
Name[uk]=Трубопровід плановика KOrganizer
Name[zh_CN.GB2312]=KOrganizer 任务管道
Name[zh_TW.Big5]=KOrganizer 待辦事項 Conduit
Implemented=file
ServiceTypes=KPilotConduit
Exec=todoconduit
