[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Calendar (KOrganizer)
Name[be]=Каляндар (K Арганізатар)
Name[br]=Deiziadur (KOrganizer)
Name[ca]=Calendari (KOrganizer)
Name[cs]=Kalendář (KOrganizer)
Name[da]=Kalender (KOrganizer)
Name[de]=Kalender (KOrganizer)
Name[es]=Calendario (KOrganizer)
Name[et]=Kalender (KOrganizer)
Name[fi]=Kalenteri (KOrganizer)
Name[fr]=Agenda (KOrganizer)
Name[gl]=Calendario (KOrganizer)
Name[hu]=Naptár (KOrganizer)
Name[is]=Dagbók (KSkipulag)
Name[it]=Calendario (KOrganizer)
Name[ja]=カレンダー (KOrganizer)
Name[nb]=Kalender (KOrganizer)
Name[nl]=Agenda (KOrganizer)
Name[nn]=Kalender (KOrganizer)
Name[pl]=Kalendarz (Organizator)
Name[pt]=Calendário (KOrganizer)
Name[pt_BR]=Calendário (KOrganizer)
Name[ru]=Календарь (KOrganizer)
Name[se]=Kaleandar (KOrganizer)
Name[sk]=Kalendár (KOrganizer)
Name[sl]=Koledar (KOrganizer)
Name[sr]=Календар (KOrganizer)
Name[sr@Latn]=Календар (KOrganizer)
Name[sv]=Kalender (Korganizer)
Name[ta]=நாள்காட்டி(கேஅமைப்பாளர்)
Name[tg]=Тақвимот (KOrganizer)
Name[tr]=Takvim (KOrganizer)
Name[uk]=Календар (KOrganizer)
Name[xx]=xxCalendar (KOrganizer)xx
Name[zh_CN]=日历 (KOrganizer)
Comment=This conduit synchronizes your handheld with the KOrganizer datebook.
Comment[bg]=Синхронизация на календара на мобилно устройство с организатора в КДЕ.
Comment[da]=Denne kanal synkroniserer din håndholdte med KOrganizer-datobogen.
Comment[en_GB]=This conduit synchronises your handheld with the KOrganizer datebook.
Comment[es]=Este conducto sincroniza su agenda electrónica con la libreta de fechas de KOrganizer.
Comment[it]=Questo conduit sincronizza il tuo palmare con il calendario di KOrganizer.
Comment[nl]=Dit conduit synchroniseert uw handheld met KOrganizer's datumboek.
Comment[pt]=Esta conduta sincroniza o seu dispositivo móvel com a agenda do KOrganizer.
Comment[pt_BR]=Este Conduíte sincroniza seu handheld com a agenda do KOrganizer.
Comment[ru]=Канал синхронизации календаря КПК и органайзера KDE.
Comment[sr]=Овај провод синхронизује ваш ручни рачунар са KOrganizer-овом књигом датума.
Comment[sr@Latn]=Овај провод синхронизује ваш ручни рачунар са KOrganizer-овом књигом датума.
Comment[sv]=Den här kanalen synkroniserar din handdator med Korganizers kalender.
Comment[tr]=Bu bileşen el bilgisayarınızı KOrganizer'daki randevu defteriyle senkronize eder.
Comment[uk]=Цей акведук синхронізує ваш кишеньковий пристрій з тижневиком KOrganizer.
Comment[xx]=xxThis conduit synchronizes your handheld with the KOrganizer datebook.xx
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_vcal
