[Desktop Entry]
Type=Service
Name=Calendar (KOrganizer)
Name[af]=Kalender (KOrganizer)
Name[ar]=التقويم (KOrganizer)
Name[be]=Каляндар (K Арганізатар)
Name[bg]=Календар (KOrganizer)
Name[br]=Deiziadur (KOrganizer)
Name[bs]=Kalendar (KOrganizer)
Name[ca]=Calendari (KOrganizer)
Name[cs]=Kalendář (KOrganizer)
Name[da]=Kalender (KOrganizer)
Name[de]=Kalender (KOrganizer)
Name[el]=Ημερολόγιο (KOrganizer)
Name[eo]=Kalendaro (KOrganizilo)
Name[es]=Calendario (KOrganizer)
Name[et]=Kalender (KOrganizer)
Name[eu]=Egutegia (KOrganizer)
Name[fa]=تقویم (KOrganizer)
Name[fi]=Kalenteri (KOrganizer)
Name[fr]=Agenda (KOrganizer)
Name[fy]=Aginda (KOrganizer)
Name[ga]=Féilire (KOrganizer)
Name[gl]=Calendario (KOrganizer)
Name[he]=לוח שנה (ארגונית)
Name[hu]=Naptár (KOrganizer)
Name[is]=Dagbók (KOrganizer)
Name[it]=Calendario (KOrganizer)
Name[ja]=カレンダー (KOrganizer)
Name[ka]=კალენდარი (KOrganizer)
Name[kk]=Күнтізбе (KOrganizer)
Name[km]=ប្រតិទិន (KOrganizer)
Name[lt]=Kalendorius (KOrganizer)
Name[mk]=Календар (КОрганизатор)
Name[ms]=Kalendar (KOrganizer)
Name[nb]=Kalender (KOrganizer)
Name[nds]=Kalenner (KOrganizer)
Name[ne]=क्यालेन्डर (केडीई आयोजक)
Name[nl]=Agenda (KOrganizer)
Name[nn]=Kalender (KOrganizer)
Name[pl]=Kalendarz (Korganizer)
Name[pt]=Calendário (KOrganizer)
Name[pt_BR]=Calendário (KOrganizer)
Name[ru]=Календарь (KOrganizer)
Name[se]=Kaleandar (KOrganizer)
Name[sk]=Kalendár (KOrganizer)
Name[sl]=Koledar (KOrganizer)
Name[sr]=Календар (KOrganizer)
Name[sr@Latn]=Kalendar (KOrganizer)
Name[sv]=Kalender (Korganizer)
Name[ta]=நாள்காட்டி(கேஅமைப்பாளர்)
Name[tg]=Тақвимот (KOrganizer)
Name[tr]=Takvim (KOrganizer)
Name[uk]=Календар (KOrganizer)
Name[zh_CN]=日历 (KOrganizer)
Name[zh_TW]=行事曆(KOrganizer)
Comment=This conduit synchronizes your handheld with the KOrganizer datebook.
Comment[af]=Hierdie pad sinkroniseer jou draagbare toestel met die KOrganizer datum boek.
Comment[bg]=Синхронизация на календара на мобилно устройство с организатора в KDE.
Comment[ca]=Aquest conducte sincronitza la vostra agenda electrònica amb la llibreta de dates de KOrganizer.
Comment[cs]=Toto propojení synchronizuje seznam úkolů s KOrganizérem.
Comment[da]=Denne kanal synkroniserer din håndholdte med KOrganizer-datobogen.
Comment[de]=Abgleich des Taschencomputers mit dem KOrganizer-Terminkalender
Comment[el]=Αυτός ο σύνδεσμος συγχρονίζει τον υπολογιστή παλάμης σας με το βιβλίο ημερομηνιών του KOrganizer.
Comment[en_GB]=This conduit synchronises your handheld with the KOrganizer datebook.
Comment[eo]=Tiu kanalo sinkronigas vian poŝkomputilon kun la datlibro de KOrganizilo.
Comment[es]=Este conducto sincroniza su agenda electrónica con la libreta de fechas de KOrganizer.
Comment[et]=See kanal sünkroniseerib pihuseadme ja KOrganizeri kalendri.
Comment[eu]=Kanal honek zure agenda elektronikoa  KOrganizer-en data-liburuarekin sinkronizatzen du.
Comment[fa]=این لوله، دستی شما را با کتاب دادۀ KOrganizer  همگام می‌سازد.
Comment[fi]=Tämä yhdyskäytävä synkronoi taskutietokoneen KOrganizerin päiväkirjaan.
Comment[fr]=Ce canal synchronise votre Palm avec l'agenda KOrganizer.
Comment[fy]=Dit conduit syngronisearret jo handheld mei KOrganizer's datumboek.
Comment[gl]=Este conducto sincroniza o seu aparello portátil co libro de datos de KOrganizer.
Comment[hu]=Ezzel a csatolóval szinkronizálhatók a kézi számítógép és a KOrganizer dátumai.
Comment[is]=Þessi rás samstillir lófatölvuna þína við dagbók KOrganizer.
Comment[it]=Questo conduit sincronizza il tuo palmare con il calendario di KOrganizer.
Comment[ja]=このコンジットはハンドヘルドを KOrganizer の手帳と同期させます。
Comment[ka]=სინქრონიზაცია KOrganizer-ისთვის.
Comment[kk]=Қалта құрылғыдағы күнтізбені KOrganizer-мен қадамдастыру арнасы.
Comment[km]=បំពង់​នេះ​ធ្វើ​សមកាលកម្ម​ឧបករណ៍​យួរ​ដៃ​របស់​អ្នក​ជាមួយ​នឹង​សៀវភៅ​កាលបរិច្ឆេទ KOrganizer ។
Comment[lt]=Šis kanalas sinchronizuoja jūsų delninuką su KOrganizer datų knyga.
Comment[mk]=Овој канал ги синхронизира рачниот уред и датумите од KОрганизатор.
Comment[ms]=Saluran ini mensegerakkan komputer telapak dengan buku tarikh KOrganizer.
Comment[nb]=Denne kanalen synkroniserer PDA-en med KOrganizers almanakk.
Comment[nds]=Synkroniseert den Mötenkalenner vun den Handreekner mit KOrganizer.
Comment[ne]=यो कन्ड्युटले केडीई आयोजक मिति पुस्तिकामा ह्यान्डहेल्ड समक्रमण गर्छ ।
Comment[nl]=Dit conduit synchroniseert uw handheld met KOrganizer's datumboek.
Comment[pl]=Ten łącznik synchronizuje palmtopa z terminarzem KOrganizera.
Comment[pt]=Esta conduta sincroniza o seu dispositivo móvel com a agenda do KOrganizer.
Comment[pt_BR]=Este Conduíte sincroniza seu handheld com a agenda do KOrganizer.
Comment[ru]=Канал синхронизации календаря КПК и органайзера KDE.
Comment[sk]=Táto spojka synchronizuje prenosné zariadenie s KOrganizer.
Comment[sl]=Ta veznik uskladni vaš ročni računalnik z dnevnikom KOrganizerja.
Comment[sr]=Овај провод синхронизује ваш ручни рачунар са KOrganizer-овом књигом датума.
Comment[sr@Latn]=Ovaj provod sinhronizuje vaš ručni računar sa KOrganizer-ovom knjigom datuma.
Comment[sv]=Den här kanalen synkroniserar din handdator med Korganizers kalender.
Comment[ta]=இந்த குழாய் உங்கள் பைலட்டை கேஅமைப்பாளர் தேதிபுத்தகத்துடன் ஒத்திசைக்கிறது
Comment[tr]=Bu bileşen el bilgisayarınızı KOrganizer'daki randevu defteriyle senkronize eder.
Comment[uk]=Цей акведук синхронізує ваш кишеньковий пристрій з тижневиком KOrganizer.
Comment[zh_CN]=此管道会将您的手持设备与 KOrganizer 的日程安排同步。
Comment[zh_TW]=此軟體將您的 handheld 日期與 KOrganizer 同步。
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_vcal
