[Desktop Entry]
Name=kmobiletoolsMainPart
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=kmobiletoolsmainpart
Type=Service
