[Desktop Entry]
Encoding=UTF-8
Name=kmobiletoolsMainPart
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkmobiletoolsmainpart
Type=Service
