[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-Library=libkcalkonnector

Name=Calendar Konnector
Group=Test
Vendor=KDE Team
Id=kcalkonnector

X-KDE-ResourceFamily=konnector
X-KDE-ResourceType=kcal
