[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-Library=libkcalkonnector

Name=Calendar Konnector
Name[cs]=Konektor kalendáře
Name[da]=Kalenderforbinder
Name[es]=Konnector para calendario
Name[et]=Kalendri Konnector
Name[hu]=Naptár-konnektor
Name[it]=Konnector calendario
Name[nl]=Agenda Konnector
Name[pt]=Konnector de Calendário
Name[pt_BR]=Konnector - Calendário
Name[ru]=Коннектор к календарю
Name[sl]=Konektor za koledar
Name[sv]=Kalender Konnector
Name[ta]=நாள்காட்டி இணைப்பான்
Name[xx]=xxCalendar Konnectorxx
Name[zh_CN]=日历 Konnector
Group=Test
Vendor=KDE Team
Id=kcalkonnector

X-KDE-ResourceFamily=konnector
X-KDE-ResourceType=kcal
