[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-Library=libkcalkonnector

Name=Calendar Konnector
Name[da]=Kalenderforbinder
Name[es]=Konnector para calendario
Name[et]=Kalendri Konnector
Name[it]=Konnector calendario
Name[nl]=Agenda Konnector
Name[sv]=Kalender Konnector
Name[ta]=நாட்காட்டி Konnector
Group=Test
Vendor=KDE Team
Id=kcalkonnector

X-KDE-ResourceFamily=konnector
X-KDE-ResourceType=kcal
