<style type="text/css">

@media screen, print {
  body {
    color: #000 ! important;
    background:#FFF ! important;
    font-family: "sans serif"  ! important;
    font-size: 12px ! important;
    clear: none;   
  }

  .h1 {
     color:#204461;
  }

  .headerbox {
    margin-bottom: 12px;
    background-color: #F7F3F7;
    padding: 2px 0 2px 5px;
  }

  a, .headertitle a:link, a:visited, a:hover a:active, .header, .headertext { 
    text-decoration: none ! important;
  }

  a, .headertitle a:link, .header,.headertext  { 
    color: #0000FF ! important;
    font-weight: bold; 
  }     

  .headertitle a:link { 
    font-size: 15px;
    padding:6px 0px 2px 0;
    margin:4px 0 10px 0px;   
  }                      

  .header {  
    margin-right: 5px;
  }

  .headertext {
    font-size: 12px;
    padding:2px;
  }

  .headimage {
    float: right;
    margin-left: 5px;
  }

  .content {
    display: block;
    margin-bottom: 6px;
    text-align: justify;
  }

  .content > P:first-child {
    margin-top: 1px; 
  }

  .content > DIV:first-child {
    margin-top: 1px; 
  }

  .content > BR:first-child {
    display: none; 
  }

  .contentlink {
    display: block; 
  }
}

@media screen { 
  body { 
    overflow: auto; 
  } 
}
 
</style>  

<div class="headerbox" dir="{{ dir }}">

 <img src="{% media_finder "planet-python/images/python_logo.png" %}" align="right" hspace="5">
 <h1 class="h1">Planet Python</h1>

{% if date %}
    <span class="headertext"> {{ date }} </span>
{% endif %}

{% if strippedTitle %}
    <div class="headertitle" dir="{{ directionOfstrippedTitle }}">
      <a href="{{ article.link }}">{{ strippedTitle|safe }}</a>
    </div>
{% endif %}

{% if author %}
    <br/>
    <span class="headertext"> {{ author }} </span>
{% endif %}

{% if enc %}
    <br/>
    <span class="header" dir="{{ directionOfEnclosure }}">Enclosure </span>
    <span class="headertext"> {{ enc|safe }} </span>
{% endif %}

</div>
 
{% if imageName %}
  <a href="{{ imageUrl }}"><img class="headimage" src="{{ imageName }}.png"></a>
{% endif %}

{% if content %}
  <div dir="{{ directionOfContent }}">
    <span class="content">
      {{ content|safe }}
    </span>
  </div>
{% endif %}

{% if article.comments %}
    <a class="contentlink" href="{{ article.commentsLink }}">
      Comments ({{ article.comments }})
    </a>
{% endif %}

{% if enc %}
    <p><em>Enclosure:</em> {{ enc|safe }} </p>
{% endif %}

{% if article.linkComplete %}
    <p>
    <a class="contentlink" href="{{ article.linkComplete }}">Complete Story</a>
    </p>
{% endif %}