[Desktop Entry]
Name=Test
Name[de]=Test
Name[en_GB]=Test
Name[es]=Prueba
Name[et]=Test
Name[gl]=Proba
Name[ia]=Prova
Name[lt]=Testas
Name[mai]=जाँच
Name[nb]=Test
Name[nds]=Utproberen
Name[nl]=Test
Name[pt]=Teste
Name[pt_BR]=Teste
Name[sv]=Prov
Name[uk]=Тест
Name[x-test]=xxTestxx
Name[zh_TW]=測試
Description=A Test theme
Description[en_GB]=A Test theme
Description[es]=Un tema de prueba
Description[et]=Test-teema
Description[gl]=Un tema de proba
Description[ia]=Un thema de Prova
Description[lt]=Testinė tema
Description[nb]=Et Test-tema
Description[nds]=En Utprobeer-Muster
Description[nl]=Een testthema
Description[pt]=Um tema de testes
Description[pt_BR]=Um tema de testes
Description[sv]=Ett provtema
Description[uk]=Тестова тема
Description[x-test]=xxA Test themexx
Description[zh_TW]=測試主題
FileName=default.html
