[Desktop Entry]
Type=Service
ServiceTypes=PimCommonCustomTools/Plugin
X-KDE-Library=pimcommon_translatorplugin
Name=Translator
Name[ca]=Traductor
Name[ca@valencia]=Traductor
Name[de]=Übersetzer
Name[en_GB]=Translator
Name[es]=Traductor
Name[fi]=Käännösohjelma
Name[gl]=Tradutor
Name[it]=Traduttore
Name[nb]=Oversetter
Name[nl]=Vertaler
Name[nn]=Omsetjar
Name[pl]=Tłumacz
Name[pt]=Tradutor
Name[pt_BR]=Tradutor
Name[se]=Jorgaleaddji
Name[sk]=Prekladateľ
Name[sl]=Prevajalnik
Name[sr]=Преводилац
Name[sr@ijekavian]=Преводилац
Name[sr@ijekavianlatin]=Prevodilac
Name[sr@latin]=Prevodilac
Name[sv]=Översättning
Name[tr]=Çevirmen
Name[uk]=Перекладач
Name[x-test]=xxTranslatorxx
