[Desktop Entry]
Encoding=UTF-8
Exec=kmobile
Icon=kmobile
Type=Application
DocPath=kmobile/kmobile.html
Terminal=0

Name=KMobile
Name[cy]=KSymudol
Name[hi]=के-मोबाइल
Name[nn]=KMobil
Name[sv]=Kmobile
Name[ta]=kநடமாடும் தொலைபேசி
Name[xx]=xxKMobilexx

GenericName=Manage Mobile Devices
GenericName[bg]=Управление на мобилни устройства
GenericName[ca]=Gestor per a dispositius mòbils
GenericName[cs]=Spravovat mobilní zařízení
GenericName[cy]=Rheoli Dyfeisiau Symudol
GenericName[da]=Håndtér mobil-enheder
GenericName[de]=Mobiltelefone verwalten
GenericName[es]=Gestiona dispositivos móviles
GenericName[et]=Mobiilihaldur
GenericName[fi]=Hallitse matkapuhelinlaitteita
GenericName[fr]=Gérer les périphériques mobiles
GenericName[hi]=मोबाइल उपकरण प्रबंधन करें
GenericName[hu]=Mobilkezelő
GenericName[it]=Gestisce dispositivi portatili
GenericName[nb]=Håndtere mobile enheter
GenericName[nl]=Mobiele apparaten beheren
GenericName[nn]=Handtera mobileiningar
GenericName[pt]=Gestão dos Dispositivos Móveis
GenericName[pt_BR]=Gerenciar Dispositivos Móveis
GenericName[ru]=Управление мобильными устройствами
GenericName[sl]=Upravljaj mobilne naprave
GenericName[sr]=Управљање мобилним уређајима
GenericName[sv]=Hantera mobilenheter
GenericName[ta]=நடமாடும் சாதனத்தை மேன்மைப்படுத்து 
GenericName[tr]=Taşınabilir Aygıtlar Yöneticisi
GenericName[uk]=Робота з мобільними пристроями
GenericName[xx]=xxManage Mobile Devicesxx
GenericName[zh_CN]=管理移动设备

Comment=A KDE Mobile Devices Manager
Comment[be]=Мэнэджэр мабільных прыладаў KDE
Comment[bg]=Управление на мобилни устройства
Comment[ca]=Un gestor de KDE per a dispositius mòbils
Comment[cs]=Správce mobilních zařízení KDE
Comment[cy]=Rheolydd Dyfeisiau Symudol KDE
Comment[da]=En KDE-håndtering af mobil-enheder
Comment[de]=Verwaltung für mobile Geräte
Comment[es]=A gestor de dispositivos móviles para KDE
Comment[et]=KDE mobiilihaldur
Comment[fi]=KDE:n matkapuhelinlaitteiden hallinta
Comment[fr]=Un gestionnaire de périphériques mobiles pour KDE
Comment[hi]=एक केडीई मोबाइल उपकरण प्रबंधक
Comment[hu]=KDE-alapú mobiltelefon-kezelő
Comment[it]=Un gestore di dispositivi portatili di KDE
Comment[nb]=En KDE-håndterer for mobile enheter
Comment[nl]=Beheer van mobiele apparaten in KDE
Comment[nn]=Ein einingshandterar for mobiltelefon i KDE
Comment[pt]=Um Gestor de Dispositivos Móveis do KDE
Comment[pt_BR]=Um Gerenciador de Dispositivos Móveis para o KDE
Comment[ru]=Менеджер мобильных устройств KDE
Comment[sl]=Upravitelj prenosnih naprav v KDE
Comment[sr]=KDE-ов менаџер мобилних уређаја
Comment[sv]=KDE:s hantering av mobilenheter
Comment[ta]=ஒரு KDE நடமாடும் சாதனத்தின் மேலாளர் 
Comment[tr]=KDE Taşınabilir Aygıtlar Yöneticisi
Comment[uk]=Менеджер мобільних пристроїв KDE
Comment[xx]=xxA KDE Mobile Devices Managerxx
Comment[zh_CN]=KDE 移动设备管理器

X-KDE-StartupNotify=false
X-DCOP-ServiceType=Unique
# X-KDE-autostart-after=panel
# X-KDE-Library=kmobile_panelapplet
# X-KDE-UniqueApplet=true
# # X-KDE-autostart-condition=kmobilerc:General:AutoStart:true
Categories=Qt;KDE;Utility
