[Desktop Entry]
Name=KDE Groupware Wizard
Name[de]=KDE Groupware-Assistent
Exec=groupwarewizard
Type=Application
Icon=kontact
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
