[Desktop Entry]
Name=KDE Groupware Wizard
Name[af]=KDE groupware assistent
Name[ar]=مرشد KDE للبرمجيات الجماعية
Name[bg]=Помощник за група
Name[br]=Skoazeller strollant evit KDE
Name[ca]=Assistent de Groupware KDE
Name[cs]=Průvodce KDE groupwarem
Name[da]=KDE Groupware-guide
Name[de]=KDE Groupware-Assistent
Name[el]=Μάγος Groupware του KDE
Name[es]=Asistente de groupware de KDE
Name[et]=KDE Groupware nõustaja
Name[eu]=KDE groupware morroia
Name[fa]=جادوگر KDE Groupware
Name[fi]=KDE Groupwaren ohjattu toiminto
Name[fr]=Assistant KDE de travail collaboratif
Name[fy]=KDE Groupware-tsjoender
Name[ga]=Treoraí Groupware KDE
Name[gl]=Asistente de Traballo en Grupo de KDE
Name[hu]=KDE csoportmunka-varázsló
Name[is]=KDE hópvinnukerfisálfur
Name[it]=Assistente configurazione di KDE Groupware
Name[ja]=KDE グループウェアウィザード
Name[ka]=სერვერი Groupware
Name[kk]=KDE бірікен жұмыс шебері
Name[km]=អ្នក​ជំនួយការ​កម្មវិធី​ពហុ​អ្នក​ប្រើ​របស់ KDE
Name[ko]=KDE 그룹웨어 마법사
Name[lt]=KDE Groupware vedlys
Name[nb]=KDE gruppevareveiviser
Name[nds]=Groupware-Hölper vun KDE
Name[ne]=केडीई ग्रुपवेयर विजार्ड
Name[nl]=KDE Groupware-wizard
Name[nn]=KDE-vegvisar for gruppevare
Name[pl]=Asystent KDE Groupware
Name[pt]=Assistente Groupware do KDE
Name[pt_BR]=Assistente Groupware do KDE
Name[ru]=Мастер подключения к серверам совместной работы
Name[sk]=Sprievodca KDE Groupware
Name[sl]=Čarovnik za KDE Groupware
Name[sr]=KDE Groupware чаробњак
Name[sr@Latn]=KDE Groupware čarobnjak
Name[sv]=KDE-grupprogramguide
Name[tr]=Grup Çalışması (Groupware) Sihirbazı
Name[uk]=Майстер групової роботи для KDE
Name[zh_CN]=KDE 群件向导
Name[zh_TW]=KDE 群組精靈
Exec=groupwarewizard
Type=Application
Icon=kontact
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;X-KDE-Utilities-PIM;Office;Network;Email;
