[Desktop Entry]
Name=Akonadi OpenChange Resource
Name[de]=Akonadi-Ressource für OpenChange
Comment=An agent to work with an OpenChange / Exchange server
Comment[de]=Agent zur Verwendung mit Openchange- und Exchange-Servern
Type=AkonadiResource
Exec=akonadi_oc_resource
Icon=email

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_oc_resource
