[Desktop Entry]
Type=Service
Name=Data Viewer
Name[bs]=Preglednik podataka
Name[ca]=Visor de dades
Name[cs]=Prohlížeč dat
Name[da]=Dataviser
Name[de]=Daten-Betrachter
Name[es]=Visor de datos
Name[et]=Andmete näitaja
Name[fr]=Afficheur de données
Name[he]=מציג מידע
Name[hu]=Adatnézegető
Name[is]=Gagnaskoðari
Name[it]=Vista dati
Name[nb]=Datavisning
Name[nl]=Gegevensweergave
Name[nn]=Datavising
Name[pl]=Przeglądarka danych
Name[pt]=Visualizador de Dados
Name[pt_BR]=Visualização de Dados
Name[ru]=Просмотр данных
Name[sl]=Pregledovalnik podatkov
Name[sr]=Приказивач података
Name[sr@Latn]=Приказивач података
Name[sv]=Datavisning
Name[ta]=தரவு காட்சியகம்
Name[tg]=Намоиши маълумот
Name[zh_CN]=数据查看器
Icon=
ServiceTypes=KitchenSync/ActionPart
X-KDE-Library=libksync_viewer
