[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcalendars
Icon=calendars
Type=Application
Terminal=0

X-KDE-ModuleType=Library
X-KDE-Library=kcalendars
X-KDE-FactoryName=kcalendars
X-KDE-HasReadOnlyMode=false

Name=Calendar Configuration
Name[be]=Канфігурацыя календара
Name[da]=Kalender-indstilling
Name[es]=Configuración del calendario
Name[hu]=Naptárbeállítások
Name[ru]=Настройка календаря
Name[sk]=Nastavenie kalendára
Name[sv]=Kalenderinställning
Name[tr]=Takvim Yapılandırması
Name[zh_CN]=日历配置

