# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Calendar
Name[x-test]=xxCalendarxx
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=calendar
