[Desktop Entry]
Type=Service

[Misc]
Encoding=UTF-8
Name=Calendar in local directory
Name[be]=Каляндар у лякальным каталёгу
Name[es]=Calendario en el directorio local
Name[hu]=Helyi fájlban tárolt naptár
Name[sk]=Kalendár v lokálnom priečinku
Name[sv]=Kalender i lokal katalog

[Plugin]
Type=dir
X-KDE-Library=kcal_dir
