[Desktop Entry]
Encoding=UTF-8
Name=Calendar in Local Directory
Name[be]=Каляндар у лякальным каталёгу
Name[bg]=Календар в локална директория
Name[ca]=Calendari a un directori local
Name[cs]=Kalendář v lokální složce
Name[da]=Kalender i lokal mappe
Name[de]=Kalender in lokalem Ordner
Name[el]=Ημερολόγιο σε τοπικό κατάλογο
Name[es]=Calendario en el directorio local
Name[et]=Kalender kohalikus kataloogis
Name[fi]=Kalenteri paikallisessa hakemistossa
Name[fr]=Calendrier dans un dossier local
Name[hu]=Helyi könyvtárban tárolt naptár
Name[it]=Calendario nella directory locale
Name[nl]=Kalender in lokale map
Name[nn]=Kalender i lokal mappe
Name[pt]=Calendário numa Directoria Local
Name[pt_BR]=Calendário em Diretório Local
Name[sl]=Koledar v krajevnem imeniku
Name[sr]=Календар у локалном директоријуму
Name[sv]=Kalender i lokal katalog
Name[uk]=Календар у локальному каталозі
Name[xx]=xxCalendar in Local Directoryxx
Name[zh_CN]=本地目录中的日历
X-KDE-Library=kcal_localdir
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=localdir
