[Desktop Entry]
Type=Service

[Misc]
Encoding=UTF-8
Name=Calendar in remote file
Name[es]=Calendario en un archivo remoto
Name[hu]=Távoli fájlban tárolt naptár
Name[sk]=Kalendár vo vzdialenom súbore
Name[sv]=Kalender i fjärrfil

[Plugin]
Type=remote
X-KDE-Library=kcal_remote
