[Desktop Entry]
Encoding=UTF-8
Name=IMAP
Name[bn]=আইম্যাপ (IMAP)
Name[hi]=आईमेप (IMAP)
Name[ta]=அஞ்சல்
Name[xx]=xxIMAPxx
X-KDE-Library=kabc_imap
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=imap
