[Desktop Entry]
Encoding=UTF-8
Name=Digital Camera
Name[bg]=Цифрова камера
Name[bs]=Digitalna kamera
Name[ca]=Càmera digital
Name[cs]=Digitální kamera
Name[da]=Digitalt kamera
Name[de]=Digitalkamera
Name[el]=Ψηφιακή κάμερα
Name[es]=Cámara digital
Name[et]=Digitaalkaamera
Name[eu]=Kamara Digitala
Name[fi]=digitaalikamera
Name[fr]=Appareil photo numérique
Name[hr]=Digitalna kamera
Name[hu]=Digitális kamera
Name[it]=Macchina fotografica digitale
Name[ja]=デジタルカメラ
Name[lt]=Skaitmeninė kamera
Name[nl]=Digitale camera
Name[nn]=Digitalt kamera
Name[pt]=Máquina Fotográfica Digital
Name[pt_BR]=Câmera Digital
Name[ro]=Aparat foto digital
Name[ru]=Цифровая камера
Name[sl]=Digitalna kamera
Name[sr]=Дигитална камера
Name[sv]=Digitalkamera
Name[tr]=Dijital Kamera
Name[uk]=Цифровий фотоапарат
Name[uz]=Рақамли камера
Name[xx]=xxDigital Cameraxx
Name[zh_CN]=数码相机
Comment=This driver supports many digital cameras
Comment[bg]=Драйвер за поддръжка на цифрови фотоапарати и камери
Comment[ca]=Aquest controlador suporta la gran majoria de càmeres digitals
Comment[cs]=Tento ovladač podporuje mnoho digitálních fotoaparátů
Comment[da]=Denne driver understøtter mange digitale kameraer
Comment[de]=EinTreiber, der zahlreiche Digitalkameras unterstützt
Comment[el]=Αυτός ο οδηγός υποστηρίζει πολλές ψηφιακές κάμερες
Comment[es]=Este manejador admite muchas cámaras digitales
Comment[et]=See draiver toetab paljusid digitaalkaameraid
Comment[fi]=Tämä ajuri tukee useita digitaalikameroita
Comment[fr]=Ce pilote prend en charge beaucoup d'appareils photo numériques
Comment[hu]=Ez a meghajtó különféle digitális fényképezőgépek kezelését teszi lehetővé
Comment[it]=Questo driver supporta molte fotocamere digitali
Comment[nl]=Dit stuurprogramma biedt ondersteuning voor veel camera's
Comment[nn]=Denne drivaren støttar mange digitale kamera
Comment[pt]=Este controlador suporta várias máquinas fotográficas digitais
Comment[pt_BR]=Este driver suporta muitas câmeras digitais
Comment[ru]=Этот драйвер поддерживает множество моделей цифровых камер
Comment[sl]=Ta gonilnik podpira mnogo digitalnih kamer
Comment[sr]=Овај управљачки програм подржава многе дигиталне камере
Comment[sv]=Den här drivrutinen stöder många digitalkameror
Comment[tr]=Bu sürücü birçok dijital kamerayı destekler 
Comment[uk]=Цей драйвер підтримує багато цифрових камер
Comment[xx]=xxThis driver supports many digital camerasxx
Comment[zh_CN]=此驱动程序支持许多数码相机
Type=Service
ServiceTypes=kdedevice/mobiledevice
X-KDE-Library=libkmobile_digicam
Icon=mobile_camera
