[Desktop Entry]
Type=Service
ServiceTypes=MessageViewerHeaderStyle/Plugin
X-KDE-Library=messageviewer_briefheaderstyleplugin
Name=Brief Header Style
Name[pt]=Estilo de Cabeçalho Breve
Name[pt_BR]=Estilo de cabeçalho Reduzido
Name[sv]=Kortfattad rubrikstil
Name[uk]=Короткий стиль заголовків
Name[x-test]=xxBrief Header Stylexx
