[Desktop Entry]
Type=Service
ServiceTypes=MessageViewer/ViewerPlugin
X-KDE-Library=messageviewer_createnoteplugin
Name=Create Note
Name[ca]=Crea una nota
Name[es]=Crear nota
Name[fi]=Luo muistiinpano
Name[it]=Crea nota
Name[nl]=Notitie aanmaken
Name[pl]=Utwórz notatkę
Name[pt]=Criar uma Nota
Name[pt_BR]=Criar nota
Name[uk]=Створення нотатки
Name[x-test]=xxCreate Notexx
