[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-Library=libremotekonnector

Name=Remote Konnector
Name[da]=Ekstern konnector
Name[es]=Konnector remoto
Name[et]=Kaug-Konnector
Name[he]=Konnector מרוחק
Name[it]=Konnector remoto
Name[nl]=Konnector op afstand
Name[pt]=Konnector Remoto
Name[pt_BR]=Konnector Remoto
Name[ru]=Удалённый коннектор
Name[sl]=Oddaljeni Konnector
Name[sv]=Fjärr-Konnector
Name[ta]=தொலைதூர இணைப்பான்
Name[xx]=xxRemote Konnectorxx
Name[zh_CN]=远程 Konnector
Group=Test
Vendor=KDE Team
Id=remotekonnector

X-KDE-ResourceFamily=konnector
X-KDE-ResourceType=remote
