[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KDE Address Book
Name[x-test]=xxKDE Address Bookxx
Exec=kaddressbook-mobile.sh

Icon=kaddressbook-mobile
Type=Application
