[Desktop Entry]
Name=MBoxImporter
Name[bs]=MBoxImporter
Name[ca]=Importador MBox
Name[de]=MBoxImporter
Name[es]=MBoxImporter
Name[fi]=MBoxImporter
Name[fr]=MBoxImporter
Name[gl]=MBoxImporter
Name[hu]=MBoxImporter
Name[ia]=MBoxImporter
Name[kk]=MBoxImporter
Name[nb]=MBoxImporter
Name[nl]=MBoxImporter
Name[pt]=Importação MBox
Name[pt_BR]=MBoxImporter
Name[ru]=Импорт почтового ящика
Name[sk]=MBoxImporter
Name[sr]=Увозник из мбокса
Name[sr@ijekavian]=Увозник из мбокса
Name[sr@ijekavianlatin]=Uvoznik iz mboxa
Name[sr@latin]=Uvoznik iz mboxa
Name[sv]=Import av brevlådor
Name[tr]=MBoxAktarıcı
Name[uk]=Засіб імпортування MBox
Name[x-test]=xxMBoxImporterxx
Name[zh_TW]=信箱檔匯入器
Type=Application
Exec=mboximporter %u
Icon=kmail
MimeType=application/mbox;

X-KDE-StartupNotify=true
