# KDE Config File
[Desktop Entry]
Name=KPilot
Name[af]=Kpilot
Name[eo]=Palm-Piloto
Name[fr]=Palm Pilot
Name[mk]=КПилот
Name[ne]=केडीई पाइलट
Name[pa]=ਕੇ-ਪਾਈਲਟ
Name[sv]=Kpilot
Name[ta]=கேபைலட்
Name[x-test]=xxKPilotxx
GenericName=PalmPilot Tool
GenericName[af]=Palmpilot Program
GenericName[bg]=Връзка с PalmPilot
GenericName[br]=Ostilh PalmPilot
GenericName[ca]=Eina PalmPilot
GenericName[cs]=Nástroj pro PalmPilot
GenericName[cy]=Erfyn PalmPilot
GenericName[da]=Palm Pilot-værktøj
GenericName[de]=Palm Pilot-Dienstprogramm
GenericName[el]=Εργαλείο PalmPilot
GenericName[eo]=Ilo por Palmpiloto
GenericName[es]=Herramienta para PalmPilot
GenericName[et]=PalmPiloti rakendus
GenericName[eu]=PalmPilot tresna
GenericName[fa]=ابزار PalmPilot
GenericName[fi]=Palm Pilot -työkalu
GenericName[fr]=Outil pour le Palm Pilot
GenericName[fy]=Palm Pilot-syngronisaasje
GenericName[ga]=Uirlis PalmPilot
GenericName[gl]=Ferramenta do PalmPilot
GenericName[he]=כלי פאלם-פיילוט
GenericName[hr]=Alat za Palm Pilota
GenericName[hu]=PalmPilot-kezelő
GenericName[is]=PalmPilot tól
GenericName[it]=Strumento per PalmPilot
GenericName[ja]=PalmPilot ツール
GenericName[ka]=Palm Pilot ხელსაწყო
GenericName[km]=ឧបករណ៍ PalmPilot
GenericName[ko]=팜 파일럿 도구
GenericName[lt]=PalmPilot įrankis
GenericName[lv]=PalmPilot rīks
GenericName[mk]=Алатка за PalmPilot
GenericName[ms]=Alat PalmPilot 
GenericName[nb]=PalmPilot-verktøy
GenericName[nds]=PalmPilot-Warktüüch
GenericName[ne]=पाल्म पाइलट उपकरण
GenericName[nl]=Palm Pilot-synchronisatie
GenericName[nn]=PalmPilot-verktøy
GenericName[pa]=PalmPilot ਟੂਲ
GenericName[pl]=Palm Pilot
GenericName[pt]=Ferramenta para o PalmPilot
GenericName[pt_BR]=Ferramenta para o PalmPilot
GenericName[ro]=Utilitar PalmPilot
GenericName[ru]=Синхронизация данных с Palm Pilot
GenericName[sk]=Nástroj pre PalmPilot
GenericName[sl]=Orodje za Palm Pilot
GenericName[sv]=Verktyg för Palm Pilot
GenericName[ta]=பாம் பைலட் கருவி
GenericName[tg]=Синхронизатсияи маълумот аз PalmPilot
GenericName[tr]=Palm Pilot Aracı
GenericName[uk]=Засіб для PalmPilot
GenericName[vi]=Công cụ PalmPilot
GenericName[x-test]=xxPalmPilot Toolxx
GenericName[xh]=Isixhobo se PalmPilot
GenericName[zh_CN]=掌上电脑工具
GenericName[zh_TW]=PalmPilot 工具
Exec=kpilot
Icon=kpilot
Type=Application
X-DocPath=kpilot/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-ServiceType=Unique
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;
