# KDE Config File
[KDE Desktop Entry]
Name=KPilot
Name[af]=kpilot
Name[eo]=Palm-Piloto
Name[fr]=Palm Pilot
Name[lv]=KPilots
Name[pt_BR]=Ferramenta para PalmPilot
Name[sv]=Kpilot
Name[xh]=Umqhubi wenqwelo moya we K
Name[xx]=xx
Name[zu]=KUmshayeli webhanoyi
Comment=PalmPilot Tool
Exec=kpilot
Icon=kpilot
Type=Application
DocPath=kpilot/kpilot.html
Terminal=0
MiniIcon=kpilot
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
