[Desktop Entry]
Icon=kpilot
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kpilot
X-KDE-FactoryName=kpilotconfig
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kpilot
X-KDE-ParentComponents=kpilot,kpilotDaemon,kontact_kpilotplugin

Name=KPilot Configuration
Name[af]=KPilot opstelling
Name[ar]=إعداد KPilot
Name[be]=Канфігурацыя KPilot
Name[bg]=Настройване на KPilot
Name[br]=Kefluniadur KPilot
Name[bs]=KPilot podešavanje
Name[ca]=Configuració de KPilot
Name[cs]=Nastavení KPilotu
Name[da]=KPilot indstilling
Name[de]=KPilot-Einrichtung
Name[el]=Ρύθμιση KPilot
Name[eo]=KPilot-Agordo
Name[es]=Configuración de KPilot
Name[et]=KPiloti seadistamine
Name[eu]=KPilot-en konfigurazioa
Name[fa]=پیکربندی KPilot
Name[fi]=KPilot-asetukset
Name[fr]=Configuration de KPilot
Name[fy]=KPilot ynstellings
Name[ga]=Cumraíocht KPilot
Name[gl]=Configuración de KPilot
Name[hu]=A KPilot beállításai
Name[is]=KPilot stillingar
Name[it]=Configurazione KPilot
Name[ja]=KPilot の設定
Name[ka]=KPilot  კონფიგურაცია
Name[kk]=KPilot параметрлері
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ KPilot
Name[lt]=Kpilot konfigūracija
Name[mk]=Конфигурација на КПилот
Name[ms]=Konfigurasi KPilot
Name[nb]=KPilot oppsett
Name[nds]=KPilot instellen
Name[ne]=केडीई पाइलट कन्फिगरेसन
Name[nl]=KPilot instellingen
Name[nn]=KPilot-oppsett
Name[pl]=konfiguracja KPilota
Name[pt]=Configuração do KPilot
Name[pt_BR]=Configuração do KPilot
Name[ru]=Синхронизация с КПК
Name[se]=KPilot-heivehus
Name[sk]=Nastavenie KPilot
Name[sl]=Nastavitve KPilota
Name[sr]=KPilot подешавање
Name[sr@Latn]=KPilot podešavanje
Name[sv]=Inställning av Kpilot
Name[ta]=Kபைலட் கட்டமைப்பு
Name[tg]=Танзимоти KPilot
Name[tr]=KPilot Yapılandırması
Name[uk]=Налаштування KPilot
Name[zh_CN]=KPilot 配置
Name[zh_TW]=KPilot 設定
Comment=KPilot Main Configuration
Comment[af]=KPilot hoof opstelling
Comment[bg]=Общи настройки на KPilot
Comment[br]=Kefluniadur kentañ KPilot
Comment[bs]=KPilot glavno podešavanje
Comment[ca]=Configuració principal de KPilot
Comment[cs]=Hlavní nastavení KPilotu
Comment[da]=KPilot hovedindstilling
Comment[de]=Grundeinrichtung für KPilot
Comment[el]=Κύρια ρύθμιση του KPilot
Comment[eo]=KPilot-Ĉefagordo
Comment[es]=Configuración principal de KPilot
Comment[et]=KPiloti põhiseadistused
Comment[eu]=KPilot-en konfigurazio nagusia
Comment[fa]=پیکربندی اصلی KPilot
Comment[fi]=KPilotin pääasetukset
Comment[fr]=Configuration principale de KPilot
Comment[fy]=KPilot algemiene ynstellings
Comment[ga]=Príomhchumraíocht KPilot
Comment[gl]=Configuración Principal de KPilot 
Comment[hu]=A KPilot legfontosabb beállításai
Comment[is]=Aðalstillingar KPilot
Comment[it]=Configurazione principale di KPilot
Comment[ja]=KPilot 主要設定
Comment[ka]=KPilot ძირითადი კონფიგურაცია
Comment[kk]=KPilot негізгі параметрлері
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​សំខាន់ៗ​របស់ KPilot
Comment[lt]=KPilot bendrasis konfigūravimas
Comment[mk]=Главна конфигурација
Comment[ms]=Konfigurasi Utama KPilot 
Comment[nb]=KPilot hovedoppsett
Comment[nds]=Hööftinstellen för KPilot
Comment[ne]=केडीई पाइलट मुख्य कन्फिगरेसन
Comment[nl]=KPilot algemene instellingen
Comment[nn]=KPilot hovudoppsett
Comment[pl]=Główna konfiguracja KPilota
Comment[pt]=Configuração Principal do KPilot
Comment[pt_BR]=Configuração Principal do KPilot
Comment[ru]=Общие параметры KPilot
Comment[sk]=Hlavné nastavenie KPilot
Comment[sl]=Glavne nastavitve KPilota
Comment[sr]=Главна подешавања у KPilot-у
Comment[sr@Latn]=Glavna podešavanja u KPilot-u
Comment[sv]=Kpilots huvudinställning
Comment[ta]=கேபைலட் முக்கிய கட்டமைப்பு
Comment[tg]=Параметрҳои умумии KPilot
Comment[tr]=KPilot Ana Yapılandırması
Comment[uk]=Загальні параметри KPilot
Comment[zh_CN]=KPilot 主要配置
Comment[zh_TW]=KPilot 主設定
Keywords=kpilot,main
Keywords[bg]=общи, настройки, мобилен, мобилни, устройство, устройства, kpilot, main
Keywords[ca]=kpilot,principal
Keywords[cs]=kpilot,hlavní
Keywords[da]=kpilot,hoved
Keywords[de]=KPilot
Keywords[el]=kpilot,κύρια
Keywords[eo]=reto,dosieroj,dosierujoj
Keywords[es]=kpilot,principal
Keywords[et]=kpilot,peamine
Keywords[eu]=kpilot,nagusia
Keywords[fa]=kpilot ،اصلی
Keywords[fi]=kpilot
Keywords[fr]=kpilot,principal
Keywords[fy]=kpilot,algemien
Keywords[ga]=kpilot,príomh
Keywords[gl]=kpilot,principal
Keywords[hu]=kpilot,alap
Keywords[is]=kpilot,aðal
Keywords[it]=kpilot,principale
Keywords[ja]=kpilot,主要
Keywords[ka]=kpilot,ძირითადი
Keywords[km]=kpilot,សំខាន់
Keywords[lt]=kpilot,main,pagrindinis
Keywords[mk]=kpilot,main.кпилот,главно
Keywords[ms]=kpilot,utama
Keywords[nb]=kpilot,hoved
Keywords[nds]=KPilot,Hööft,Hööftinstellen,instellen
Keywords[ne]=केडीई पाइलट, मुख्य
Keywords[nl]=kpilot,algemeen
Keywords[nn]=kpilot,hovud
Keywords[pl]=kpilot,główna,konfiguracja
Keywords[pt]=kpilot,principal
Keywords[pt_BR]=kpilot,principal
Keywords[ru]=kpilot,main,общие,настройки
Keywords[sk]=kpilot,hlavné
Keywords[sl]=kpilot,glavne
Keywords[sr]=kpilot,главно
Keywords[sr@Latn]=kpilot,glavno
Keywords[sv]=kpilot, huvudinställning
Keywords[ta]=கேபைலட்,முக்கிய
Keywords[tg]=kpilot,main,умумӣ,танзимот
Keywords[tr]=kpilot,ana
Keywords[zh_CN]=kpilot,main,主要
