[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KPilotConduit
Comment=KPilot Conduit
Comment[af]=Kpilot Pad
Comment[az]=KPilot
Comment[be]=Канал KPilot
Comment[bg]=Приставка на KPilot
Comment[ca]=Conducte KPilot
Comment[cs]=Propojení Palm Pilota
Comment[cy]=Cwndid KPilot
Comment[da]=KPilot-kanal
Comment[de]=KPilot-Abgleich (Conduit)
Comment[el]=Σύνδεσμος KPilot
Comment[eo]=KPiloto - kanalo
Comment[es]=Conducto KPilot
Comment[et]=KPiloti kanal
Comment[eu]=KPilot kanala
Comment[fa]=لولۀ KPilot
Comment[fi]=KPilot-yhdyskäytävä
Comment[fr]=Canal de KPilot
Comment[ga]=Seoladán KPilot
Comment[gl]=Conducto de KPilot
Comment[he]=ממשק של KPilot
Comment[hi]=के-पायलट कन्ड्यूइट
Comment[hr]=KPilot veza
Comment[hu]=KPilot-csatoló
Comment[is]=KPilot rásir
Comment[it]=Conduit KPilot
Comment[ja]=KPilot コンジット
Comment[ka]=არხი KPilot
Comment[kk]=KPilot арнасы
Comment[km]=បំពង់ KPilot
Comment[lt]=KPilot kanalas
Comment[lv]=KPilot Ķēde
Comment[mk]=Канал за КПилот
Comment[ms]=Saluran KPilot 
Comment[nb]=KPilot-kanal
Comment[nds]=KPilot-Kanaal (Synkroniseren)
Comment[ne]=केडीई पाइलट कन्ड्युट
Comment[nn]=KPilot-kopling
Comment[nso]=Conduit ya KPilot
Comment[pl]=Łącznik KPilota
Comment[pt]=Conduta do KPilot
Comment[pt_BR]=Conduíte do KPilot
Comment[ro]=Conductă KPilot
Comment[ru]=Канал KPilot
Comment[sk]=KPilot rúra
Comment[sl]=Veznik za KPilot
Comment[sr]=KPilot провод
Comment[sr@Latn]=KPilot provod
Comment[sv]=Kpilot-kanal
Comment[ta]=கேபைலட் காப்புக்குழாய்
Comment[tg]=Канали KPilot
Comment[tr]=KPilot Kanalı
Comment[uk]=Акведук KPilot
Comment[ven]=Conduit ya mureili wa K
Comment[vi]=Truyền dẫn KPilot 
Comment[zh_CN]=KPilot 管道
Comment[zu]=KUmshayeli webhanoyi Conduit
