[Desktop Entry]
Encoding=UTF-8
Icon=kpilot
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kpilot
X-KDE-FactoryName=kpilotconfig
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kpilot
X-KDE-ParentComponents=kpilot,kpilotDaemon,kontact_kpilotplugin

Name=KPilot Configuration
Name[fr]=Configuration de KPilot
Name[x-test]=xxKPilot Configurationxx
Comment=KPilot Main Configuration
Comment[fr]=Configuration principale de KPilot
Comment[x-test]=xxKPilot Main Configurationxx
Keywords=kpilot,main
Keywords[fr]=kpilot,principal
Keywords[x-test]=xxkpilot,mainxx
