# KDE Config File
[Desktop Entry]
Name=KPilotDaemon
Name[af]=Kpilotdaemon
Name[ar]=مراقب KPilot
Name[be]=KPilotDaemon
Name[bg]=KPilotDaemon
Name[br]=KPilotDaemon
Name[ca]=KPilotDaemon
Name[ca@valencia]=KPilotDaemon
Name[cs]=KPilotDaemon
Name[cy]=KPilotDaemon
Name[da]=KPilotDæmon
Name[de]=KPilot-Dienst
Name[el]=Δαίμονας KPilot
Name[en_GB]=KPilotDæmon
Name[eo]=KPiloto-demono
Name[es]=KPilotDaemon
Name[et]=KPiloti deemon
Name[eu]=KPilotDaemon
Name[fi]=KPilotDaemon
Name[fr]=KPilotDaemon
Name[fy]=KPilotDaemon
Name[ga]=KPilotDaemon
Name[gl]=KPilotDaemon
Name[he]=תהליך הרקע של KPilot
Name[hr]=KPilotDaemon
Name[hu]=KPilotDaemon
Name[is]=KPilot þjónn
Name[it]=KPilotDaemon
Name[ja]=KPilot デーモン
Name[ka]=KPilot-ის დემონი
Name[km]=KPilotDaemon
Name[ko]=KPilotDaemon
Name[lt]=KPilot tarnyba
Name[lv]=KPilotDaemon
Name[ms]=Daemon KPilot
Name[nb]=KPilotDaemon
Name[nds]=KPilot-Dämoon
Name[ne]=केडीई पाइलट डेइमोन
Name[nl]=KPilotDaemon
Name[nn]=KPilot-teneste
Name[pa]=KPilotDaemon
Name[pl]=demon KPilota
Name[pt]=KPilotDaemon
Name[pt_BR]=KPilotDaemon
Name[ro]=Demon KPilot
Name[ru]=Служба синхронизации КПК
Name[se]=KPilotDaemon
Name[sk]=KPilotDémon
Name[sl]=KPilotDaemon
Name[sv]=Kpilotdemon
Name[ta]=கேபைலட் டெமன்
Name[tg]=Демони KPilot
Name[tr]=KPilotDaemon
Name[uk]=KPilotDaemon
Name[vi]=KPilotDaemon
Name[xh]=KPilotDaemon
Name[x-test]=xxKPilotDaemonxx
Name[zh_CN]=KPilotDaemon
Name[zh_TW]=KPilot 守護程式
Exec=kpilotDaemon
NoDisplay=true
Icon=kpilot
Type=Application
Terminal=false
X-DBUS-ServiceType=Unique
Categories=Qt;KDE;Utility;
X-DocPath=kpilot/index.html
