[Desktop Entry]
Name=Air
Name[pt]=Air
Name[pt_BR]=Air
Name[sv]=Luft
Name[uk]=Air
Name[x-test]=xxAirxx
Description=An Air theme
Description[pt]=Um tema do Air
Description[pt_BR]=Um tema do Air
Description[sv]=Ett lufttema
Description[uk]=Тема «Air»
Description[x-test]=xxAn Air themexx
FileName=default.html
