[Desktop Entry]
Type=Service
ServiceTypes=PimCommonShortUrlEngine/Plugin
X-KDE-Library=pimcommon_triopabshorturlengineplugin
Name=to.ly
Name[ca]=to.ly
Name[ca@valencia]=to.ly
Name[de]=to.ly
Name[en_GB]=to.ly
Name[es]=to.ly
Name[fi]=to.ly
Name[gl]=to.ly
Name[it]=to.ly
Name[nl]=to.ly
Name[pl]=to.ly
Name[pt]=to.ly
Name[pt_BR]=to.ly
Name[sk]=to.ly
Name[sl]=to.ly
Name[sr]=То.ли
Name[sr@ijekavian]=То.ли
Name[sr@ijekavianlatin]=to.ly
Name[sr@latin]=to.ly
Name[sv]=to.ly
Name[uk]=to.ly
Name[x-test]=xxto.lyxx
