[Desktop Entry]
Type=Service
ServiceTypes=PimCommonShortUrlEngine/Plugin
X-KDE-Library=pimcommon_triopabshorturlengineplugin
Name=to.ly
Name[ca]=to.ly
Name[nl]=to.ly
Name[pl]=to.ly
Name[pt]=to.ly
Name[pt_BR]=to.ly
Name[sv]=to.ly
Name[uk]=to.ly
Name[x-test]=xxto.lyxx
