# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=ksync -caption "%c" %i %m  
Icon=ksync.png
MiniIcon=ksync.png
DocPath=ksync/index.html
Comment=
Comment[xx]=xx
Terminal=0
Name=Ksync
Name[eo]=Sinkronigilo
Name[fr]=KSync
Name[it]=KSync
Name[pt_BR]=Sincronizador
Name[xx]=xx
