[Desktop Entry]
Encoding=UTF-8
Type=Service
Comment=Adds text files to your handheld, suitable for DOC readers.
Comment[bg]=Добавяне на текстови файлове към мобилно устройство.
Comment[da]=Tilføjer tekstfiler til din håndholdte, passende for DOC-læsere.
Comment[es]=Añade archivos de texto a su agenda electrónica. Compatible con los lectores DOC.
Comment[it]=Aggiunge file di testo al tuo Pilot, adatti per lettori DOC.
Comment[nl]=Voegt tekstvelden toe aan uw handheld, geschikt voor DOC-lezers.
Comment[pt]=Adiciona ficheiros de texto ao seu PDA, indicado para os leitores de DOC.
Comment[pt_BR]=Adiciona arquivos de texto ao seu handheld, adequado para leitors de DOC.
Comment[ru]=Перенос текстовых файлов на КПК.
Comment[sr]=Додаје текстуалне фајлове вашем ручном рачунару, погодне за DOC читаче.
Comment[sr@Latn]=Додаје текстуалне фајлове вашем ручном рачунару, погодне за DOC читаче.
Comment[sv]=Lägger till textfiler i en handdator, lämpliga för DOC-läsare.
Comment[tr]=Metin dosyalarını el bilgisayarınıza ekler, DOC biçimi okuyucuları için uygundur.
Comment[uk]=Додає текстові файли до вашого кишенькового пристрою так, що вони читатимуться у переглядачах DOC.
Comment[xx]=xxAdds text files to your handheld, suitable for DOC readers.xx
Name=Palm DOC
Name[ca]=DOC de Palm
Name[cy]=DOC Palm
Name[de]=Palm-DOC
Name[hi]=पॉम डॉक
Name[pt]=DOC do Palm
Name[ta]=பாம் ஆவணம்
Name[xx]=xxPalm DOCxx
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_doc
