[Desktop Entry]
Encoding=UTF-8
Type=Service
Conduit=Adds text files to your Pilot, suitable for DOC readers.
Name=Palm DOC
Name[ca]=Conducte DOC de Palm
Name[da]=Palm DOC-conduit
Name[el]=Σύνδεσμος Palm DOC
Name[es]=Canal DOC de Palm
Name[hu]=Palm DOC  csatoló
Name[pt_BR]=Conduíte DOC para Palm
Name[ru]=Канал PalmDOC
Name[sk]=Palm DOC spojka
Name[sv]=Palm DOC-kanal
Name[zh_CN]=Palm DOC 管道
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_doc
