# KDE Config File
[KDE Desktop Entry]
Encoding=UTF-8
Name=KPalmDOC
Name[sv]=Kpalm DOC
Name[xx]=xxKPalmDOCxx
GenericName=PalmDOC Converter
GenericName[bg]=Конвертиране на PalmDOC
GenericName[ca]=Convertidor a PalmDOC
GenericName[cs]=Konvertor PalmDoc
GenericName[da]=PalmDOC konverterer
GenericName[de]=PalmDOC-Konvertierung
GenericName[el]=Μετατροπέας PalmDOC
GenericName[es]=Conversor de PalmDOC
GenericName[et]=PalmDOC konverter
GenericName[fr]=Convertisseur PalmDOC
GenericName[hu]=PalmDOC-konverter
GenericName[it]=Convertitore PalmDOC
GenericName[nl]=PalmDOC-conversie
GenericName[nn]=PalmDOC-omformar
GenericName[pt]=Conversor de PalmDOC
GenericName[pt_BR]=Conversor para PalmDOC
GenericName[sl]=Pretvornik v PalmDOC
GenericName[sr]=PalmDOC конвертор
GenericName[sv]=Konvertering av Palm DOC
GenericName[tr]=PalmDOC Çevirici
GenericName[uk]=Перетворювач PalmDOC
GenericName[xx]=xxPalmDOC Converterxx
GenericName[zh_CN]=PalmDOC 转换器
Exec=kpalmdoc
Icon=kpalmdoc
Type=Application
DocPath=kpalmdoc/index.html
Terminal=0
MiniIcon=kpalmdoc
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Utility;X-KDE-More
