# KDE Config File
[KDE Desktop Entry]
Encoding=UTF-8
Name=KPalmDOC
GenericName=PalmDOC converter
Exec=kpalmdoc
Icon=kpalmdoc
Type=Application
DocPath=kpalmdoc/index.html
Terminal=0
MiniIcon=kpalmdoc
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
