# KDE Config File
[KDE Desktop Entry]
Encoding=UTF-8
Name=KPalmDOC
Name[sv]=Kpalm DOC
GenericName=PalmDOC converter
GenericName[da]=PalmDOC konverterer
GenericName[es]=Conversor de PalmDOC
GenericName[hu]=PalmDOC-konverter
GenericName[pt_BR]=Conversor do PalmDOC
GenericName[ru]=Конвертер PalmDOC
GenericName[sk]=PalmDOC konvertér
GenericName[sv]=Konvertering av Palm DOC
GenericName[zh_CN]=PalmDOC 转换器
Exec=kpalmdoc
Icon=kpalmdoc
Type=Application
DocPath=kpalmdoc/index.html
Terminal=0
MiniIcon=kpalmdoc
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Utility;X-KDE-More
