[Desktop Entry]
Name=kabcdistlistupdater
Name[gl]=kabcdlistlistupdater
Name[sv]=Uppdatering av adressbokens fördelningslistor
Name[x-test]=xxkabcdistlistupdaterxx
Name[zh_CN]=kabc 分发列表更新器
Exec=kabcdistlistupdater --disable-autostart
Icon=misc
Type=Application
Comment=Tool to update the old distribution lists to the new ones.
Comment[ca]=Eina per actualitzar les llistes de distribució antigues a les noves.
Comment[da]=Værktøj til at opdatere de gamle distributionslister til de nye.
Comment[el]=Εργαλείο ενημέρωσης παλιών λιστών διανομής στις νέες.
Comment[et]=Tööriist vanade postiloendite uuendamiseks uude vormingusse.
Comment[fr]=Outil de conversion des anciennes listes de diffusion au nouveau format.
Comment[gl]=Ferramenta para actualizar as listas de distribucións antigas ás novas.
Comment[ja]=古い配布リストを新しいものに更新するツール
Comment[km]=ឧបករណ៍​សម្រាប់​ធ្វើ​ឲ្យ​បញ្ជី​ចែកចាយ​ចាស់ៗ​ទាន់សម័យ ។
Comment[lv]=Rīks vecu adresātu sarakstu atjaunināšanai uz jaunajiem.
Comment[nb]=Verktøy for å oppdatere de gamle distribusjonslistene til de nye.
Comment[nds]=Warktüüch för't Opfrischen vun ole Verdeellisten
Comment[nl]=Gereedschap voor het bewerken van de oude distributielijst naar een nieuwe.
Comment[nn]=Verktøy for å oppdatera gamle distribusjonslister til det nye formatet.
Comment[pl]=Narzędzie uaktualniania starych list dystrybucyjnych.
Comment[pt]=Uma ferramenta de actualização das listas de distribuição antigas para as novas.
Comment[pt_BR]=Ferramenta de atualização de listas de distribuição antigas para novas.
Comment[sv]=Verktyg för att uppdatera gamla fördelningslistor till nya.
Comment[tr]=Eski dağıtım listelerini yeni hale güncellemek için bir araç.
Comment[uk]=Інструмент для оновлення старих списків розповсюдження
Comment[x-test]=xxTool to update the old distribution lists to the new ones.xx
Comment[zh_CN]=用于将旧分发列表更新到新版格式的工具。
Comment[zh_TW]=將舊的分派清單更新成新的清單的工具。
Terminal=false
NoDisplay=true
X-KDE-autostart-condition=kabcdistlistupdaterrc:Startup:EnableAutostart:true
OnlyShowIn=KDE;
