[Desktop Entry]
Name=kabcdistlistupdater
Exec=kabcdistlistupdater --disable-autostart
Icon=x-mail-distribution-list
Type=Application
Comment=Tool to update the old distribution lists to the new ones.
Terminal=false
NoDisplay=true
X-KDE-autostart-condition=kabcdistlistupdaterrc:Startup:EnableAutostart:true
OnlyShowIn=KDE;
