<style>

div.header {
    font-size: 10px ! important;
}

</style>

<div class="header" dir="{{ dir }}">

{% if subject %}
  <div dir="{{ subjectDir }}">
    <b style="font-size:110%">{{ subject|safe }}</b>
  </div>
{% endif %}

({{ from_NameOnly|safe }},

{% if vCardName %}
  &nbsp;&nbsp;<a href="{{ vCardName|safe }}">[vCard]</a>
{% endif %}

{% if cc_NameOnly %}
  CC:  {{ cc_NameOnly|safe }}&nbsp;
{% endif %}

{% if bcc_NameOnly %}
  BCC:  {{ bcc_NameOnly|safe }}&nbsp;
{% endif %}

  {{ date_short|safe }})

</div>