[Desktop Entry]
Icon=preferences-system-network
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kleopatra/configuration.html#configuration-smime-validation

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kleopatra
X-KDE-FactoryName=kleopatra_config_smimevalidation
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=S/MIME Validation
Name[ca]=Validació S/MIME
Name[de]=S/MIME-Prüfung
Name[el]=Επαλήθευση S/MIME
Name[et]=S/MIME valideerimine
Name[ja]=S/MIME 検証
Name[km]=ការ​ធ្វើ​ឲ្យ S/MIME មាន​សុពលភាព
Name[lv]=S/MIME validācija
Name[nds]=S/MIME-Överpröven
Name[pl]=Walidacja S/MIME
Name[pt]=Validação do S/MIME
Name[pt_BR]=Validação S/MIME
Name[sv]=S/MIME-validering
Name[tr]=S/MIME Doğrulaması
Name[uk]=Перевірка S/MIME
Name[x-test]=xxS/MIME Validationxx
Name[zh_CN]=S/MIME 校验
Name[zh_TW]=S/MIME 確認
Comment=Configuration of S/MIME certificate validation options
Comment[ca]=Configuració de les opcions de validació dels certificats S/MIME
Comment[de]=Einrichtung der Optionen zur S/MIME-Zertifikatüberprüfung
Comment[el]=Ρύθμιση επιλογών επαλήθευσης πιστοποιητικών S/MIME
Comment[et]=S/MIME sertifikaatide valideerimise valikute seadistamine
Comment[ja]=S/MIME 証明書の検証オプションの設定
Comment[km]=ជម្រើស​ធ្វើ​ឲ្យ​ការ​កំណត់​​រចនា​សម្ព័ន្ធ​របស់​វិញ្ញាបនបត្រ​របស់ S/MIME ប្រើ​បាន
Comment[lv]=S/MIME sertifikātu validācijas konfigurēšana
Comment[nds]=Överpröven vun S/MIME-Zertifikaten instellen
Comment[pl]=Konfiguracja opcji walidacji certyfikatu S/MIME
Comment[pt]=Configuração das opções de validação do certificado de S/MIME
Comment[pt_BR]=Configuração das opções de validação do certificado de S/MIME
Comment[sv]=Anpassning av alternativ för S/MIME-certifikatvalidering
Comment[tr]=S/MIME sertifika geçerlilik doğrulaması seçeneklerinin yapılandırması
Comment[uk]=Налаштування параметрів перевірки сертифікатів S/MIME
Comment[x-test]=xxConfiguration of S/MIME certificate validation optionsxx
Comment[zh_CN]=配置 S/MIME 证书校验选项
Comment[zh_TW]=設定 S/MIME 憑證確認選項
X-KDE-Keywords=smime,validation,kleopatra,signing,encryption
