[Desktop Entry]
Icon=preferences-system-network
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kleopatra/configuration.html#configuration-smime-validation

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kleopatra
X-KDE-FactoryName=kleopatra_config_smimevalidation
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=S/MIME Validation
Name[ca]=Validació S/MIME
Name[cs]=Ověřování S/MIME
Name[da]=S/MIME-validering
Name[de]=S/MIME-Prüfung
Name[el]=Επαλήθευση S/MIME
Name[es]=Validación S/MIME
Name[et]=S/MIME valideerimine
Name[fr]=Validation S/MIME
Name[gl]=Validación S/MIME
Name[it]=Convalida S/MIME
Name[ja]=S/MIME 検証
Name[km]=ការ​ធ្វើ​ឲ្យ S/MIME មាន​សុពលភាព
Name[ko]=S/MIME 검증
Name[lv]=S/MIME validācija
Name[nds]=S/MIME-Överpröven
Name[nl]=S/MIME-validatie
Name[nn]=S/MIME-validering
Name[pa]=S/MIME ਵੈਧਤਾ
Name[pl]=Walidacja S/MIME
Name[pt]=Validação do S/MIME
Name[pt_BR]=Validação S/MIME
Name[sl]=Potrjevanje S/MIME
Name[sv]=S/MIME-validering
Name[th]=ความถูกต้องของ S/MIME
Name[tr]=S/MIME Doğrulaması
Name[uk]=Перевірка S/MIME
Name[x-test]=xxS/MIME Validationxx
Name[zh_CN]=S/MIME 校验
Name[zh_TW]=S/MIME 確認
Comment=Configuration of S/MIME certificate validation options
Comment[ca]=Configuració de les opcions de validació dels certificats S/MIME
Comment[da]=Indstilling af tilvalg for S/MIME-certifikatvalidering
Comment[de]=Einrichtung der Optionen zur S/MIME-Zertifikatüberprüfung
Comment[el]=Ρύθμιση επιλογών επαλήθευσης πιστοποιητικών S/MIME
Comment[es]=Configuración de las opciones de los certificados de validación S/MIME
Comment[et]=S/MIME sertifikaatide valideerimise valikute seadistamine
Comment[fr]=Configuration des options de validation des certificats S/MIME
Comment[gl]=Configuración das opcións de validación de certificados S/MIME
Comment[it]=Configurazione delle opzioni di convalida del certificato S/MIME
Comment[ja]=S/MIME 証明書の検証オプションの設定
Comment[km]=ជម្រើស​ធ្វើ​ឲ្យ​ការ​កំណត់​​រចនា​សម្ព័ន្ធ​របស់​វិញ្ញាបនបត្រ​របស់ S/MIME ប្រើ​បាន
Comment[ko]=S/MIME 인증서 검증 옵션 설정
Comment[lv]=S/MIME sertifikātu validācijas konfigurēšana
Comment[nds]=Överpröven vun S/MIME-Zertifikaten instellen
Comment[nl]=Validatieopties van S/MIME-certificaat instellen
Comment[nn]=Oppsett av validering av S/MIME-sertifikat
Comment[pl]=Konfiguracja opcji walidacji certyfikatu S/MIME
Comment[pt]=Configuração das opções de validação do certificado de S/MIME
Comment[pt_BR]=Configuração das opções de validação do certificado de S/MIME
Comment[sl]=Nastavitev možnosti preverjanja potrdil S/MIME
Comment[sv]=Anpassning av alternativ för S/MIME-certifikatvalidering
Comment[th]=การปรับแต่งค่าตัวเลือกการตรวจความถูกต้องของ S/MIME
Comment[tr]=S/MIME sertifika geçerlilik doğrulaması seçeneklerinin yapılandırması
Comment[uk]=Налаштування параметрів перевірки сертифікатів S/MIME
Comment[x-test]=xxConfiguration of S/MIME certificate validation optionsxx
Comment[zh_CN]=配置 S/MIME 证书校验选项
Comment[zh_TW]=設定 S/MIME 憑證確認選項
X-KDE-Keywords=smime,validation,kleopatra,signing,encryption
