[Desktop Entry]
Icon=format-list-ordered
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kleopatra/configuration-dn-order.html

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kleopatra
X-KDE-FactoryName=kleopatra_config_dnorder
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kleopatra
X-KDE-ParentComponents=kleopatra
X-KDE-CfgDlgHierarchy=Kleopatra

Name=DN-Attribute Order
Name[bg]=Подредба
Name[ca]=Ordre d'atributs DN
Name[cs]=Pořadí DN atributů
Name[da]=DN-Attributrækkefølge
Name[de]=DN-Attribut-Ordnung
Name[el]=Σειρά ιδιότητας DN
Name[eo]=DN-Atributa Sinsekvo
Name[es]=Orden de atributos DN
Name[et]=DN-atribuutide järjekord
Name[eu]=DN-atributu ordena
Name[fa]=ترتیب خصیصۀ DN
Name[fi]=DN-attribuuttien järjestys
Name[fr]=Ordre des attributs DN
Name[fy]=DN-Attribuutoarder
Name[ga]=Ord aitreabúidí DN
Name[gl]=Orde de DN-Attribute
Name[he]=סדר של מאפייני DN
Name[hu]=DN-attribútumsorrend
Name[is]=DN eiginleikaröðun
Name[it]=Attributi DN, ordine
Name[ja]=DN 属性順位
Name[ka]=DN ატრიბუტთა რიგი
Name[kk]=DN-атрибуттер реті
Name[km]=លំដាប់​គុណលក្ខណៈ DN
Name[ko]=DN-속성 순서
Name[lt]=DN-Savybių tvarka
Name[lv]=DN-atribūtu kārtība
Name[mk]=Редослед на DN-атрибути
Name[ms]=Tertib atribut DN
Name[nb]=DN-Attributtrekkefølge
Name[nds]=DN-Egenschappenreeg
Name[ne]=DN-विशेषता आदेश
Name[nl]=DN-Attribuutvolgorde
Name[pl]=Porządek atrybutów DN
Name[pt]=Ordem de Atributos DN
Name[pt_BR]=Ordem do Atributo DN
Name[ru]=Порядок атрибутов DN
Name[se]=DN-attribuhttaortnet
Name[sk]=Poradie atribútov DN
Name[sl]=Vrstni red atributov DN
Name[sv]=DN-egenskapsordning
Name[ta]=DN-பண்புக்கூறு வரிசை
Name[tg]=Тартиби мушаххасияти DN
Name[tr]=DN-Öznitelik Sırası
Name[uk]=Порядок атрибутів DN
Name[x-test]=xxDN-Attribute Orderxx
Name[zh_CN]=DN 属性顺序
Name[zh_TW]=DN-屬性順序
Comment=Configure the order in which DN attributes are shown
Comment[af]=Stel die volgorde op waarin DN eienskappe vertoon word
Comment[bg]=Настройки на подредбата на атрибутите на индекса (DN)
Comment[ca]=Configura l'ordre en què es mostren els atributs DN
Comment[cs]=Nastavení pořadí zobrazení DN atributů
Comment[da]=Indstil rækkefølgen i hvilken DN-attributter vises
Comment[de]=Einrichtung für die Anzeigereihenfolge der DN-Attribute
Comment[el]=Ρύθμιση της σειράς εμφάνισης των ιδιοτήτων DN
Comment[eo]=Agordi la sinsekvon en kiu DN-atributoj aperas
Comment[es]=Configura el orden en el que se muestran los atributos DN
Comment[et]=DN-atribuutide näitamise järjekorra seadistamine
Comment[eu]=Konfiguratu DN atributuak zein ordenetan erakutsiko diren
Comment[fa]=پیکربندی ترتیبی که خصیصه‌های DN طبق آن نمایش داده می‌شوند
Comment[fi]=Määrittele missä järjestyksessä DN-attribuutit näytetään
Comment[fr]=Configurer l'ordre dans lequel les attributs DN sont affichés
Comment[fy]=De folchoarder fan de DN-atributen ynstelle
Comment[ga]=Cumraigh an t-ord ina dtaispeánfar aitreabúidí DN
Comment[gl]=Configurar a orde en que se amosan os atributos DN
Comment[he]=הגדרה של הסדר שבהם מאפייני DN מוצגים
Comment[hu]=A DN-attribútumok megjelenítési sorrendjének beállítása
Comment[is]=Stilla röð DN eiginleikanna
Comment[it]=Configura l'ordine in cui sono mostrati gli attributi DN
Comment[ja]=DN 属性を表示する順位を設定
Comment[ka]=DN ატრიბუტთა ჩვენების რიგის კონფიგურაცია
Comment[kk]=DN атрибуттерді көрсету ретін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​លំដាប់ ដែល​ត្រូវ​បង្ហាញ​គុណលក្ខណៈ DN
Comment[ko]=DN 속성을 정렬할 순서
Comment[lt]=Konfigūruoti DN savybių rodymo tvarką
Comment[lv]=Konfigurē, kādā kārtībā parādīt DN atribūtus
Comment[mk]=Конфигурирајте го редоследот по кој се покажуваат DN-атрибутите
Comment[ms]=Konfigur tertib yang atribut DN dipaparkan
Comment[nb]=Still inn rekkefølgen DN-attributtete er sortert i
Comment[nds]=De Reeg bi't Wiesen vun DN-Egenschappen fastleggen
Comment[ne]=DN विशेषता देखिने आदेश कन्फिगर गर्नुहोस्
Comment[nl]=Stel de volgorde in van de DN-attributen
Comment[pl]=Konfiguracja kolejności wyświetlania atrybutów DN
Comment[pt]=Configuração da ordem em que os atributos DN são mostrados
Comment[pt_BR]=Configura a ordem na qual os atributos DN são mostrados
Comment[ru]=Настройка порядка показываемых атрибутов DN
Comment[se]=Vállje makkár ortnegis DN-attribuhttat sorterejuvvojit
Comment[sk]=Nastavenie poradia, v ktorom sú zobrazené atribúty DN
Comment[sl]=Nastavite vrstni red, v katerem so prikazani atributi DN
Comment[sv]=Anpassa ordningen som DN-egenskaper visas
Comment[ta]= DN விவரங்கள் எந்த வரிசையில் உள்ளதோ அப்படியே அமை
Comment[tg]=Танзимоти мушаххасиятҳои намоишшавандаи тартибии DN
Comment[tr]=DN özniteliklerinin hangi sıralama ile gösterileceğini yapılandır
Comment[uk]=Налаштування порядку показу атрибутів DN
Comment[x-test]=xxConfigure the order in which DN attributes are shownxx
Comment[zh_CN]=配置 DN 属性显示的顺序
Comment[zh_TW]=設定 DN 屬性顯示順序
X-KDE-Keywords=DN,order,RDN,attribute
X-KDE-Keywords[af]=DN,order,RDN,attribute,volgorde,eienskap
X-KDE-Keywords[be]=парадак,атрыбут,DN,order,RDN,attribute
X-KDE-Keywords[bg]=Keywords=индекс, ред, подредба, атрибут DN, order, RDN, attribute
X-KDE-Keywords[ca]=DN,ordre,RDN,atribut
X-KDE-Keywords[cs]=DN,pořadí,RDN,atribut
X-KDE-Keywords[da]=DN,rækkefølge,RDN,attribut
X-KDE-Keywords[de]=DN,Ordnung,RDN,Attribut
X-KDE-Keywords[el]=DN,σειρά,RDN,ιδιότητα
X-KDE-Keywords[es]=DN,orden,RDN,atributo
X-KDE-Keywords[et]=DN,järjekord,RDN,atribuut
X-KDE-Keywords[eu]=DN, ordena, RDN, atributua
X-KDE-Keywords[fa]=DN، ترتیب، RDN، خصیصه
X-KDE-Keywords[fi]=DN,järjestys,RDN,attribuutti
X-KDE-Keywords[fr]=DN,ordre,RDN,attribut
X-KDE-Keywords[fy]=DN,Fochoarder,RDN,attribuut
X-KDE-Keywords[ga]=DN,ord,RDN,aitreabúid
X-KDE-Keywords[gl]=DN,orde,RDN,atributo
X-KDE-Keywords[he]=DN,order,RDN,attribute, סדר, מאפיין
X-KDE-Keywords[hu]=DN,sorrend,RDN,attribútum
X-KDE-Keywords[is]=DN,röð,order,RDN,attribute
X-KDE-Keywords[it]=DN,ordine,RDN,attributi
X-KDE-Keywords[ja]=DN,順位,RDN,属性
X-KDE-Keywords[ka]=DN,რიგი,RDN,ატრიბუტი
X-KDE-Keywords[km]=DN,លំដាប់,RDN,គុណលក្ខណៈ
X-KDE-Keywords[ko]=DN,순서,RDN,속성
X-KDE-Keywords[lt]=DN,order,RDN,attribute,savybė,tvarka
X-KDE-Keywords[mk]=DN,order,RDN,attribute,редослед,атрибут
X-KDE-Keywords[ms]=DN,susunan,RDN,atribut
X-KDE-Keywords[nb]=DN,orden,RDN,attributt
X-KDE-Keywords[nds]=DN,Reeg,RDN,Egenschap
X-KDE-Keywords[ne]=DN, क्रम, RDN, विशेषता
X-KDE-Keywords[nl]=DN,volgorde,RDN,attribuut
X-KDE-Keywords[pl]=DN,kolejność,RDN,atrybuty
X-KDE-Keywords[pt]=DN,ordem,RDN,atributo
X-KDE-Keywords[pt_BR]=DN, ordem, RDN,atributo
X-KDE-Keywords[ru]=DN,порядок,RDN,атрибут
X-KDE-Keywords[se]=DN,ortnet,RDN,attribuhtta
X-KDE-Keywords[sl]=DN,vrstni red,RDN,atribut
X-KDE-Keywords[sr]=DN,ред,RDN,атрибут
X-KDE-Keywords[sr@latin]=DN,red,RDN,atribut
X-KDE-Keywords[sv]=DN,ordning,RDN,egenskap
X-KDE-Keywords[ta]=DN,வரிசை,RDN,குணம்
X-KDE-Keywords[tg]=DN,тартибот,RDN,мушаххасот
X-KDE-Keywords[tr]=DN,sıralama,RDN,öznitelik
X-KDE-Keywords[uk]=DN,порядок,RDN,атрибут
X-KDE-Keywords[x-test]=xxDN,order,RDN,attributexx
X-KDE-Keywords[zh_CN]=DN,order,RDN,attribute,顺序,属性
