[Desktop Entry]
Encoding=UTF-8
Name=Network Status Daemon
Name[x-test]=xxNetwork Status Daemonxx
Comment=Tracks status of network interfaces and provides notification to applications using the network.
Comment[x-test]=xxTracks status of network interfaces and provides notification to applications using the network.xx
Type=Service
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=networkstatus
X-KDE-FactoryName=networkstatus
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

