[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Perl (Sample)
Name[be]=Perl (прыклад)
Name[bs]=Perl (primjer)
Name[ca]=Perl (Mostra)
Name[cs]=Perl (příklad)
Name[da]=Perl (eksempel)
Name[de]=Perl (Beispiel)
Name[es]=Perl (Ejemplo)
Name[et]=Perl (näidis)
Name[fr]=Perl (exemple)
Name[gl]=Perl (Mostra)
Name[hu]=Perl (példa)
Name[is]=Perl (Dæmi)
Name[it]=Perl (esempio)
Name[ja]=Perl (例)
Name[nb]=Perl (prøve)
Name[nl]=Perl (voorbeeld)
Name[nn]=Perl (prøve)
Name[pl]=Perl (Przykład)
Name[pt]=Perl (Exemplo)
Name[pt_BR]=Perl (exemplo)
Name[ru]=Perl (пример)
Name[sk]=Perl (Ukážka)
Name[sl]=Perl (primer)
Name[sr]=Перл (пример)
Name[sr@Latn]=Perl (primer)
Name[sv]=Perl (exempel)
Name[ta]=பர்ல்(மாதிரி)
Name[tg]=Perl (намуна)
Name[zh_CN]=Perl (例子)
Comment=This sample conduit runs a Perl interpreter.
Comment[bg]=Пример за изпълнение на интерпретатора на Perl
Comment[bs]=Ovaj conduit poziva Perl interpreter.
Comment[ca]=Aquest conducte de mostra executa un intèrpret Perl.
Comment[da]=Denne eksempel-conduit kører en Perl-fortolker.
Comment[de]=Dieser Abgleich (Conduit) startet einen Perl Interpreter
Comment[es]=Este conducto de ejemplo ejecuta un intérprete de Perl
Comment[et]=See näidiskanal käivitab Perli interpretaatori.
Comment[fr]=Cet exemple de canal lance un interpréteur Perl.
Comment[hu]=Ez a mintacsatoló a Perl-értelmezőt futtatja
Comment[it]=Questo conduit avvia un interprete Perl.
Comment[ja]=このサンプルはPerlインタープリターを実行します。
Comment[nb]=Denne kanalen kjører en Perl tolker
Comment[nl]=Dit voorbeeld-conduit start een Perl-interpreteerder.
Comment[nn]=Denne kanalen køyrer ein Perl-tolkar.
Comment[pl]=Ten przykładowy łącznik uruchamia interpreter Perla.
Comment[pt]=Esta conduta exemplo corre um interpretador de Perl.
Comment[pt_BR]=Este conduíte de exemplo executa um interpretador Perl.
Comment[ru]=Канал запуска скриптов Perl.
Comment[sk]=Táto ukážková spojka spúšťa interpreter Perl.
Comment[sl]=Ta preprost veznik poganja tolmač za Perl.
Comment[sr]=Овај пример провода стартује Перл интерпретера.
Comment[sr@Latn]=Ovaj primer provoda startuje Perl interpretera.
Comment[sv]=Den här exempelkanalen kör en Perl-tolk.
Comment[ta]=இந்த மாதிரி காப்புக் குழாய் பர்ல் மொழிப்பெயர்ப்பில் ஓடுகிறது
Comment[tg]=Канали ба кор андозии ҳуруфотҳои Perl.
Comment[zh_CN]=此示例管道运行 Perl 解释器。
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_perl
