[Desktop Entry]
Type=Service
Comment=This conduit writes information about your handheld and the sync to a file.
Comment[af]=Hierdie pad skryf informasie aangaande die draagbare toestel en sinkronisasie na 'n lêer.
Comment[bg]=Запис на информацията относно мобилното устройство във файл
Comment[ca]=Aquest conducte escriu informació a un fitxer a sobre de la vostra agenda electrònica i la sincronització.
Comment[cs]=Toto propojení zapisuje informace o vašem handheldu a synchronizaci do souboru.
Comment[cy]=Mae'r cwndid yma yn ysgrifennu gwybodaeth ynglyn â'ch llawiadur a'r cydamseriad i ffeil.
Comment[da]=Denne kanal skriver information om din håndholdte og synkroniseringen til en fil.
Comment[de]=Schreibt Daten zum Taschencomputer und den Abgleich in eine Datei
Comment[el]=Αυτός ο σύνδεσμος γράφει πληροφορίες σχετικά με τον υπολογιστή παλάμης σας και το συγχρονισμό προς ένα αρχείο.
Comment[es]=Este conducto escribe información sobre la agenda electrónica y la sincronización en un archivo.
Comment[et]=See kanal salvestab info pihuarvuti kohta failina.
Comment[eu]=Kanal honek zure agenda elektronikoari buruzko informazioa eta sinkronizazio fitxategi batean gordetzen ditu.
Comment[fa]=این لوله، اطلاعات دربارۀ دستی شما و ترکیب‌دهی به پرونده را می‌نویسد.
Comment[fi]=Tämä yhdyskäytävä kirjoittaa tietoja taskutietokoneelta ja synkronoi ne tiedostoon.
Comment[fr]=Ce canal écrit des informations concernant votre ordinateur de poche et la synchronisation, dans un fichier.
Comment[ga]=Scríobhann an seoladán seo eolas faoi do ríomhaire boise agus faoin sioncrónú i gcomhad.
Comment[gl]=Este conduto escribe nun ficheiro a información sobre o aparello portátil e a sincronización.
Comment[hu]=Ezzel a csatolóval fájlba lehet kiíratni a kéziszámítógép és a szinkronizálás jellemzőit
Comment[is]=Þessi rás skrifar upplýsingar um lófatölvuna þína og samstillinguna í skrá.
Comment[it]=Questo condotto scrive in un file informazioni sul tuo palmare.
Comment[ja]=このコンジットはあなたのハンドヘルドの情報を書き出し、ファイルに同期します。
Comment[ka]=ეს არხი ინფორმაციას წერს თქვენი პორტატიული მოწყობილობის შესახებ და ახდენს მის სინქრონიზაციას ფაილთან.
Comment[km]=បំពង់​នេះ​សរសេរ​ព័ត៌មាន​អំពី​ឧបករណ៍​យួរដៃ​របស់​អ្នក និង ការ​ធ្វើ​សមកាលកម្ម ទៅ​ឯកសារ​មួយ ។
Comment[lt]=Šis kanalas įrašo informaciją apie Jūsų delninuką ir sinchronizavimą į failą.
Comment[lv]=Šī ķēde ieraksta failā informācijau par jūsu pārnēsājamo ierīci un tās sinhronizāciju.
Comment[ms]=Saluran ini menulis maklumat tentang komputer telapak dan segerakan ke fail.
Comment[nb]=Denne koblingen skriver informasjon om hånddatoren og synkroniseringen til en fil.
Comment[nds]=De Kanaal schrifft Informatschonen över den Handreekner un de Synkroniseren na en Datei.
Comment[ne]=यो कन्ड्युटले ह्यान्डहेल्ड बारेमा सूचना लेख्दछ र फाइलमा समक्रमण गर्दछ ।
Comment[nl]=Dit conduit slaat informatie over uw handheld en de synchronisatie op in een bestand.
Comment[nn]=Denne koplinga skriv informasjon om den handhaldne eininga og synkroniseringa til ei fil.
Comment[pl]=Ten łącznik zapisuje informacje o twoim palmtopie i przebiegu synchronizacji do pliku.
Comment[pt]=Esta conduta escreve informações sobre o seu dispositivo e a sincronização para um ficheiro.
Comment[pt_BR]=Esta conduta escreve a informação sobre o seu handheld e a sincronização em um arquivo.
Comment[ru]=Канал передачи системной информации с КПК и записи в файл.
Comment[sk]=Táto spojka zobrazuje informácie o vašom prenosnom zariadení a ukladá ich do súboru.
Comment[sl]=Ta veznik zapiše podatke o vašem ročnem računalniku in usklajevanju v datoteko.
Comment[sv]=Den här kanalen skriver information om handdatorn och synkroniseringen till en fil.
Comment[ta]=இந்த காப்புக் குழாய் உங்கள் கையேட்டைப் பற்றிய தகவல்களையும் ஒத்திசைவையும் கோப்புக்கு எழுதுகிறது
Comment[tg]=Канали таҳвили иттилооти системавӣ аз Pilot ва қайдкунӣ ба файл
Comment[tr]=Bu bileşen, el bilgisayarınızın bilgilerini bir dosyaya yazar.
Comment[uk]=Цей акведук записує інформацію про кишеньковий пристрій і синхронізацію у файл.
Comment[x-test]=xxThis conduit writes information about your handheld and the sync to a file.xx
Comment[zh_CN]=此管道写入您手持设备的信息，并同步至一文件。
Comment[zh_TW]=此導管會寫下您的掌上型裝置的資訊，並同步到某個檔案。
Name=System Information
Name[af]=Stelsel informasie
Name[be]=Сістэмная інфармацыя
Name[br]=Titouroù diwar-benn ar reizhiad
Name[ca]=Sistema d'informació
Name[cs]=Informace o systému
Name[cy]=Gwybodaeth Gysawd
Name[da]=Systeminformation
Name[de]=System-Information
Name[el]=Πληροφορίες συστήματος
Name[eo]=Sisteminformoj
Name[es]=Información del sistema
Name[et]=Süsteemi info
Name[eu]=Sistemaren informazioa
Name[fa]=اطلاعات سیستم
Name[fi]=Järjestelmätiedot
Name[fr]=Informations sur le système
Name[fy]=Systeemynformaasje
Name[ga]=Faisnéis Córais
Name[gl]=Información do Sistema
Name[hu]=Rendszerinformáció
Name[is]=Kerfisupplýsingar
Name[it]=Informazioni di sistema
Name[ja]=システム情報
Name[ka]=სისტემის ინფორმაცია
Name[km]=ព័ត៌មាន​អំពី​ប្រព័ន្ធ
Name[ko]=시스템 정보
Name[lt]=Sistemos informacija
Name[lv]=Sistēmas informācija
Name[mk]=Информации за системот
Name[ms]=Maklumat Sistem
Name[nb]=Systeminformasjon
Name[nds]=Systeem-Informatschoon
Name[ne]=प्रणाली सूचना
Name[nl]=Systeeminformatie
Name[nn]=Systeminformasjon
Name[oc]=Informacions sul sistèma
Name[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Name[pl]=Informacja systemowa
Name[pt]=Informação do Sistema
Name[pt_BR]=Informações do sistema
Name[ro]=Informații de sistem
Name[ru]=Информация о системе
Name[se]=Vuogádatdieđut
Name[sk]=Informácie o systéme
Name[sl]=Sistemske informacije
Name[sv]=Systeminformation
Name[ta]=அமைப்பு தகவல்
Name[tg]=Иттилоот дар бораи система
Name[th]=ข้อมูลรายละเอียดของระบบ
Name[tr]=Sistem Bilgisi
Name[uk]=Системна інформація
Name[uz]=Tizim haqida maʼlumot
Name[uz@cyrillic]=Тизим ҳақида маълумот
Name[x-test]=xxSystem Informationxx
Name[zh_CN]=系统信息
Name[zh_TW]=系統資訊
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_sysinfo
