[Desktop Entry]
Type=Service
Comment=This conduit writes information about your handheld and the sync to a file.
Comment[de]=Schreibt Daten zum Taschencomputer und den Abgleich in eine Datei
Name=System Information
Name[de]=System-Information
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_sysinfo
