[Desktop Entry]
Encoding=UTF-8
Type=Service
Comment=This conduit writes information about your handheld and the sync to a file.
Comment[bg]=Запис на информацията относно мобилното устройство във файл
Comment[bs]=Ovaj conduit ispisuje informacije o ručnom računaru i sinhronizuje ih sa datotekom.
Comment[ca]=Aquest conducte escriu informació a un fitxer a sobre de la vostra agenda electrònica i la sincronització.
Comment[cs]=Toto propojení zapisuje informace o vašem handheldu a synchronizaci do souboru.
Comment[cy]=Mae'r cwndid yma yn ysgrifennu gwybodaeth ynglyn â'ch llawiadur a'r cydamseriad i ffeil.
Comment[da]=Denne conduit skriver information om din håndholdte og synkroniseringen til en fil.
Comment[de]=Schreibt Daten zum Taschencomputer und den Abgleich in eine Datei
Comment[es]=Este conducto escribe la información subre su agenda electrónica y la sincronización a un archivo.
Comment[et]=See kanal salvestab info pihuarvuti kohta failina.
Comment[fi]=Tämä yhdyskäytävä kirjoittaa tietoja mobiililaitteestasi ja synkronoi ne tiedostoon.
Comment[fr]=Ce canal écrit des informations sur votre périphérique et la synchronisation dans un fichier.
Comment[hi]=यह कन्ड्यूइट आपके हैंण्डहेल्ड के बारे में जानकारी लिखता है तथा एक फ़ाइल में सिंक करता है.
Comment[hu]=Ezzel a csatolóval fájlba lehet kiíratni a kéziszámítógép és a szinkronizálás jellemzőit
Comment[is]=Þessi rás skrifar upplýsingar um lófatölfuna þína og samstillinguna í skrá
Comment[it]=QUesto conduit scrive in un file informazioni sul tuo palmare.
Comment[ja]=このコンジットはあなたのハンドヘルドの情報を書き出し、ファイルに同期します。
Comment[nb]=Denne kanalen skriver informasjon om Piloten og synkroniseringen til en fil.
Comment[nl]=Dit conduit slaat informatie over uw handheld en de synchronisatie op in een bestand.
Comment[nn]=Denne koplinga skriv informasjon om den handheldte eininga di og synkroniseringa til ei fil.
Comment[pl]=Ten łącznik zapisuje informacje o twoim palmtopie i przebiegu synchronizacji do pliku.
Comment[pt]=Esta conduta escreve informações sobre o seu dispositivo e a sincronização para um ficheiro.
Comment[pt_BR]=Este conduíte escreve informação sobre o seu handheld e a sincronização em um arquivo.
Comment[ru]=Канал передачи системной информации с КПК и записи в файл.
Comment[sk]=Táto spojka zobrazuje informácie o vašom prenosnom zariadení a ukladá ich do súboru.
Comment[sl]=Ta veznik zapiše podatke o vašem ročnem računalniku in usklajevanju v datoteko.
Comment[sr]=Овај провод записује информације о вашем ручном рачунару и синхронизује са фајлом.
Comment[sr@Latn]=Ovaj provod zapisuje informacije o vašem ručnom računaru i sinhronizuje sa fajlom.
Comment[sv]=Den här kanalen skriver information om handdatorn och synkroniseringen till en fil.
Comment[ta]=இந்த காப்புக் குழாய் உங்கள் கையேட்டைப் பற்றிய தகவல்களையும் ஒத்திசைவையும் கோப்புக்கு எழுதுகிறது
Comment[tg]=Канали таҳвили иттилооти системавӣ аз Pilot ва қайдкунӣ ба файл
Comment[tr]=Bu bileşen, el bilgisayarınızın bilgilerini bir dosyaya yazar.
Comment[uk]=Цей акведук записує інформацію про кишеньковий пристрій і синхронізацію у файл.
Comment[xx]=xxThis conduit writes information about your handheld and the sync to a file.xx
Comment[zh_CN]=此管道写入您手持设备的信息，并同步至一文件。
Name=System Information
Name[be]=Сыстэмная інфармацыя
Name[br]=Titouroù war ar reizhiad
Name[bs]=Sistemske informacije
Name[ca]=Sistema d'informació
Name[cs]=Informace o systému
Name[cy]=Gwybodaeth Gysawd
Name[da]=Systeminformation
Name[de]=System-Information
Name[el]=Πληροφορίες συστήματος
Name[es]=Información del sistema
Name[et]=Süsteemi info
Name[fi]=Järjestelmätiedot
Name[fr]=Informations sur le système
Name[gl]=Información do Sistema
Name[hi]=तंत्र जानकारी
Name[hu]=Rendszerinformáció
Name[is]=Kerfisupplýsingar
Name[it]=Informazioni di sistema
Name[ja]=システム情報
Name[nb]=Systeminformasjon
Name[nl]=Systeeminformatie
Name[nn]=Systeminformasjon
Name[pl]=Informacja systemowa
Name[pt]=Informação do Sistema
Name[pt_BR]=Informação do Sistema
Name[ro]=Informaţii de sistem
Name[ru]=Информация о системе
Name[se]=Vuogádatdieđut
Name[sk]=Informácie o systéme
Name[sl]=Sistemske informacije
Name[sr]=Информације о систему
Name[sr@Latn]=Informacije o sistemu
Name[sv]=Systeminformation
Name[ta]=அமைப்பு தகவல்
Name[tg]=Иттилоот дар бораи система
Name[tr]=Sistem Bilgisi
Name[uk]=Системна інформація
Name[uz]=Тизим ҳақида маълумот
Name[xx]=xxSystem Informationxx
Name[zh_CN]=系统信息
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_sysinfo
