[Desktop Entry]
Type=Service
Comment=This conduit syncs the handheld calendar database with an Akonadi calendar Collection.
Comment[ca]=Aquest conducte sincronitza la base de dades de calendari l'agenda electrònica una col·lecció de calendari de l'Akonadi.
Comment[da]=Denne kanal synkroniserer den håndholdtes kalenderdatabase, med en Akonadi kalendersamling.
Comment[de]=Abgleich der Kalender-Datenbanken von Taschencomputer und Akonadi-Ressourcen.
Comment[el]=Αυτό το κύκλωμα συγχρονίζει το ημερολόγιο του υπολογιστή παλάμης με τη συλλογή ημερολογίων του Akonadi.
Comment[es]=Este conducto sincroniza la base de datos del calendario de la agenda electrónica con una colección de calendario Akonadi.
Comment[et]=See kanal sünkroniseerib pihuarvuti kalendri andmebaasi Akonadi kalendrikoguga.
Comment[fr]=Ce canal synchronise l'agenda du périphérique avec une collection d'agenda Akonadi.
Comment[ga]=Sioncrónaíonn an seoladán seo an bunachar sonraí féilire ar do ríomhaire boise le Bailiúchán féilirí Akonadi.
Comment[gl]=Este conduto sincroniza a base de datos dun aparello móbil coa colección de calendarios do Akonadi
Comment[it]=Questo condotto sincronizza il calendario del tuo palmare con una collezione calendario di Akonadi.
Comment[ja]=このコンジットはハンドヘルドのカレンダーデータベースを Akonadi のカレンダーコレクションと同期させます。
Comment[km]=មូលដ្ឋាន​ទិន្នន័យ conduit syncs នេះ​​ជា​មួយ​បណ្ដុំ​ប្រតិទិន​របស់ Akonadi ។
Comment[lv]=Šī ķēde sinhronizē jūsu rokas datora kalendāru ar Akonadi kalendāru kolekciju.
Comment[nb]=Denne kanalen synkroniserer hånddatorens kalender-database med en Akonadi kalendersamling.
Comment[nds]=Disse Kanaal synkroniseert den Handreekner-Kalenner mit en Akonadi-Kalenner.
Comment[nl]=Dit conduit synchroniseert de agendadatabase op de handheld met de agendaverzameling van Akonadi.
Comment[nn]=Denne koplinga synkroniserer den handhaldne kalenderdatabasen med ei Akonadi-kalendersamling.
Comment[pl]=Ten łącznik synchronizuje kalendarz palmtopa z kalendarzem Akonadi.
Comment[pt]=Esta conduta sincroniza a base de dados do calendário com uma Colecção de Calendário do Akonadi.
Comment[pt_BR]=Esta conduta sincroniza a base de dados do calendário com uma coleção de calendário do Akonadi.
Comment[sl]=Ta veznik usklajuje koledar na ročnem računalniku z Akonadijevo zbirko koledarjev.
Comment[sv]=Den här kanalen synkroniserar handdatorns kalenderdatabas med en Akonadi kalendersamling.
Comment[tr]=Bu kanal el bilgisayarınızdaki takvim ile bilgisayarınızdakini eşzamanlar.
Comment[uk]=Цей акведук синхронізує базу даних календаря кишенькового пристрою зі збіркою календаря Akonadi.
Comment[x-test]=xxThis conduit syncs the handheld calendar database with an Akonadi calendar Collection.xx
Comment[zh_CN]=此管道会将您的手持设备中的日历数据库和 Akonadi 的日历收藏库进行同步。
Comment[zh_TW]=此導管將掌上型裝置的行事曆資料庫與 Akonadi 上的行事曆同步。
Name=Calendar
Name[af]=Kalender
Name[br]=Deiziadur
Name[ca]=Calendari
Name[cs]=Kalendář
Name[cy]=Calendr
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[eo]=Kalendaro
Name[es]=Calendario
Name[et]=Kalender
Name[eu]=Egutegia
Name[fa]=تقویم
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[fy]=Aginda
Name[ga]=Féilire
Name[gl]=Calendario
Name[he]=לוח שנה
Name[hu]=Naptár
Name[is]=Dagatal
Name[it]=Calendario
Name[ja]=カレンダー
Name[ka]=კალენდარი
Name[kk]=Күнтізбе
Name[km]=ប្រតិទិន
Name[ko]=달력
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[mk]=Календар
Name[ms]=Kalendar
Name[nb]=Kalender
Name[nds]=Kalenner
Name[ne]=क्यालेन्डर
Name[nl]=Agenda
Name[nn]=Kalender
Name[oc]=Calendièr
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ru]=Календарь
Name[se]=Kaleandar
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sv]=Kalender
Name[ta]=நாள்காட்டி
Name[tg]=Тақвим
Name[th]=ปฏิทิน
Name[tr]=Takvim
Name[uk]=Календар
Name[uz]=Kalendar
Name[uz@cyrillic]=Календар
Name[wa]=Calindrî
Name[x-test]=xxCalendarxx
Name[zh_CN]=日历
Name[zh_TW]=行事曆

Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_calendar
