[Desktop Entry]
Encoding=UTF-8
Name=Novell GroupWise server
Name[es]=Servidor Novell GroupWise
Name[sv]=Novell Groupwise-server
X-KDE-Library=kabc_groupwise
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=groupwise
