[Desktop Entry]
Encoding=UTF-8
Name=Novell GroupWise Server
X-KDE-Library=kabc_groupwise
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=groupwise
