[Desktop Entry]
Encoding=UTF-8
Name=Novell GroupWise Server
Name[bg]=Сървър Novell GroupWise
Name[br]=Servijer Novell GroupWise
Name[ca]=Servidor Novell GroupWise
Name[cs]=Novell GroupWise server
Name[da]=Novell GroupWise server
Name[es]=Servidor de Novell GroupWise
Name[et]=Novelli GroupWise server
Name[fr]=Serveur de travail collaboratif GroupWise de Novell
Name[ga]=Freastalaí Novell GroupWise
Name[it]=Server Novell GroupWise
Name[nl]=Novell GroupWise-server
Name[pl]=Serwer Novell GroupWise
Name[pt]=Servidor Novell GroupWise
Name[pt_BR]=Servidor GroupWise da Novell
Name[ru]=Сервер Novell GroupWise
Name[sl]=Strežnik Novell GroupWise
Name[sr]=Novell-ов GroupWise сервер
Name[sr@Latn]=Novell-ov GroupWise server
Name[sv]=Novell Groupwise-server
Name[ta]=Novell குழுவாரிச் சேவகன்
Name[uk]=Сервер Novell GroupWise
Name[zh_CN]=Novell GroupWise 服务器
X-KDE-Library=kcal_groupwise
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=groupwise
