[Desktop Entry]
Encoding=UTF-8
Name=Novell GroupWise server
Name[be]=Сэрвэр Novell Groupwise
Name[es]=Servidor Novell Groupwise
Name[sv]=Novell Groupwise-server
X-KDE-Library=kcal_groupwise
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=groupwise
