[Desktop Entry]
Name=Cloud Storage Manager
Name[ca]=Gestor de l'emmagatzematge al núvol
Name[cs]=Správce úložiště Cloudu
Name[da]=Håndtering af cloud-lagring
Name[de]=Cloud-Speicherverwaltung
Name[en_GB]=Cloud Storage Manager
Name[es]=Gestor de almacenamiento en la nube
Name[et]=Pilveteenuse haldur
Name[fi]=Pilvitallennuksen hallinta
Name[fr]=Gestionnaire de stockage cloud
Name[hu]=Felhőtároló-kezelő
Name[it]=Gestore memorizzazione nel cloud
Name[nb]=Behandler for sky-lagring
Name[nds]=Datenaflaag-Pleger
Name[nl]=Beheerder van cloud-opslag
Name[pl]=Zarządzanie przechowywaniem w chmurze
Name[pt]=Gestor de Armazenamento na 'Cloud'
Name[pt_BR]=Gerenciador de Serviços em Nuvem
Name[sk]=Správca cloudových služieb
Name[sr]=Менаџер складиштења у облаку
Name[sr@ijekavian]=Менаџер складиштења у облаку
Name[sr@ijekavianlatin]=Menadžer skladištenja u oblaku
Name[sr@latin]=Menadžer skladištenja u oblaku
Name[sv]=Hantering av molnlagring
Name[uk]=Керування збереженням у «хмарах»
Name[x-test]=xxCloud Storage Managerxx
Name[zh_TW]=雲端儲存管理員
Type=Application
Exec=storageservicemanager
Icon=kmail
X-DocPath=storageservicemanager/index.html
GenericName=Cloud Storage Manager
GenericName[ca]=Gestor de l'emmagatzematge al núvol
GenericName[cs]=Správce úložiště Cloudu
GenericName[da]=Håndtering af cloud-lagring
GenericName[de]=Cloud-Speicherverwaltung
GenericName[en_GB]=Cloud Storage Manager
GenericName[es]=Gestor de almacenamiento en la nube
GenericName[et]=Pilveteenuse haldur
GenericName[fi]=Pilvitallennuksen hallinta
GenericName[fr]=Gestionnaire de stockage cloud
GenericName[hu]=Felhőtároló-kezelő
GenericName[it]=Gestore dei servizi di memorizzazione nel cloud
GenericName[nb]=Behandler for sky-lagring
GenericName[nds]=Datenaflaag-Pleger
GenericName[nl]=Beheerder van cloud-opslag
GenericName[pl]=Zarządzanie przechowywaniem w chmurze
GenericName[pt]=Gestor de Armazenamento na 'Cloud'
GenericName[pt_BR]=Gerenciador de Serviços em Nuvem
GenericName[sk]=Správca cloudových služieb
GenericName[sr]=Менаџер складиштења у облаку
GenericName[sr@ijekavian]=Менаџер складиштења у облаку
GenericName[sr@ijekavianlatin]=Menadžer skladištenja u oblaku
GenericName[sr@latin]=Menadžer skladištenja u oblaku
GenericName[sv]=Hantering av molnlagring
GenericName[uk]=Керування збереженням у «хмарах»
GenericName[x-test]=xxCloud Storage Managerxx
GenericName[zh_TW]=雲端儲存管理員
Terminal=false
Categories=Qt;KDE;Office;Network;
InitialPreference=10
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.storageservicemanager
