<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="storageservicemanager" version="1">
 <MenuBar>
  <Menu name="file" >
   <Action name="add_storage_service"/>
  </Menu>
  <Menu name="edit" >
   <text>&amp;Edit</text>
   <Action name="authenticate"/>
   <Separator/>
   <Action name="create_folder"/>
   <Action name="add_storage_service"/>
   <Action name="refresh_list"/>
   <Action name="account_info"/>
   <Action name="upload_file"/>
   <Action name="delete_file"/>
   <Action name="download_file"/>
  </Menu>
 </MenuBar>
</kpartgui>

