[Desktop Entry]
Name=Cloud Storage Manager
Type=Application
Exec=storageservicemanager
Icon=kmail
X-DocPath=storageservicemanager/index.html
GenericName=Cloud Storage Manager
Terminal=false
Categories=Qt;KDE;Office;Network;
InitialPreference=10
