[Desktop Entry]
Encoding=UTF-8
Name=IMAP server via KMail
Name[bg]=Сървър IMAP чрез KMail
Name[da]=IMAP-server via KMail
Name[es]=Servidor IMAP por medio de KMail
Name[nl]=IMAP-server via KMail
Name[pt]=Servidor IMAP via KMail
Name[pt_BR]=Servidor IMAP via KMail
Name[ru]=Доступ к серверу IMAP через KMail
Name[sr]=IMAP сервер преко KMail-а
Name[sr@Latn]=IMAP сервер преко KMail-а
Name[sv]=IMAP-server via Kmail
Name[tr]=KMail aracılığı ile IMAP sunucu
Name[uk]=Сервер IMAP через KMail
X-KDE-Library=knotes_kolab
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=notes
X-KDE-ResourceType=imap
