[Desktop Entry]
Name=Akonadi Mail Threader Agent
Name[de]=E-Mail-Gruppierungs-Agent für Akonadi
Comment=An agent to thread mails from a collection
Comment[de]=Agent zur Gruppierung von E-Mails aus einer Sammlung
Type=AkonadiAgent
Exec=akonadi_mailthreader_agent

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_mailthreader_agent
