[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_distributionlist
Name=KAB Distribution List Plugin
Name[ar]=ملحق قائمة توزيع KAB
Name[be]=Дапаўненьне KAB "Сьпіс распаўсюджваньня"
Name[bs]=KAB dodatak za distribucione liste
Name[ca]=Endollable de la llista de distribució KAB
Name[cs]=Modul distribučního seznamu
Name[cy]=Ategyn Rhestr Ddosbarthu KAB
Name[da]=KAB-Distribution liste-plugin
Name[de]=Verteilerlisten-Plugin für Adressbuch
Name[el]=Πρόσθετο λίστας διανομής του KAB
Name[es]=Plugin KAB para listas de distribución
Name[et]=KAB postiloendi plugin
Name[fi]=KAB jakelulistaliitännäinen
Name[fr]=Module de liste de diffusion pour KAB
Name[gl]=Extensión de Lista de Distribución KAB
Name[hi]=केएबी वितरण सूची प्लगइन
Name[hu]=KAB címlista bővítőmodul
Name[is]=Íforrit fyrir KAB dreifilista
Name[it]=Plugin lista di distribuzione KAB
Name[ja]=KAB 配布リストプラグイン
Name[nb]=KAB tilleggsprogram for distribusjonslister
Name[nl]=KAB Distributielijst-plugin
Name[nn]=Programtillegg for KAB distribusjonsliste
Name[pl]=Wtyczka KAB do obsługi list wysyłkowych
Name[pt]='Plugin' de Lista de Distribuição do KAB
Name[pt_BR]=Plug-in de Lista de Distribuição do KAB
Name[ru]=Списки рассылки
Name[sk]=KAB plugin distribučného zoznamu
Name[sl]=Vstavek za distribucijski seznam KAB
Name[sr]=Прикључак KAB-а за дистрибуционе листе
Name[sr@Latn]=Dodatak KAB-a za distribucione liste
Name[sv]=Adressbokens insticksprogram för distributionslistor
Name[ta]=KABயின் பகிர்ந்தளித்தல் பட்டியல் சொருகுப்பொருள்
Name[tg]=Рӯйхати ба ҳар тараф мефиристодагӣ
Name[tr]=KAB Dağıtım Listesi Eklentisi
Name[uk]=Втулок списку розповсюдження KAB
Name[uz]=Тарқатиш рўйхат плагини
Name[xx]=xxKAB Distribution List Pluginxx
Name[zh_CN]=KAB 分发列表插件
Comment=Plugin for managing distribution lists
Comment[ar]=ملحق لإدارة قوائم التوزيع
Comment[be]=Дапаўненьне для кіраваньня сьпісамі распаўсюджваньня
Comment[bg]=Приставка за управление на списъци
Comment[bs]=Dodatak za upravljanje distribucionim listama
Comment[ca]=Endollable per a gestionar llistes de distribució
Comment[cs]=Modul pro správu distribučních seznamů
Comment[cy]=Ategyn ar gyfer rheoli rhestri dosbarthu
Comment[da]=Plugin til at håndtere distributionslister
Comment[de]=Plugin zur Verwaltung von Verteilerlisten
Comment[el]=Πρόσθετο για τη διαχείριση λιστών διανομής
Comment[es]=Plugin para gestionar listas de distribución
Comment[et]=Plugin postiloendite haldamiseks
Comment[fi]=Liitännäinen jakelulistojen hallintaan
Comment[fr]=Module pour gérer des listes de diffusion
Comment[gl]=Plugin para manexar listas de distribución
Comment[hi]=वितरण सूची प्रबंधन के लिए प्लगइन
Comment[hu]=Bővítőmodul címlisták kezeléséhez
Comment[is]=Íforrit til að sjá um dreifilista
Comment[it]=Plugin per gestire liste di distribuzione
Comment[ja]=配布リスト管理用プラグイン
Comment[ms]=Plug masuk untuk pengurusan senarai edaran
Comment[nb]=Tilleggsprogram for å håndtere distribusjonslister
Comment[nl]=Plugin voor het beheren van distributielijsten
Comment[nn]=Programtillegg for handtering av distibusjonsliste
Comment[pl]=Wtyczka do zarządzania listami wysyłkowymi
Comment[pt]=Um 'plugin' para gerir as listas de distribuição
Comment[pt_BR]=Plug-in para gerenciar listas de distribuição
Comment[ro]=Modul pentru administrarea listelor de distribuţie
Comment[ru]=Работа со списками рассылок
Comment[sk]=Plugin pre správu distribučných zoznamov
Comment[sl]=Vstavek za upravljanje distribucijskih seznamov
Comment[sr]=Прикључак за управљање дистрибуционим листама
Comment[sr@Latn]=Dodatak za upravljanje distribucionim listama
Comment[sv]=Insticksprogram för att hantera distributionslistor
Comment[ta]=பகிர்தல் பட்டியல் நிர்வகித்தலின் சொருகுப்பொருள்
Comment[tg]=Кор бо рӯйхати ба ҳар тараф мефиристодагӣ
Comment[tr]=Dağıtım listelerini yönetmek için eklenti
Comment[uk]=Втулок для керування списками розповсюдження
Comment[uz]=Тарқатиш рўйхатларни бошқариш учу плагин
Comment[xx]=xxPlugin for managing distribution listsxx
Comment[zh_CN]=管理分发列表的插件
Type=Service
ServiceTypes=KAddressBook/Extension
X-KDE-KAddressBook-ExtensionPluginVersion=1
