[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_distributionlistng
Name=KAB Distribution List Next Generation Plugin
Comment=Plugin for managing distribution lists
Type=Service
ServiceTypes=KAddressBook/Extension
X-KDE-KAddressBook-ExtensionPluginVersion=1
