[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_distributionlist
Name=KAB Distribution List Plugin
Name[ca]=Connector KAB de llista de distribució
Name[cs]=Modul distribučního seznamu
Name[da]=KAB-Distribution liste-plugin
Name[de]=Verteilerlisten-Plugin für Adressbuch
Name[el]=Πρόσθετο λίστας διανομής του KAB
Name[es]=Plugin KAB para listas de distribución
Name[et]=KAB postiloendi plugin
Name[fr]=Module de liste de diffusion pour KAB
Name[hu]=KAB címlista bővítőmodul
Name[it]=Plugin lista di distribuzione KAB
Name[nl]=KAB Distributielijst-plugin
Name[nn]=Programtillegg for KAB distribusjonsliste
Name[pt]='Plugin' de Lista de Distribuição do KAB
Name[pt_BR]=Plug-in de Lista de Distribuição do KAB
Name[ru]=Модуль списков рассылки KAB
Name[sk]=KAB plugin distribučného zoznamu
Name[sr]=Додатак KAB-а за дистрибуционе листе
Name[sv]=Adressbokens insticksprogram för distributionslistor
Name[tr]=KAB Dağıtım Listesi Eklentisi
Name[uk]=Втулок списку розповсюдження KAB
Name[xx]=xxKAB Distribution List Pluginxx
Name[zh_CN]=KAB 分发列表插件
Comment=Plugin for managing distribution lists
Comment[bg]=Приставка за управление на списъци
Comment[ca]=Connector per a gestionar llistes de distribució
Comment[cs]=Modul pro správu distribučních seznamů
Comment[da]=Plugin til at håndtere distributionslister
Comment[de]=Plugin zur Verwaltung von Verteilerlisten
Comment[el]=Πρόσθετο για τη διαχείριση λιστών διανομής
Comment[es]=Plugin para gestionar listas de distribución
Comment[et]=Plugin postiloendite haldamiseks
Comment[fi]=Liitännäinen jakeluluetteloiden hallintaan
Comment[fr]=Module pour gérer des listes de diffusion
Comment[hu]=Bővítőmodul címlisták kezeléséhez
Comment[it]=Plugin per gestire liste di distribuzione
Comment[ms]=Plug masuk untuk pengurusan senarai edaran
Comment[nl]=Plugin voor het beheren van distributielijsten
Comment[nn]=Programtillegg for handtering av distibusjonsliste
Comment[pt]=Um 'plugin' para gerir as listas de distribuição
Comment[pt_BR]=Plug-in para gerenciar listas de distribuição
Comment[ru]=Модуль для работы со списками рассылок
Comment[sk]=Plugin pre správu distribučných zoznamov
Comment[sl]=Vstavek za upravljanje distribucijskih seznamov
Comment[sr]=Додатак за управљање дистрибуционим листама
Comment[sv]=Insticksprogram för att hantera distributionslistor
Comment[tr]=Dağıtım listelerini yönetmek için eklenti
Comment[uk]=Втулок для керування списками розповсюдження
Comment[xx]=xxPlugin for managing distribution listsxx
Comment[zh_CN]=管理分发列表的插件
Type=Service
ServiceTypes=KAddressBook/Extension
