[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=kaddrbk_distributionlistng
Name=KAB Distribution List Next Generation Plugin
Name[de]=Verteilerlisten-Modul für Adressbuch (nächste Generation)
Comment=Plugin for managing distribution lists
Comment[de]=Modul zur Verwaltung von Verteilerlisten
Type=Service
X-KDE-ServiceTypes=KAddressBook/Extension
X-KDE-KAddressBook-ExtensionPluginVersion=1
