[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_distributionlist
Name=KAB Distribution List Plugin
Comment=Plugin for managing distribution lists
Comment[es]=Plugin para gestionar listas de distribución
Comment[hu]=Bővítőmodul címlisták kezeléséhez
Comment[ru]=Модуль для работы со списками рассылок
Comment[sv]=Insticksprogram för att hantera distributionslistor
Comment[zh_CN]=管理分发列表的插件
Type=Service
ServiceTypes=KAddressBook/Extension
