[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_location
Name=KAB Location Plugin
Name[be]=Дапаўненьне KAB "Месцазнаходжаньне"
Name[ca]=Connector KAB de localització
Name[cs]=KAB modul umístění
Name[da]=KAB Sted-plugin
Name[de]=Orts-Plugin für Adressbuch
Name[el]=Πρόσθετο τοποθεσίας του KAB
Name[es]=Plugin KAB para ubicación
Name[et]=KAB asukohaplugin
Name[fr]=Module de localisation pour KAB
Name[hu]=KAB címkezelő bővítőmodul
Name[it]=Plugin località KAB
Name[ms]=Lokasi Plugmasuk KAB
Name[nl]=KAB Locatie Plugin
Name[nn]=Programtillegg for KAB plassering
Name[pt]='Plugin' de Localização do KAB
Name[pt_BR]=Plug-in de Localização do KAB
Name[ru]=Модуль местонахождения KAB
Name[sk]=KAB plugin umiestnenia
Name[sr]=Додатак KAB-а за локације
Name[sv]=Adressbokens insticksprogram för platser
Name[tr]=KAB Konum Eklentisi
Name[uk]=Втулок місцезнаходження KAB
Name[xx]=xxKAB Location Pluginxx
Name[zh_CN]=KAB 位置插件
Comment=Plugin for displaying the location of a postal address
Comment[bg]=Приставка за показване на местоположението на пощенския адрес
Comment[ca]=Connector per a mostrar la localització d'una adreça postal
Comment[cs]=Modul pro zobrazování umístění poštovní adresy
Comment[da]=Plugin til at vise stedet for en post-adresse
Comment[de]=Plugin zur Anzeige des Orts in Postadressen
Comment[el]=Πρόσθετο για την προβολή της τοποθεσίας μιας ταχυδρομικής διεύθυνσης
Comment[es]=Plugin para mostrar la ubicación de una dirección postal
Comment[et]=Plugin postiaadressi asukoha näitamiseks
Comment[fi]=Liitännäinen postiosoitteen paikan näyttämiseen
Comment[fr]=Module d'affichage de la localisation d'une adresse postale
Comment[hu]=Bővítőmodul postai címek megjelenítéséhez
Comment[it]=Plugin per la visualizzazione della località di un'indirizzo postale
Comment[ms]=Plug masuk untuk memaparkan lokasi alamat surat menyurat
Comment[nl]=Plugin voor het weergeven van de locatie van een postadres
Comment[nn]=Programtillegg for å visa plassering av ei postadresse
Comment[pt]=Um 'plugin' para mostrar a localização de um endereço postal
Comment[pt_BR]=Plugin para exibir a localização de um endereço postal
Comment[ru]=Модуль для показа местоположения по почтовому адресу
Comment[sk]=Plugin pre zobrazenie umiestnenia poštovej adresy
Comment[sl]=Vstavek za prikazovanje lokacije poštnega naslova
Comment[sr]=Додатак за приказивање локације поштанске адресе
Comment[sv]=Insticksprogram för att visa platsen för en postadress
Comment[tr]=Posta adresinin konumunu göstermek için eklenti
Comment[uk]=Втулок для відображення місцезнаходження поштової адреси
Comment[xx]=xxPlugin for displaying the location of a postal addressxx
Comment[zh_CN]=显示邮政地址位置的插件
Type=Service
ServiceTypes=KAddressBook/Extension
