[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_merge
Name=KAB Contact Merging Plugin
Name[ca]=Connector KAB per a fusionar contactes
Name[cs]=KAB modul pro spojování kontaktů
Name[da]=KAB kontaktindfletning-plugin
Name[de]=Plugin zur Adressen-Zusammenführung
Name[el]=Πρόσθετο συγχώνευσης επαφών του KAB
Name[es]=Plugin de combinación de contactos para KAB
Name[et]=KAB kontaktide liitmise plugin
Name[fr]=Module de fusion de contact pour KAB
Name[hu]=KAB bővítőmodul névjegyek összeolvasztásához
Name[it]=Plugin di unione dei contatti KAB
Name[ms]=Plug masuk Gabung Hubungan KAB
Name[nl]=KAB Contact Samenvoegen Plugin
Name[nn]=Programtillegg for KAB kontaktsamanslåing
Name[pt]='Plugin' de Reunião de Contactos do KAB
Name[pt_BR]=Plug-in de Mesclagem de Contatos do KAB
Name[ru]=Модуль слияния контактов адресной книги KDE
Name[sl]=Vstavek za združevanje stikov KAB
Name[sr]=Додатак KAB-а за стапање контаката
Name[sv]=Adressbokens insticksprogram för kontaktsammanfogning
Name[tr]=KAB Bağlantı Birleştirme Eklentisi 
Name[uk]=Втулок об'єднання контактів KAB
Name[xx]=xxKAB Contact Merging Pluginxx
Name[zh_CN]=KAB 联系人合并插件
Comment=Plugin for merging similar contacts
Comment[bg]=Приставка за откриване и смесване на подобни записи в адресника
Comment[ca]=Connector per a fusionar contactes similars
Comment[cs]=Modul pro spojování podobných kontaktů
Comment[da]=Plugin til at indflette lignende kontakter
Comment[de]=Plugin zur Zusammenführung ähnlicher Kontaktdaten
Comment[el]=Πρόσθετο για συγχώνευση παρόμοιων επαφών
Comment[es]=Plugin para combinar contactos similares
Comment[et]=Plugin sarnaste kontaktide liitmiseks
Comment[fi]=Liitännäinen samanlaisten kontaktien yhdistämiseen
Comment[fr]=Module pour fusionner des contacts similaires
Comment[hu]=Bővítőmodul hasonló névjegyek összevonásához
Comment[it]=Plugin per integrare contatti simili
Comment[ms]=Plug masuk untuk menggabungkan alamat sama
Comment[nl]=Plugin voor het samenvoegen van vergelijkbare contacten
Comment[nn]=Programtillegg for samanslåing av liknande kontaktar
Comment[pt]=Um 'plugin' para juntar os contactos semelhantes
Comment[pt_BR]=Plug-in para mesclar contatos similares
Comment[ru]=Модуль для слияния похожих контактов
Comment[sl]=Vstavek za združevanje podobnih stikov
Comment[sr]=Додатак за стапање сличних контаката
Comment[sv]=Insticksprogram för att sammanfoga liknande kontakter
Comment[tr]=Benzer bağlantıları birleştirmek için eklenti
Comment[uk]=Втулок для об'єднання схожих контактів
Comment[xx]=xxPlugin for merging similar contactsxx
Comment[zh_CN]=合并相似联系人的插件
Type=Service
ServiceTypes=KAddressBook/Extension
