[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_resourceselection
Name=Address Book Management Plugin
Name[be]=Дапаўненьне "Кіраваньне адраснамі кнігамі"
Name[bs]=Dodatak za rukovanje adresarom
Name[ca]=Connector de gestió de llibretes d'adreces
Name[cs]=Modul pro správu knih adres
Name[da]=Plugin for adressebogshåndtering
Name[de]=Adressbuchverwaltungs-Plugin
Name[es]=Extensión para gestionar la libreta de direcciones
Name[et]=Aadressihalduri plugin
Name[fr]=Module de gestion de carnet d'adresses
Name[gl]=Extensión para xestión do Caderno de Enderezos
Name[he]=תוסף ניהול פנקסי כתובות
Name[hu]=Címjegyzékkezelő bővítőmodul
Name[it]=Plugin per gestire rubriche indirizzi
Name[nb]=Programtillegg for adressebok behandling
Name[nl]=Plugin voor adresboekbeheer
Name[nn]=Programtillegg for adressebokhandtering
Name[pl]=Wtyczka zarządzania Książką adresową
Name[pt]='Plugin' de Gestão do Livro de Endereços
Name[pt_BR]=Plug-in de Gerenciamento do Livro de Endereços
Name[ru]=Управление адресной книгой
Name[sk]=Modul pre správu adresára
Name[sl]=Vstavek Upravitelj adresarjev
Name[sr]=Прикључак управљања адресаром
Name[sr@Latn]=Прикључак управљања адресаром
Name[sv]=Insticksprogram för adressbokshantering
Name[ta]=முகவரி புத்தகம் மேலாண்மை சொருகுப்பொருள்
Name[tg]=Идоракунии китоби адресӣ
Name[zh_CN]=地址簿管理插件
Comment=Plugin for managing address books
Comment[be]=Дапаўненьне для кіраваньня адраснамі кнігамі
Comment[bg]=Приставка за управление на адресника
Comment[bs]=Dodatak za upravljanje adresarima
Comment[ca]=Connector per gestionar llibretes d'adreces
Comment[cs]=Modul pro správu knih adres
Comment[da]=Plugin til at håndtere adressebøger
Comment[de]=Plugin zur Verwaltung von Addressbüchern
Comment[es]=Extenxión para gestionar libretas de direcciones
Comment[et]=Plugin aadressiraamatute haldamiseks
Comment[fr]=Module pour gérer les carnets d'adresses
Comment[gl]=Extensión para xestionar cadernos de enderezos
Comment[he]=תוסף המאפשר ניהול של פנקסי כתובות
Comment[hu]=Bővítőmodul címjegyzékek kezeléséhez
Comment[it]=Plugin per gestire rubriche indirizzi
Comment[nb]=Tilleggsprogram for å håndtere adressebøker
Comment[nl]=Plugin voor het beheren van adresboeken
Comment[nn]=Programtillegg for handtering av adressebøker
Comment[pl]=Wtyczka do zarządzania książkami adresowymi
Comment[pt]=Um 'plugin' para gerir os livros de endereços
Comment[pt_BR]=Plug-in para gerenciar livros de endereços
Comment[ru]=Управление адресными книгами
Comment[sk]=Modul pre správu adresárov
Comment[sl]=Vstavek za upravljanje adresarjev
Comment[sr]=Прикључак за управљање адресарима
Comment[sr@Latn]=Прикључак за управљање адресарима
Comment[sv]=Insticksprogram för att hantera adressböcker
Comment[ta]=பகிர்தல் பட்டியல் நிர்வகித்தலின் சொருகுப்பொருள்
Comment[tg]=Идоракунии китобҳои адресӣ
Comment[zh_CN]=管理地址簿的插件
Type=Service
ServiceTypes=KAddressBook/Extension
