[Desktop Entry]
Type=Service
ServiceTypes=PimCommonShortUrlEngine/Plugin
X-KDE-Library=pimcommon_isgdshorturlengineplugin
Name=Is.gd
Name[ca]=Is.gd
Name[nl]=Is.gd
Name[pl]=Is.gd
Name[pt]=Is.gd
Name[pt_BR]=Is.gd
Name[sv]=Is.gd
Name[uk]=Is.gd
Name[x-test]=xxIs.gdxx
