[Desktop Entry]
Type=Service
ServiceTypes=PimCommonShortUrlEngine/Plugin
X-KDE-Library=pimcommon_isgdshorturlengineplugin
Name=Is.gd
Name[ca]=Is.gd
Name[ca@valencia]=Is.gd
Name[de]=Is.gd
Name[en_GB]=Is.gd
Name[es]=Is.gd
Name[fi]=Is.gd
Name[gl]=Is.gd
Name[it]=Is.gd
Name[nl]=Is.gd
Name[pl]=Is.gd
Name[pt]=Is.gd
Name[pt_BR]=Is.gd
Name[sk]=Is.gd
Name[sl]=Is.gd
Name[sr]=ИзГд
Name[sr@ijekavian]=ИзГд
Name[sr@ijekavianlatin]=IsGd
Name[sr@latin]=IsGd
Name[sv]=Is.gd
Name[uk]=Is.gd
Name[x-test]=xxIs.gdxx
