<html>
<head>
<title></title>

<style>

body {
    color: #000000 ! important;
    background-color: #ffffff ! important;
}

div.header {
    font-family: "Times New Roman" ! important;
    font-size: 14px ! important;
}

</style>

</head>

<body>

<div class="header" dir="{{ dir }}">

{% if subject %}
  <div dir="{{ subjectDir }}">
    <b style="font-size:130%">{{ subject|safe }}</b>
  </div>
  <br />
{% endif %}

(

{{ from|safe }},

{% if vCardName %}
  &nbsp;&nbsp;<a href="{{ vCardName|safe }}">[vCard]</a>
{% endif %}

{% if cc %}
  CC:  {{ cc|safe }}&nbsp;
{% endif %}

{% if bcc %}
  BCC:  {{ bcc|safe }}&nbsp;
{% endif %}

{% if date %}
  {{ date|safe }}&nbsp;
{% endif %}

)

</div>
