[Desktop Entry]
Encoding=UTF-8
Name=KMTSetup
Name[sv]=KMT-inställning
Exec=kmtsetup
Icon=kmtsetup
Type=Application
Hidden=true
Comment=An application for configuration of devices used by kmobiletools
Comment[el]=Μία εφαρμογή για τη ρύθμιση των συσκευών που χρησιμοποιούνται από το kmobiletools
Comment[es]=Una aplicación para configurar dispositivos que utilizan kmobiletools
Comment[ja]=KMmobileTools で使用するデバイスを設定するためのアプリケーション
Comment[sv]=Ett program för att anpassa enheter använda av Kmobiletools
Comment[zh_TW]=設定 kmobiletools 使用的裝置的應用程式
