[Desktop Entry]
Name=KMTSetup
Name[de]=KMT-Setup
Exec=kmtsetup
Icon=kmtsetup
Type=Application
Hidden=true
Comment=An application for configuration of devices used by kmobiletools
Comment[de]=Geräte-Einrichtung für die Mobiltelefonverwaltung
