[Desktop Entry]
Encoding=UTF-8
Name=Journal in a blog
Name[el]=Χρονικό σε ιστολόγιο
Name[es]=Diario en un blog
Name[fa]=نشریه در یک وب‌نوشت
Name[ja]=ブログのジャーナル
Name[pt]=Diário num 'blog'
Name[pt_BR]=Diário num 'blog'
Name[sv]=Webbjournal
Name[zh_TW]=部落格日誌
X-KDE-Library=kcal_blog
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=blog
