[Desktop Entry]
Encoding=UTF-8
Name=Calendar on IMAP-server via KMail
Name[bg]=Календар на сървър IMAP чрез KMail
Name[bs]=Kalendar na IMAP serveru putem KMaila
Name[ca]=Calendari sobre servidor IMAP mitjançant kmail
Name[cs]=Kalendář na IMAP serveru přes KMail
Name[da]=Kalender på IMAP-server via KMail
Name[de]=Kalender auf IMAP-Server via KMail
Name[es]=Calendario en un servidor IMAP por medio de kmail
Name[et]=Kalender IMAP serveril KMaili vahendusel
Name[fi]=Kalenteri IMAP-palvelimella KMailin avulla
Name[fr]=Calendrier sur un serveur IMAP via KMail
Name[hu]=IMAP-kiszolgálón tárolt, a KMailen keresztül kezelt naptár
Name[it]=Calendario su server IMAP via KMail
Name[ja]=kmail 経由での IMAP サーバ上のカレンダー
Name[nb]=Kalender på IMAP-tjener via KMail
Name[nl]=Agenda op IMAP-server via KMail
Name[nn]=Kalender på IMAP-tener via KMail
Name[pl]=Kalendarz na serwerze IMAP za pośrednictwem KMail
Name[pt]=Calendário em Servidor IMAP via KMail
Name[pt_BR]=Calendário no servidor IMAP via Kmail
Name[ru]=Календарь на сервере IMAP через KMail
Name[sk]=Kalendár na IMAP-serveri pomocou KMail
Name[sl]=Koledar na strežniku IMAP preko KMaila
Name[sr]=Календар на IMAP серверу преко Kmail-а
Name[sr@Latn]=Kalendar na IMAP serveru preko Kmail-a
Name[sv]=Kalender på en IMAP-server via Kmail
Name[ta]=IMAP சேவையக வழியாக கேஅஞ்சலில் நாள்காட்டி
Name[tg]=Тақвимот дар сервери IMAP аз KMail
Name[uk]=Календар на сервері IMAP через KMail
Name[zh_CN]=在 IMAP 服务器上用 KMail 访问的日历
X-KDE-Library=kcal_imap
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=imap
