[Desktop Entry]
Encoding=UTF-8
Name=Calendar on IMAP-server via KMail
Name[ca]=Calendari sobre servidor IMAP mitjançant kmail
Name[da]=Kalender på IMAP-server via KMail
Name[es]=Calendario en un servidor IMAP por medio de kmail
Name[et]=Kalender IMAP serveril KMaili vahendusel
Name[xx]=xxCalendar on IMAP-server via KMailxx
X-KDE-Library=kcal_imap
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=imap
