[Desktop Entry]
Encoding=UTF-8
Icon=pda_blue
Type=MimeType
MimeType=kdedevice/cellphone
Comment=Connected Cellular Phone
Comment[bg]=Връзка с мобилен телефон
Comment[bs]=Spojen mobilni telefon
Comment[ca]=Telèfon mòbil connectat
Comment[cs]=Připojený mobilní telefon
Comment[da]=Forbundet mobiltelefon
Comment[de]=Angeschlossenes Mobiltelefon
Comment[es]=Teléfono móvil conectado
Comment[et]=Ühendatud mobiiltelefon
Comment[fr]=Téléphone portable connecté
Comment[he]=טלפון סלולרי מחובר
Comment[hu]=Csatlakoztatott mobiltelefon
Comment[is]=Tengdur farsími
Comment[it]=Telefono cellulare connesso
Comment[ja]=携帯電話に接続しました
Comment[nb]=Tilkoblet mobiltelefon
Comment[nl]=Verbonden mobiele telefoon
Comment[nn]=Tilkopla mobiltelefon
Comment[pl]=Podłączony telefon komórkowy
Comment[pt]=Telemóvel Ligado
Comment[pt_BR]=Conectado ao telefone celular
Comment[ru]=Подключенный сотовый телефон
Comment[sk]=Pripojený mobil
Comment[sl]=Povezan mobilni telefon
Comment[sr]=Повезан мобилни телефон
Comment[sr@Latn]=Povezan mobilni telefon
Comment[sv]=Ansluten mobiltelefon
Comment[ta]=செல்பேசியுடன் இணைக்கப்பட்டுள்ளது
Comment[tg]=Телефони сотавии пайвастшуда
Comment[uk]=Приєднаний мобільний телефон
Comment[zh_CN]=连接的蜂窝式电话
Patterns=

X-KDE-AutoEmbed=true
