[Desktop Entry]
Encoding=UTF-8
Icon=pda_black
Type=MimeType
MimeType=kdedevice/pda
Comment=Connected PDA
Comment[bs]=Spojen PDA
Comment[cs]=Připojený PDA
Comment[da]=Forbundet PDA
Comment[el]=Συνδεμένο PDA
Comment[es]=PDA conectado
Comment[fi]=Yhdistetty PDA:n
Comment[fr]=PDA connecté
Comment[hu]=Csatlakoztatott PDA
Comment[ja]=PDAに接続しました
Comment[mt]=PDA imqabbad
Comment[pt_BR]=Conectado ao PDA
Comment[sl]=Povezan dlančnik
Comment[sv]=Ansluten handdator
Comment[tr]=Bağlı PDA
Patterns=

X-KDE-AutoEmbed=true
