[Desktop Entry]
Encoding=UTF-8
Icon=pda_black
Type=MimeType
MimeType=kdedevice/pda
Comment=Connected PDA
Comment[ar]=PDA متصل
Comment[bg]=Връзка с PDA
Comment[bs]=Spojen PDA
Comment[ca]=PDA connectat
Comment[cs]=Připojený PDA
Comment[cy]=Llawiadur (PDA) cysylltiedig
Comment[da]=Forbundet PDA
Comment[de]=Angeschlossener PDA
Comment[el]=Συνδεμένο PDA
Comment[eo]=Konektita PDA
Comment[es]=PDA conectado
Comment[et]=Ühendatud PDA
Comment[fi]=Yhdistetty PDA:n
Comment[fr]=PDA connecté
Comment[he]=אירגונית ממוחשבת מחוברת
Comment[hi]=कनेक्टेड पीडीए
Comment[hr]=Spojeni PDA
Comment[hu]=Csatlakoztatott PDA
Comment[is]=Tengd lófatölva
Comment[it]=PDA connesso
Comment[ja]=PDA に接続しました
Comment[lt]=Prisijungtas PDA
Comment[mk]=Поврзан е PDA
Comment[ms]=PDA Disambung
Comment[mt]=PDA imqabbad
Comment[nb]=Tilkoblet PDA
Comment[nl]=Verbonden PDA
Comment[nn]=Tilkopla PDA
Comment[nso]=PDA yeo e Kgokagantswego
Comment[pl]=Połączony z PDA
Comment[pt]=PDA ligado
Comment[pt_BR]=Conectado ao PDA
Comment[ro]=PDA conectat
Comment[ru]=Подключенный КПК
Comment[se]=Laktašuvvon PDA
Comment[sk]=Pripojené PDA
Comment[sl]=Povezan PDA
Comment[sr]=Повезан PDA
Comment[sr@Latn]=Povezan PDA
Comment[sv]=Ansluten handdator
Comment[ta]=pda இணைக்கப்பட்டுள்ளது
Comment[tg]=PDA-и пайвастшуда
Comment[tr]=Bağlı PDA
Comment[uk]=Приєднаний PDA
Comment[ven]=PDA yo kwamanywaho
Comment[xh]=I PDA Exhulumeneyo
Comment[zh_CN]=连接的 PDA
Comment[zh_TW]=連接的 PDA
Comment[zu]=I-PDA exhunyiwe
Patterns=

X-KDE-AutoEmbed=true
