[Desktop Entry]
Encoding=UTF-8
Name=KMobileTools
Name[ne]=केडीई मोबाइल उपकरण
Name[pa]=ਕੇ-ਮੋਬਾਇਲ ਫੋਨ
Name[sv]=Kmobiletools
GenericName=Mobile Phones Management
GenericName[el]=Διαχείριση κινητών τηλεφώνων
GenericName[es]=Gestión de teléfonos móviles
GenericName[fa]=مدیریت تلفنهای همراه
GenericName[ga]=Bainisteoir Fóin Mhóibíleacha
GenericName[ja]=携帯電話管理ツール
GenericName[ne]=मोबाइल फोन व्यवस्थापन
GenericName[pa]=ਮੋਬਾਇਲ ਫੋਨ ਪਰਬੰਧਕ
GenericName[pt]=Gestão de Telemóveis
GenericName[pt_BR]=Gestão de Telemóveis
GenericName[sv]=Mobiltelefonhantering
GenericName[zh_TW]=行動電話管理員
Exec=kmobiletools %i %m -caption "%c"
Icon=kmobiletools
Type=Application
DocPath=kmobiletools/index.html
Comment=KDE Mobile Phones Suite
Comment[bg]=KAB Mobile Phone XXPort Plugin
Comment[el]=Σουίτα διαχείρισης κινητών τηλεφώνων του KDE
Comment[es]=Suite para teléfonos móviles de KDE
Comment[fa]=دنباله تلفنهای همراه KDE
Comment[ga]=Sraith Fón Póca KDE
Comment[ja]=KDE 携帯電話スイート
Comment[ne]=केडीई मोबाइल फोन सुइट
Comment[pa]=KDE ਮੋਬਾਇਲ ਫੋਨ ਸੂਟ
Comment[pt]=Pacote de Telemóveis para o KDE
Comment[pt_BR]=Pacote de Telemóveis para o KDE
Comment[sv]=KDE:s mobiltelefonsvit
Comment[zh_TW]=KDE 行動電話套件
Terminal=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;
