[Desktop Entry]
Name=Contact Print Theme Editor
Name[ca]=Editor de temes per imprimir els contactes
Name[en_GB]=Contact Print Theme Editor
Name[es]=Editor de temas de impresión de contactos
Name[fi]=Yhteystiedon tulostusteeman muokkain
Name[fr]=Éditeur de thème d'impression pour les contacts
Name[it]=Editor dei temi di stampa dei contatti
Name[nb]=Redigerer temaer for kontaktutskrift
Name[nl]=Themabewerker van afdrukken van contactpersoon
Name[pl]=Wystrój kontaktów książki adresowej
Name[pt]=Editor de Temas de Impressão dos Contactos
Name[pt_BR]=Editor de temas de impressão de contatos
Name[sk]=Editor tém tlače Contact
Name[sr]=Уређивач тема штампања контаката
Name[sr@ijekavian]=Уређивач тема штампања контаката
Name[sr@ijekavianlatin]=Uređivač tema štampanja kontakata
Name[sr@latin]=Uređivač tema štampanja kontakata
Name[sv]=Temaeditor för utskrift av kontakter
Name[tr]=Kişi Yazdırma Tema Düzenleyici
Name[uk]=Редактор тем для друку записів контактів
Name[x-test]=xxContact Print Theme Editorxx
Name[zh_CN]=联系人打印主题编辑器
Name[zh_TW]=聯絡人列印主題編輯器
Type=Application
Exec=contactprintthemeeditor
Icon=kaddressbook
X-DocPath=contactprintthemeeditor/index.html
GenericName=Contact Print Theme Editor
GenericName[ca]=Editor de temes per imprimir els contactes
GenericName[en_GB]=Contact Print Theme Editor
GenericName[es]=Editor de temas de impresión de contactos
GenericName[fi]=Yhteystiedon tulostusteeman muokkain
GenericName[fr]=Éditeur de thème d'impression pour les contacts
GenericName[it]=Editor dei temi di stampa dei contatti
GenericName[nb]=Redigerer temaer for kontaktutskrift
GenericName[nl]=Themabewerker van afdrukken van contactpersoon
GenericName[pl]=Wystrój kontaktów książki adresowej
GenericName[pt]=Editor de Temas de Impressão dos Contactos
GenericName[pt_BR]=Editor de temas de impressão de contatos
GenericName[sk]=Editor tém tlače Contact
GenericName[sr]=Уређивач тема штампања контаката
GenericName[sr@ijekavian]=Уређивач тема штампања контаката
GenericName[sr@ijekavianlatin]=Uređivač tema štampanja kontakata
GenericName[sr@latin]=Uređivač tema štampanja kontakata
GenericName[sv]=Temaeditor för utskrift av kontakter
GenericName[tr]=Kişi Yazdırma Tema Düzenleyicisi
GenericName[uk]=Редактор тем для друку записів контактів
GenericName[x-test]=xxContact Print Theme Editorxx
GenericName[zh_CN]=联系人打印主题编辑器
GenericName[zh_TW]=聯絡人列印主題編輯器
Terminal=false
Categories=Qt;KDE;Office;Network;ContactManagement;
InitialPreference=10
X-DBUS-ServiceName=org.kde.contactprintthemeeditor
