[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KitchenSync/Konnector,KResources/Plugin
X-KDE-Library=libdummykonnector

Name=Dummy Konnector
Name[ar]=Konnector وهمي
Name[bs]=Testni Konnector
Name[ca]=Konnector de prova
Name[cy]=Kysylltydd Ffug
Name[da]=Dummy-konnector
Name[de]=Schein-Konnector
Name[es]=Konnector para pruebas
Name[et]=Fiktiivne Konnector
Name[fi]=Tyhjä Konnector
Name[fr]=Konnector factice
Name[he]=Konnector טיפש
Name[hi]=डमी कनेक्टर
Name[hu]=Üres konnektor
Name[ja]=ダミー Konnector
Name[nb]=Test-Konnector
Name[nl]=Lege Konnector
Name[nn]=Blind-Konnector
Name[pl]=Nic nierobiący Konnector
Name[pt]=Konnector Inútil
Name[pt_BR]=Konnector Simulado
Name[ro]=Konnector test
Name[ru]=Отладочный коннектор
Name[sk]=Prázdny Konnector
Name[sl]=Slepi konektor
Name[sr]=Лажни Konnector
Name[sr@Latn]=Lažni Konnector
Name[sv]=Oanvänd Konnector
Name[ta]=போலி இணைப்பான்
Name[tg]=Коннектори тасҳеҳкунанда
Name[tr]=Hayali Konnector
Name[uk]=Фіктивний Konnector
Name[zh_CN]=哑 Konnector
Group=Test
Vendor=KDE Team
Id=dummykonnector

X-KDE-ResourceFamily=konnector
X-KDE-ResourceType=dummy
