[Desktop Entry]
Encoding=UTF-8
Name=Kleopatra
Name[be]=Клеапатра
Name[is]=Kleópatra
Name[ta]=க்ளியோபட்ரா
Name[xx]=xxKleopatraxx
Type=Application
Exec=kleopatra --import-certificate %u
#Icon=kleopatra
NoDisplay=true
MimeType=application/pkcs7-mime;application/x-x509-ca-cert;application/x-pkcs12

X-KDE-StartupNotify=true
