[Desktop Entry]
Name=Example fancy
Name[es]=Ejemplo elegante
Name[fi]=Tyylikäs esimerkki
Name[ia]=Exemplo phantasia
Name[lt]=Pavyzdinis puošnus
Name[nl]=Voorbeeld van elegant
Name[pt]=Exemplo bonito
Name[pt_BR]=Exemplo bonito
Name[sk]=Príklad pekný
Name[sr]=Пример помодног
Name[sr@ijekavian]=Пример помодног
Name[sr@ijekavianlatin]=Primer pomodnog
Name[sr@latin]=Primer pomodnog
Name[sv]=Snyggt exempel
Name[uk]=Приклад складної
Name[x-test]=xxExample fancyxx
Name[zh_TW]=花俏範例
Description=Create fancy theme with grantlee.
Description[es]=Crear tema elegante con grantlee.
Description[fi]=Luo tyylikäs teema grantleeta käyttäen.
Description[ia]=Crea un thema de phantasia con grantlee
Description[lt]=Kurti puošnią temą su grantlee.
Description[nl]=Elegant thema maken met grantlee.
Description[pt]=Cria um tema bonito com o Grantlee.
Description[pt_BR]=Cria um tema bonito com o Grantlee.
Description[sk]=Vytvoriť peknú tému s grantlee.
Description[sr]=Направите помодну тему помоћу Грантлија
Description[sr@ijekavian]=Направите помодну тему помоћу Грантлија
Description[sr@ijekavianlatin]=Napravite pomodnu temu pomoću Grantleeja
Description[sr@latin]=Napravite pomodnu temu pomoću Grantleeja
Description[sv]=Skapa snyggt tema med Grantlee.
Description[uk]=Створити складну тему за допомогою grantlee.
Description[x-test]=xxCreate fancy theme with grantlee.xx
Description[zh_TW]=用 grantlee 建立花俏主題。
FileName=header.html
DisplayExtraHeaders=Sender,List-Id
