[Desktop Entry]
Name=Example fancy
Name[bs]=Kitnjasti primjer
Name[ca]=Exemple sofisticat
Name[da]=Eksempel på flot
Name[es]=Ejemplo elegante
Name[fi]=Tyylikäs esimerkki
Name[fr]=Exemple fantaisie
Name[hu]=Elképzelt példa
Name[ia]=Exemplo phantasia
Name[it]=Esempio elegante
Name[kk]=Күрделі мысал
Name[lt]=Pavyzdinis puošnus
Name[nl]=Voorbeeld van elegant
Name[pt]=Exemplo bonito
Name[pt_BR]=Exemplo bonito
Name[sk]=Príklad pekný
Name[sr]=Пример помодног
Name[sr@ijekavian]=Пример помодног
Name[sr@ijekavianlatin]=Primer pomodnog
Name[sr@latin]=Primer pomodnog
Name[sv]=Snyggt exempel
Name[uk]=Приклад вишуканого
Name[wa]=Egzimpe decoratif
Name[x-test]=xxExample fancyxx
Name[zh_TW]=花俏範例
Description=Create fancy theme with grantlee.
Description[bs]=Kreiraj kitnjastu temu sa poklonom.
Description[ca]=Crea un tema sofisticat amb grantlee.
Description[da]=Opret flot tema med grantlee.
Description[es]=Crear tema elegante con grantlee.
Description[fi]=Luo tyylikäs teema grantleeta käyttäen.
Description[fr]=Créer des thèmes fantaisies avec grantlee
Description[hu]=Képzelt téma létrehozása a grantlee használatával.
Description[ia]=Crea un thema de phantasia con grantlee
Description[it]=Crea un tema elegante con grantlee.
Description[kk]=Grantlee көмегімен күрделі нақышты құру.
Description[lt]=Kurti puošnią temą su grantlee.
Description[nl]=Elegant thema maken met grantlee.
Description[pt]=Cria um tema bonito com o Grantlee.
Description[pt_BR]=Cria um tema bonito com o Grantlee.
Description[sk]=Vytvoriť peknú tému s grantlee.
Description[sr]=Направите помодну тему помоћу Грантлија
Description[sr@ijekavian]=Направите помодну тему помоћу Грантлија
Description[sr@ijekavianlatin]=Napravite pomodnu temu pomoću Grantleeja
Description[sr@latin]=Napravite pomodnu temu pomoću Grantleeja
Description[sv]=Skapa snyggt tema med Grantlee.
Description[uk]=Створити складну тему за допомогою grantlee.
Description[wa]=Ahiver des tinmes decoratifs avou grantlee
Description[x-test]=xxCreate fancy theme with grantlee.xx
Description[zh_TW]=用 grantlee 建立花俏主題。
FileName=header.html
DisplayExtraHeaders=Sender,List-Id
