[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_cardview
Name=Card View
Name[be]=У выглядзе картак
Name[bg]=Преглед като карти
Name[bs]=Pogled kartice
Name[ca]=Vista de targeta
Name[cs]=Pohled s kartičkami
Name[cy]=Gweld Cerdyn
Name[da]=Kort-visning
Name[de]=Visitenkarten-Betrachter
Name[el]=Προβολή καρτών
Name[es]=Vista de tarjeta
Name[et]=Kaardivaade
Name[fi]=Korttinäkymä
Name[fr]=Vue en cartes
Name[gl]=Vista de tarxetas
Name[he]=תצוגת כרטיס
Name[hi]=कार्ड दृश्य
Name[hu]=Kártyanézet
Name[is]=Spjaldbirting
Name[it]=Vista scheda
Name[ja]=カードビュー
Name[ms]=Pelihat Kad
Name[nb]=Kortvisning
Name[nl]=Kaartweergave
Name[nn]=Kortvising
Name[pl]=Widok kartek
Name[pt]=Vista em Cartões
Name[pt_BR]=Visualização de Cartão
Name[ro]=Vizualizare card
Name[ru]=Карточки
Name[se]=Goartačájeheapmi
Name[sk]=Prezeranie karty
Name[sl]=Kartični prikaz
Name[sr]=Приказ са картицама
Name[sr@Latn]=Prikaz sa karticama
Name[sv]=Kortvy
Name[ta]=அட்டைக் காட்சி
Name[tg]=Варақа
Name[tr]=Kart Görünümü
Name[uk]=Вигляд картками
Name[zh_CN]=卡片视图
Type=Service
ServiceTypes=KAddressBook/View
