[Desktop Entry]
X-KDE-Library=kaddrbk_cardview
Name=Card View
Name[af]=Kaard Aansig
Name[be]=У выглядзе картак
Name[bg]=Преглед като карти
Name[br]=Gwell ar c'hartennoù
Name[ca]=Vista de targeta
Name[cs]=Pohled s kartičkami
Name[cy]=Gweld Cerdyn
Name[da]=Kort-visning
Name[de]=Visitenkarten-Betrachter
Name[el]=Προβολή καρτών
Name[eo]=Kartrigardo
Name[es]=Vista de tarjeta
Name[et]=Kaardivaade
Name[eu]=Txartel ikuspegia
Name[fa]=نمای کارت
Name[fi]=Korttinäkymä
Name[fr]=Vue en cartes
Name[fy]=Kaartwerjefte
Name[gl]=Vista de tarxetas
Name[he]=תצוגת כרטיס
Name[hu]=Kártyanézet
Name[is]=Spjaldsýn
Name[it]=Vista scheda
Name[ja]=カードビュー
Name[ka]=ბარათების ჩვენება
Name[kk]=Визитка
Name[km]=ទិដ្ឋភាព​កាត
Name[ko]=카드 보기
Name[lt]=Kortelės vaizdas
Name[lv]=Kartiņu skatījums
Name[mk]=Преглед со картички
Name[ms]=Pelihat Kad
Name[nb]=Kortvisning
Name[nds]=Visitenkoort-Kieker
Name[ne]=कार्ड दृश्य
Name[nl]=Kaartweergave
Name[pa]=ਕਾਰਡ ਝਲਕ
Name[pl]=Widok kartek
Name[pt]=Vista em Cartões
Name[pt_BR]=Visualização de Cartão
Name[ro]=Vizualizare card
Name[ru]=Карточки
Name[se]=Goartačájeheapmi
Name[sk]=Prezeranie karty
Name[sl]=Kartični prikaz
Name[sr]=Приказ са картицама
Name[sr@latin]=Prikaz sa karticama
Name[sv]=Kortvy
Name[ta]=அட்டைக் காட்சி
Name[tg]=Варақа
Name[tr]=Kart Görünümü
Name[uk]=Вигляд картками
Name[x-test]=xxCard Viewxx
Name[zh_CN]=卡片视图
Name[zh_TW]=卡片檢視
Type=Service
X-KDE-ServiceTypes=KAddressBook/View
X-KDE-KAddressBook-ViewPluginVersion=1
