[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_tableview
Name=Table View
Name[el]=Προβολή πίνακα
Name[fr]=Vue en tableaux
Name[x-test]=xxTable Viewxx
Type=Service
ServiceTypes=KAddressBook/View
X-KDE-KAddressBook-ViewPluginVersion=1
