[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_tableview
Name=Table View
Name[be]=У выглядзе табліцы
Name[bg]=Преглед в таблица
Name[bs]=Pogled tabele
Name[ca]=Vista de taula
Name[cs]=Tabulkový pohled
Name[cy]=Golwg Tabl
Name[da]=Tabel-visning
Name[de]=Tabellenansicht
Name[el]=Προβολή πίνακα
Name[es]=Vista de tabla
Name[et]=Tabelivaade
Name[fi]=Taulukkonäkymä
Name[fr]=Vue en tableaux
Name[gl]=Vista de árbore
Name[he]=תצוגת טבלה
Name[hi]=टेबल दृश्य
Name[hu]=Táblázatos nézet
Name[is]=Töflubirting
Name[it]=Vista tabella
Name[ja]=テーブルビュー
Name[ms]=Pelihat Jadual
Name[nb]=Tabellvisning
Name[nl]=Tabelweergave
Name[nn]=Tabellvising
Name[pa]=ਸਾਰਣੀ ਦਰਿਸ਼
Name[pl]=Widok tabeli
Name[pt]=Vista em Tabela
Name[pt_BR]=Visualização de Tabela
Name[ro]=Vizualizare tabel
Name[ru]=Таблица
Name[se]=Tabeallačájeheapmi
Name[sk]=Prezeranie tabuľky
Name[sl]=Tabelarični prikaz
Name[sr]=Табеларни приказ
Name[sr@Latn]=Tabelarni prikaz
Name[sv]=Tabellvy
Name[ta]=அட்டவணை காட்சி
Name[tg]=Ҷадвал
Name[tr]=Tablo Görünümü
Name[uk]=Вигляд таблицею
Name[uz]=Жадвал кўринишида
Name[xx]=xxTable Viewxx
Name[zh_CN]=表格视图
Type=Service
ServiceTypes=KAddressBook/View
X-KDE-KAddressBook-ViewPluginVersion=1
