[Desktop Entry]
Name=Folder Archive Agent
Name[fi]=Kansioiden arkistointiohjelma
Name[hu]=Mappaarchiváló ügynök
Name[nl]=Agent voor archiveren van map
Name[pt]=Agente de Arquivo de Pastas
Name[pt_BR]=Agente de Arquivamento de Pastas
Name[sk]=Agent archívu priečinka
Name[sr]=Агент за архивирање фасцикли
Name[sr@ijekavian]=Агент за архивирање фасцикли
Name[sr@ijekavianlatin]=Agent za arhiviranje fascikli
Name[sr@latin]=Agent za arhiviranje fascikli
Name[sv]=Korgarkiveringsmodul
Name[uk]=Агент архівування тек
Name[x-test]=xxFolder Archive Agentxx
Comment=Folder Archive Agent allows to store mails in specific archive folder
Comment[fi]=Kansioiden arkistointiohjelma mahdollistaa postien tallettamisen erityisiin arkistokansioihin
Comment[hu]=A mappaarchiváló ügynök lehetővé teszi e-mailek tárolását a megadott archívum mappában
Comment[nl]=Agent voor archiveren van map stelt u in staat om e-mailberichten op te slaan in een archiefmap
Comment[pt]=O Agente de Arquivo de Pastas permite guardar as mensagens numa pasta especial de arquivo
Comment[pt_BR]=O Agente de Arquivamento de Pastas permite armazenar os e-mails em uma pasta específica
Comment[sk]=Agent archívu priečinka umožní uložiť maily v určenom priečinku archívu
Comment[sr]=Агент за архивирање фасцикли омогућава складиштење порука у задату архивску фасциклу
Comment[sr@ijekavian]=Агент за архивирање фасцикли омогућава складиштење порука у задату архивску фасциклу
Comment[sr@ijekavianlatin]=Agent za arhiviranje fascikli omogućava skladištenje poruka u zadatu arhivsku fasciklu
Comment[sr@latin]=Agent za arhiviranje fascikli omogućava skladištenje poruka u zadatu arhivsku fasciklu
Comment[sv]=Korgarkiveringsmodulen gör det möjligt att lagra brev i en specifik arkivkorg
Comment[uk]=Агент архівування тек надає змогу зберігати повідомлення у певній теці архіву
Comment[x-test]=xxFolder Archive Agent allows to store mails in specific archive folderxx
Type=AkonadiAgent
Exec=akonadi_folderarchive_agent
Icon=kmail
X-DocPath=akonadi_folderarchive_agent/index.html
X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_folderarchive_agent
