[Desktop Entry]
Type=Service
ServiceTypes=MessageViewerHeaderStyle/Plugin
X-KDE-Library=messageviewer_longheaderstyleplugin
Name=Long Header Style
X-KDE-MessageViewer-Header-Order=7
