[Desktop Entry]
Name=Akonadi Maildir Resource
Name[de]=Akonadi-Ressource für Maildir
Type=AkonadiResource
Exec=akonadi_maildir_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_maildir_resource
