[Desktop Entry]
Name=Full Information
Name[ca]=Informació completa
Name[ca@valencia]=Informació completa
Name[cs]=Plná informace
Name[da]=Fuld information
Name[de]=Vollständige Information
Name[en_GB]=Full Information
Name[es]=Información completa
Name[et]=Täielik teave
Name[fi]=Kaikki tiedot
Name[fr]=Informations complètes
Name[gl]=Información completa
Name[hu]=Minden információ
Name[ia]=Information complete
Name[it]=Informazioni complete
Name[nb]=Full informasjon
Name[nds]=All Informatschonen
Name[nl]=Volledige informatie
Name[pl]=Pełne informacje
Name[pt]=Informação Completa
Name[pt_BR]=Informações completas
Name[ru]=Полная информация
Name[sk]=Celé informácie
Name[sl]=Vsi podatki
Name[sr]=Пуни подаци
Name[sr@ijekavian]=Пуни подаци
Name[sr@ijekavianlatin]=Puni podaci
Name[sr@latin]=Puni podaci
Name[sv]=Fullständig information
Name[tr]=Tam Bilgi
Name[uk]=Усі дані
Name[x-test]=xxFull Informationxx
Name[zh_CN]=完整信息
Name[zh_TW]=完整資訊
Description=Display All Information
Description[ca]=Mostra tota la informació
Description[ca@valencia]=Mostra tota la informació
Description[cs]=Zobrazit všechny informace
Description[da]=Vis al information
Description[de]=Alle Informationen anzeigen
Description[en_GB]=Display All Information
Description[es]=Mostrar toda la información
Description[et]=Kogu teabe näitamine
Description[fi]=Näytä kaikki tiedot
Description[fr]=Afficher toutes les informations
Description[gl]=Mostrar a información completa
Description[hu]=Minden információ megjelenítése
Description[ia]=Monstra omne information
Description[it]=Mostra tutte le informazioni
Description[nb]=Vis all informasjon
Description[nds]=All Informatschonen wiesen
Description[nl]=Alle informatie tonen
Description[pl]=Wyświetl wszystkie informacje
Description[pt]=Mostrar Todas as Informações
Description[pt_BR]=Mostrar todas as informações
Description[ru]=Показ всей информации
Description[sk]=Zobraziť všetky informácie
Description[sl]=Pokaži vse podatke
Description[sr]=Приказ свих података
Description[sr@ijekavian]=Приказ свих података
Description[sr@ijekavianlatin]=Prikaz svih podataka
Description[sr@latin]=Prikaz svih podataka
Description[sv]=Visa all information
Description[tr]=Tüm Bilgiyi Görüntüle
Description[uk]=Показ усіх даних
Description[x-test]=xxDisplay All Informationxx
Description[zh_CN]=显示所有信息
Description[zh_TW]=顯示所有資訊
