[Desktop Entry]
Type=Service
ServiceTypes=MessageViewerHeaderStyle/Plugin
X-KDE-Library=messageviewer_customheaderstyleplugin
Name=Custom Header Style
Name[pt]=Estilo de Cabeçalho Personalizado
Name[pt_BR]=Estilo de cabeçalho Personalizado
Name[sv]=Egen rubrikstil
Name[uk]=Нетиповий стиль заголовків
Name[x-test]=xxCustom Header Stylexx
