[Desktop Entry]
Name=GroupDAV Server (e.g. OpenGroupware)
Name[de]=GroupDAV-Server (z. B. OpenGroupware)
X-KDE-Library=kcal_groupdav
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=groupdav
