[Desktop Entry]
Name=KonsoleKalendar
Name[af]=Konsole Kalender
Name[ar]=KonsoleKalendar
Name[bg]=KonsoleKalendar
Name[br]=KonsoleKalendar
Name[bs]=KonsoleKalendar
Name[ca]=KonsoleKalendar
Name[ca@valencia]=KonsoleKalendar
Name[cs]=Konzolový kalendář
Name[cy]=KonsoleKalendar
Name[da]=KonsoleKalendar
Name[de]=Konsolen-Kalender
Name[el]=KonsoleKalendar
Name[en_GB]=KonsoleKalendar
Name[eo]=KonzolKalendaro
Name[es]=KonsoleKalendar
Name[eu]=KonsoleKalendar
Name[fi]=KonsoleKalendar
Name[fr]=KonsoleKalendar
Name[fy]=Konsole-aginda
Name[ga]=KonsoleKalendar
Name[gl]=KonsoleKalendar
Name[he]=KonsoleKalendar
Name[hu]=Konsole-naptár
Name[ia]=KonsoleKalendar
Name[is]=KonsoleKalendar
Name[it]=KonsoleKalendar
Name[ja]=コンソールカレンダー
Name[ka]=KonsoleKalendar
Name[kk]=KonsoleKalendar
Name[km]=KonsoleKalendar
Name[ko]=KonsoleKalendar
Name[lt]=KonsoleKalendar
Name[lv]=KonsoleKalendar
Name[mk]=КонзоленКалендар
Name[mr]=कंसोल-कॅलेंडर
Name[ms]=Kalendar Konsole
Name[nb]=KonsoleKalender
Name[nds]=Konsole-Kalenner
Name[ne]=कन्सोल क्यालेन्डर
Name[nl]=Konsole-agenda
Name[nn]=Konsollkalender
Name[pa]=ਕਨਸੋਲ-ਕੈਲੰਡਰ
Name[pl]=KonsoleKalendar
Name[pt]=KonsoleKalendar
Name[pt_BR]=KonsoleKalendar
Name[ro]=Calendar de consolă
Name[ru]=KonsoleKalendar
Name[se]=KonsoleKalendar
Name[sk]=KonsoleKalendar
Name[sl]=KonsoleKalendar
Name[sq]=KonsoleKalendar
Name[sr]=Конзолни календар
Name[sr@ijekavian]=Конзолни календар
Name[sr@ijekavianlatin]=Konzolni kalendar
Name[sr@latin]=Konzolni kalendar
Name[sv]=KonsoleKalendar
Name[ta]=கான்சோல் நாள்காட்டி
Name[tg]=KonsoleKalendar
Name[tr]=KonsoleKalendar
Name[ug]=KonsoleKalendar
Name[uk]=Календар для консолі
Name[wa]=KonsoleKalendar
Name[x-test]=xxKonsoleKalendarxx
Name[zh_CN]=KonsoleKalendar
Name[zh_TW]=KonsoleKalendar
Exec=kdialog --sorry "konsolekalendar is a command-line only program.  Please read the handbook at help:/konsolekalendar for more info."
Icon=konsolekalendar
Type=Application
X-DocPath=konsolekalendar/index.html
Terminal=false
NoDisplay=true
Categories=Qt;KDE;Utility;X-KDE-More;
