[Desktop Entry]
Name=KonsoleKalendar
Name[af]=Konsole Kalender
Name[cs]=Konzolový kalendář
Name[de]=Konsolen-Kalender
Name[eo]=KonzolKalendaro
Name[fy]=Konsole-aginda
Name[hu]=Konsole-naptár
Name[ja]=コンソールカレンダー
Name[mk]=КонзоленКалендар
Name[ms]=Kalendar Konsole
Name[nds]=Konsole-Kalenner
Name[ne]=कन्सोल क्यालेन्डर
Name[nl]=Konsole-agenda
Name[nn]=Konsollkalender
Name[pa]=ਕਨਸੋਲ-ਕੈਲੰਡਰ
Name[ro]=Calendar de consolă
Name[ta]=கான்சோல் நாள்காட்டி
Name[uk]=Календар для консолі
Name[x-test]=xxKonsoleKalendarxx
Exec=kdialog --sorry "konsolekalendar is a command-line only program.  Please read the handbook at help:/konsolekalendar for more info."
Icon=konsolekalendar
Type=Application
X-DocPath=konsolekalendar/index.html
Terminal=false
NoDisplay=true
Categories=Qt;KDE;Utility;X-KDE-More;
