[Desktop Entry]
Name=KMail Header Theme Editor
Name[de]=KMail-Designeditor für Vorspann
Name[es]=Editor de temas de encabezados de KMail
Name[fr]=Éditeur de thème d'en-tête KMail
Name[hu]=KMail fejléctéma szerkesztő
Name[nb]=Redigerer temaer for KMail hodelinjer
Name[nl]=Editor van header-thema van KMail
Name[pt]=Editor de Temas de Cabeçalho do KMail
Name[pt_BR]=Editor de temas de cabeçalho do KMail
Name[sk]=Editor tém hlavičiek KMail
Name[sr]=К‑поштин уређивач тема заглавља
Name[sr@ijekavian]=К‑поштин уређивач тема заглавља
Name[sr@ijekavianlatin]=K‑poštin uređivač tema zaglavlja
Name[sr@latin]=K‑poštin uređivač tema zaglavlja
Name[sv]=Kmail huvudtemaeditor
Name[uk]=Редактор тем заголовків повідомлень KMail
Name[x-test]=xxKMail Header Theme Editorxx
Type=Application
Exec=headerthemeeditor
GenericName=Mail Header Theme Editor
GenericName[de]=Designeditor für E-Mail-Vorspann
GenericName[es]=Editor de temas de encabezados de correo
GenericName[fr]=Éditeur de thème d'en-tête de messagerie
GenericName[hu]=Mail fejléctéma szerkesztő
GenericName[nb]=Temaredigerer for e-post-hodelinjer
GenericName[nl]=Editor van header-thema van Mail
GenericName[pt]=Editor de Temas de Cabeçalho do KMail
GenericName[pt_BR]=Editor de temas de cabeçalho de e-mail
GenericName[sk]=Editor tém hlavičiek pošty
GenericName[sr]=Уређивач тема поштанских заглавља
GenericName[sr@ijekavian]=Уређивач тема поштанских заглавља
GenericName[sr@ijekavianlatin]=Uređivač tema poštanskih zaglavlja
GenericName[sr@latin]=Uređivač tema poštanskih zaglavlja
GenericName[sv]=Temaeditor för brevhuvuden
GenericName[uk]=Редактор тем заголовків повідомлень
GenericName[x-test]=xxMail Header Theme Editorxx
Terminal=false
Categories=Qt;KDE;Office;Network;Email;
InitialPreference=10
