[Desktop Entry]
Encoding=UTF-8
Name=Notes on Scalix Server via KMail
Name[el]=Ημερολόγιο σε εξυπηρετητή Scalix μέσω του KMail
Name[ga]=Nótaí ar Fhreastalaí Scalix via KMail
Name[pt]=Notas em Servidor Scalix via KMail
Name[pt_BR]=Notas em Servidor Scalix via KMail
Name[sv]=Kalender på Scalix-server via Kmail
Name[x-test]=xxNotes on Scalix Server via KMailxx
X-KDE-Library=knotes_scalix
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=notes
X-KDE-ResourceType=scalix
