[Desktop Entry]
Type=Service
Comment=email folder list
Comment[ca]=llista de carpetes de correu
Comment[cs]=seznam pořadačů el. pošty
Comment[da]=epost mappeliste
Comment[de]=E-Mail-Ordnerliste
Comment[el]=λίστα φακέλων email
Comment[eo]=Retpoŝta mesaĝujolisto
Comment[es]=Lista de carpetas de correo electrónico
Comment[et]=meili kataloogide nimekiri
Comment[fi]=sähköpostikansioiden lista
Comment[fr]=liste des dossiers de messages
Comment[gl]=lista de carpetas de correo electrónico
Comment[he]=ל"אוד תויקית תמישר
Comment[hr]=popis direktorija sa porukama
Comment[hu]=e-mail mappalista
Comment[is]=listi póstmappa
Comment[it]=lista cartelle email
Comment[ja]=Eメールフォルダリスト
Comment[mk]=листа на папки со е-пошта
Comment[nl]=Lijst met e-mailmappen
Comment[no]=Epost-mappelister
Comment[no_NY]=E-postmappeliste
Comment[pl]=lista folderów e-maili
Comment[pt]=lista de pastas de Email
Comment[pt_BR]=lista de pastas de e-mail
Comment[ro]=Listă de directoare mail
Comment[ru]=список папок с электронными письмами
Comment[sk]=zoznam triedenia emailov
Comment[sl]=seznam map e-pošte
Comment[sv]=lista med e-postmappar
Comment[ta]=Á¢ý«ïºø «¨¼× ÀðÊÂø
Comment[tr]=e-posta klasör listesi
Comment[uk]=список тек електронної пошти
Comment[zh_TW.Big5]=電子郵件信匣列表
Name=EmpathFolderListWidget
Name[cs]=Seznam pořadačů Empath
Name[de]=Empath-Ordnermodul
Name[eo]=Ujolistofenestraĵo de "Empath"
Name[es]=Elemento Lista de Carpetas Empath
Name[he]=Empath לש תויקיתה תמישר טירפ
Name[hu]=Empath mappalista elem
Name[is]=EmpathMöppulisti
Name[it]=ListaCartelleEmpath
Name[nl]=Empath Mappenlijstweergave
Name[pt_BR]=EmpathListarWidgetsDaPasta
Name[ro]=Director Empath
Name[sk]=Zoznam triedenia Empathu
Name[sl]=GradnikSeznamaMapEmpath
Name[sv]=EmpathMappListaKomponent
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libEmpathFolderListWidget
