[Misc]
Name=Mail Serializer
Name[de]=E-Mail-Serialisierung
Comment=An Akonadi serializer plugin for mail objects
Comment[de]=Akonadi-Modul zur Serialisierung von E-Mail-Objekten

[Plugin]
Type=message/rfc822,message/news
X-KDE-Library=akonadi_serializer_mail
