[Misc]
Name=Addressee Serializer
Name[de]=Empfänger-Serialisierung
Comment=An Akonadi serializer plugin for addressee objects
Comment[de]=Akonadi-Modul zur Serialisierung von Adressobjekten

[Plugin]
Type=text/vcard,text/directory
X-KDE-Library=akonadi_serializer_addressee
