[Misc]
Name=Incidence Serializer
Name[de]=Ereignis-Serialisierung
Comment=An Akonadi serializer plugin for events, tasks and journal entries
Comment[de]=Akonadi-Modul zur Serialisierung von Ereignissen

[Plugin]
Type=text/calendar
X-KDE-Library=akonadi_serializer_kcal
