[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_pimactivity
X-KDE-Weight=200

Name=PIM Activity Settings
Name[cs]=Nastavení činnosti PIM
Name[de]=Einstellungen für PIM-Aktivitäten
Name[es]=Preferencias de actividad de PIM
Name[nl]=Activiteitsinstellingen van PIM
Name[pt]=Configuração da Actividade PIM
Name[pt_BR]=Configurações da atividade de PIM
Name[sk]=Nastavenia aktivít PIM
Name[uk]=Параметри простору дій керування особистими даними
Name[x-test]=xxPIM Activity Settingsxx
Comment=Configure the activity for pim application
Comment[de]=Einrichtung der Aktivitäten für PIM-Anwendungen
Comment[es]=Configurar la actividad para una aplicación pim
Comment[nl]=De activiteit voor de pim-toepassing instellen
Comment[pt]=Configura a actividade para uma aplicação PIM
Comment[pt_BR]=Configura a atividade para aplicativos de PIM
Comment[sk]=Nastaviť aktivitu pre aplikáciu pim
Comment[uk]=Налаштувати простір дій для програми керування особистими даними
Comment[x-test]=xxConfigure the activity for pim applicationxx
X-KDE-Keywords=configure, settings, activity
X-KDE-Keywords[es]=configurar, preferencias, actividad
X-KDE-Keywords[nl]=configureren. instellingen, activiteit
X-KDE-Keywords[pt]=configurar, configuração, actividade
X-KDE-Keywords[pt_BR]=configurar, configurações, atividade
X-KDE-Keywords[sk]=nastaviť, nastavenia, aktivita
X-KDE-Keywords[uk]=configure,settings,activity,налаштувати,налаштування,параметри,простір,дії,простір дій
X-KDE-Keywords[x-test]=xxconfigure, settings, activityxx
