[Desktop Entry]
Name=XML Feature Plan
Name[af]=XML eienskappe plan
Name[ca]=Pla de característiques XML
Name[cs]=XML plán vlastností
Name[da]=XML Funktionsplan
Name[el]=Σχέδιο χαρακτηριστικών XML
Name[eo]=XML-Trajtplano
Name[es]=Plan de características XML
Name[et]=XML võimaluste plaan
Name[eu]=XML eginbide plana
Name[fa]=نقشۀ ویژگی XML
Name[fi]=XML-ominaisuussuunnitelma
Name[fr]=Plan de fonctionnalités XML
Name[fy]=Funksjonaliteitsplanning yn XML
Name[gl]=Plan de Características en XML
Name[hu]=XML FeaturePlan
Name[is]=XML fídusa áætlun
Name[it]=Piano caratteristiche XML
Name[km]=គ្រោង​លក្ខណៈ​ពិសេស XML
Name[lt]=XML bruožų planas
Name[ms]=Pelan Cirian XML 
Name[nds]=XML-Funkschonenplaan
Name[ne]=एक्सएमएल विशेषता योजना
Name[nl]=Functionaliteitsplanning in XML
Name[pl]=Plan funkcjonalności XML
Name[pt]=Plano de Funcionalidades em XML
Name[pt_BR]=Plano de Funcionalidades XML
Name[sk]=XML plán vlastností
Name[sl]=Načrt zmožnosti v XML
Name[sr]=XML план могућности
Name[sr@Latn]=XML plan mogućnosti
Name[ta]=XML பண்பு திட்டம்
Name[tr]=XML Özellik Planı
Name[zh_CN]=XML 特性计划
Name[zh_TW]=XML 功能計畫
X-KDE-Library=kcal_resourcefeatureplan
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=featureplan
