[Desktop Entry]
Name=XML Feature Plan
X-KDE-Library=kcal_resourcefeatureplan
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=featureplan
