[Desktop Entry]
Encoding=UTF-8
Name=XML Feature Plan
Name[cs]=XML plán vlastností
Name[da]=XML Funktionsplan
Name[es]=Plan de características XML
Name[et]=XML võimaluste plaan
Name[eu]=XML eginbide plana
Name[fr]=Plan de fonctionnalités XML
Name[hi]=एक्सएमएल फ़ीचर प्लान
Name[hu]=XML FeaturePlan
Name[is]=XML fídusa áætlun
Name[it]=Piano caratteristiche XML
Name[nl]=Functionaliteitsplanning in XML
Name[pl]=Plan funkcjonalności XML
Name[pt]=Plano de Funcionalidades em XML
Name[pt_BR]=Plano de Funcionalidades XML
Name[sl]=Načrt zmožnosti v XML
Name[sr]=XML план могућности
Name[sr@Latn]=XML plan mogućnosti
Name[tr]=XML Özellik Planı
Name[zh_CN]=XML 特性计划
X-KDE-Library=kcal_resourcefeatureplan
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=featureplan
