[Desktop Entry]
Type=Service
Name=Synchronizer Part
Name[bs]=Dio za sinhronizaciju
Name[ca]=Part del sincronitzador
Name[cs]=Komponenta synchronizace
Name[da]=Synkronisator-part
Name[de]=Synchronizer-Komponente
Name[en_GB]=Synchroniser Part
Name[es]=Parte Synchronizer
Name[et]=Sünkroniseerija komponent
Name[fr]=Composant de synchronisation
Name[he]=רכיב סנכרון
Name[hi]=सिंक्रोनाइज़र पार्ट
Name[hu]=Szinkronizáló objektum
Name[is]=Synchronizer-íforrit
Name[it]=Parte Synchronizer
Name[ja]=同期パート
Name[nb]=Synkroniseringsdel
Name[nl]=Synchronizer-part
Name[nn]=Synkroniseringsdel
Name[pl]=Część Synchronizatora
Name[pt]=Componente de Sincronização
Name[pt_BR]=Componente do Sincronizador
Name[ro]=Componentă sincronizare
Name[ru]=Компонент синхронизации
Name[sk]=Part pre synchronizáciu
Name[sr]=Део Synchronizer
Name[sr@Latn]=Deo Synchronizer
Name[sv]=Synkroniseringsdel
Name[ta]=ஒன்றிணைக்கும் பகுதி
Name[tg]=Қисмати синхронизатсия
Name[tr]=Eş Zamanlayıcı Bölüm
Name[uk]=Складова синхронізації
Name[xx]=xxSynchronizer Partxx
Name[zh_CN]=同步部件
Icon=
ServiceTypes=KitchenSync/ActionPart
X-KDE-Library=libksync_syncerpart
