[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Grammar/GrammarClient
X-KDE-Library=grammar_link
X-KDE-PluginInfo-Author=Laurent Montel
X-KDE-PluginInfo-Email=montel@kde.org
X-KDE-PluginInfo-Name=grammar_link
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Clients
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=GrammarLink
Name[bs]=GrammarLink
Name[ca]=GrammarLink
Name[da]=GrammarLink
Name[de]=Grammatik-Verknüpfung
Name[el]=GrammarLink
Name[es]=GrammarLink
Name[fi]=GrammarLink
Name[fr]=GrammarLink
Name[hu]=GrammarLink
Name[ia]=GrammarLink (Ligamine de grammatica)
Name[it]=GrammarLink
Name[kk]=GrammarLink
Name[ko]=GrammarLink
Name[lt]=GramatikosNuoroda
Name[nb]=GrammarLink
Name[nl]=GrammaticaKoppeling
Name[pl]=GrammarLink
Name[pt]=GrammarLink
Name[pt_BR]=GrammarLink
Name[ru]=GrammarLink
Name[sk]=Gramatický odkaz
Name[sr]=Повезна граматика
Name[sr@ijekavian]=Повезна граматика
Name[sr@ijekavianlatin]=Povezna gramatika
Name[sr@latin]=Povezna gramatika
Name[sv]=Grammatiklänk
Name[uk]=GrammarLink
Name[wa]=GrammarLink
Name[x-test]=xxGrammarLinkxx
Name[zh_TW]=GrammarLink
