[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KOrganizer ListMaker Conduit
Name[da]=KOrganizer Listmaker-conduit
Name[el]=Σύνδεσμος ListMaker για το KOrganizer
Name[es]=Canal ListMaker de KOrganizer
Name[fi]=KOrganizer ListMaker käytävä
Name[fr]=Canal de gestion de liste de KOrganizer
Name[he]=ממשק KOrganizer ListMaker
Name[hr]=KOrganizer - ListMaker veza
Name[hu]=KOrganizer ListMaker-csatoló
Name[ja]=KOrganizer ListMaker コンジット
Name[pt_BR]=Conduíte do Construtor de Listas do KOrganizer
Name[sv]=Korganizer ListMaker-kanal
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=libListMakerConduit
