[Desktop Entry]
Type=Service
Comment=This conduit sets the time on your handheld from the PC clock.
Comment[af]=Hierdie pad stel die tyd op jou draagbare toestel vanaf die PC horlosie.
Comment[bg]=Синхронизация на датата и часа на мобилно устройство с часовника на компютъра
Comment[bs]=Ovaj conduit postavlja vrijeme na vašem ručnom računaru prema PC satu.
Comment[ca]=Aquest conducte estableix l'hora en la vostra agenda electrònica des del rellotge del PC.
Comment[cs]=Toto propojení nastaví čas na vašem handheldu podle PC.
Comment[cy]=Mae'r cwndid yma yn gosod yr amser ar eich llawiadur o gloc y CP.
Comment[da]=Denne kanal sætter tiden på din håndholdte fra PC'ens ur.
Comment[de]=Überträgt die Zeit vom PC auf das mobile Gerät
Comment[el]=Αυτός ο σύνδεσμος ρυθμίζει την ώρα στον υπολογιστή παλάμης σας από το ρολόι του υπολογιστή σας.
Comment[es]=Este conducto fija la hora de su agenda electrónica según el reloj de su PC.
Comment[et]=See kanal sünkroniseerib pihuarvuti aja PC kellaga.
Comment[eu]=Kanal honek zure agenda elektronikoko ordua PC-aren ordura ezartzen du.
Comment[fa]=این لوله، از طریق ساعت PC زمان دستی شما را تنظیم می‌کند.
Comment[fi]=Tämä yhdyskäytävä asettaa taskutietokoneen kellonajan PC:n kellosta.
Comment[fr]=Ce canal règle l'heure de votre périphérique depuis celle du PC.
Comment[fy]=Dit conduit set de tiid fan jo handheld oan d ehân fan de pc-klok.
Comment[gl]=Este conducto pon a hora do seu aparello portátil dende o reloxo do seu PC.
Comment[hi]=यह कन्ड्यूइट आपके हैंण्डहेल्ड में पीसी घड़ी द्वारा समय नियत करता है.
Comment[hu]=Ez a csatoló beállítja a kéziszámítógép óráját a számítógépé alapján
Comment[is]=Þessi rás stillir klukku lófatölvunnar eftir klukku PC tölvunnar.
Comment[it]=Questo conduit imposta l'ora sul tuo palmare prendendola dall'orologio del PC
Comment[ja]=このコンジットはハンドヘルドの時間をPCの時計に合わせます。
Comment[ka]=დროის მითითება კომპიუტერის საათისთვის.
Comment[km]=បំពង់​នេះ​កំណត់​ពេលវេលា​នៅ​លើ​ឧបករណ៍​យួរដៃ​របស់​អ្នក ពី​នាឡិកា​កុំព្យូទ័រ ។
Comment[lt]=Šis kanalas nustato delninuko laiką pagal PC laiką.
Comment[mk]=Овој канал го поставува времето на рачниот уред според времето на компјутерот.
Comment[ms]=Saluran ini mengeset waktu pada komputer telapak anda dari jam PC.
Comment[nb]=Denne kanalen stiller klokka på PDA-en fra PC-klokka.
Comment[nds]=Synkroniseert stellt Handreekner-Klock na de PC-Klock.
Comment[ne]=यो कन्ड्युटले पीसी घडीबाट ह्यान्डहेल्डमा समय सेट गर्दछ ।
Comment[nl]=Dit conduit stelt de tijd van uw handheld in aan de hand van de pc-klok.
Comment[nn]=Denne koplinga set tida på den handheldte eininga di frå PC-klokka.
Comment[pl]=Ten łącznik ustawia zegar na palmtopie zgodnie z zegarem komputera.
Comment[pt]=Esta conduta acerta a hora do seu dispositivo a partir do relógio do PC.
Comment[pt_BR]=Este conduíte define o horário no seu hendheld a partir do relógio do PC.
Comment[ru]=Канал синхронизации времени
Comment[sk]=Táto spojka nastavuje čas na vašom prenosnom zariadení podľa PC.
Comment[sl]=Ta veznik nastavi čas na ročnem računalniku glede na sistemsko uro osebnega računalnika.
Comment[sr]=Овај провод поставља време на вашем ручном рачунару према PC часовнику.
Comment[sr@Latn]=Ovaj provod postavlja vreme na vašem ručnom računaru prema PC časovniku.
Comment[sv]=Den här kanalen ställer in tiden på handdatorn från datorns klocka.
Comment[ta]=இந்த காப்புக்குழாய் பிசி கடிகாரத்தில் இருந்து உங்கள் கையேட்டில் நேரத்தை அமைக்கும்
Comment[tg]=Канали синзронизатсияи муддат
Comment[tr]=Bu bileşen, el bilgisayarınızın saatini PC saatine bakarak ayarlar.
Comment[uk]=Цей акведук синхронізує час у кишеньковому пристрої з часом комп'ютера.
Comment[zh_CN]=此管道把您手持设备的时间与电脑同步。
Comment[zh_TW]=此軟體經由 PC 時間設定您的 handheld 時間。
Name=Time Synchronization
Name[af]=Tyd sinkronisasie
Name[ar]=مزامنة الوقت
Name[be]=Сынхранізацыя часу
Name[bg]=Синхронизация
Name[bs]=Sinhronizacija vremena
Name[ca]=Sincronització horària
Name[cs]=Synchronizace času
Name[cy]=Cydamseriad Amser
Name[da]=Tidsynkronisering
Name[de]=Zeit-Abgleich
Name[el]=Συγχρονισμός ώρας
Name[en_GB]=Time Synchronisation
Name[eo]=Temposinkronigo
Name[es]=Sincronización de hora
Name[et]=Aja sünkroniseerimine
Name[eu]=Ordu sinkronizazioa
Name[fa]=همگام‌سازی زمان
Name[fi]=Ajan synkronointi
Name[fr]=Synchronisation de l'heure
Name[fy]=Tiidssyngronisaasje
Name[gl]=Sincronización Horaria
Name[hi]=समय सिंक्रोनाइज़ेशन
Name[hu]=Időszinkronizálás
Name[is]=Tíma samstilling
Name[it]=Sincronizzazione temporale
Name[ja]=時間同期
Name[ka]=დროის სინქრონიზაცია
Name[kk]=Уақытты қадамдастыру
Name[km]=សមកាលកម្ម​ពេលវេលា
Name[lt]=Laiko sinchronizavimas
Name[mk]=Синхронизација на време
Name[ms]=Segerakan waktu
Name[nb]=Tidsynkronisering
Name[nds]=Tietsynkroniseren
Name[ne]=समय समक्रमण
Name[nl]=Tijdsynchronisatie
Name[nn]=Tidsynkronisering
Name[pl]=Synchronizacja czasu
Name[pt]=Sincronização Horária
Name[pt_BR]=Sincronização de Horário
Name[ro]=Sincronizare timp
Name[ru]=Синхронизация времени
Name[sk]=Synchronizácia času
Name[sl]=Usklajevanje časa
Name[sr]=Синхронизација времена
Name[sr@Latn]=Sinhronizacija vremena
Name[sv]=Tidssynkronisering
Name[ta]=நேர ஒத்தியக்கம்
Name[tg]=Синхронизатсияи муддат
Name[tr]=Zaman Senkronizasyonu
Name[uk]=Синхронізація часу
Name[zh_CN]=时间同步
Name[zh_TW]=時刻同步化
Implemented=file
ServiceTypes=KPilotConduit
X-KDE-Library=conduit_time
