<?xml version="1.0"?>
<!DOCTYPE gui>
<gui name="csv_xxport" version="1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Menu name="file_import"><text>&amp;Import</text>
      <Action name="file_import_csv"/>
    </Menu>
    <Menu name="file_export"><text>&amp;Export</text>
      <Action name="file_export_csv"/>
    </Menu>
  </Menu>
</MenuBar>
</gui>
