[Desktop Entry]
X-KDE-Library=kaddrbk_csv_xxport
Name=KAB CSV XXPort Plugin
Name[af]=KAB CSV XXPort inprop module
Name[br]=Lugent XXPorzh CSV KAB
Name[ca]=Connector d'importació/exportació CSV per al KAB
Name[cs]=Exportní modul CSV
Name[cy]=Ategyn XXPort CSV KAB
Name[da]=KAB CSV XXPort-plugin
Name[de]=CSV-Modul für das Adressbuch
Name[el]=Πρόσθετο εισαγωγής/εξαγωγής CSV του KAB
Name[es]=Complemento de KAB de importación y exportación de CSV
Name[et]=KAB CSV eksport/importplugin
Name[eu]=KAB-en CSV in/esportazioa plugin-a
Name[fa]=وصلۀ KAB CSV XXPort
Name[fi]=KAB CSV -liitännäinen
Name[fr]=Module d'import / export CSV pour KAB
Name[ga]=Breiseán Iompórtála/Easpórtála CSV le haghaidh KAB
Name[gl]=Engadido XXPort de CSV para KAB
Name[he]=תוסף ייבוא/ייצוא של קבצי CSV של KAB
Name[hu]=KAB XXPort bővítőmodul
Name[is]=Íforrit fyrir KAV CSV XXPort
Name[ja]=KAB CSV インポート/エクスポートプラグイン
Name[ka]=KAB CSV ექსპორტის მოდული
Name[kk]=CSV файлды экспорт/импорт ету
Name[km]=កម្មវិធី​ជំនួយ KAB CSV XXPort
Name[ko]=KAB CSV 주고받기 플러그인
Name[lt]=KAB CSV XXPort priedas
Name[lv]=KAB CSV XXPort spraudnis
Name[ms]=Plug masuk KAB CSV XXPort
Name[nb]=KAB-programtillegg for CSV-eksport
Name[nds]=CSV-Im-/Exportmoduul för KAdressbook
Name[ne]=KAB CSV XXPort प्लगइन
Name[nn]=XXPort-programtillegg for KAB CSV
Name[pl]=Wtyczka KAB do importu/eksportu z/do formatu CSV
Name[pt]='Plugin' XXPort para CSV do KAB
Name[pt_BR]=Plug-in do KAB para importação/exportação de CSV
Name[ru]=Экспорт/импорт в файлы CSV
Name[sl]=Vstavek KAB CSV XXPort
Name[sv]=Adressbokens CSV-överföringsinsticksprogram
Name[ta]=KAB CSV ஏற்றுமதி சொருகுப்பொருள்
Name[tg]=Содирот/воридот ба файлҳои CSV
Name[tr]=KAB CSV XXPort Eklentisi
Name[uk]=Втулок KAB для обміну через CSV
Name[x-test]=xxKAB CSV XXPort Pluginxx
Name[zh_CN]=KAB CSV XXPort 插件
Name[zh_TW]=KAB CSV XXPort 外掛程式
Comment=Plugin to import and export contacts in CSV format
Comment[af]=Inprop module wat kontakte in CSV formaat invoer en uitvoer
Comment[bg]=Приставка за импортиране/експортиране на контактите във формат CSV
Comment[ca]=Connector per a importar i exportar contactes en format CSV
Comment[cs]=Modul pro import a export kontaktů ve formátu CSV
Comment[cy]=Ategyn i fewnforio ac allforio cysylltau mewn fformat CSV
Comment[da]=Plugin til at importere og eksportere kontakter i CSV-format
Comment[de]=Modul zum Import/Export von Kontakten im CSV-Format
Comment[el]=Πρόσθετο για εισαγωγή και εξαγωγή των επαφών μορφής CSV
Comment[es]=Complemento para importar y exportar contactos en formato CSV
Comment[et]=Plugin kontaktide importimiseks ja eksportimiseks CSV-vormingus
Comment[eu]=CSV formatuan kontaktuak esportatu eta inportatzeko plugin-a
Comment[fa]=وصله برای واردات و صادرات تماسها در قالب CSV
Comment[fi]=Liitännäinen yhteystietojen vientiin ja tuontiin CSV-muodossa
Comment[fr]=Module d'import / export de contacts au format CSV
Comment[fy]=Comment=Plugin foar it ymportearjen en eksportearjen fan kontaktpersoanen yn CSV-formaat
Comment[ga]=Breiseán a iompórtálann agus easpórtálann teagmhálacha i bhformáid CSV
Comment[gl]=Engadido para importar e exportar contactos no formato CSV
Comment[hu]=Bővítőmodul névjegyek importálásához/exportálásához, CSV formátumban
Comment[is]=Íforrit til að flytja tengiliði inn og út í CSV sniði
Comment[it]=Plugin per importare ed esportare contatti in formato CSV
Comment[ja]=CSV フォーマットで連絡先をインポート/エクスポートするプラグイン
Comment[ka]=კონტაქტების  CSV ფორმატით იმპორტ/ექსპორტის მოდული
Comment[kk]=Контакттарды CSV пішіміне экспорт/импорт ету модулі
Comment[km]=កម្មវិធី ជំនួយ​ដើម្បី​នាំចូល និង នាំចេញ​ទំនាក់ទំនង​ក្នុង​ទ្រង់ទ្រាយ​ជា CSV ។
Comment[ko]=CSV 형식으로 연락처를 가져오고 내보내는 플러그인
Comment[lt]=Priedas, skirtas kontaktų eksportui ir importui CSV formatu
Comment[lv]=Spraudnis kontaktu importam un eksportam CSV formātā
Comment[mk]=Приклучок за внесување и изнесување контакти во CSV-формат
Comment[ms]=Plug masuk untuk import dan eksport alamat perhubungan di dalam format CSV
Comment[nb]=Programtillegg for import/eksport av kontakter i CSV-format
Comment[nds]=Moduul för't Im- un Exporteren vun Kontakten in't CSV-Formaat
Comment[ne]=CSV ढाँचाका सम्पर्क आयात र निर्यात गर्ने प्लगइन
Comment[nl]=Plugin voor het importeren en exporteren van contactpersonen in CSV-formaat
Comment[nn]=Programtillegg for å importera og eksportera kontaktar i CSV-formatet
Comment[pl]=Wtyczka do importowania i eksportowania wizytówek w formacie CSV
Comment[pt]=Um 'plugin' para importar e exportar contactos no formato CSV
Comment[pt_BR]=Plug-in para importar e exportar contatos em formato CSV
Comment[ru]=Импорт и экспорт контактов в формате CSV
Comment[sk]=Modul pre import a export kontaktov vo formáte CSV
Comment[sl]=Vstavek za uvoz in izvoz stikov v obliki CSV
Comment[sv]=Insticksprogram för import och export av kontakter med CSV-format
Comment[ta]=CSV வடிவத்தில் ஏற்றுமதி மற்றும் இறக்குமதி தொடர்புகளுக்கான சொருகுப்பொருள்
Comment[tg]=Модул барои воридот ва содироти алоқа ба формати CSV
Comment[tr]=CSV biçimindeki bağlantıları alma ve gönderme eklentisi
Comment[uk]=Втулок для імпорту та експорту контактів у форматі CSV
Comment[x-test]=xxPlugin to import and export contacts in CSV formatxx
Comment[zh_CN]=导入和导出 CSV 格式联系人的插件
Comment[zh_TW]=以 CSV 格式匯入與匯出聯絡人外掛程式
Type=Service
X-KDE-ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1
