[Desktop Entry]
X-KDE-Library=kaddrbk_gmx_xxport
Name=KAB GMX XXPort Plugin
Name[bg]=KAB CSV XXPort Plugin
Name[ca]=Connector d'importació/exportació GMX per al KAB
Name[cs]=Mdul KAB GMX XXPort
Name[da]=KAB GMX XXPort-plugin
Name[de]=GMX-Modul für das Adressbuch
Name[el]=Πρόσθετο GMX XXPort του KAB
Name[es]=Complemento de KAB de exportación e importación de GMX
Name[et]=KAB GMX eksport/importplugin
Name[fa]=وصلۀ KAB GMX XXPort
Name[fi]=KAB GMX XXPort -liitännäinen
Name[fr]=Module d'import / export KAB GMX
Name[ga]=Breiseán Iompórtála/Easpórtála GMX le haghaidh KAB
Name[gl]=Engadido KAB GMX XXPort 
Name[hu]=KAB GMX XXPort bővítmény
Name[it]=Estensione XXPort di KAB per GMX
Name[ja]=KAB GMX XXPort プラグイン
Name[kk]=GMX-қа экспорт/импорт ету
Name[km]=កម្មវិធីជំនួយ​ KAB GMX XXPort
Name[ko]=KAB GMX 주고받기 플러그인
Name[lt]=KAB GMX XXPort įskiepis
Name[lv]=KAB GMX XXPort spraudnis
Name[nb]=KAB-programtillegg for GMX-eksport
Name[nds]=KAB-gmx-Im-/Exportmoduul
Name[ne]=KAB GMX XXPort प्लगइन
Name[nn]=XXPort-programtillegg for KAB GMX 
Name[pa]=KAB GMX XX-ਪੋਰਟ ਪਲੱਗਇਨ
Name[pl]=Wtyczka KAB GMX XXPort
Name[pt]='Plugin' XXPort para CSV do KAB
Name[pt_BR]=Plug-in do KAB para importação/exportação do GMX
Name[ru]=Поддержка формата GMX
Name[sl]=Vstavek KAB GMX XXPort
Name[sv]=Adressbokens GMX-överföringsinsticksprogram
Name[tr]=KAB GMX XXPort Eklentisi
Name[uk]=Втулка KAB GMX XXPort
Name[x-test]=xxKAB GMX XXPort Pluginxx
Name[zh_CN]=KAB GMX XXPort 插件
Name[zh_TW]=KAB GMX XXPort 外掛程式
Comment=Plugin to import and export contacts in GMX's address book format
Comment[ca]=Connector per a importar i exportar contactes en el format de llibreta d'adreces GMX
Comment[cs]=Modul pro import a export kontaktů ve formátu GMX
Comment[da]=Plugin til import og eksport af kontakter i GMX' adressebogsformat
Comment[de]=Modul für Import/Export von Kontakten im GMX-Adressbuchformat
Comment[el]=Πρόσθετο για εισαγωγή και εξαγωγή επαφών μορφής GMX
Comment[es]=Complemento para importar y exportar contactos en el formato de libreta de direcciones de GMX
Comment[et]=Plugin kontaktide importimiseks ja eksportimiseks GMX aadressiraamatu vormingus
Comment[fr]=Module d'import / export de contacts au format GMX
Comment[ga]=Breiseán a iompórtálann agus easpórtálann teagmhálacha i bhformáid leabhair seoltaí GMX
Comment[gl]=Engadido para importar e exportar contactos en formato de caderno de enderezos GMX
Comment[it]=Estensione per importare ed esportare contatti nel formato della rubrica di GMX
Comment[ja]=GMX アドレス帳のフォーマットで連絡先をインポート/エクスポートするプラグイン
Comment[km]=កម្មវិធីជំនួយ​ដែល​ត្រូវ​នាំចូល និង​នាំចេញ​ទំនាក់ទំនង​នៅ​ក្នុង​ទ្រង់ទ្រាយ​សៀវភៅ​អាសយដ្ឋានរបស់ GMX
Comment[lv]=Spraudnis kontaktu importam un eksportam GMX adressbook formātā
Comment[nb]=Programtillegg for import og eksport av kontakter i aressebokformatet til GMX
Comment[nds]=Moduul för't Im- un Exporteren vun Kontakten vun un na Gmx sien Adressbook-Formaat
Comment[nl]=Plugin voor het importeren en exporteren van contactpersonen in het adresboekformaat van GMX
Comment[nn]=Programtillegg for å importera og eksportera kontaktar i GMX-formatet
Comment[pt]=Um 'plugin' para importar e exportar os contactos no formato GMX
Comment[pt_BR]=Plug-in para importar e exportar contatos no formato de livro de endereços do GMX
Comment[sv]=Insticksprogram för import och export av kontakter med GMX-adressboksformat
Comment[tr]=GMX'in adres defteri biçimini içeriye ya da dışarıya aktarma eklentisi
Comment[uk]=Втулок для імпорту та експорту контактів у форматі адресних книг GMX
Comment[x-test]=xxPlugin to import and export contacts in GMX's address book formatxx
Comment[zh_CN]=导入和导出 GMX 地址簿格式联系人的插件
Comment[zh_TW]=匯入與匯出 GMX 通訊錄格式的外掛程式
Type=Service
X-KDE-ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1

