[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_gmx_xxport
Name=KAB GMX XXPort Plugin
Name[fr]=Module d'XXportation GMX KAB
Name[x-test]=xxKAB GMX XXPort Pluginxx
Comment=Plugin to import and export contacts in GMX's addressbook format
Comment[fr]=Module externe permettant d'importer et d'exporter des contacts avec le format du carnet d'adresses GMX
Comment[x-test]=xxPlugin to import and export contacts in GMX's addressbook formatxx
Type=Service
ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1

