[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_gmx_xxport
Name=KAB GMX XXPort Plugin
Name[es]=Plugin KAB GMX XXPort
Name[kk]=GMX-қа экспорт/импорт ету
Name[sv]=Adressbokens GMX-överföringsinsticksprogram
Name[x-test]=xxKAB GMX XXPort Pluginxx
Comment=Plugin to import and export contacts in GMX's addressbook format
Comment[es]=Plugin para importar y exportar contactos en formato de libreta de direcciones GMX
Comment[kk]=GMX контакттарды экспорт/импорт ету модулі
Comment[sv]=Insticksprogram för import och export av kontakter med GMX-adressboksformat
Comment[x-test]=xxPlugin to import and export contacts in GMX's addressbook formatxx
Type=Service
ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1

