[Desktop Entry]
X-KDE-Library=kaddrbk_gnokii_xxport
Name=KAB Mobile Phone XXPort Plugin
Name[de]=Mobiltelefon-Modul für das Adressbuch
Comment=Mobile Phone Plugin to Import and Export Addressbook Entries
Comment[de]=Mobiltelefon-Modul zum Import/Export von Adressbuch-Einträgen
Type=Service
X-KDE-ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1
