[Desktop Entry]
X-KDE-Library=kaddrbk_gnokii_xxport
Name=KAB Mobile Phone XXPort Plugin
Name[af]=KAB selfoon XXPort inprop module
Name[ca]=Connector d'importació/exportació de telèfon mòbil per a KAB
Name[cs]=Exportní modul do mobilního telefonu
Name[cy]=Ategyn XXPort Ffôn Symudol KAB
Name[da]=KAB Mobiltelefon XXPort-plugin
Name[de]=Mobiltelefon-Modul für das Adressbuch
Name[el]=Πρόσθετο εισαγωγής/εξαγωγής κινητών τηλεφώνων του KAB
Name[es]=Complemento de KAB de importación y exportación de teléfonos móviles
Name[et]=KAB mobiiltelefoni eksport/importplugin
Name[eu]=KAB-en mugikorren in/esporatazio plugin-a
Name[fa]=وصلۀ XXPort تلفن همراه KAB
Name[fi]=KAB-matkapuhelinliitännäinen
Name[fr]=Module d'import / export de téléphone portable pour KAB
Name[fy]=KAB Mobile Tillefoan XXPort-plugin
Name[gl]=Engadido XXPort de Teléfono Móbil para KAB
Name[he]=תוסף ייבוא/ייצוא עבור טלפונים ניידים של KAB
Name[hu]=KAB mobiltelefon XXPort bővítőmodul
Name[is]=Íforrit fyrir KAB farsíma XXPort
Name[it]=Plugin KAB telefono cellulare XXPort
Name[ja]=KAB 携帯電話インポート/エクスポートプラグイン
Name[ka]=KAB მობილურ ტელეფონთან ექსპორტის მოდული
Name[kk]=Қалта телефонға экспорт/импорт ету
Name[km]=កម្មវិធី​ជំនួយ KAB Mobile Phone XXPort
Name[ko]=KAB 휴대폰 주고받기 플러그인
Name[lt]=KAB mobilaus telefono XXPort priedas
Name[lv]=KAB mobilā telefona XXPort spraudnis
Name[ms]=Plug masuk KAB Fon Mudah Alih XXPort
Name[nb]=KAB-programtillegg for mobiltelefon
Name[nds]=Mobiltelefoon-Im-/Exportmoduul för KAdressbook
Name[ne]=KAB मोबाइल फोन XXPort प्लगइन
Name[nl]=KAB Mobiele Telefoon XXPort-plugin
Name[nn]=XXPort-programtillegg for KAB-mobiltelefon
Name[pl]=Wtyczka KAB do importu/eksportu z/do telefonu komórkowego
Name[pt]='Plugin' XXPort para Telemóveis do KAB
Name[pt_BR]=Plug-in de Im/Exportação de/para Telefone Celular do KAB
Name[ru]=Синхронизация с мобильным телефоном
Name[sk]=KAB modul pre xxport z mobilu
Name[sl]=Vstavek KAB Mobile Phone XXPort
Name[sv]=Adressbokens överföringsinsticksprogram för mobiltelefon
Name[ta]=KAB நடமாடும் தொலைபேசி XXபோர்ட் சொருகுப்பொருள்
Name[tg]=Синхронизатсия бо телефони мобилӣ
Name[tr]=KAB Cep Telefonu XXPort Eklentisi
Name[uk]=Втулок KAB для обміну з мобільними телефонами
Name[x-test]=xxKAB Mobile Phone XXPort Pluginxx
Name[zh_CN]=KAB 移动电话 XXPort 插件
Name[zh_TW]=KAB Mobile Phone XXPort 外掛程式
Comment=Mobile Phone Plugin to Import and Export Addressbook Entries
Comment[af]=Inprop module wat kontakte in selfoon formaat invoer en uitvoer
Comment[bg]=Приставка за експортиране/импортиране на контактите от/към мобилен телефон
Comment[ca]=Connector de telèfon mòbil per a importar i exportar entrades de la llibreta d'adreces
Comment[cs]=Modul mobilního telefonu pro import a export záznamů Knihy adres
Comment[cy]=Ategyn Ffôn Symudol i fewnforio ac allforio cofnodion y Llyfr Cyfeiriadau
Comment[da]=Mobiltelefon-plugin til at importere og eksportere adressebogsindgange
Comment[de]=Mobiltelefon-Modul zum Import/Export von Adressbuch-Einträgen
Comment[el]=Πρόσθετο για εισαγωγή και εξαγωγή επαφών βιβλίου διευθύνσεων από κινητά τηλέφωνα
Comment[es]=Complemento para importar y exportar contactos de la libreta de direcciones de teléfonos móviles
Comment[et]=Mobiiltelefoni plugin aadressiraamatu kirjete importimiseks ja eksportimiseks
Comment[eu]=Helbide-liburuko sarrerak in/esportatzeko mugikorren plugin-a
Comment[fa]=وصلۀ تلفن همراه جهت واردات و صادرات مدخلهای کتاب نشانی
Comment[fi]=Matkapuhelinliitännäinen osoitekirjan kontaktien tuontiin ja vientiin.
Comment[fr]=Module de téléphone portable pour importer et exporter des entrées du carnet d'adresses
Comment[fy]=Comment=Mobile-tillefoan-plugin faor it importearjen en eksportearjen fan adresboekitems
Comment[gl]=Engadido de Teléfono Móbil para importar e exportar entradas do caderno de enderezos
Comment[hu]=Mobiltelefonos bővítőmodul címbejegyzések importálásához/exportálásához
Comment[is]=Íforrit til að færa tengilið milli póstfangaskrár og farsíma
Comment[it]=Plugin per importare ed esportare voci della rubrica da un telefono cellulare
Comment[ja]=アドレス帳のエントリをインポート/エクスポートする携帯電話用プラグイン
Comment[ka]=მობილური ტელეფონის მოდული წიგნაკის ელემენტების იმპორტ/ექსპორტისათვის
Comment[kk]=Қалта телефонға адр. кітапша жазуын экспорт/импорт ету модулі
Comment[km]=កម្មវិធី​ជំនួយ​ទូរស័ព្ទ​ចល័ត​ដើម្បី​នាំចូល និង នាំចេញ​ធាតុ​សៀវភៅ​អាសយដ្ឋាន
Comment[ko]=주소록 항목을 휴대폰과 주고받는 플러그인
Comment[lt]=Priedas skirtas importuoti ir eksportuoti adresų knygelės įrašus į mobiliuosius telefonus
Comment[lv]=Spraudnis adrešu grāmatas ierakstu importam un eksportam uz mobilo telefonu
Comment[mk]=Приклучок за мобилни телефони за внесување и изнесување контакти од адресарот
Comment[ms]=Plug masuk Fon Mudah Alih untuk Import dan Eksport Input Buku Alamat
Comment[nb]=Programtillegg for import/eksport av adressebok fra/til mobiltelefon
Comment[nds]=Mobiltelefoon-Moduul för't Im- un Exporteren vun KAdressbook-Indrääg
Comment[ne]=ठेगाना पुस्तिका प्रविष्टि आयात र निर्यात गर्ने मोबाइल फोन प्लगइन
Comment[nl]=Mobiele-telefoon-plugin voor het importeren en exporteren van adresboekitems
Comment[nn]=Programtillegg for å importera og eksportera adressebokoppføringar i mobiltelefonar
Comment[pl]=Wtyczka do importowania i eksportowania wizytówek z/do telefonu komórkowego
Comment[pt]=Um 'plugin' para importar e exportar contactos da agenda do telemóvel
Comment[pt_BR]=Plug-in para Importar e Exportar Entradas do Livro de Endereços de/para Telefone Celular
Comment[ru]=Импорт и экспорт контактов мобильного телефона
Comment[sk]=Modul pre import a export kontaktov z modulu
Comment[sl]=Vstavek za uvoz in izvoz vnosov v adresarju prenosnih telefonov.
Comment[sv]=Insticksprogram för import och export av adressboksposter till mobiltelefon
Comment[ta]=முகவரி புத்தகத்தின் உள்ளிடுகளை ஏற்றுமதி மற்றும் இறக்குமதி செய்ய செல்பேசி மூலம் சொருகுப்பொருள்
Comment[tg]=Модул барои воридот ва содироти алоқаи телефони мобилӣ
Comment[tr]=Adres Defteri Girdilerini Cep Telefonuna Alma ve Gönderme Eklentisi
Comment[uk]=Втулок для імпорту та експорту записів у адресній книзі мобільних телефонів
Comment[x-test]=xxMobile Phone Plugin to Import and Export Addressbook Entriesxx
Comment[zh_CN]=导入和导出地址簿项的移动电话插件
Comment[zh_TW]=匯入與匯出通訊錄的手機外掛程式
Type=Service
X-KDE-ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1
