[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_gnokii_xxport
Name=KAB Mobile Phone XXPort Plugin
Name[ca]=Connector KAB per a (im)exportar cap al telèfon mòbil
Name[cs]=Exportní modul do mobilního telefonu
Name[da]=KAB Mobiltelefon XXPort-plugin
Name[de]=Mobiltelefon-XXPort-Plugin für Adressbuch
Name[el]=Πρόσθετο εισαγωγής/εξαγωγής κινητών τηλεφώνων του KAB
Name[es]=Plugin de KAB para {im,ex}portar números de móvil
Name[et]=KAB mobiiltelefoni eksport/importplugin
Name[fr]=Module d'import / export de téléphone portable pour KAB
Name[hu]=KAB mobiltelefon XXPort bővítőmodul
Name[it]=Plugin KAB telefono cellulare XXPort
Name[ms]=Plug masuk KAB Fon Mudah Alih XXPort
Name[nl]=KAB Mobiele Telefoon XXPort Plugin
Name[nn]=KAB Mobiltelefon XXPort programtillegg
Name[pt]='Plugin' XXPort para Telemóveis do KAB
Name[pt_BR]=Plug-in de Im/Exportação de/para Telefone Móvel do KAB
Name[ru]=Модуль KAB обмена информацией с мобильным телефоном
Name[sr]=XXPort додатак KAB-а за мобилне телефоне
Name[sv]=Adressbokens överföringsinsticksprogram för mobiltelefon
Name[tr]=KAB Cep Telefonu XXPort Eklentisi
Name[uk]=Втулок KAB для обміну з мобільними телефонами
Name[xx]=xxKAB Mobile Phone XXPort Pluginxx
Name[zh_CN]=KAB 移动电话 XXPort 插件
Comment=Mobile Phone Plugin to Import and Export Addressbook Entries
Comment[bg]=Приставка за експорт/импорт на контактите от/към мобилен телефон
Comment[ca]=Connector telèfon mòbil per a importar i exportar entrades de la Llibreta d'adreces
Comment[cs]=Modul mobilního telefonu pro import a export záznamů Knihy adres
Comment[da]=Mobiltelefon-plugin til at importere og eksportere adressbogsindgange
Comment[de]=Mobiltelefon-Plugin zum Import/Export von Adressbuch-Einträgen
Comment[el]=Πρόσθετο για εισαγωγή και εξαγωγή επαφών βιβλίου διευθύνσεων από κινητά τηλέφωνα
Comment[es]=Plugin para importar y exportar números de móviles de las entradas de la libreta de direcciones
Comment[et]=Mobiiltelefoni plugin aadressiraamatu kirjete importimiseks ja eksportimiseks
Comment[fr]=Module de téléphone portable pour importer et exporter des entrées du carnet d'adresses
Comment[hu]=Mobiltelefonos bővítőmodul címbejegyzések importálásához/exportálásához
Comment[it]=Plugin per importare ed esportare voci della rubrica da un telefono cellulare
Comment[ms]=Plug masuk Fon Mudah Alih untuk Import dan Eksport Input Buku Alamat
Comment[nl]=Mobiele-telefoon-plugin voor het importeren en exporteren van adresboekitems
Comment[nn]=Programtillegg for å importera og eksportera adressebokoppføringar i mobiltelefon
Comment[pt]=Um 'plugin' para importar e exportar contactos da agenda do telemóvel
Comment[pt_BR]=Plug-in para Importar e Exportar Entradas do Livro de Endereços de/para Telefone Móvel
Comment[ru]=Модуль для импорта и экспорта контактов мобильного телефона
Comment[sr]=Додатак за увоз и извоз ставки из адресара у мобилни телефон
Comment[sv]=Insticksprogram för import och export av adressboksposter till mobiltelefon
Comment[tr]=Adres Defteri Girdilerini Cep Telefonuna Alma ve Gönderme Eklentisi
Comment[uk]=Втулок для імпорту та експорту записів у адресній книзі мобільних телефонів
Comment[xx]=xxMobile Phone Plugin to Import and Export Addressbook Entriesxx
Comment[zh_CN]=导入和导出地址簿项的移动电话插件
Type=Service
ServiceTypes=KAddressBook/XXPort
