[Desktop Entry]
X-KDE-Library=kaddrbk_kde2_xxport
Name=KAB KDE2 XXPort Plugin
Name[de]=KDE2-Modul für das Adressbuch
Comment=Plugin to import the old KDE 2 address book
Comment[de]=Modul zum Import von Adressbüchern aus KDE 2
Type=Service
X-KDE-ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1
