[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_ldif_xxport
Name=KAB LDIF XXPort Plugin
Name[be]=Дапаўненьне KAB "Імпарт LDIF"
Name[ca]=Connector KAB per a (im)exportar LDIF
Name[cs]=Exportní modul LDIF
Name[da]=KAB LDIF XXPort-plugin
Name[de]=LDIF-XXPort-Plugin für Adressbuch
Name[el]=Πρόσθετο εισαγωγής/εξαγωγής LDIF του KAB
Name[es]=Plugin para {im,ex}portar LDIF
Name[et]=KAB LDIF eksport/importplugin
Name[fr]=Module d'import / export LDIF pour KAB
Name[hu]=KAB LDIF XXPort bővítőmodul
Name[ms]=Plug masuk KAB LDIF XXPort
Name[nn]=KAB LDIF XXPort programtillegg
Name[pt]='Plugin' XXPort para LDIF do KAB
Name[pt_BR]=Plug-in de Im/Exportação de LDIF do KAB
Name[ru]=Модуль KAB обмена информацией через LDIF
Name[sr]=XXPort додатак KAB-а за LDIF
Name[sv]=Adressbokens LDIF-överföringsinsticksprogram
Name[tr]=KAB LDIF XXPort Eklentisi
Name[uk]=Втулок KAB для обміну через LDIF
Name[xx]=xxKAB LDIF XXPort Pluginxx
Name[zh_CN]=KAB LDIF XXPort 插件
Comment=Plugin to import and export contacts in Netscape and Mozilla LDIF format
Comment[be]=Дапаўненьне для імпарту кантактаў у фармаце Netscape/Mozilla LDIF
Comment[bg]=Приставка за импорт/експорт на контактите във формат на Netscape и Mozilla (LDIF)
Comment[ca]=Connector per a importar i exportar contactes en el format LDIF de Mozilla i Netscape
Comment[cs]=Modul pro import a export kontaktů ve formátu Netscape a Mozilla LDIF
Comment[da]=Plugin til at importere og eksportere kontakter i Netscape og Mozilla LDIF-format
Comment[de]=Plugin zum Import/Export von Kontakten im LDIF-Format aus Netscape und Mozilla
Comment[el]=Πρόσθετο για εισαγωγή και εξαγωγή επαφών μορφής LDIF του Netscape και Mozilla
Comment[es]=Plugin para importar y exportar contactos en el formato de intercambio LDIF de Netscape y Mozilla
Comment[et]=Plugin kontaktide importimiseks ja ekportimiseks Netscape ja Mozilla LDIF vormingus
Comment[fr]=Module d'import / export des contacts au format LDIF Mozilla et Netscape
Comment[hu]=Bővítőmodul Netscape és Mozilla LDIF formátumú névjegyek importálásához/exportálásához
Comment[it]=Plugin per importare ed esportare contatti in formato Netscape e Mozilla LDIF 
Comment[ms]=Plug masuk untuk import dan eksport alamat perhubungan di dalam format LDIF Netscape dan Mozilla
Comment[nl]=Plugin voor het importeren en exporteren van contactpersonen in Netscape's en Mozilla's LDIF-formaat
Comment[nn]=Programtillegg for å importera og eksportera kontaktar i Netscape og Mozilla LDIF-format
Comment[pt]=Um 'plugin' para importar e exportar os contactos no formato LDIF do Netscape e do Mozilla
Comment[pt_BR]=Plug-in para importar e exportar contatos no formato LDIF do Netscape e Mozilla
Comment[ru]=Модуль для импорта и экспорта контактов через формат LDIF Netscape и Mozilla
Comment[sr]=Додатак за увоз и извоз контаката у Netscape и Mozilla LDIF формат
Comment[sv]=Insticksprogram för import och export av kontakter med Netscapes och Mozillas LDIF-format
Comment[tr]=Netscape ve Mozilla'nın LDIF biçimindeki bağlantılarını alma ve gönderme eklentisi
Comment[uk]=Втулок для імпорту та експорту контактів у LDIF сумісний з Netscape та Mozilla
Comment[xx]=xxPlugin to import and export contacts in Netscape and Mozilla LDIF formatxx
Comment[zh_CN]=导入和导出 Netscape 和 Mozilla LDIF 格式联系人的插件
Type=Service
ServiceTypes=KAddressBook/XXPort
