[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_ldif_xxport
Name=KAB LDIF XXPort Plugin
Name[af]=KAB LDIF XXPort inprop module
Name[br]=Lugent XXPorzh KAB LDIF
Name[ca]=Endollable per importació/exportació de LDIF per a KAB
Name[cs]=Exportní modul LDIF
Name[cy]=Ategyn XXPort LDIF KAB
Name[da]=KAB LDIF XXPort-plugin
Name[de]=LDIF-XXPort-Modul für Adressbuch
Name[el]=Πρόσθετο εισαγωγής/εξαγωγής LDIF του KAB
Name[es]=Plugin para {im,ex}portar LDIF
Name[et]=KAB LDIF eksport/importplugin
Name[eu]=KAB-en LDIF in/esportazio plugin-a
Name[fa]=وصلۀ KAB LDIF XXPort
Name[fi]=KAB LDIF -liitännäinen
Name[fr]=Module d'import / export LDIF pour KAB
Name[gl]=Extensión XXPort de LDIF para KAB
Name[he]=תוסף ייבוא/ייצוא עבור LDIF של KAB
Name[hu]=KAB LDIF XXPort bővítőmodul
Name[is]=Íforrit fyrir KAB LDIF XXPort
Name[ja]=KAB LDIF インポート/エクスポートプラグイン
Name[ka]=KAB LDIF-ის ექსპორტის მოდული
Name[kk]=LDIF пішіміне экспорт/импорт ету
Name[km]=កម្មវិធី​ជំនួយ KAB LDIF XXPort
Name[lt]=KAB LDIF XXPort priedas
Name[ms]=Plug masuk KAB LDIF XXPort
Name[nb]=KAB-programtillegg for LDIF-format
Name[nds]=LDIF-Im-/Exportmoduul för KAdressbook
Name[ne]=KAB LDIF XXPort प्लगइन
Name[nl]=KAB LDIF XXPort-plugin
Name[nn]=KAB LDIF XXPort programtillegg
Name[pa]=KAB LDIF XXPort ਪਲੱਗਇਨ
Name[pl]=Wtyczka KAB do importu/eksportu z/do formatu LDIF
Name[pt]='Plugin' XXPort para LDIF do KAB
Name[pt_BR]=Plug-in de Im/Exportação de LDIF do KAB
Name[ru]=Обмен информацией через LDIF
Name[sl]=Vstavek KAB LDIF XXPort
Name[sr]=XXPort прикључак KAB-а за LDIF
Name[sr@latin]=XXPort priključak KAB-a za LDIF
Name[sv]=Adressbokens LDIF-överföringsinsticksprogram
Name[ta]=KAB LDIF சோதனை சொருகுப்பொருள்
Name[tg]=Мубодилаи иттилоот аз KDE2
Name[tr]=KAB LDIF XXPort Eklentisi
Name[uk]=Втулок KAB для обміну через LDIF
Name[x-test]=xxKAB LDIF XXPort Pluginxx
Name[zh_TW]=KAB LDIF XXPort 外掛程式
Comment=Plugin to import and export contacts in Netscape and Mozilla LDIF format
Comment[af]=Inprop module wat kontakte in Netscape/Mozilla LDIF formaat invoer en uitvoer
Comment[ca]=Endollable per a importar i exportar contactes en el format LDIF de Mozilla i Netscape
Comment[cs]=Modul pro import a export kontaktů ve formátu Netscape a Mozilla LDIF
Comment[cy]=Ategyn i fewnforio ac allforio cysylltau yn fformat LDIF Netscape a Mozilla
Comment[da]=Plugin til at importere og eksportere kontakter i Netscape og Mozilla LDIF-format
Comment[de]=Modul zum Import/Export von Kontakten im LDIF-Format aus Netscape und Mozilla
Comment[el]=Πρόσθετο για εισαγωγή και εξαγωγή επαφών μορφής LDIF του Netscape και Mozilla
Comment[es]=Plugin para importar y exportar contactos en el formato de intercambio LDIF de Netscape y Mozilla
Comment[et]=Plugin kontaktide importimiseks ja ekportimiseks Netscape ja Mozilla LDIF vormingus
Comment[eu]=Netscape eta Mozilla-ren LDIF formatuan kontaktuak in/esportatzeko plugin-a
Comment[fa]=وصله برای واردات و صادرات تماسها در قالب LDIF موزیلا و نت‌اسکیپ
Comment[fi]=Liitännäinen Netscapen ja Mozillan LDIF-muodon kontaktien tuontiin ja vientiin
Comment[fr]=Module d'import / export des contacts au format LDIF Mozilla et Netscape
Comment[gl]=Extensión para importar e exportar contactos en formato LDIF de Netscape e Mozilla
Comment[hu]=Bővítőmodul Netscape és Mozilla LDIF formátumú névjegyek importálásához/exportálásához
Comment[is]=Íforrit sem flytur flytja inn eða út tengiliði í Netscape og Mozilla LDIF sniði
Comment[it]=Plugin per importare ed esportare contatti in formato Netscape e Mozilla LDIF 
Comment[ja]=Netscape と Mozilla の LDIF フォーマットで連絡先をインポート/エクスポートするプラグイン
Comment[ka]= Netscape-სა და  Mozilla-ს კონტაქტების იმპორტ/ექსპორტის მოდული LDIF ფორმატით
Comment[kk]=Netscape пен Mozilla LDIF пішіміне экспорт/импорт ету модулі
Comment[km]=កម្មវិធី​ជំនួយ​ដើម្បី​នាំចូល និង នាំចេញ​ទំនាក់ទំនង​ក្នុង​ទ្រង់ទ្រាយ​ជា Netscape និង Mozilla LDIF
Comment[lt]=Priedas, skirtas kontaktų importavimui ir eksportavimui Netscape ir Mozilla LDIFF formatu
Comment[mk]=Приклучок за внесување и изнесување контакти во форматите на Netscape и Mozilla LDIF
Comment[ms]=Plug masuk untuk import dan eksport alamat perhubungan di dalam format LDIF Netscape dan Mozilla
Comment[nb]=Programtillegg for import/eksport av kontakter i Netscape og Mozillas LDIF-format
Comment[nds]=Moduul för't Im- un Exporteren vun Kontakten in't LDIF-Formaat vun Netscape und Mozilla
Comment[ne]=नेटस्क्येप र मोजिला LDIF ढाँचामा आयात निर्यात गर्न प्लगइन गर्नुहोस्
Comment[nl]=Plugin voor het importeren en exporteren van contactpersonen in Netscape's en Mozilla's LDIF-formaat
Comment[nn]=Programtillegg for å importera og eksportera kontaktar i Netscape og Mozilla LDIF-format
Comment[pl]=Wtyczka do importowania i eksportowania wizytówek z/do formatu LDIF używanego przez Mozillę i Netscape'a
Comment[pt]=Um 'plugin' para importar e exportar os contactos no formato LDIF do Netscape e do Mozilla
Comment[pt_BR]=Plug-in para importar e exportar contatos no formato LDIF do Netscape e Mozilla
Comment[ru]=Импорт и экспорт контактов через формат LDIF Netscape и Mozilla
Comment[sl]=Vstavek za uvoz in izvoz stikov v obliki LDIF (Netscape in Mozilla)
Comment[sr]=Прикључак за увоз и извоз контаката у Netscape и Mozilla LDIF формат
Comment[sr@latin]=Priključak za uvoz i izvoz kontakata u Netscape i Mozilla LDIF format
Comment[sv]=Insticksprogram för import och export av kontakter med Netscapes och Mozillas LDIF-format
Comment[ta]=நெட்ஸ்கேப் மற்றும் மொசில்லா LDIF வடிவமைப்பை ஏற்றுமதி/இறக்குமதியில் தொடர்புக்கொள்ள சொருகுப்பொருள்
Comment[tg]=Модул барои воридот ва содироти алоқа аз формати LDIF Netscape ва Mozilla
Comment[tr]=Netscape ve Mozilla'nın LDIF biçimindeki bağlantılarını alma ve gönderme eklentisi
Comment[uk]=Втулок для імпорту та експорту контактів у LDIF сумісний з Netscape та Mozilla
Comment[x-test]=xxPlugin to import and export contacts in Netscape and Mozilla LDIF formatxx
Comment[zh_TW]=匯入與匯出 Netscape 與 Mozilla LDIF 格式聯絡人的外掛程式
Type=Service
ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1
