[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_ldif_xxport
Name=KAB LDIF XXPort Plugin
Name[be]=Дапаўненьне KAB "Імпарт LDIF"
Name[bs]=KAB dodatak za LDIF XXPort
Name[ca]=Endollable per importació/exportació de LDIF per a KAB
Name[cs]=Exportní modul LDIF
Name[cy]=Ategyn XXPort LDIF KAB
Name[da]=KAB LDIF XXPort-plugin
Name[de]=LDIF-XXPort-Plugin für Adressbuch
Name[el]=Πρόσθετο εισαγωγής/εξαγωγής LDIF του KAB
Name[es]=Plugin para {im,ex}portar LDIF
Name[et]=KAB LDIF eksport/importplugin
Name[fi]=KAB LDIF liitännäinen
Name[fr]=Module d'import / export LDIF pour KAB
Name[hi]=केएबी एलडीआईएफ XXपोर्ट प्लगइन
Name[hu]=KAB LDIF XXPort bővítőmodul
Name[is]=Íforrit fyrir KAB LDIF XXPort
Name[ja]=KAB LDIF インポート/エクスポートプラグイン
Name[ms]=Plug masuk KAB LDIF XXPort
Name[nb]=KAB-programtillegg for LDIF-format
Name[nl]=KAB LDIF XXPort-plugin
Name[nn]=KAB LDIF XXPort programtillegg
Name[pl]=Wtyczka KAB do importu/eksportu z/do formatu LDIF
Name[pt]='Plugin' XXPort para LDIF do KAB
Name[pt_BR]=Plug-in de Im/Exportação de LDIF do KAB
Name[ru]=Обмен информацией через LDIF
Name[sk]=KAB modul pre xxport LDIF
Name[sl]=Vstavek KAB LDIF XXPort
Name[sr]=XXPort прикључак KAB-а за LDIF
Name[sr@Latn]=XXPort dodatak KAB-a za LDIF
Name[sv]=Adressbokens LDIF-överföringsinsticksprogram
Name[ta]=KAB LDIF சோதனை சொருகுப்பொருள்
Name[tg]=Мубодилаи иттилоот аз KDE2
Name[tr]=KAB LDIF XXPort Eklentisi
Name[uk]=Втулок KAB для обміну через LDIF
Name[xx]=xxKAB LDIF XXPort Pluginxx
Name[zh_CN]=KAB LDIF XXPort 插件
Comment=Plugin to import and export contacts in Netscape and Mozilla LDIF format
Comment[be]=Дапаўненьне для імпарту кантактаў у фармаце Netscape/Mozilla LDIF
Comment[bg]=Приставка за импорт/експорт на контактите във формат на Netscape и Mozilla (LDIF)
Comment[bs]=Dodatak za uvoz i izvoz kontakata iz LDIF formata koji koriste Netscape i Mozilla
Comment[ca]=Endollable per a importar i exportar contactes en el format LDIF de Mozilla i Netscape
Comment[cs]=Modul pro import a export kontaktů ve formátu Netscape a Mozilla LDIF
Comment[cy]=Ategyn i fewnforio ac allforio cysylltau yn fformat LDIF Netscape a Mozilla
Comment[da]=Plugin til at importere og eksportere kontakter i Netscape og Mozilla LDIF-format
Comment[de]=Plugin zum Import/Export von Kontakten im LDIF-Format aus Netscape und Mozilla
Comment[el]=Πρόσθετο για εισαγωγή και εξαγωγή επαφών μορφής LDIF του Netscape και Mozilla
Comment[es]=Plugin para importar y exportar contactos en el formato de intercambio LDIF de Netscape y Mozilla
Comment[et]=Plugin kontaktide importimiseks ja ekportimiseks Netscape ja Mozilla LDIF vormingus
Comment[fi]=Liitännäinen Netscapen ja Mozillan LDIF-muodon kontaktien tuontiin ja vientiin
Comment[fr]=Module d'import / export des contacts au format LDIF Mozilla et Netscape
Comment[hi]=नेटस्केप तथा मोजिला एलडीआईएफ फार्मेट में सम्पर्कों को आयात और निर्यात करने का प्लगइन
Comment[hu]=Bővítőmodul Netscape és Mozilla LDIF formátumú névjegyek importálásához/exportálásához
Comment[is]=Íforrit sem flytur flytja inn eða út tengiliði í Netscape og Mozilla LDIF sniði
Comment[it]=Plugin per importare ed esportare contatti in formato Netscape e Mozilla LDIF 
Comment[ja]=Netscape 並びに Mozilla の LDIF フォーマットによるコンタクトのインポート 及びエクスポート用プラグイン
Comment[ms]=Plug masuk untuk import dan eksport alamat perhubungan di dalam format LDIF Netscape dan Mozilla
Comment[nb]=Tilleggsprogram for import/eksport av kontakter i Netscape og Mozillas LDIF-format
Comment[nl]=Plugin voor het importeren en exporteren van contactpersonen in Netscape's en Mozilla's LDIF-formaat
Comment[nn]=Programtillegg for å importera og eksportera kontaktar i Netscape og Mozilla LDIF-format
Comment[pl]=Wtyczka do importowania i eksportowania wizytówek z/do formatu LDIF używanego przez Mozillę i Netscape'a.
Comment[pt]=Um 'plugin' para importar e exportar os contactos no formato LDIF do Netscape e do Mozilla
Comment[pt_BR]=Plug-in para importar e exportar contatos no formato LDIF do Netscape e Mozilla
Comment[ru]=Модуль для импорта и экспорта контактов через формат LDIF Netscape и Mozilla
Comment[sk]=Modul pre import a export kontaktov z Netscape a Mozilla formátu LDIF
Comment[sl]=Vstavek za uvoz in izvoz stikov v obliki LDIF (Netscape in Mozilla)
Comment[sr]=Прикључак за увоз и извоз контаката у Netscape и Mozilla LDIF формат
Comment[sr@Latn]=Dodatak za uvoz i izvoz kontakata u Netscape i Mozilla LDIF format
Comment[sv]=Insticksprogram för import och export av kontakter med Netscapes och Mozillas LDIF-format
Comment[ta]=நெட்ஸ்கேப் மற்றும் மொசில்லா LDIF வடிவமைப்பை ஏற்றுமதி/இறக்குமதியில் தொடர்புக்கொள்ள சொருகுப்பொருள்
Comment[tg]=Модул барои воридот ва содироти алоқа аз формати LDIF Netscape ва Mozilla
Comment[tr]=Netscape ve Mozilla'nın LDIF biçimindeki bağlantılarını alma ve gönderme eklentisi
Comment[uk]=Втулок для імпорту та експорту контактів у LDIF сумісний з Netscape та Mozilla
Comment[xx]=xxPlugin to import and export contacts in Netscape and Mozilla LDIF formatxx
Comment[zh_CN]=导入和导出 Netscape 和 Mozilla LDIF 格式联系人的插件
Type=Service
ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1
