[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_opera_xxport
Name=KAB Opera XXPort Plugin
Name[be]=Дапаўненьне KAB "Імпарт Opera"
Name[bs]=KAB dodatak za Opera XXPort
Name[ca]=Connector KAB per a importar des d'Opera
Name[cs]=Exportní modul do Opery
Name[cy]=Ategyn XXPort Opera KAB
Name[da]=KAB Opera XXPort-plugin
Name[de]=Opera-XXPort-Plugin für Adressbuch
Name[el]=Πρόσθετο εισαγωγής Opera του KAB
Name[es]=Plugin KAB para {im,ex}portar Opera
Name[et]=KAB Opera importplugin
Name[fi]=KAB Opera liitännäinen
Name[fr]=Module d'import / export Opera pour KAB
Name[hi]=केएबी ऑपेरा XXपोर्ट प्लगइन
Name[hu]=KAB Opera XXPort bővítőmodul
Name[is]=Íforrit fyrir KAP Opera XXPort
Name[ja]=KAB Opera インポート/エクスポートプラグイン
Name[nb]=KAB-programtillegg for Opera
Name[nn]=KAB Opera XXPort programtillegg
Name[pl]=Wtyczka KAB do importu z Opery
Name[pt]='Plugin' XXPort para Opera do KAB
Name[pt_BR]=Plug-in de Importação de Opera do KAB
Name[ru]=Обмен информацией с Opera
Name[sk]=KAB modul pre xxport z Opera
Name[sl]=Vstavek KAB Opera XXPort
Name[sr]=XXPort прикључак KAB-а за Opera-у
Name[sr@Latn]=XXPort dodatak KAB-a za Opera-u
Name[sv]=AdressbokensOpera-överföringsinsticksprogram
Name[ta]=KAB ஓப்பெரா ஏற்றுமதி சொருகுப்பொருள்
Name[tg]=Мубодилаи иттилоот бо Opera
Name[tr]=KAB Opera XXPort Eklentisi
Name[uk]=Name=Втулок KAB для обміну з Opera
Name[xx]=xxKAB Opera XXPort Pluginxx
Name[zh_CN]=KAB Opera XXPort 插件
Comment=Plugin to import Opera contacts
Comment[be]=Дапаўненьне для імпарту кантактаў Opera
Comment[bg]=Приставка за импорт на контактите от Опера
Comment[bs]=Dodatak za uvoz kontakata iz Opere
Comment[ca]=Connector per a importar contactes des d'Opera
Comment[cs]=Modul pro import a export kontaktů programu Opera
Comment[cy]=Ategyn i fewnforio cysylltau Opera
Comment[da]=Plugin til at importere Opera-kontakter
Comment[de]=Plugin zum Import von Opera-Kontakten
Comment[el]=Πρόσθετο για εισαγωγή επαφών του Opera
Comment[es]=Plugin para importar contactos de Opera
Comment[et]=Plugin Opera kontaktide importimiseks
Comment[fi]=Liitännäinen Operan kontaktien tuomiseen
Comment[fr]=Module d'import de contacts Opera
Comment[hi]=ऑपेरा सम्पर्कों को आयात करने का प्लगइन
Comment[hu]=Bővítőmodul Opera névjegyek importálásához
Comment[is]=Íforrit til flytja inn eða út Opera tengiliði
Comment[it]=Plugin per importare contatti da Opera
Comment[ja]=Opera コンタクトのインポートプラグイン
Comment[ms]=Plug masuk untuk import alamat perhubungan Opera
Comment[nb]=Tilleggsprogram for å importere Opera-kontakter
Comment[nl]=Plugin voor het importeren an Opera's contactpersonen
Comment[nn]=Programtillegg for å imortera Opera-kontaktar
Comment[pl]=Wtyczka do importu wizytówek z Opery
Comment[pt]=Um 'plugin' para importar os contactos do Opera
Comment[pt_BR]=Plug-in para importar contatos do Opera
Comment[ru]=Модуль для импорта контактов Opera
Comment[sk]=Plugin pre import kontaktov z Opera
Comment[sl]=Vstavek za uvoz stikov iz Opere
Comment[sr]=Прикључак за увоз Opera контаката
Comment[sr@Latn]=Dodatak za uvoz Opera kontakata
Comment[sv]=Insticksprogram för import av Opera-kontakter
Comment[ta]=ஓப்பெரா தொடர்புகளை இறக்குமதி செய்ய சொருகுப்பொருள்
Comment[tg]=Модул барои воридоти алоқаи Opera
Comment[tr]=Opera bağlantılarını alma eklentisi
Comment[uk]=Втулок для імпорту контактів Opera
Comment[xx]=xxPlugin to import Opera contactsxx
Comment[zh_CN]=导入 Opera 联系人的插件
Type=Service
ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1
