[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkaddrbk_vcard_xxport
Name=KAB vCard XXPort Plugin
Name[be]=Дапаўненьне KAB "Імпарт/Экспарт vCard"
Name[bs]=KAB dodatak za vCard XXPort
Name[ca]=Connector KAB per a (im)exportar vCard
Name[cs]=Exportní modul vCard
Name[cy]=Ategyn XXPort vCard KAB
Name[da]=KAB vCard XXPort-plugin
Name[de]=vCard-XXPort-Plugin für Adressbuch
Name[el]=Πρόσθετο εισαγωγής/εξαγωγής vCard του KAB
Name[es]=Plugin KAB para {im,ex}portar vCard
Name[et]=KAB vCardi eksport/importplugin
Name[fi]=KAB vCard liitännäinen
Name[fr]=Module d'import / export vCard pour KAB
Name[hi]=केएबी वी-कार्डXXपोर्ट प्लगइन
Name[hu]=KAB vCard XXPort bővítőmodul
Name[is]=Íforrit fyrir KAB vCard XXPort
Name[ja]=KAB vCazrd インポート/エクスポートプラグイン
Name[nb]=KAB-programtillegg for vCard
Name[nl]=KAB vCard XXPort-plugin
Name[nn]=KAB vCard XXPort programtillegg
Name[pl]=Wtyczka KAB do importu/eksportu z/do formatu vCard
Name[pt]='Plugin' XXPort para vCard do KAB
Name[pt_BR]=Plugin de Im/Exportação de vCard do KAB
Name[ru]=Работа с vCard
Name[sk]=KAB modul pre xxport z vCard
Name[sl]=Vstavek KAB vCard XXPort
Name[sr]=XXPort прикључак KAB-а за vCard
Name[sr@Latn]=XXPort dodatak KAB-a za vCard
Name[sv]=Adressbokens vCard-överföringsinsticksprogram
Name[ta]=kab vஅட்டைxxபோர்ட் சொருகுப்பொருள்
Name[tg]=Кор бо vCard
Name[tr]=KAB vCard XXPort Eklentisi
Name[uk]=Втулок KAB для обміну через vCard
Name[xx]=xxKAB vCard XXPort Pluginxx
Name[zh_CN]=KAB vCard XXPort 插件
Comment=Plugin to import and export contacts in vCard format
Comment[be]=Дапаўненьне для імпарту і экспарту кантактаў у фармаце vCard
Comment[bg]=Приставка за експорт/импорт на контактите във формат на vCard
Comment[bs]=Dodatak za uvoz i izvoz kontakata u vCard formatu
Comment[ca]=Connector per a importar i exportar contactes en el format vCard
Comment[cs]=Modul pro import a export kontaktů ve formátu vCard
Comment[cy]=Ategyn i fewnforio ac allforio cysylltau yn fformat vCard
Comment[da]=Plugin til at importere og eksportere kontakter i vCard-format
Comment[de]=Plugin für Import/Export von Kontakten im vCard-Format
Comment[el]=Πρόσθετο για εισαγωγή και εξαγωγή επαφών μορφής vCard
Comment[es]=Plugin para importar y exportar contactos en formato vCard
Comment[et]=Plugin kontaktide importimiseks ja eksportimiseks vCardi vormingus
Comment[fi]=Sovelma vCard muodossa olevien kontaktien tuontiin ja vientiin
Comment[fr]=Module d'import / export de contacts au format vCard
Comment[gl]=Plugin para importar e exportar contactos en formato vCard
Comment[hi]=सम्पर्कों को वी-कार्ड फार्मेट में आयात और निर्यात करने का प्लगइन
Comment[hu]=Bővítőmodul vCard névjegyek importálásához/exportálásához
Comment[is]=Íforrit til að flytja inn eða út tengiliði í vCard sniði
Comment[it]=Plugin per importare ed esportare contatti in formato vCard
Comment[ja]=vCard フォーマットによるコンタクトのインポート及びエクスポートプラグイン
Comment[nb]=Tilleggsprogram for import og eksport av kontakter i vCard-format
Comment[nl]=Plugin voor het importeren en exporteren van contactpersonen in vCard-formaat
Comment[nn]=Programtillegg for å importera og eksportera kontaktar i vCard-format
Comment[pl]=Wtyczka do importu i eksportu wizytówek w formacie vCard
Comment[pt]=Um 'plugin' para importar e exportar os contactos no formato vCard
Comment[pt_BR]=Plug-in para importar e exportar contatos no formato vCard
Comment[ru]=Модуль для импорта и экспорта контактов в формате vCard
Comment[sk]=Plugin pre import a export kontaktov v vCard formáte
Comment[sl]=Vstavek za uvoz in izvoz stikov v obliki vCard
Comment[sr]=Прикључак за увоз и извоз контаката у vCard формат
Comment[sr@Latn]=Dodatak za uvoz i izvoz kontakata u vCard format
Comment[sv]=Insticksprogram för import och export av kontakter med vCard-format
Comment[ta]=ஏற்றுமதி மற்றும் இறக்குமதி தொடர்புகளை vஅட்டை வடிவமைப்பில் செலுத்த சொருகுப்பொருள்
Comment[tg]=Модул барои воридот ва содироти алоқот ба формати vCard
Comment[tr]=vCard biçimi bağlantıları alma ve gönderme eklentisi
Comment[uk]=Втулок для імпорту та експорту контактів у форматі vCard
Comment[xx]=xxPlugin to import and export contacts in vCard formatxx
Comment[zh_CN]=导入和导出 vCard 格式联系人的插件
Type=Service
ServiceTypes=KAddressBook/XXPort
X-KDE-KAddressBook-XXPortPluginVersion=1
