[Desktop Entry]
Type=Service
Comment=This conduit syncs the handheld keyring database with a database stored on the pc.
Comment[de]=Abgleich der Schlüsselbund-Datenbanken von Taschencomputer und PC.
Name=Keyring
Name[de]=Schlüsselbund
Implemented=file
X-KDE-ServiceTypes=KPilotConduit
X-KDE-Library=kpilot_conduit_keyring
