[Desktop Entry]
Encoding=UTF-8
Name=Kandy
Name[af]=kandy
Name[eo]=Poŝtelefonilo
Name[xx]=xx
Exec=kandy %i %m -caption "%c"
Icon=kandy
Type=Application
GenericName=Mobile Phone Tool
GenericName[ar]=أداة هاتف الموبايل
GenericName[bs]=Alat za mobilne telefone
GenericName[cs]=Nástroj pro mobilní telefony
GenericName[da]=Mobiltelefon-værktøj
GenericName[de]=Programm für Mobiltelefone
GenericName[el]=Εργαλείο Κινητών Τηλεφώνων
GenericName[eo]=Ilo por poŝtelefono
GenericName[es]=Gestor de teléfonos móviles
GenericName[eu]=Telefono Mugikorrendako Tresna
GenericName[fi]=Matkapuhelintyökalu
GenericName[fr]=Un outil de connexion à votre téléphone portable
GenericName[he]=כלי טלפון נייד
GenericName[hu]=mobiltelefon-címjegyzék
GenericName[it]=Strumento per i telefoni cellulari
GenericName[ja]=携帯電話ツール
GenericName[lt]=Mobilaus telefono įrankis
GenericName[lv]=Mobīlā Telefona Rīks
GenericName[nl]=Hulpprogramma voor mobiele telefoons
GenericName[nn]=Mobiltelefonverktøy
GenericName[pt]=Ferramenta para Telemóveis
GenericName[pt_BR]=Ferramenta de Telefonia Móvel
GenericName[sk]=Nástroj pre mobily
GenericName[sl]=Orodje za mobilni telefon
GenericName[sv]=Verktyg för mobiltelefon
GenericName[th]=เครื่องมือสำหรับโทรศัพท์เคลื่อนที่
GenericName[tr]=Cep Telefonu Aracı
GenericName[uk]=Засіб для мобільних телефонів
GenericName[ven]=Tshishumiswa tsha lutingo thendeleki
GenericName[vi]=Công cụ điện thoại di động 
GenericName[xh]=Isixobo Sika Nomyayi
GenericName[xx]=xx
GenericName[zh_CN]=移动电话工具
GenericName[zu]=Ithuluzi Lamakhala ekhukhwini
Terminal=0
X-DCOP-ServiceType=Multi
