<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kandy" version="2">
<MenuBar>
  <Menu name="show"><text>&amp;Show</text>
    <Action name="show_mobilegui" />
  </Menu>
</MenuBar>
</kpartgui>
