[Desktop Entry]
Name=StickyNote
Name[en_GB]=StickyNote
Name[es]=StickyNote
Name[gl]=NotaPegañenta
Name[nn]=StickyNote
Name[pt]=Nota Autocolante
Name[pt_BR]=Notas adesivas
Name[sv]=Klistrig anteckning
Name[uk]=Липка нотатка
Name[x-test]=xxStickyNotexx
Comment=Connect to your libstickynotes-powered backend.
Comment[en_GB]=Connect to your libstickynotes-powered backend.
Comment[es]=Conecte a su motor libstickynotes-powered.
Comment[gl]=Conectar coa infraestrutura baseada en libstickynotes.
Comment[pt]=Ligue-se à sua infra-estrutura controlada pela libstickynotes.
Comment[pt_BR]=Conecte-se à sua infraestrutura controlada pela libstickynotes.
Comment[sv]=Anslut till gränssnitt hanterat av libstickynotes.
Comment[uk]=З’єднайтеся з вашим сервером за допомогою libstickynotes.
Comment[x-test]=xxConnect to your libstickynotes-powered backend.xx
Type=Service
Icon=knotes
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_stickynote
X-KDE-PluginInfo-Author=Guillermo Antonio Amaral Bastidas
X-KDE-PluginInfo-Email=gamaral@amaral.com.mx
X-KDE-PluginInfo-Name=stickynote
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=PIM
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

