[Desktop Entry]
Name=OpenXchange Server
Name[af]=OpenXchange bediener
Name[bg]=Сървър OpenXchange
Name[br]=Servijer OpenXchange
Name[ca]=Servidor OpenXchange
Name[da]=Openxchange-server
Name[de]=OpenXchange-Server
Name[el]=Εξυπηρετητής OpenXchange
Name[es]=Servidor OpenXchange
Name[et]=OpenXchange server
Name[eu]=OpenXchange zerbitzaria
Name[fa]=کارساز OpenXchange
Name[fi]=OpenXchange-palvelin
Name[fr]=Serveur OpenXchange
Name[fy]=OpenXchange-tsjinner
Name[ga]=Freastalaí Openexchange
Name[gl]=Servidor OpenXchange
Name[hu]=OpenXchange-kiszolgáló
Name[is]=OpenXchange þjónn
Name[ja]=OpenXchange サーバ
Name[ka]=Openexchange სერვერი
Name[kk]=OpenXchange сервері
Name[km]=ម៉ាស៊ីន​បម្រើ OpenXchange
Name[ko]=OpenXchange 서버
Name[lt]=OpenXchange serveris
Name[lv]=OpenXchange serveris
Name[mk]=OpenXchange-сервер
Name[nb]=OpenXchange-tjener
Name[nds]=OpenXchange-Server
Name[ne]=OpenXchange Server सर्भर
Name[nl]=OpenXchange-server
Name[nn]=Open-Xchange-tenar
Name[pa]=OpenXchange ਸਰਵਰ
Name[pl]=Serwer OpenXchange
Name[pt]=Servidor OpenXchange
Name[pt_BR]=Servidor OpenXchange
Name[ru]=Сервер OpenXchange
Name[sl]=Strežnik OpenXchange
Name[sv]=Openxchange-server
Name[tr]=Openexchange Sunucusu
Name[uk]=Сервер OpenXchange
Name[x-test]=xxOpenXchange Serverxx
Name[zh_CN]=OpenXchange 服务器
Name[zh_TW]=OpenXchange 伺服器
Comment=Provides access to contacts stored on an Open-Xchange server
Comment[nds]=Stellt Togriep op de op en Open-Xchange-Server wohrten Kontakten praat
Comment[pt]=Oferece o acesso aos contactos guardados num servidor de Open-Xchange
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um servidor Open-Xchange
Comment[sv]=Ger tillgång till kontakter lagrade på en Open-Xchange-server
Comment[uk]=Надає доступ до контактів, які зберігаються на сервері Open-Xchange.
Comment[zh_TW]=提供存取儲存在 Open-Xchange 伺服器上的聯絡人的功能
X-KDE-Library=kabc_slox
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=ox
