[Desktop Entry]
Name=OpenXchange Server
Name[af]=OpenXchange bediener
Name[bg]=Сървър OpenXchange
Name[br]=Servijer OpenXchange
Name[ca]=Servidor OpenXchange
Name[da]=Openxchange-server
Name[el]=Εξυπηρετητής OpenXchange
Name[es]=Servidor OpenXchange
Name[et]=OpenXchange server
Name[eu]=OpenXchange zerbitzaria
Name[fa]=کارساز OpenXchange
Name[fi]=OpenXchange-palvelin
Name[fr]=Serveur OpenXchange
Name[fy]=OpenXchange-tsjinner
Name[ga]=Freastalaí Openexchange
Name[gl]=Servidor OpenXchange
Name[hu]=OpenXchange-kiszolgáló
Name[is]=OpenXchange þjónn
Name[ja]=OpenXchange サーバ
Name[ka]=Openexchange სერვერი
Name[kk]=OpenXchange сервері
Name[km]=ម៉ាស៊ីន​បម្រើ OpenXchange
Name[lt]=OpenXchange serveris
Name[mk]=OpenXchange-сервер
Name[nb]=OpenExchange-tjener
Name[nds]=OpenXchange-Server
Name[ne]=ओपन एक्सचेन्ज सर्भर
Name[nl]=OpenXchange-server
Name[nn]=OpenXchange-tenar
Name[pl]=Server OpenXchange
Name[pt]=Servidor OpenXchange
Name[pt_BR]=Servidor OpenXchange
Name[ru]=Сервер OpenXchange
Name[sl]=Strežnik OpenXchange
Name[sr]=Openexchange сервер
Name[sr@Latn]=Openexchange server
Name[sv]=Openxchange-server
Name[tr]=OpenXchange Sunucusu
Name[uk]=Сервер OpenXchange
Name[zh_CN]=OpenXchange 服务器
Name[zh_TW]=OpenXchange 伺服器
X-KDE-Library=kabc_slox
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=ox
