[Desktop Entry]
Name=SUSE LINUX Openexchange Server
X-KDE-Library=kcal_slox
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=slox
