[Desktop Entry]
Encoding=UTF-8
Name=SLOX Calendar Resource
Name[bg]=Календарен файл на SLOX
Name[bs]=SLOX kalendarski resurs
Name[ca]=Recurs de calendari SLOX
Name[cs]=Zdroj se SLOX kalendářem
Name[da]=SLOX kalenderressource
Name[de]=SLOX Kalender-Ressorce
Name[es]=Recurso de calendario SLOX
Name[et]=SLOX kalendriressurss
Name[fr]=Ressources de calendrier SLOX
Name[hu]=SLOX naptár-erőforrás
Name[it]=Risorsa calendario SLOX
Name[nb]=SLOX kalender kilde
Name[nl]=SLOX Agendahulpbron
Name[nn]=SLOX kalenderkjelde
Name[pl]=Kalendarz SLOX
Name[pt]=Recurso de Calendário SLOX
Name[pt_BR]=Recurso de Calendário SLOX
Name[ru]=Календарь SLOX
Name[sk]=Kalendárový zdroj SLOX
Name[sl]=Koledarski vir SLOX
Name[sr]=SLOX ресурс календара
Name[sr@Latn]=SLOX ресурс календара
Name[sv]=SLOX-kalenderresurs
Name[ta]=SLOX நாள்காட்டி மூலம்
Name[tg]=Тақвимоти SLOX
Name[zh_CN]=SLOX 日历资源
X-KDE-Library=kcal_slox
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=slox
