[Desktop Entry]
Encoding=UTF-8
Name=OpenXchange Server
Name[es]=Servidor OpenXchange
Name[ga]=Freastalaí Openexchange
X-KDE-Library=kcal_slox
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=ox
