[Desktop Entry]
Encoding=UTF-8
Name=OpenXchange Server
Name[x-test]=xxOpenXchange Serverxx
X-KDE-Library=kcal_slox
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=ox
